[2020-07-30 16:51] ryanheise commented on #131
That's a good point, although I can conceive of (admittedly uncommon) scenarios where you might want to share the same session id between plugins. For example, if I ended up creating an audio synthesis plugin, and an app wanted both plugins to mix audio via the same session id. I'm fine to take either approach to start with, and we can always reconsider it in the future if another approach makes m

[2020-07-30 16:52] ryanheise commented on #135
I'll keep this open for now since I think it would be a useful API to add some time down the line.

[2020-07-30 16:55] ryanheise commented on #134
Can you clarify what you mean by a "cold refresh"?

[2020-07-30 17:43] lukepighetti commented on #134
To the best of my knowledge there are three ways to refresh/reload a flutter app.

1) install the flutter app
2) perform a cold restart (i said refresh by mistake)
3) perform a hot reload

[2020-07-31 02:24] ryanheise commented on #134
Can you clarify what you mean by cold restart for both iOS and Android? And also what you mean by quit? Apologies if you have a standard definition in mind, but I can think of a few different ways to interpret this.

[2020-07-31 12:16] lukepighetti commented on #134
In VSCode with DartCode extension.

<img width="472" alt="Screen Shot 2020-07-31 at 8 15 13 AM" src="https://user-images.githubusercontent.com/666539/89034029-23140300-d306-11ea-9cd9-5b3d7b27d087.png">

[2020-07-31 12:18] lukepighetti commented on #134
Said another way, if you hit that green `restart` button the audio keeps playing and the state doesn't reflect the actual native player state. Ideally the native player state would be reset when you hit the green `restart` button.

[2020-07-31 12:19] ryanheise commented on #134
Excuse my ignorance, but what exactly do the cold restart and quit buttons do? (I'm not a VSCode user)

[2020-07-31 12:24] lukepighetti commented on #134
Here's how they map

from `flutter run`

[code]

yellow lightning bolt => "hot reload"
green refresh => "hot restart"
red square => "quit"

[2020-07-31 13:42] ryanheise commented on #134
Ideally what I would like to happen on a hot restart is that the playback state is reset, and the audio resources used on the platform side are also disposed of (so that the audio stops). I'm not aware of any plugin callback that I can implement to do this, and Flutter's plugin API is still evolving and becoming more flexible over time, so one day this may be possible.

Keeping the audio playback

[2020-07-31 15:24] lukepighetti commented on #134
Quit stops the audio on both android and iOS to the best of my knowledge.

This may be a `flutter/flutter` issue?

[2020-07-31 15:27] ryanheise commented on #134
Probably. There's a chance there is a plugin API I don't know about, but if not, then I'll need them to add a plugin lifecycle hook that allows me to cleanly dispose of platform resources on a hot restart.

[2020-07-31 16:59] lukepighetti commented on #134
`flutter/flutter` feature request has been made here https://github.com/flutter/flutter/issues/62678

[2020-07-31 17:04] ryanheise commented on #134
Thanks for posting it. Hopefully there is already an API that exists which they will point to, otherwise it will go into their back log and probably materialise by next year or later given they probably have higher priorities, but it is good to get the ball rolling.

[2020-07-31 17:31] ryanheise commented on #4
Just to update on the iOS side of things, catching errors on the `setUrl` future has been working already for a while and is available in the current release.

As for handling asynchronous errors on the stream, this is also now implemented on the media-source branch. Issues on this branch are being tracked on #131 so if you discover any issues, please report there. Note that #131 bundles a signifi

[2020-07-31 17:31] #4 closed

[2020-07-31 18:05] ryanheise commented on #37
Can you confirm whether this is solved in the latest release? If not, can you test the media-source branch?

[2020-08-01 03:22] ryanheise commented on #35
I will close this issue as there have since been several feature-specific issues opened for iOS, and I will be able to handle any remaining issues in this fashion. Thank you to those who helped testing the very first version of just_audio!

[2020-08-01 03:22] #35 closed

[2020-08-01 05:01] ryanheise commented on #41
This is now implemented on iOS on the media-source branch. This branch contains several other major changes and requires testing. Please post on #131 if you discover issues, and I'll close this one.

[2020-08-01 05:01] #41 closed

[2020-08-01 05:07] ryanheise commented on #44
I will close this issue, although if anyone else has this issue, note that it most commonly happens when plugins are loaded in the background. Not all plugins work well in the background (this one does), and to make matters worse, the error message typically does not identify the plugin that is causing the issue. As @emaddoma noticed above, you may be able to find which plugin is causing the probl

[2020-08-01 05:07] #44 closed

[2020-08-01 05:09] ryanheise commented on #48
Hi @BeMacized I don't recall whether the error catching code in just_audio was there when you reported this bug, but is this still a problem? And if it is, do you have a URL file that I can test?

I also don't remember whether I updated the version of ExoPlayer since you filed this bug, so it is also possible that the current version of ExoPlayer no longer has this issue.

[2020-08-02 11:58] lukepighetti commented on #136
I figured there may be some way to achieve this with clever state management in Dart, but if it's not a pattern you've dealt with in the past, I'm find with you closing this. Thanks.

[2020-08-02 12:33] jjb182 commented on #132
Hi Ryan, I added the sdk version 1.17.0, and I thought that I'd note that it is not one continuous file.
I am replaying the same file about every 2.5 seconds.  And when I come back into the Flutter app after the audio failure the whole interface has to update--which is likely for flutter but it seems sluggish.  This might not be a just_audio issue, but some sort of background task issue.  I'll pla

[2020-08-02 12:34] jjb182 commented on #126
I imagine that this is a LOW priority, but does anybody out there want to take a shot at this?

[2020-08-02 13:26] ryanheise commented on #136
At least on the Android side, you can seek to the edge of a live stream by calling `player.seek(null)` (this is undocumented until it works for iOS).

[2020-08-02 13:27] ryanheise commented on #132
You are still missing many sections of the bug report. Please go back to the original report and fill in every section (you know where to find the bug report template). Thanks.

[2020-08-02 13:30] ryanheise commented on #126
I would welcome anyone taking a shot at this. Although just note that all effort is going into the media-source branch at the moment, and so it would be best for anyone making a pull request to make it on the media-source branch.

[2020-08-03 12:16] lukepighetti commented on #136
If I remember the Android functionality right it will buffer ~15s chunks which means the leading edge of the stream is not smooth. Would be nice to have some sugar to keep that smooth and have the ability to scrub back for however long you've been listening, up to 5 minutes or something (just throwing out an idea).

[2020-08-03 13:52] jjb182 commented on #132
Hi Ryan, how do I delete this whole thread.
It turns out that it is definitely not a just_audio issue.  Just_audio works fine when I'm just playing audio in the background--for extended periods of time with one file.

On my app, I'm doing a lot of background stuff and changing audio files every few minutes, and the background processing is failing which is then no longer calling just_audio to play

[2020-08-03 15:20] ryanheise commented on #136
While looking into #127 I considered exposing Android specific APIs to allow you to configure the buffering parameters since iOS and Android have very different APIs here. With it, you can control how much ExoPlayer should buffer before it starts playing as per your own requirements. I didn't bother implementing it because the defaults actually already seemed reasonable. I was unaware that there w

[2020-08-03 15:22] ryanheise commented on #132
I see, you may want to look at my other plugin audio_service regarding background audio. I'll close this issue.

[2020-08-03 15:22] #132 closed

[2020-08-03 15:25] lukepighetti commented on #136
When I say it's not smooth I am referring to trying to display UI controls based on the data provided by the player. The playback audio is smooth.

[2020-08-03 15:50] ryanheise commented on #136
Oh, I see. I'm not sure how best to go about the UI issue, but let me know if you need any more data exposed from the underlying ExoPlayer APIs to help make it easier for you.

[2020-08-03 16:25] lukepighetti commented on #136
Will do for sure, thanks for the support.

Are you familiar with the YouTube UX for live streams? That's basically what I'm trying to copy, within reason.

[2020-08-03 16:27] ryanheise commented on #136
What you could do perhaps is look for an open source app that does something similar based on ExoPlayer, and if it is using additional APIs that I haven't exposed yet, you could let me know which ones and I can add them.

[2020-08-04 18:10] ryanheise commented on #131
I have just completed the last planned change for the next release, which is the new state model based on ExoPlayer. It would probably be a good idea for me to explain the change somewhere to avoid any confusion.

The major change is that rather than having state + buffering, we now have state + playing. The `playing` boolean is switched via `play()` and `pause()` only, which means it stays true e

[2020-08-05 00:50] jjb182 commented on #131
Hi guys, so can you use the Looping and the PlayLists together?

I'm just sitting down to wrap my mind around this.

I'm having an issue where android devices (likely iOS too) stop my app from running in the background, and it kills the audio too.  I'm programmatically looping 3 second files for 4 minutes, and then changing the file and looping again. After about 20 minutes the app stops doing bac

[2020-08-05 02:41] ryanheise commented on #131
Hi @jjb182, `LoopingAudioSource` isn't intended for large counts (or infinite counts) so instead you should use `audioPlayer.setLoopMode(LoopMode.all)` which will loop all items in your playlist forever (or until you turn loop mode off again). I have put some documentation on both APIs to that effect, although understandably since I haven't published this release yet the HTML documentation isn't g

[2020-08-05 11:48] mohammadne commented on #131
Hi @ryanheise
i have a ```ConcatenatingAudioSource``` of ```List<AudioSource>``` in my playList.

for now , it will automatically handle player completion but I can't go to next and pervious items manually.

[2020-08-05 12:20] mohammadne commented on #131
Hi @ryanheise
excuse me but I am in hurry .
it's appreciated if you add this feature as soon as possible.

[2020-08-05 12:21] ryanheise commented on #131
@mohammadne you can find this in the README:

You can also get the current index via `player.currentIndex`.

[2020-08-05 12:23] ryanheise commented on #131
I should also mention that I haven't fully tested dynamically adding and removing items from `ConcatenatingAudioSource` after it has been loaded. The example above has been tested (where the entire playlist is known on creation).

[2020-08-06 13:25] #128 closed

[2020-08-06 18:11] ryanheise commented on #131
Since I haven't heard of any serious issues so far, I am planning to release this within the next day.

[2020-08-07 04:19] ryanheise opened #137 "Make setLoopMode gapless on iOS"
Note to self. On iOS, `LoopingAudioSource` is already gapless but `setLoopMode` should also be made gapless.

**_UPDATE_**: An implementation of this feature is now available for testing on the `ios-gapless` branch. The plan is to keep it on this branch until enough people have used it and reported that it is stable. If you run into any issues, please let me know below as that will help me to iron

[2020-08-07 04:20] ryanheise opened #138 "currentIndex should be advanced if item in playlist fails to load"
Note to self: `currentIndex` should be advanced if item in playlist fails to load.

[2020-08-07 06:13] mohammadne commented on #124
**recently** , I am also getting this error a lot.

[2020-08-07 15:00] fuzing commented on #131
@ryan - I've run numerous tests - ditto - nothing glaring.  I'd go for it!   Thanks, and well done.

[2020-08-07 15:02] ryanheise commented on #131
Thanks for testing! I did find a few issues which I'm in the process of fixing. One is that the player can lose track of the current index when an error occurs.

I will post here once I've fixed it.

[2020-08-07 15:04] ryanheise commented on #131
There was also an issue on iOS where `positionStream` wouldn't update.

[2020-08-07 15:33] ryanheise commented on #131
I've fixed those errors (or, I could have introduced new ones, but hopefully not).

I also added some new exception classes which can be thrown by `load` instead of generic ones.

This is a release candidate. I'll release it maybe in an hour or two unless anyone discovers further issues.

[2020-08-07 15:34] ryanheise commented on #138
Fixed

[2020-08-07 15:34] #138 closed

[2020-08-07 15:43] ryanheise commented on #124
The Flutter project template still sits at gradle 5.6.2 so I'm sticking with that version. As soon as Flutter's own recommendation bumps up to 5.6.4, I will follow suit, so in the meantime the solution is to downgrade your gradle version to 5.6.2 to match.

[2020-08-07 17:04] ryanheise commented on #131
It's probably too late for me to consider this now that I'm on the verge of releasing, but I thought of another naming strategy for the composable audio elements:

- `ConcatenatingAudioSource` => `Playlist`
- `LoopingAudioSource` => `Loop`
- `ClippingAudioSource` => `Clip`

Not too sure about the others, though:

- `ProgressiveAudioSource` => `Progressive`
- `DashAudioSource` => `Dash`
- `HlsAudio

[2020-08-07 17:21] ryanheise commented on #131
0.3.0 release! Thank you to everyone for your suggestions and testing.

Next, I plan to update the audio_service example to use these new features, and get out a new audio_service release.

[2020-08-07 17:51] nuc134r commented on #131
That's very good news. Will get my hands on it as soon as possible.

Was dreaming of these features but couldn't implement them even in Java due to lack of time. It will be very handy to have them on Dart level for sure.

Ryan, you rock. I have no idea how you have so much time and energy to maintain this set of Flutter background audio libraries but I guess you do something related full time. Do

[2020-08-07 18:26] yringler commented on #131
I like the longer class names. One word is too short IMO - Loop, Clip etc are very generic.
In general, I recall reading that, when using inheritance, the child class name should add on to the parent class name. For example a Human class would have a BigHuman child class.
I can't remember where I saw that, but that's what I've been doing for a while now, and I think it works well.
This is a border

[2020-08-08 04:06] ryanheise commented on #131
Thanks, @nuc134r :-)

Most of the plugin development gets done at night after I'm finished work (programming), as well as weekends. Last night I published the new release around 4am (Although that sounds more extreme than it is, since I tend to wake up around 11am most days.)

[2020-08-08 04:33] ryanheise commented on #131
This is indeed the standard I have used in Java-style languages, although it's worth keeping in mind that these long names often are a consequence of poorly designed languages. For example, before object orientation came along, a function for moving a window might have been called `MoveWindow`. Ever since methods could be scoped within classes, this was shortened to `move` within the scope `Window

[2020-08-08 09:43] nuc134r commented on #47
As audio_service and just_audio gets more and more functional I gradually let go any thoughts of forking and implementing needed features myself as they eventually appear implemented by Ryan.

So one really important feature I plan for my app is realtime caching. Since http proxy appeared, could you please expose some interception API so that data can be written to disk while being downloaded?

Or

[2020-08-08 09:59] ryanheise commented on #131
Made a small bug fix release 0.3.1.

Also, the audio_service example is now updated to use just_audio 0.3.1. I haven't yet demonstrated the shuffle and loop features yet, I've only rewritten the existing functionality based on the new version, and certainly it has made a huge difference in the simplicity of the code.

One of the new features in audio_service is the ability to use seek forward/back

[2020-08-08 10:44] ryanheise commented on #47
@nuc134r hehe :-)

Unfortunately, it may be a while for me to get around to this, since there are some higher priority things that need to be implemented in audio_service first.

(That is an open invitation for anyone who wishes to submit a PR! It seems reasonable to add an option to the relevant `AudioSource` subclasses to cache the downloaded audio to a given file.)

[2020-08-09 05:53] mohammadne opened #139 "delay in play/pause in long list of ClippingAudioSource"
I have a long list of ```ClippingAudioSource```. (about 10 hours in duration)
but the problem is that playing or pausing ```AudioPlayer``` , takes about 5 Seconds.
I have been test it for short list of ``` ClippingAudioSource``` and it was Good.

but for long list I have no idea about it.
I use it with ```audioService```.

[2020-08-09 06:05] ryanheise commented on #139
Hi @mohammadne can you please complete the bug report in full? I do not know what platform you're testing on and what type of audio files you're using in your example, whether the audio files are local or remote or assets, etc. etc. so it would be impossible for me to investigate this or give you some insights as to what's happening.

[2020-08-09 09:05] mohammadamir98 opened #140 "finding out if a playlist has reached its end"
Hi @ryanheise

**I have a ```ClippingAudioSource```, but I want to know if there is a way to notice when my playlist has reached its end?**

[2020-08-09 09:12] ryanheise commented on #140
Hi @mohammadamir98

You unfortunately deleted all sections of the bug report. I can't process your report until you fill it in properly.

[2020-08-09 09:17] ryanheise commented on #140
Hi @mohammadamir98

You unfortunately deleted all sections of the documentation request. I can't process your request until you fill in the form completely.

[2020-08-09 09:19] ryanheise commented on #140
I'm going to close this since you have still deleted all sections of the bug report. Please open a new issue, and this time please don't delete the required sections, thank you.

[2020-08-09 09:19] #140 closed

[2020-08-09 12:09] mohammadne commented on #139
I am test it in debug mode on android pixel 2.
the audio file type in ```ClippingAudioSource``` is ```AudioSource.uri(Uri.parse(path)),```
the audio files are remote.

I don't face any exception in terminal to report it here but there is a noticeable delay in playing long files.

[2020-08-09 12:36] ryanheise commented on #139
(I meant is it an mp3 file type or something else?)

It naturally takes time to perform a seek on remote files because it takes time to download them. Additionally, depending on the type of audio, seek efficiency can vary. So for optimal performance you would need a good audio format and a local file.

[2020-08-09 14:09] ryanheise opened #141 "Get duration of nested items in composed audio"
Note to self: Provide a way to query any nested audio source for its duration. E.g. items within a playlist.

[2020-08-09 16:00] mohammadne commented on #139
Hi @ryanheise
sorry for misunderstanding, the files are mp3.

Do you meant that in mp3 files , we download the whole file or only download the file until buffered position ?

[2020-08-09 16:17] ryanheise commented on #139
mp3 files are known to have an issue with seeking since the header typically doesn't contain a sufficient index of what byte position to jump to for each time position. At least on Android, what you may find is that the seek on a local file can still be fast, but it won't be accurate. If you use aac/m4a instead, you will have both fast and accurate seeking. In all cases, local files will be faster

[2020-08-10 15:48] Marekkon5 opened #144 "Queue management"
**Which API doesn't behave as documented, and how does it misbehave?**
Queue management

**Minimal reproduction project**
The example

How do I manage the queue when it's playing (adding/removing tracks, changing positions...). I am using `ConcatenatingAudioSource` with all the tracks in children. I can replace the queue, but it pauses the music & reloads current track. I couldn't find any functio

[2020-08-10 15:57] #144 closed

[2020-08-10 19:34] austinpower1258 commented on #137
Could you also make setPlaybackRate gapless as well on iOS? Thanks!

[2020-08-11 01:27] ryanheise commented on #137
@austinpower1258 unfortunately I don't think there is anything more I can do with `setPlaybackRate`. I do not pause and resume playback to do a playback rate change, I manipulate the playback rate on `AVQuueuePlayer` while it remains in the playing state.

Any quirks or distortions you hear when adjusting the playback rate I think may be a problem with iOS itself (unless you can see a coding mista

[2020-08-11 11:15] Alphabets007 opened #145 "Can't load audio file from assets folder"
**Which API doesn't behave as documented, and how does it misbehave?**

Can't load audio file from assets folder.

Version : just_audio: ^0.3.1

AudioPlayer audioPlayer = AudioPlayer();
await audioPlayer.setAsset("assets/sounds/forest_birds.ogg");
await audioPlayer.play();

**Minimal reproduction project**
you can reproduce it with the simple project with below code snippet.

AudioPlayer audioPlay

[2020-08-11 11:18] ryanheise commented on #145
It appears that you deleted some important sections from your bug report (as per the instructions, please don't delete these, they are required.)

[2020-08-11 12:51] derToralf commented on #145
I have the same problem. In _loadAsset the parameter assetPath always starts with a leading slash and rootbundle.load does not like a leading slash (maybe a absolute/relative path problem).

Furthermore, there is a problem in AudioPlayer.setAsset

1. player.setAsset("sounds/background.mp3"); tries to load "background.mp3", not "sounds/background.mp3".

2. player.setAsset("/sounds/background.mp3");

[2020-08-11 13:35] ryanheise commented on #145
Hi @derToralf if you can post your own "complete" bug report and I will act on it quickly.

[2020-08-11 14:22] Alphabets007 commented on #145
I have updated complete information and bug report i had.

[2020-08-11 14:24] ryanheise commented on #145
@Alphabets007 can you please fill in the deleted section "Minimal Reproduction Project"? This is the main thing that I need before I can take time off the other bugs I'm fixing and turn my attention to this one. Thanks.

[2020-08-11 14:53] ryanheise commented on #145
@Alphabets007 a code snippet is not a minimal reproduction project.

[2020-08-11 16:11] ryanheise commented on #145
I'll close this (regretfully) as an invalid bug report. Hopefully someone will post a valid bug report, and once that happens, I will be happy to act on it promptly (provided I am not sleeping at that time). But right now, I am going to work on fixing other bugs. As they say, please help me help you.

[2020-08-11 16:11] #145 closed

[2020-08-11 18:19] ryanheise commented on #131
Thanks to @nuc134r for fixing a bug in the methods for dynamically adding to and removing from a `ConcatenatingMediaSource` on Android.

I also got the iOS implementation working now too, although for some reason there is a small glitch in the audio when you add or remove while its playing.

I've also added two new streams:

1. `sequenceStream` broadcasts the current list of `IndexedAudioSource`s

[2020-08-12 05:13] ryanheise commented on #124
Closing since it does not appear to be a bug and no minimal reproduction project was provided.

[2020-08-12 05:13] #124 closed

[2020-08-12 05:15] ryanheise commented on #87
Closing due to inactivity.

[2020-08-12 05:15] #87 closed

[2020-08-12 05:17] ryanheise commented on #73
Closing, but please open a new issue if you still encounter the problem with the latest release of just_audio and with a valid mp3 link. Note that in the latest version you can pass headers in the request.

[2020-08-12 05:17] #73 closed

[2020-08-12 05:18] ryanheise commented on #62
Another reason audio may not play is due to the AVAudioSession category which you can now set via the API (mentioned in the README). I will close this for now, but if you post a new issue it will help to have a minimal reproduction project.

[2020-08-12 05:18] #62 closed

[2020-08-12 05:19] ryanheise commented on #37
Closing due to inactivity. I believe this is now working in the latest release but if not, please open a new issue with a minimal reproduction project.

[2020-08-12 05:19] #37 closed

[2020-08-12 05:24] ryanheise commented on #139
Hi @mohammadne assuming I have answered your question, I will close this issue. Remember in future issues to also fill in the issue template exactly because I will soon be implementing some workflow rules to automatically check this.

[2020-08-12 05:24] #139 closed

[2020-08-12 13:35] fupingren opened #146 "Play some short audio files"
**Is your feature request related to a problem? Please describe.**
when i play some short audio files ,example english words files.

**Describe the solution you'd like**
maybe :  1、one file in the queue can loop some times:after the first file loop some times,then play next one  2、time interval after one file play completed

**Describe alternatives you've considered**
A clear and concise descripti

[2020-08-12 13:55] nanedev opened #147 "Equalizer"
Hello @ryanheise,
First of all thank you for this great plugin!

Currently I am working on equalizer for my project and I am using just_audio plugin for audio streaming and for equalizer I am using this lib https://pub.dev/packages/equalizer.

My question is there a way to get audio sesssion id because it is needed to connect current audio with equalizer with current plugin I use, or do you maybe

[2020-08-12 15:29] ryanheise commented on #146
Hi @fupingren , it's not clear to me how what you're describing is different from the looping features that already exist. Please comment on the alternatives and explain why they are not ideal (since you didn't fill in this section).

[2020-08-12 15:52] ryanheise commented on #147
That's a good question. There isn't currently a way. We discussed in #131 although I haven't implemented it yet.

Whether or not we have two separate plugins or a merged plugin, I can definitely see no harm in providing a getter in just_audio to get the audio session id. I'll look into this when I next have a chance.

[2020-08-12 18:01] lawkeen opened #148 "https still not working on iOS"
Hi, will appreciate any help, wrote this at my Info.plist, but http urls still not working at iPhone emulator
<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
    <key>NSAllowsArbitraryLoadsForMedia</key>
    <true/>
</dict>

Platform:
macOS Catalina 10.15.6

Error-message:
[VERBOSE-2:ui_dart_state.cc(166)] Unhandled Exception: PlatformException(-11800, Th

[2020-08-12 21:19] GabrieleVolpato opened #149 "Android 6 fatal error."
Hello,
I just updated to just_audio 0.3.2 and i get a critical crash with my old Android 6 device (a Xiaomi Redmi 4 pro).
You can reproduce the error with the example project, just by trying to install it.

This is the output of Flutter console:
[code]
My Flutter doctor (I don't know why it complains about Android Studio plugin):
[code]

Everything works fine if I try the example project on my Gal

[2020-08-13 02:44] ryanheise commented on #149
I see, thanks for spotting this. I will have to reimplement it without the streams API.

[2020-08-13 03:03] ryanheise commented on #149
I have just fixed it on git master. Can you try?

[code]

[2020-08-13 03:07] fupingren commented on #146
thank your reply,  1、it means that  Loop current item for special times, loop next item for same special times too  . it's also a queue loop mode ,but every item in the queue will be played special same times.  this feature can be defined by a FrequencyofEveryitemInLoopAll propery,default value=1 .    2、because of the file is very short, so add blank interval, special seconds between two items. it

[2020-08-13 03:10] ryanheise commented on #146
In other words, do you want a `SilenceAudioSource` which plays silence for a specified duration?

[2020-08-13 03:14] fupingren commented on #146
yeah,it can resolved the second request.PauseSecondsBetweenItemsInLoopMode

[2020-08-13 03:18] ryanheise commented on #146
Would you be satisfied with the alternative I proposed? It fits better into the composable API.

[2020-08-13 06:39] fupingren commented on #146
yes,it's fine to the second request.

[2020-08-13 06:45] GabrieleVolpato commented on #149
I’m going to try it later today, when I get back home from work.

Tank you!

[2020-08-13 06:58] ryanheise commented on #146
I don't know what you mean by the "second request", but if you mean `PauseSecondsBetweenItemsInLoopMode`, that is not the alternative I am proposing. I am proposing another type of audio source called `SilenceAudioSource` (see above). Will this be sufficient for you?

[2020-08-13 07:43] fupingren commented on #146
yes,thanks

[2020-08-13 11:04] alexmercerind commented on #131
Hi @ryanheise !
First of all thanks a LOT, for making my day better by making this module.
(This question is bit apart from topic...)
I wanted to ask
[code]
How to load local file in AudioSource ? Sorry if this question is stupid.

[2020-08-13 11:26] ryanheise commented on #131
Hi @alexmercerind , if you take a look at the docs for the `AudioPlayer.setFilePath` method, it might give you some idea.

[2020-08-13 12:20] #148 closed

[2020-08-13 17:23] GabrieleVolpato commented on #149
I did some tests and everything works great now!

[2020-08-13 17:33] ryanheise commented on #149
Thanks for letting me know. I have now published this fix in 0.3.3.

[2020-08-13 17:33] #149 closed

[2020-08-14 04:45] ryanheise commented on #147
@nanedev , @rohansohonee ,

I have just added an API to get the current AudioSession ID: `AudioPlayer.androidAudioSessionId` and `AudioPlayer.androidAudioSessionIdStream`.

The stream is useful because the AudioSession ID can change over time. E.g. It changes whenever the AudioAttributes are changed.

Please try it out on Git master and let me know how it goes.

[2020-08-14 05:18] ryanheise commented on #147
@rohansohonee speaking of which, on the question of whether this is better as two separate plugins or building it in as a feature of just_audio directly, another deciding factor could be the iOS implementation. Have you taken a look at https://stackoverflow.com/questions/30218449/xcode-auipodeq-augraph to assess the situation? If it looks too difficult to do as a separate plugin, let me know and I

[2020-08-14 06:55] rohansohonee commented on #147
I have had a **need help for iOS contributions** in the description of the equalizer plugin since I do not own an apple machine and have very little knowledge in Objective-C/Swift. `just_audio` supports a lot of platforms (which includes the web), it seems best to have equalizer baked into this plugin. The architecture for implementing equalizer will now be very different from what I have implemen

[2020-08-15 16:30] ryanheise commented on #147
That sounds like me a year ago :-)  Ultimately I had to learn a bit of Objective C to get the iOS implementation off the ground and to build a base that others could then contribute to.

I did spend some further time looking at the link above, and I may have been wrong about the tight coupling. The example is rather complicated, so I haven't completely figured it out yet, but there is a chance it

[2020-08-19 14:08] erickcchoi opened #150 "Example Error with new stream uri"
After replace the example code uri with the new uri, the code still can play the stream but with the error message below.

**Minimal reproduction project**
    AudioSource.uri(
      Uri.parse(
          "http://s6.voscast.com:10922/;stream.nsv"),
      tag: AudioMetadata(
        album: "Science Friday",
        title: "A Salute To Head-Scratching Science",
        artwork:
            "https://m

[2020-08-19 14:08] #150 closed

[2020-08-19 14:16] erickcchoi opened #151 "Example Error with new stream uri"
**Discribe the problem**
After replace the example code uri with the new uri, the code still can play the stream but with the error message below.

**Minimal reproduction project**
Modify The Example with new uri :
[code]

**To Reproduce (i.e. user steps, not code)**
only replace example uri with "http://s6.voscast.com:10922/;stream.nsv"

**Error messages**

[code]

**Expected behavior**
no error

[2020-08-19 16:39] ryanheise commented on #151
I do not see how this is behaving contrary to the documentation. Can you point out what in the documentation isn't being obeyed by the plugin? E.g. say, "The documentation says X, but what actually happens is Y."

[2020-08-19 23:10] erickcchoi commented on #151
Thank you for your reply and sorry for my misleading. the question shoule be :

Discribe the problem
After replace the example code uri with the new uri, the code still can play the stream but with the error message below.

[2020-08-19 23:11] erickcchoi commented on #151
Thank you for your reply and sorry for my misleading. the question shoule be :

Discribe the problem
After replace the example code uri with the new uri, the code still can play the stream but with the error message below.

[2020-08-19 23:38] fuzing opened #152 "IOS only - player will not play after reaching end of media and emitting ProcessingState.completed"
**Which API doesn't behave as documented, and how does it misbehave?**
Note - this issue occurs on IOS only.
After the player emits ProcessingState.completed, when seeking backwards (anywhere) and attempting to call .play(), the player will not play the audio.   Calling any combination of .pause(), .play(), .seek() fails to restart the player.

**Minimal reproduction project**
Happy to work on thi

[2020-08-20 02:06] #151 closed

[2020-08-20 02:51] ryanheise commented on #151
Oops, can you please add back in the section "Which API doesn't behave as documented, and how does it misbehave"? It is a required question in the issue template (also please try to answer the question). Thanks.

[2020-08-20 02:54] ryanheise commented on #152
Hi @fuzing , maybe this should be reproducible in the example if you skip to the last track, seek to just before the end, and let it play out to completion, and then click the seek bar to seek back. In my case, though, it correctly resumes playback. Since it doesn't happen in the example, then yes a minimal reproduction project will be needed.

[2020-08-20 04:20] getmmg commented on #131
Hi @ryanheise

First of all Thank you for all your hardwork on this awesome update.  I have just updated to new version 0.3.3.
I am listening to IcyMetaDataStrem and send that information to UI using custom event

[code]
I am getting below exception thrown continuously.

[code]

[2020-08-20 04:42] ryanheise commented on #131
Hi @getmmg , glad you like the updates! I'm currently I'm in the middle of some other changes which are taking a lot longer than expected, but this one is next on my todo list.

[2020-08-20 12:09] fuzing commented on #152
Agreed.... thank you for that feedback.  I'll download the sample to my IOS device and confirm that it works with my IOS version and hardware combo.... then I'll take a look at the sample code vs. mine for clues.  Failing this, I'll assemble a minimum test app.

[2020-08-20 20:29] erickcchoi opened #153 "Error message when call setUrl()"
**Which API doesn't behave as documented, and how does it misbehave?**
Error message when call setUrl() with uri ''http://s6.voscast.com:10922/;stream.nsv'',

**Minimal reproduction project**
[code]
**To Reproduce (i.e. user steps, not code)**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Error messages**

[code]

**Expected behavior**

[2020-08-21 02:39] ryanheise commented on #153
Thanks, @erickcchoi I have fixed this on master. Can you test it?

[2020-08-21 02:46] ryanheise commented on #131
Hi @getmmg I've just committed a fix (hopefully). Would you like to test it on git master?

[2020-08-21 04:56] getmmg commented on #131
Hi @ryanheise, its not throwing exceptions now and displaying proper data.

[2020-08-21 05:12] ryanheise commented on #131
Great! Thanks for confirming that, I've now published 0.3.4.

[2020-08-21 05:13] ryanheise commented on #153
Hi @erickcchoi , I have now released this as 0.3.4.

[2020-08-21 06:41] zhubinsheng commented on #153
If you encounter this problem in other projects, it is valid to add the following

android:usesCleartextTraffic= "true"
android:networkSecurityConfig= "@xml/network_ security_ config

But after adding this library, I don't know what's going on. I still report an error. It's really strange

Caused by: java.io.IOException : Cleartext HTTP traffic to not permitted

[2020-08-21 07:19] zhubinsheng commented on #153
Try changing targetsdkversion to 27. This works for me. The following settings don't work on Android P

android:usesCleartextTraffic= "true"

android:networkSecurityConfig= "@xml/network_ security_ config"

Reference links are as follows:

https://github.com/google/ExoPlayer/issues/4599

[2020-08-21 09:36] snaeji opened #154 "Support relative seeking on iOS for HLS streams with a sliding window, EXT-X-PLAYLIST-TYPE: EVENT"
**Is your feature request related to a problem? Please describe.**
The feature request is related to not being able to seek to the correct time from the controls when playing HLS live streams with "EXT-X-PLAYLIST-TYPE: event".

**Describe the solution you'd like**
Check if we have a sliding window and seek to the relative position in just_audio iOS side. (Exoplayer takes care of this).

**Describe

[2020-08-21 15:58] MrMagloire opened #155 "Release audio after set by audio.setUrl()"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.

**Minimal reproduction project**
Provide a link here using one of two options:
1. Fork this repository and modify the example to reproduce the bug, then provide a link here.
2. If the unmodified official example

[2020-08-21 15:59] #155 closed, assigned to ryanheise

[2020-08-23 17:26] fuzing commented on #152
I'm just testing also - will have feedback in about 10 minutes

On Sun, Aug 23, 2020 at 9:59 AM ryanheise <notifications@github.com> wrote:

[2020-08-23 17:35] fuzing commented on #152
Looks good to me - I'll wait an hour or two and then close - or Ryan, be my guest.

Thanks for your work on this.    Very quick question - was this an IOS only fix, or did you make mods to code that might impact both IOS and Android? (I ask insofar as I have a similar [albeit different] issue with Android not playing at all, but only after an extended period of time - i.e. I leave the device for a

[2020-08-23 17:46] ryanheise commented on #152
This was an iOS-only change, so this sounds like it would be a different issue.

One thing I should mention about the audio-session branch (which just just been merged) is that it has been tested only with the audio-session branch of audio_service. I am not sure whether audio focus handling would work if only just_audio were updated and audio_service were not. The reason is that this change moves

[2020-08-23 17:59] fuzing commented on #152
Hi Ryan - For my testing (quick and dirty) I didn't bring the two plugins/repos into alignment........ don't think I'll be able to get to that until tomorrow, but will definitely do that and circle back around.  Thanks for the heads-up.

[2020-08-23 18:01] fuzing commented on #152
I'll need to pin down exactly what's going on for the Android problem so as not to waste anyone's time.   Before attempting to draft a synopsis I'll make sure I'm on the latest versions (or branches/refs if that would be preferable).......

[2020-08-24 14:47] hesham91fci opened #158 "Exception on playing my audio"
**Which API doesn't behave as documented, and how does it misbehave?**
setAsset, setURL, setFilePath all of them throws the same exception when playing some audio file recorded using **_flutterRecorder_**,
- Extension is .wav
- sampling rate is 16000
- file is playing normally using other players in my phone
- file is playing normally using AudioPlayers plugin
**Minimal reproduction project**
http

[2020-08-24 14:53] hesham91fci opened #159 "Exception on playing lots of audio files"
**Which API doesn't behave as documented, and how does it misbehave?**
setUrl, setAsset, setFilePath all of them are throwing exception for a specific file recorded from flutter_recorder, despite the same file plays normally on other media players and plays normally using "AudioPlayers" plugin,
note1: I'm using justAudio as the resource protected by http authorization header
note2: the file is in

[2020-08-24 15:06] ryanheise commented on #158
Hi @hesham91fci , unfortunately parsing errors are outside of my control since the issue is with ExoPlayer itself (Google's media player library). You can post a bug report on Google's issues page and provide a link to the wav file that is triggering the issue:

https://github.com/google/ExoPlayer/issues

[2020-08-24 15:09] ryanheise commented on #159
Duplicate of #158 .

[2020-08-24 15:09] #159 closed

[2020-08-24 15:12] hesham91fci commented on #158
@ryanheise Thanks a lot for your immediate reply, but can you please demonstrate why AudioPlayer plugin plays this file normally ?

[2020-08-24 15:15] ryanheise commented on #158
Do you mean the `audioplayer` plugin? That is because it is using an older Android API that doesn't have this bug. The latest APIs, however, have this bug.

[2020-08-24 15:19] hesham91fci commented on #158
yes I mean AudioPlayer plugin, Does it means that falling back to versions earlier than 0.3.4 could be the fix ?

[2020-08-24 15:20] ryanheise commented on #158
You'd have to go back to 0.0.1. Not really a good option since the latest APIs are the most powerful.

One thing you can try as a workaround is use a different audio recorder plugin. I haven't checked them all, but if you can find one that records and encodes in a different format, you might be able to dodge the parsing error when it comes time to play it.

Looking at what's available, a number of

[2020-08-24 15:22] hesham91fci commented on #158
Also another technical question, isn't just_audio plugin wraps inside it AudioPlayer plugin ?

[2020-08-24 15:28] alexda12 commented on #131
@ryanheise

Sorry for delay in getting back , completely missed this notification.

Yes, the last example I provided was just a simple code fragment to show the use of ConcatenatingAudioSource working in harmony with Uri.parse and not throwing an error as opposed to using the **LoopingAudioSource** which does throw an error.

My example is pretty basic - prior to try and get  Looping working, I si

[2020-08-24 15:35] ryanheise commented on #158
just_audio was written independently from the ground up using the latest APIs. As such, it has no relation to any other audio plugin on pub.dev.

[2020-08-24 15:39] ryanheise commented on #131
@alexda12 did you try the code I suggested? If it doesn't work (and even if it does work), I would still appreciate a minimal reproduction project as mentioned above. You can submit one via the "New issue" button. This will be the fastest way for me to investigate the bug and fix it.

[2020-08-24 16:23] alexda12 commented on #131
@ryanheise - yes I tried the code and the issue is the Url is rejected when you send a Parsed Asset Uri to AudioSource and then inject this into LoopingAudioSource . The asset should be converted to a logical file handle (as can be seen if you debug the source.toJson()) call in _load ...

I will try and package up a reproducible test case later today

![image](https://user-images.githubusercontent

[2020-08-24 16:41] ryanheise commented on #131
Your description and screenshot gives me an idea of what it could be. I'll have a quick attempt at a fix for you...

[2020-08-24 16:44] ryanheise commented on #131
@alexda12 I just committed an attempted fix on git master. Can you try it?

[2020-08-24 17:03] fuzing commented on #152
Ryan - to get the right combination........
Is audio_service -> audio-session branch now merged into master (I can't find an audio-session tag/branch)

[2020-08-24 17:09] ryanheise commented on #152
Yes it has now been merged into master. I realised I didn't actually update the example completely, but the plugin itself should be fine on master. The example should work, although it will by default set up the audio session for music playback, and I had intended to explicitly set it to speech for this example (I am in the process updating the example further.)

[2020-08-24 17:11] fuzing commented on #152
Great - just want to make sure I'm in sync.

[2020-08-24 17:26] ryanheise commented on #152
The simplest way to migrate is to remove any audio interruption handlers from your background audio task (if you have any), and then pass `handleInterruptions: true` into just_audio's constructor to let it handle it.

Everything else is under the hood unless you want to change the default behaviour of the underlying audio session. An audio session controls how an app takes ownership of audio on th

[2020-08-24 18:36] alexda12 commented on #131
@ryanheise Can you drop your dependency on audio_session, or else make the version of SDK for audio_session the same as just_audio ? Currently its set at 1.20 and I cant go to that version for various issues ...

If you can make it the same as just_audio :

[code]

Then I will be able to test the patch - but looking at the modification you made , this should work ...

[2020-08-24 20:17] fuzing commented on #152
I'd agree - defaulting to handleInterruptions: true    sounds like a
reasonable default option..... flattens the learning curve and makes
adoption much easier.   I can't speak to everyone else in terms of where
they're at, but I'm handling those interruptions in "service" and doing
what I believe are the appropriate gymnastics with just_audio...... easy
for me to change, and I'd be happy to hand t

[2020-08-24 20:18] mayurdhurpate commented on #87
Facing exact same issue, without .mp3 in the ending, the URLs work fine in Android but not in iOS (This happens to be the case especially when using Firebase Storage for audio storage.

[2020-08-25 01:47] ryanheise commented on #152
That was my original thinking, and I was originally planning a phased approach with the next release of just_audio being perfectly backward compatible with the old version by default. However, just defaulting `handleInterruptions` to false doesn't alone make it backward compatible, although I had initially hoped it would. A truly backward compatible version would look quite ugly because it would h

[2020-08-25 02:06] ryanheise commented on #131
@alexda12 , Flutter has officially upgraded their minimum Flutter SDK version to 1.20. See:

https://github.com/flutter/flutter/issues/60215
https://github.com/flutter/flutter/pull/62605

This means that all new plugins created from now on will have a minimum SDK version set at 1.20. So I would be inclined to fix this by updating just_audio to also have a minimum requirement of 1.20 (and if it wor

[2020-08-25 02:56] fuzing commented on #152
Ryan,

Do you want me to close this?  I think this is fixed.

Ugggh...... that's the problem with backward compatibility.    At some point you just have to increment the major and move on...... screams willl fade eventually (earplugs are good) and the codebase and plugin will be cleaner/better for it, and you'll sleep better.  This project has moved quickly and as long as the left behind version c

[2020-08-25 03:00] fuzing commented on #152
BTW, my android issue was as a result of an exception being thrown due to my code in onClose() in the derived background task class..... resulting in super.onClose() not being called - my fault......

[2020-08-25 03:02] ryanheise commented on #152
Which onClose is this? If it is audio_session, I should mention that ideally I would like to get rid of this method and have the cleanup handled automatically by the plugin.

[2020-08-25 03:04] ryanheise commented on #152
Ah, I see you mean in audio_service.

[2020-08-25 09:59] fuzing commented on #152
Yes - in audio_service - sorry.   I'm calling directly on Android
swipe-away.

On Mon, Aug 24, 2020 at 9:04 PM ryanheise <notifications@github.com> wrote:

[2020-08-25 10:36] alexda12 commented on #131
@ryanheise  , Correct me if i'm wrong , but I dont think   new Flutter projects when created via **Flutter create** will have their minimum sdk set to 1.20; I've just checked in  terminal, doing a flutter --version will show the version of flutter installed or version from current channel being used - mine is being shown as 1.12.13 hotfix 5. (Yes I realise its 9 months old but there are huge issue

[2020-08-25 11:34] ryanheise commented on #131
Hi @alexda12 can you point me to the issue that requires you to install a 9 month old version of the SDK? I would have thought that the Java class you mention is still available in the latest SDK. I have run into similar problems before, and for example I am happily using `io.flutter.app.FlutterApplication` in one of my apps even with the latest SDK.

[2020-08-25 12:57] ryanheise commented on #131
@alexda12 FYI, it looks like firestore was updated to v2 in April: https://github.com/FirebaseExtended/flutterfire/pull/2269

Google's message is that the old plugin model is no longer supported, and v1 has also been removed from the latest plugin template.

If you still prefer to use an old SDK, a workaround is to use just_audio 0.3.4 and use a concatenating audio source with the same URI copied

[2020-08-25 13:12] alexda12 commented on #131
@ryanheise Will the approach of utilising a ConcatenatingAudioService provide the same performance and occupy the same memory constraints as a LoopingAudioSource or is the loop number -  in this case,  directly attributable to an increase in memory ? I'm assuming that the Concatenating service, will as the name suggests - load all audio streams into memory in order to provide a continuous gapless

[2020-08-25 13:21] ryanheise commented on #131
On iOS, `ConcatenatingAudioSource` and `LoopingAudioSource` are equally inefficient/efficent. They are both implemented under the hood in the same way. On Android, I am using ExoPlayer's implementation, but I do not know what it's efficiency. The ExoPlayer documentation does hint that setting a loop mode on the player is more efficient.

It will take me some time to optimise the iOS side in any ca

[2020-08-25 13:28] ryanheise commented on #152
OK, I'll close this issue then, and thanks for the perspective on backwards compatibility. I'll ponder it further, and a proper release will probably happen in a day or two.

[2020-08-25 13:28] #152 closed

[2020-08-25 13:59] alexda12 commented on #131
@ryanheise  - good idea about extracting the assets and storing locally -- will probably adapt this into a caching service so that its only done if the resource does not already exist ...

Yes - I've been burnt before on upgrading from 1.54 to 1.78 and then 1.78 to 1.9x and then my current release of 1.9 to 1.12 (There were so many regressions issues it took approx 3 weeks to re-write things diffe

[2020-08-25 16:20] ryanheise commented on #131
@alexda12 OK, I'll think about holding back the SDK version of my plugins to 1.12.*

[2020-08-26 10:04] ssbaval commented on #131
@ryanheise  I've been using AudioPlayers and Flutter_Sound and came across your plugin. I am using SDK 1.17 so would appreciate if you didnt force sdk 1.20 as a pre-requisite to using your plugin.

[2020-08-26 10:16] ryanheise commented on #131
@ssbaval and @alexda12 I will think about setting it to:

[code]

Would that suit both of you?

[2020-08-26 10:21] ssbaval commented on #131
@ryanheise That will work for me !

[2020-08-26 10:32] moritz-weber opened #160 "Add optional index parameter to load()"
Hi @ryanheise I just started trying the current version of just_audio and wanted to thank you for your great work :)

**Is your feature request related to a problem? Please describe.**
When loading a `ConcatenatedAudioSource` and seeking to a specific index `i` before starting playback, the `currentIndexStream` first propagates `0` and then `i`. This can lead to some ugly UI jumps, if they react t

[2020-08-26 17:34] ryanheise commented on #131
just_audio 0.4.0 has been released, and it fixes the bug loading assets inside of `LoopingAudioSource` as well as bug #152 in which the player on iOS couldn't seek within the same item after transitioning to `completed`. Partnering this release, audio_service 0.14.0 has also been released.

[2020-08-26 17:36] ryanheise commented on #160
That's an interesting one, it sounds like it could be a bug as I did not intend for that behaviour. I will have to investigate. Note that in most cases, it is preferable to use `sequenceStateStream`, although quite possibly the same bug exists in that stream, too.

[2020-08-27 06:57] moritz-weber commented on #160
I tried `sequenceStateStream` and it broadcasts `0` as well. The broadcast occurs around line 454 in just_audio.dart:

    _durationFuture = _invokeMethod('load', [source.toJson()]).then(
      (ms) => (ms == null || ms < 0) ? null : Duration(milliseconds: ms));
    final duration = await _durationFuture;

I then lost track in the Java code ;) Hope this helps.

[2020-08-27 10:31] subhash279 opened #161 "Exoplayer pitch and skipSilence"
Hi, Great work on the plugin.

**Is your feature request related to a problem? Please describe.**
Exoplayer has option to skipSilence and modify pitch. Is it possible to add them in this plugin.

**Describe the solution you'd like**
Add exoplayer skipSilence and pitch parameters.

**Describe alternatives you've considered**
None

**Additional context**
I am not sure if modifying the pitch will cre

[2020-08-27 11:15] ryanheise commented on #161
Hi @subhash279 , I believe ExoPlayer uses sonic for both pitch and speed changing, and this algorithm shouldn't affect the volume. So this in theory should be a simple Android-only feature to add.

However, I should also mention it may be a while before I personally get around to this due to the long list of issues I have to get through, so contributions via PRs are also be welcome.

[2020-08-27 11:21] subhash279 commented on #161
@ryanheise thanks for the clarification. I will submit a PR for skipSilence. It should be reasonably straightforward.

Just out of curiosity, do you know if volume boost feature, the one in most podcast apps, can be implemented in exo player? I couldn't find much documentation. If you can let me know how to do it, I can add a PR for that as well!

[2020-08-27 12:12] alexda12 commented on #131
@ryanheise - Thanks, that will help us ...

[2020-08-27 14:06] ryanheise commented on #161
Thanks!

Regarding volume boost, I only vaguely recall reading about it, although I'm not sure if I read about it in the ExoPlayer docs or somewhere in the Android SDK documentation itself.

[2020-08-27 14:24] stonega commented on #161
@subhash279
https://developer.android.com/reference/android/media/audiofx/LoudnessEnhancer
It can work with exoplayer.

[2020-08-27 14:28] subhash279 commented on #161
@stonega thanks for the link. I will try to see if I can implement it.

[2020-08-27 14:48] ryanheise commented on #160
I have tried to reproduce this, but was unable to. Would you mind providing a reproduction project, and can you tell me if you experienced this on Android or iOS (or both)?

[2020-08-27 19:07] GabrieleVolpato opened #162 "Player.durationStream not streaming on iOS."
**Which API doesn't behave as documented, and how does it misbehave?**
Player.durationStream is not streaming anything. This seems to be happening only on iOS while using some specific mp3s.

**Minimal reproduction project**
Provide a link here using one of two options:
Just use the example project, using the following audio urls:

[code]

**To Reproduce (i.e. user steps, not code)**
Steps to repr

[2020-08-28 02:46] ryanheise commented on #162
Hi @GabrieleVolpato

I tried copying the MP3 file to my own server and it was able to work fine, so I suspect there are some response headers that you can play around with to get iOS to get it to work. Here were the headers from the URL you provided:

[code]

Possibly the rate limit is preventing iOS from downloading the entire media file and that in turn is preventing iOS from determining the dur

[2020-08-28 05:34] yhcharles opened #163 "iOS: can not `pause()` after `setSpeed()`"
**Which API doesn't behave as documented, and how does it misbehave?**
setSpeed()

**Minimal reproduction project**
Provide a link here using one of two options:
1. Fork this repository and modify the example to reproduce the bug, then provide a link here.
2. If the unmodified official example already reproduces the bug, just write "The example".

**To Reproduce (i.e. user steps, not code)**
Steps

[2020-08-28 07:58] moritz-weber commented on #160
I created a minimal project: https://github.com/moritz-weber/just_audio_test
As I encountered the problem with local files (haven't tried the other options), I implemented the local playback here as well.
The paths are just a list of strings, so you would need to fill in paths that exist on your device.
Pressing the play button, triggers the loading, seeking and playback.
The index is only printed

[2020-08-28 12:15] ryanheise commented on #163
This should be reproducible on the example.

[2020-08-28 12:21] ryanheise commented on #160
Thanks! I'll look into it now.

[2020-08-28 12:25] ryanheise commented on #163
I have just fixed it on git master. Please let me know how it goes for you.

[2020-08-28 13:07] ryanheise commented on #160
After trying your example, I now have a better understanding of your use case. Currently `load` does indeed load index 0 first before the seek occurs and I agree it would be a useful feature to have initial seek parameters on `load`. In the meantime, you can probably do something like this:

[code]

[2020-08-28 14:03] GabrieleVolpato commented on #162
I don't think this is rate limit related (you can see you still have 59 requests left here), or it wouldn't work on Android too.
I'm going to look into the server application after this weekend, and I'll try to tweak some response headers to see if anything changes.

I'll let you know as soon as I find something, thank you again for your time!

[2020-08-28 14:17] yhcharles commented on #163
Yes, it works now. Thank you for the quick response and fix!

[2020-08-28 15:04] ryanheise commented on #162
Let me know how it goes. There are various similar issues I have heard of before on iOS, one of them being the importance of having a ".mp3" extension in the path, so that's something you can also try (as opposed to using a content-disposition header). Aside from headers, one other thing to play around with is the HTTP protocol version. iOS is a black box, so it could be any of these things or som

[2020-08-28 15:42] moritz-weber commented on #160
Thanks for investigating this. I'll probably do nothing about it for now, as I am the only user of my app and don't really bother about the small glitch it causes ;)

[2020-08-28 15:44] ryanheise commented on #163
Good to hear! Unfortunately I can't publish the fix just yet, due to an issue with pub.dev (https://github.com/flutter/flutter/issues/52285 and https://github.com/dart-lang/pub-dev/issues/3971), but you can point your pubspec to the git hash for this commit and use it that way.

[2020-08-29 08:39] redimongo opened #164 "Just_Audio example does not show notification player"
So I need to be pointed in the right direction if possible.

My task is to bring our Swift App over to Android, and we before we set up the app and lock all the plugins into place. We need to work out which Flutter plugin allows a player in the users notification.

According to everything I have read Just_Audio and Audio_Service https://pub.dev/packages/audio_service are meant to work together.

H

[2020-08-29 08:40] #164 closed

[2020-08-29 14:55] Chess-er commented on #131
@ryanheise also it has been said many times in this thread I feel like saying thanks again for such a well documented API on both audio_service and just_audio, your help is very much appreciated. The issue I am facing is trying to shuffle the queue through audio_service in just_audio.
What I have done so far is
- From UI `await AudioService.setShuffleMode(AudioServiceShuffleMode.all);`
- Then from

[2020-08-29 15:08] ryanheise commented on #131
Thanks @Chess-er , I'm happy to hear you have appreciated the documentation!

Regarding your issue, the queue is indeed supposed to stay the same after shuffling, except that the `currentIndex` will not always proceed by `currentIndex++`. Instead, it will jump to random positions in the queue. So the queue stays the same, but you just can't predict where in the queue it will jump to next. This cor

[2020-08-29 15:16] Chess-er commented on #131
Thank you for the fast reply @ryanheise, I will do a manual shuffle.

[2020-08-30 05:30] ashishfeels opened #165 "Exoplayer init multiple times ?"
This started happening after implementing audio_session & updating audio_service to 0.14.0

[code]

setup code.

[code]

[2020-08-30 05:30] #165 closed

[2020-08-30 05:38] ashishfeels opened #166 "Exoplayer init multiple times ?"
**Which API doesn't behave as documented, and how does it misbehave?**
not known

**Minimal reproduction project**
https://github.com/ashishfeels/radio_bharat/tree/test-just_audio

**To Reproduce (i.e. user steps, not code)**
I just implemented the audio_session & package after upgrading audio_service

**Error messages**

[code]

**Expected behavior**
Just wanted to know if exoplayer is created mu

[2020-08-30 05:54] ryanheise commented on #166
Let me know once you've filled in the report so that I get notified.

[2020-08-30 06:27] ashishfeels commented on #166
@ryanheise updated with my test branch have  a look at it.

[2020-08-30 06:52] ryanheise commented on #166
Can you fill in the whole report?

Try to explain why this is a bug, and also fix the smartphone information since surely you can't be dealing with an ExoPlayer log on iOS?

[2020-08-30 07:02] ashishfeels commented on #166
@ryanheise  i was just trying to know if its a bug ? like before updating and without audio_session this was not there. that's why i thought of asking you. if it is normal we can close this. also updated the smartphone inofrmation.

[2020-08-30 07:36] stonega commented on #166
@ashishfeels  No, it is not a bug, you can try to run example app on your device, I believe it only init once.  Also understand that you need to follow the report guide, as it is not a duty for the developer to answer the question.

[2020-08-30 07:38] ashishfeels commented on #166
yeah completely agreed with you @stonega i am going through the example app now. Thanks.

[2020-08-30 14:18] fuzing opened #167 "Multiple players and audio services coexisting in the same app, and across apps"
**To which pages does your suggestion apply?**
- https://pub.dev/packages/just_audio
- https://pub.dev/packages/audio_service

**Quote the sentences(s) from the documentation to be improved (if any)**

**Describe your suggestion**
I have a question relating to just_audio and audio_service that could (possibly should) be addressed in the documentation.

Can I have multiple just_audio AudioPlayer in

[2020-08-30 14:20] ashishfeels commented on #166
@stonega @ryanheise  just a suggestion can we make a discord channel for just_audio support so that dumb questions like this one can be sorted out there ? i hope you guys consider this.

[2020-08-30 14:43] ryanheise commented on #167
Yes to both questions.

In terms of documentation, I haven't yet seen documentation for a Dart class that offers a constructor but then says it should not be used more than once. The reason being that there's an expectation that such an API would have instead been designed as a singleton (e.g. like `AudioService`), while offering a constructor is a license to use it.

Regarding app clash, this is

[2020-08-30 15:35] subhash279 opened #168 "onComplete event not fired if there is no UI"
Hi, Just looking at the code, I think if there is no dart UI, onComplete event for a specific track will not be fired because I think you would need a headless service for that. Can you please correct me if I am wrong.
I also checked the audio_service plugin and i am not sure if this is possible to listen to a track complete event. Again pls let me know if i am wrong.

**Is your feature request re

[2020-08-30 15:38] ryanheise commented on #168
This package will not provide a service. I have created audio_service for that. It provides what you need.

[2020-08-30 15:38] #168 closed

[2020-08-30 17:41] mahmood-heja opened #169 "Bad state Exception when call player.dispose()"
when call dispose for **AudioPlayer**

[code]

the Bad state Exception happen

My  State class

[code]

[2020-08-30 17:41] #169 closed

[2020-08-30 17:42] alexda12 commented on #131
@ryanheise Just wanted to let you know that 0.4.0 fixes the issue I raised pertaining to the asset not read in correctly with LoopingAudioSource.

I had some issues first upgrading to this release (0.4.0) as I was using pre 1.12 Flutter Activity and your plugin requires new embedding activity - so had to change things in Styles, MainActivity and my Manifest and now everything works with my SDK of

[2020-08-30 20:19] fuzing commented on #167
Ryan -

Thanks for your quick response (and resultant lowering of my blood pressure!)...... I agree wholeheartedly about expectations...... but had to ask (sorry).

Also thankful about your response re: "app-clash"....... a long-tail event...... but you know it will happen at some point - likely by me when my #1-in-the-app-store app is followed by it's sister (aka #2)!

Be well.

[2020-08-31 00:57] dfdgsdfg commented on #158
Same here.

I generated the Wave file from https://github.com/rmbrone/flutter_audio_recorder/.

[2020-08-31 02:17] ryanheise commented on #131
@alexda12 , glad to hear it's now working. Regarding the inefficiency of using `LoopingAudioSource` with large loop counts, this is acknowledged in the documentation for that class:

And just below that paragraph, it also acknowledges the other flaw:

Given the current state of affairs, the recommended approach is the one I gave earlier which is to use a `LoopingAudioSource` with a count of say 10

[2020-08-31 02:19] ryanheise commented on #158
@dfdgsdfg what if you encode to a different audio format?

[2020-08-31 02:47] ryanheise commented on #166
My priority is to improve the plugin and its documentation, and this GitHub issues page is intended for contributors to help to that end by contributing bug reports, feature requests, documentation requests and pull requests. While I don't offer support personally, community support is available on StackOverflow, they have a pretty reasonable "dumb question" filter, too. I have provided a link to

[2020-08-31 03:39] ashishfeels commented on #166
gotcha closing this now. as its not a bug.

[2020-08-31 03:39] #166 closed

[2020-08-31 05:43] dfdgsdfg commented on #169
Same here.

Seems to change as below.

[code]

Reference: https://stackoverflow.com/questions/52191451/bad-state-you-cannot-close-the-subject-while-items-are-being-added-from-addstre

[2020-08-31 05:59] dfdgsdfg commented on #158
@ryanheise In my case, the recorder generated a bad header.

https://github.com/rmbrone/flutter_audio_recorder/issues/11

I think, there is no problem with exoplayer or just_audio.

Thanks.

[2020-08-31 06:09] ryanheise commented on #158
@dfdgsdfg I agree, thanks for investigating it. I'll close this issue, and recommend those who run into this issue to wait for a fix in the recorder plugin or switch to another recorder plugin that outputs the correct header.

[2020-08-31 06:09] #158 closed

[2020-08-31 06:17] ryanheise commented on #169
@dfdgsdfg thanks for looking into this. Since this issue is closed would you mind posting a new issue? (Or perhaps if you're adventurous, a pull request?) By the way, I did at some point use the technique you referenced although removed it when I moved the responsibility of closing the event sink to the platform side. `_positionSubject`, however, is not directly bound to that event channel, it is

[2020-08-31 11:04] snaeji commented on #154
Great! Yes it was based on a little older version.

Here is the PR for 4.1: https://github.com/ryanheise/just_audio/pull/170.

The only thing I wasn't sure about is if it's okay to access the currentItem straight from the player. It works but i guess it would be cleaner if we could get it from the indexedAudioSources.

[2020-08-31 11:13] hesham91fci commented on #158
@ryanheise I switched the recorder plugin from flutter_audio_recorder to audio_recorder and it worked fine

[2020-08-31 20:58] Skyost commented on #134
I'm also interested in this as my users are complaining about the audio that never stops.

[2020-09-01 00:14] dfdgsdfg opened #171 "When complete playing should playingStream emit false"
**Which API doesn't behave as documented, and how does it misbehave?**
When complete playing should `playingStream` emit false

**Minimal reproduction project**
Seems `_playingSubject.add(isPlaying)` only call on user interaction.

**To Reproduce (i.e. user steps, not code)**
1. Play. `playing` and `playingStrean` emit `true`.
2. Playing finished. But `playing` and `playingStream` is still `true`.

[2020-09-01 04:38] ryanheise commented on #134
@Skyost , Do your users use hot restart? I am surprised about that since hot restart is something that is only accessible in a development environment.

[2020-09-01 04:41] ryanheise commented on #171
Closing as not a bug. This is behaving exactly as documented:

https://pub.dev/documentation/just_audio/latest/just_audio/AudioPlayer/play.html

[2020-09-01 04:41] #171 closed

[2020-09-01 05:58] Skyost commented on #134
@ryanheise Nop ah ah. But I was just wondering if a fix to this issue will work for my users who are facing the problem I've described above.

[2020-09-01 06:02] ryanheise commented on #134
Since it's not the same issue, you will need to open a new issue with the details, if indeed it is a bug. A bug would be if you called `stop` or `pause` or `dispose` and the audio kept playing. If it kept playing because you didn't call one of these methods, then that is not a bug. Note that I will mark my reply and yours as off topic so as to keep this issue on topic.

[2020-09-01 13:50] hacker1024 opened #172 "Play decrypted audio from memory?"
**Is your feature request related to a problem? Please describe.**
The APIs I'm working with use XOR encryption. (For an example, they can be decrypted by [this tool](https://gchq.github.io/CyberChef/#recipe=XOR(%7B'option':'Base64','string':''%7D,'Standard',false)).)

**Describe the solution you'd like**
It'd be great if I could pass the decrypted MP4 audio directly to this plugin, or, even bette

[2020-09-01 13:55] ryanheise commented on #172
You might consider looking at the proxy server in the code and doing something similar to that outside the plugin. This would give you gapless playback in memory without adding a niche feature directly to the plugin.

[2020-09-01 14:41] halldorlogi commented on #160
I'd really appreciate a feature in that direction.

[2020-09-01 14:49] erickcchoi opened #173 "Error message when call setUrl()"
**Which API doesn't behave as documented, and how does it misbehave?**
Coding for Web, Error message when call setUrl() with uri "http://bbcmedia.ic.llnwd.net/stream/bbcmedia_radio1_mf_q"

**Minimal reproduction project**

https://github.com/erickcchoi/demo1

**To Reproduce (i.e. user steps, not code)**
press the Play button on screen

**Error messages**

[code]

**Expected behavior**
No error mes

[2020-09-01 22:00] hacker1024 commented on #172
Right, that's another option. I considered it, but I'm not sure of that would have to use a port that could be used by something else on the device.

[2020-09-02 02:10] ryanheise commented on #172
You can use an ephemeral port as done in `_ProxyHttpServer`.

[2020-09-02 05:59] hacker1024 commented on #172
Thanks, I'll take a look.

Also - while decryption is a fairly uncommon feature, the ability to play audio from a stream of bytes would be (in my opinion) a nice addition to the plugin.

Would you accept a pull request that allows such a thing?

[2020-09-02 08:00] dfdgsdfg commented on #171
Then, if I want to know to sound play or not, I have to combine two streams which are playingStream true event and processingStateStream complete event?

[2020-09-02 09:59] dfdgsdfg commented on #171
Oh. I can listen processingStateStream and handle stop() method for playingStream.
Got it. Thanks.

[2020-09-02 10:46] ryanheise commented on #172
Now that could be a really useful feature, I agree. I would be happy to accept a PR.

There's one other feature that should eventually go into the proxy code which is the ability to write the downloaded file to a cache as it's being downloaded, so if you plan to add code to the proxy, it would be good to just keep that other feature in the back of your mind so that it still keeps the door open for

[2020-09-02 13:03] hacker1024 commented on #172
Will do, thanks for the heads up.

I'm using your proxy suggestion for now, and it works really well - thanks for that. The one problem is that the server is accessible with a web browser, which isn't ideal (especially as this method is used in this generic plugin) as private data can be exposed.

Do you know of any way to remedy that?

Since I have a working solution at the moment, my PR idea is

[2020-09-02 13:05] hacker1024 commented on #172
Oh, and in case anyone wants to do something similar, here's my implementation.

[code]

[2020-09-02 13:20] ryanheise commented on #172
My first thought was to add an Authorization header where only this plugin would know the token, but then you would need to get the platform side to pass in the header, which is fine for ExoPlayer but there is no equivalent for iOS.

My second thought is that you can just embed the authorization token in the URL which should be fine on both platforms.

[2020-09-02 13:22] hacker1024 commented on #172
I didn't think of that second option - thanks again.

[2020-09-02 16:41] ryanheise commented on #163
Just to update you, the issue with pub.dev has been fixed and I've been able to publish release 0.4.1 .

[2020-09-02 16:41] #163 closed

[2020-09-03 00:06] yhcharles commented on #163
Awesome, thank you!

[2020-09-03 05:36] hacker1024 opened #174 "ConcatenatingAudioSource: currentIndexStream - a way to check if the index change is due to either a track ending or a manual seek"
**Is your feature request related to a problem? Please describe.**
The audio server I'm using requires different API calls to skip to the next track and skip to an arbitrary track. The latter is slower than the former, and song recommendations are effected, so I'd like to use the appropriate call when possible.

**Describe the solution you'd like**
It'd be great if there was perhaps a dedicated st

[2020-09-03 08:01] subhash279 opened #175 "Add Flutter Headless Engine so that some events can be listened even without UI"
**Is your feature request related to a problem? Please describe.**
When the app itself is minimized on iOS/android, any stream changes like pause/audio complete are not fired in audio_service because there is no headless flutter engine attached. This is useful because sometimes a user might pause audio or when a particular track finishes playing(when the app is minimized), the developer might want

[2020-09-03 08:39] subhash279 commented on #175
sry I meant to post in audio_service. I will close here and open there.

[2020-09-03 08:39] #175 closed

[2020-09-03 11:46] ryanheise commented on #169
@kodi If you wouldn't mind, please create a new issue as per my previous comment. I will lock this issue to motivate people to listen carefully to what I am asking ;-)

[2020-09-04 08:01] fupingren commented on #146
i found it https://github.com/google/ExoPlayer/blob/6bfdf8f8f65a2d7a03d90e5e2e3bcdf80af31a94/library/core/src/main/java/com/google/android/exoplayer2/source/SilenceMediaSource.java
it just be my request.

[2020-09-04 12:51] ReaganRealones commented on #141
Exactly, I was actually going to submit a new issue requesting for this support. Please let me know as soon as you are done so I try it out. Thank you @ryanheise  👍

[2020-09-04 15:50] ryanheise commented on #174
Can you explain a little more about how this API works? If you have to call an API other than just_audio to skip to a track, then I assume you are not using just_audio's `ConcatenatingAudioSource` to manage skipping.

Then just to clarify, why wouldn't this work?

[code]

[2020-09-04 16:59] ryanheise commented on #146
Yes, that's what I had in mind. Apologies for not having implemented this yet, but it may be a while before I get to this as there are several higher priority issues.

However, note that in the meantime, you can create your own "silence" audio file of the desired duration and use that for the same purpose.

[2020-09-04 17:00] ryanheise commented on #141
Will try, although not sure how long it will take me to get around to it! I seem to have quite a backlog of issues right now :-)

[2020-09-04 22:13] hacker1024 commented on #174
I'm actually using both - the API allows me to see up to one song in advance, so I add the upcoming song to the ConcatenatingMediaSource for gapless playback.

I need to listen to position changes so I know when to tell the API the track ended, and request the next upcoming song.

Your above example works, but the API has different calls for skipping to the next track, and being notified that the

[2020-09-05 08:15] GabrieleVolpato commented on #162
I took some time to understand what's going on here and I think I got it: iOS, as well as Safari, requires the webserver to accept byte-range requests to undesrtand the duration. [Apple documentation](https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/CreatingVideoforSafarioniPhone/CreatingVideoforSafarioniPhone.html#//apple_ref/doc/uid/TP4000651

[2020-09-05 08:34] ryanheise commented on #174
I understand you now. I'll have to think on how to fit this into the current API, but in the meantime, you can possibly try a better workaround:

[code]

[2020-09-05 08:53] ryanheise commented on #162
That's very interesting, thank you for sharing that research! I think numerous people have run into issues configuring the web server to satisfy iOS and this sheds some light on the mystery.

As for what options are available on the iOS side rather than the server side, I suspect any practical workaround to the limitations of AVPlayer would involve significant work, although one easy workaround th

[2020-09-05 08:53] #162 closed

[2020-09-05 09:40] hacker1024 commented on #174
Thanks. That's what I'll do for now.

[2020-09-05 12:48] hacker1024 opened #177 "Loading an empty ConcatenatingAudioSource causes crashes on macOS and iOS"
**Which API doesn't behave as documented, and how does it misbehave?**
Calling `load` on a player with an empty `ConcatenatingAudioSource` on macOS and iOS causes a crash.

**Minimal reproduction project**
https://github.com/hacker1024/just_audio

I forked the project and modified the example to load a `_playlist` with no items, and add them to the source afterwards.

**To Reproduce (i.e. user ste

[2020-09-06 01:54] hacker1024 opened #178 "Switch to VLCKit on macOS and iOS?"
**Is your feature request related to a problem? Please describe.**
I need to play an uncommon codec, and AVPlayer doesn't support it.

**Describe the solution you'd like**
[VLCKit](https://wiki.videolan.org/VLCKit) seems to support a lot more formats than AVPlayer does. If we switch to it, the Darwin implementations should be more like the Android one - at the moment, my media only plays on Androi

[2020-09-06 03:38] ryanheise commented on #178
LGPL is not workable, but MPL looks potentially less probleematic. It will take me some time to review the license terms.

[2020-09-06 03:46] ryanheise commented on #178
I remember encountering another drop-in replacement for AVPlayer written in Swift before but I didn't bookmark it. It would probably be a good idea to consider a list of alternative options at this point before making a decision, comparing the feature set and licenses.

[2020-09-06 04:15] hacker1024 commented on #178
Oops, I forgot about the licensing. I did a bit of poking around to see if there was an API-compatible AVPlayer replacement, but I couldn't find one. I'll do some more research.

[2020-09-06 07:14] ryanheise commented on #178
Here is another that looks interesting:

https://github.com/sbooth/SFBAudioEngine

However, it's missing certain streaming protocols.

[2020-09-06 08:18] hacker1024 commented on #178
It's also only compatible with macOS 10.15+ and iOS 13+, which isn't really ideal.
I haven't been able to find anything else other than VLCKit - perhaps additional codecs aren't really an option for this plugin.

[2020-09-06 08:28] ryanheise commented on #178
I haven't ruled out VLCKit, although I would need time to look at its license.

[2020-09-06 22:14] tnaseem opened #179 "Apple Testflight rejection - Needs info.plist NSMicrophoneUsageDescription setting."
just_audio 0.4.1 on iOS.

I deployed my app to Testflight, and got this rejection email from Apple:

Any way to get around this? I'm not using any recording ability, so don't need the microphone. Just playing back audio.

[2020-09-06 22:15] #179 closed

[2020-09-06 22:26] tnaseem opened #180 "Apple Testflight rejection - Needs info.plist NSMicrophoneUsageDescription setting."
**Is your feature request related to a problem? Please describe.**
Apple TestFlight rejected the app stating that there's a missing _NSMicrophoneUsageDescription_ setting in the Info.plist file.

Rejection email from Apple:

**Describe the solution you'd like**
I need help on how to get around this, without needing to update the plist file with the string, as I don't use any recording ability; Onl

[2020-09-07 01:23] ryanheise commented on #180
If your app is not using the microphone, you can safely add this key to Info.plist and the usage description will not be shown to the user, but Apple's automated code scanner will still ask for this key because it detects some code for audio options that "could" be used for this purpose, but isn't smart enough (yet) to detect that your app doesn't actually use it.

I'm looking into whether better

[2020-09-07 02:23] hacker1024 commented on #103
I may attempt this.
@ryanheise, would using Windows code from [Musikcube](https://github.com/clangen/musikcube/tree/master/src/core) be okay? It has a BSD 3-Clause "New" or "Revised" License.

Musikcore supports gapless playback, so it looks like a good fit.

It's also written in C++, so if FFI bindings are done right, we could share the code between Windows and Linux (and even macOS, if it's bett

[2020-09-07 03:07] tnaseem commented on #180
Many thanks for letting me know.

I just did that and it got through the automated test and approved. On running, no alert popped up either, as you mentioned. That's the only thing I was worried about, tbh.

Thanks for the quick reply and help!

[2020-09-07 04:22] ryanheise commented on #180
Glad to know it's now working for you. I've now updated the README to reflect the above comments, and will leave this issue pinned to help others with the same question.

[2020-09-07 09:44] hacker1024 commented on #103
I've looked at Musikcube / Musikcore a little more - the core is completely undocumented, but there's a plugin system. There exists a documented plugin that exposes a web server to interface with the core.

It shouldn't be too hard to modify the server to use Flutter platform channels instead of HTTP, and then all the plugin documentation will apply.

https://github.com/clangen/musikcube/wiki/remo

[2020-09-07 13:18] ryanheise commented on #103
The Musikcore license still looks complicated to me since the individual decoders have separate license agreements (including the GPL). It's also not clear to me what the codec support is for each platform target. ExoPlayer is mentioned, for example, but ExoPlayer taps into hardware decoders that are available on device via the Android SDK, so I would probably expect to see a different set of code

[2020-09-08 00:34] hacker1024 commented on #103
That's difficult, then.
On another note, Musikcore uses the Visual Studio build system on Windows. I've been trying to build a CMake script instead (since Flutter uses CMake), but it's proving difficult.

Unfortunately, there aren't many high-level C/C++ Windows audio libraries out there...

[2020-09-08 12:22] erickcchoi commented on #173
Please any advice or update?

[2020-09-08 13:13] ryanheise commented on #173
Hi @erickcchoi I'm not sure whether there is an easy solution to this. However, for me to investigate, I'm going to need you to provide a link to your minimal reproduction project (i.e. not a code snippet for me to copy&paste). Thanks.

[2020-09-08 17:44] erickcchoi commented on #173
Please help.
Link : https://github.com/erickcchoi/demo1

[2020-09-09 08:25] AhmedNourJamalElDin opened #183 "Bad state Exception when call player.dispose()"
**Which API doesn't behave as documented, and how does it misbehave?**

disposing the payer throws: `You cannot close the subject while items are being added from addStream`.

**Minimal reproduction project**
No need. any project you have which have player in different screens and when you want to go from screen to another, you have to dispose the running player, you face this issue.

**To Reprodu

[2020-09-09 14:17] tnaseem commented on #183
I'm having the same problem, when using positionStream.

I tried to do an async on dispose() and drain the stream, as below:

[code]

But it appears to get stuck in the await and never gets past it to run the rest of the dispose.

[2020-09-09 14:55] ryanheise commented on #183
Hi @tnaseem @AhmedNourJamalElDin has graciously made a pull request that you can try out (#182 ). Let me know how it goes for you.

[2020-09-10 00:30] tnaseem commented on #183
Nice work. That did the trick. :)

[2020-09-10 05:06] ryanheise commented on #183
Great to know it works, I'll still need to do some testing across all the platforms. This issue is complicated by the fact that the stream is now closed on the platform side, and so we may see different behaviours across platforms, and if so it may require further thought on whether the platform side should do this.

It would be great to have some automated unit testing for this project eventually

[2020-09-10 05:31] tnaseem commented on #183
I'm wondering then, would it be better to expose `_positionStreamController?.close()` so we can do it, rather than leaving it to AudioPlayer's `dispose()` method, as it is in the fix?

ie. Something like:

[code]

We can then just do that prior to disposing the audio player ourselves, for these cases.

[2020-09-10 05:47] ryanheise commented on #183
@tnaseem I was also thinking of something along those lines. There is also the fact that it is possible for apps to call `createPositionStream` manually and create more than one instance of the stream, so it may not make sense to have a global variable to keep track of only one stream controller within the plugin.

[2020-09-10 05:52] ryanheise commented on #183
I should mention that the intention of the existing code was to figure out when to call `close` on EACH instance of the controller that the app created, but clearly this implementation runs into issues if you call `dispose` without first calling `stop`. This suggests that one solution may be to just embed a call to `stop` within `dispose`, although I'd really prefer to finish off the original impl

[2020-09-10 06:04] AhmedNourJamalElDin commented on #183
Hi @ryanheise ,
Apparently, we need to close the controller in any way. feel free to suggest any changes. I'd be happy to do them.

if the users must have access to `createPositionStream` function, then they need access to the controller to dispose it, but now no one can.

so we can either

- give them access to the controller (not the stream), at that point, we can store reference to the controll

[2020-09-10 06:07] AhmedNourJamalElDin commented on #183
BTW I'm not sure if there is a better way to handle this situation (issue), maybe we don't need to dispose the controller at all, and there is another way to fix this? I tried hard to figure out the issue and this is the fastest way I could overcome it.

[2020-09-10 06:09] ryanheise commented on #183
The existing code does try to close every controller automatically as soon as the player is disposed (see line 409 of git master), but there could be a timing issue, and the reason why I didn't notice that timing issue is because I normally call `stop` before I call `dispose`. This suggests that another solution might be simply to embed a call to `stop` within `dispose`.

[2020-09-10 06:10] ryanheise commented on #183
(Although I would rather try to understand why this code is failing and do it correctly)

[2020-09-10 06:13] ryanheise commented on #183
Possibly, I mentioned elsewhere that it is probably not necessary to close some of these things if the platform side has already given an endOfStream signal on the event channel. As soon as I added that code on the platform side, I noticed some of the closes on the Dart side were failing, so it's a bit of a complicated situation with respect to which part of the code is considered the owner and re

[2020-09-10 06:16] AhmedNourJamalElDin commented on #183
I think that too. relying on a timer to dispose the controller whereas disposing the subject in dispose method. However I tried to stop the `currentTimer`, but it didn't work. I'm not sure if I was doing it the right way.

[2020-09-10 06:28] tnaseem commented on #183
I did try the `stop` bofore `dispose` on v0.4.3, but the problem was rearing it's ugly head. I then thought it was because they're async calls, so tried:

[code]

But it didn't help, unfortunately.

[2020-09-11 13:02] AhmedNourJamalElDin commented on #128
This happens for me too.

@ReaganRealones can you complete all sectons, please?

[2020-09-13 10:15] ryanheise commented on #169
To anyone subscribed to this issue, I have committed a potential fix to git master. The issue is being tracked on #183 .

[2020-09-13 10:27] ryanheise commented on #183
I've finally had a chance to create a minimal reproduction project and do some testing.

The correct solution is as suspected in the original #169 issue which is to simply delete this line from `dispose`:

[code]

`_positionSubject` is getting its events from another stream via `addStream` (effectively the same as `pipe`) which means that it will be closed automatically when the original stream co

[2020-09-13 18:06] AhmedNourJamalElDin commented on #183
Perfect, Thanks.

[2020-09-13 18:06] #183 closed

[2020-09-13 22:07] tnaseem commented on #183
Just tried it (0.4.4) and it works great. Nice work and thanks!

[2020-09-14 07:05] sleepinglion-dev opened #184 "Can this plugin play multiple audio files simultaneously ?"
Can this plugin play multiple audio files simultaneously ?

[2020-09-14 07:06] #184 closed

[2020-09-15 20:16] silver-cap opened #185 "icyMetadataStream is not streaming"
Thank you for the great package work!

I'm trying to get every music title from the streaming radio URL.
By using icyMetadata, I can get the title once.
I am wondering there is 'icyMetadataStream', so that I can get the title every song play on the radio when the song changed.
But it doesn't stream. It emits just one time.

[code]
Any advice or comment will be very thankful!

[2020-09-15 20:16] #185 closed

[2020-09-15 20:25] erickcchoi commented on #173
Please any advice or update? Thank you.

[2020-09-16 03:50] ryanheise commented on #173
I am sorry, I am currently fixing more urgent issues that broke with the recently released Android 11.

But can you confirm you're not playing something like HLS? This is not supported on Web as mentioned on the README.

[2020-09-16 15:16] erickcchoi commented on #173
Thank you for your reply, The uri is not HLS.

[2020-09-16 15:55] ryanheise commented on #173
OK, thanks for the quick answer, and apologies again that I was unable to give this issue my full attention.

But can you try editing this method in the plugin (`lib/just_audio_web.dart`):

[code]

and change the last line to this:

[code]

Does it solve your issue?

[2020-09-16 19:27] henoktadesse commented on #131
@ryanheise I was trying to add cached audio inside `ConcatenatingAudioSource`,  the idea is I have a method
`String uri = await getUrlOrFilePathIfDownloaded(mediaItem);`  returns the file path if it is cached and returns downloadUrl if it is not, So I was adding them like this

[code]

this code works in android, plays from cache if it is downloaded and streams if not, the issue occurred when impl

[2020-09-17 02:32] ryanheise commented on #131
Hi @henoktadesse , I have tested file loading on iOS and it seemed to be working. Are you able to narrow it down to a minimal reproduction project? I am not sure if the caching logic would be a necessary part of reproducing the error since by the time it gets to the just_audio API it only takes the provided Uri and tries to load it. So one thing to test is whether you can reproduce the issue from

[2020-09-17 07:57] henoktadesse commented on #131
@ryanheise is there any way that I can share some code with you privately?

[2020-09-17 09:38] alexmercerind commented on #103
@chuoichien @ryanheise I made a little project [here](https://github.com/alexmercerind/flutter_audio_desktop). It can play audio files on Windows 10 & Linux now. I'm ready to help add support for Windows to your this project, if you say. (I'm not pro however 😅).

Thankyou 💝!

[2020-09-17 10:36] henoktadesse commented on #131
I was tweaking around and this code below works without any issues, I think this is enough to say the caching algorithm is working.
[code]

[2020-09-17 14:13] ryanheise commented on #103
@alexmercerind great!

Perhaps the way to go is to use the federated plugin model. I wasn't really a fan of this model for my plugins since I had intended to write all of the platform implementations myself and I thought it would be a maintenance burden to have a separate plugin for each implementation and keep them in sync. However, I believe this model may actually be a potential solution to our

[2020-09-17 14:36] ryanheise commented on #131
@henoktadesse rather than share a private project, what I'll need is a minimal reproduction project. You can fork this project and then use [this code](https://stackoverflow.com/questions/18033151/using-dart-to-download-a-file) to download some audio file into some directory and then pass the file URI for that downloaded file into just_audio. Once you've created the minimal reproduction project, p

[2020-09-17 14:52] henoktadesse commented on #131
@ryanheise  that is a good idea, but the error seems to be gone by wrapping the cached path with `ProgressiveAudioSource`, correct me if it is a misuse of the class but as per the doc it helps to _**represent regular media file such as an MP3**_ it makes sense to use it for this purpose, the code seems like this
[code]

[2020-09-17 15:16] ryanheise commented on #131
@henoktadesse submitting a bug report and minimal reproduction project is not only a good idea, it's procedure and it helps me to investigate your issue. Thank you and I will wait for you to submit one.

[2020-09-17 15:35] alexmercerind commented on #103
😃 Thankyou for your reply!

I'm understanding the situation & your problem with the management of the plugin right now.
But I don't know how can one can distribute the .dll or .so to the users. I think it will just even more responsibility of distribution & management of dynamic libraries as you said, if you decide to use federated model. I feel it will be difficult for both, you & user to setup d

[2020-09-17 15:50] ryanheise commented on #103
Just to be sure we're on the same page, section 6a of the LGPL reads:

If any app developer uses ffmpeg in their app, then they must comply with this license, and this makes it difficult to "legally" distribute an app on the app store or play store where section 6a can't be fulfilled. That is why I do not accept any LGPL-licensed code in just_audio.

But, this issue only exists for mobile apps. Si

[2020-09-17 15:56] henoktadesse commented on #131
@ryanheise  I will definitely do that, thank you.

[2020-09-17 17:39] erickcchoi commented on #173
It works fine now, Thank you very much for your help.

[2020-09-17 17:39] #173 closed

[2020-09-17 18:02] alexmercerind commented on #103
Great! It's good thing that we can separate licenses in federated plugin model. 😁

I just came to know that miniaudio already supports OGG aswell.
Only audio format that seems missing in my sight, is M4A.

Possibly we might not need LGPL'd FFmpeg.

[2020-09-18 02:12] ryanheise commented on #173
I've just fixed it on git master so you can update your pubspec to point to this commit until the next release.

[2020-09-18 02:26] ryanheise commented on #103
I've just had a look at miniaudio and I'm really impressed. Even though it has limited decoder support, I might use this for some other projects just for the mp3 decoder.

I didn't see OGG mentioned in the README.

[2020-09-18 19:27] snaeji commented on #154
Fixed with https://github.com/ryanheise/just_audio/pull/181

[2020-09-18 19:27] #154 closed

[2020-09-21 09:53] UnicornsOnLSD commented on #178
How about MPV? It's GPL 2+/LGPL 2.1+, which could be an issue but MPV should support all platforms, including Android and iOS (https://github.com/ldwardx/mpv-build-mac-iOS).

[2020-09-21 10:09] ryanheise commented on #178
I'll copy a message I wrote on #103 which is also relevant to this discussion:

Note that my comment above on Windows and Linux above would also apply to macOS, and so in theory we could also do this under the federated plugin model which would make it possible for a GPL/LGPL-based implementation to be added as a separate pubspec.yaml dependency. I think this would be a good way to leverage these

[2020-09-21 14:09] zierka commented on #180
@ryanheise I looked into the code and it looks like we could get rid of this requirement of adding microphone usage description.

It seems to me like the only code that could trigger this are `AVAudioSessionCategoryRecord` and `AVAudioSessionCategoryPlayAndRecord` ([here](https://github.com/ryanheise/just_audio/blob/122a90b4fbb1d160ccba1a926fcd43a2282a1cc8/darwin/Classes/JustAudioPlugin.m#L40)), h

[2020-09-21 14:34] ryanheise commented on #180
Unfortunately that won't get rid of this requirement. `setIosCategory` (or something of the sort) is still required, it's just that it has been factored out into a separate library which is linked and therefore still included in your app.

Apple's new app checker is a bit unreasonable given the way the SDKs Apple is referring to work.

So what solutions would work?

1. I could split the audio_sess

[2020-09-21 21:33] Mr-Pepe opened #187 "Play audio from local file in web app"
**Is your feature request related to a problem? Please describe.**
Playing audio from a local file doesn't work in a web app.

**Describe the solution you'd like**
Support out of the box for playing audio from local files in a web app.

Is there a roadmap for this feature?

[2020-09-22 22:13] tmdevlet opened #188 "How play audio from assets?"
This is a code from your sample. Is it possible to add file from assets to MediaLibrary?

await _player.load(ConcatenatingAudioSource(
     children:
       queue.map((item) => AudioSource.uri(Uri.parse(item.id))).toList(),
));

MediaLibrary:

class MediaLibrary {
  final _items = <MediaItem>[
    MediaItem(
      id: "assets/a-1.mp3",
      album: "assets",
      title: "a1",
      artist: "a1",

[2020-09-22 22:13] #188 closed

[2020-09-23 23:30] hacker1024 commented on #103
I'm not too familiar with the federated plugin architecture, but would it be possible to write two decoding implementations, each in their own federated plugin, that connects to the windows implementation plugin?

One could use FFmpeg with the appropriate license, and the other could be a thin implementation that lets miniaudio do the decoding.

This way, users could choose whichever suits their n

[2020-09-24 03:42] ryanheise commented on #103
My understanding is that the app developer could choose one implementation among perhaps multiple alternatives. E.g. they could choose an FFmpeg implemention over another one. I am not sure what you mean by "federated plugin that connects to the windows implementation plugin" in that I don't think alternative implementations would talk to each other and you would only link one of them, but each im

[2020-09-24 04:03] alexmercerind commented on #103
@ryanheise I just noticed that you made a seprate dart file for the web platform. Can I do the same or embed the code in the original just_audio.dart (Making separate file will be easy for me) ?
I have to take a look at playing audio import network... My implementation is just simple & plays local files only right now.

I'm forking your project today & make a good PR soon, as Windows alpha support

[2020-09-24 04:20] ryanheise commented on #103
Hi @alexmercerind , going forward the plan would be to use the federated plugin model mentioned above, so it wouldn't be a separate dart file as is the case for the web platform. But, you can try to get the windows implementation working in any which way, and then integration can wait until we sort out the federated plugin issue. I'll try to have a crack at it on the weekend.

[2020-09-24 12:52] alexmercerind commented on #103
👋 @ryanheise,
I did a bit of stuff in my fork alexmercerind@e67d821c205e85aab789ba7523e8c9b663a7b682

All I did right now is add basic functionality, things like changing playback speed, clipping, looping, playing from assets shouldn't be hard I believe.
I also changed the main.dart of example to make it work on Windows. (Original main.dart is now main-original.dart for now).

I also changed the n

[2020-09-24 13:04] alexmercerind commented on #103
Ah I forgot to say... Don't forget to save the miniaudio.h in the desktop folder of my fork before trying. Rest should go well for now.

[2020-09-24 13:21] ryanheise commented on #103
Well done, @alexmercerind !

You can probably request c# support to the Flutter team (although it probably still won't make FFmpeg any easier to use ;-)

Is there an issue with checking the `miniaudio.h` file into Git?

[2020-09-24 13:25] alexmercerind commented on #103
@ryanheise, 😃
No, there isn't any issue about ```miniaudio.h``` but if you add it then 95% of the code on this repository will be C. So...😅 I didn't add it.

[2020-09-24 13:34] Riz-waan opened #189 "Audio Source from asset"
**Is your feature request related to a problem? Please describe.**
I would love to be able to use mp3s in assets when creating a playlist.

**Describe the solution you'd like**
Maybe in AudioSource class, we can specify whether to load from an asset, file, or URL.

**Describe alternatives you've considered**
I am not sure, I am new to this plugin and it might already exist, but my testings haven't

[2020-09-24 13:41] ryanheise commented on #103
I had forgotten how large that file is :-) I guess it is more like a library. What is the convention for adding dependencies in Windows and Linux plugins? Can it be tied into the build script in some way to automatically download the dependencies?

[2020-09-24 13:43] hacker1024 commented on #103
@ryanheise
Perhaps "federated plugin" was the wrong terminology.
Is there a way to declare some sort of "decoder" interface, and have multiple plugins that can provide an implementation?

As in, a structure like this, where the developer can choose the decoder plugin:

[code]

`just_audio_windows_decoder_miniaudio` could use miniaudio to decode media, and `just_audio_windows_decoder_ffmpeg` could

[2020-09-24 13:48] hacker1024 commented on #103
I feel like that would contradict `pub.dev`'s [policy](https://pub.dev/policy):

Downloading a header from another place would mean the plugin could break at any time, and it's out of `pub.dev`'s control.

This seems to _almost_ violate this part, too:

[2020-09-24 13:50] ryanheise commented on #189
There is a method for loading from assets mentioned in the README. I am not sure if you have read its documentation, but it answers your question.

[2020-09-24 13:52] alexmercerind commented on #103
@ryanheise

Oh, when you push the package to the pub.dev just remove the ```miniaudio.h``` from the .gitignore... so that the miniaudio.h is present in the package. (You don't have to download on user's machine separately).
I'm doing the same in my flutter_audio_desktop & it works just fine.

There is not any specific way of adding the dependencies... I modified the CMakeLists to use the ```miniau

[2020-09-24 13:54] ryanheise commented on #103
@hacker1024 hmm, this is exactly the way that build scripts for Android and iOS/macOS work. If you depend on a large library like ExoPlayer, you do not embed the library into your git repo, you add the download URL in the build script so that it can be downloaded and cached. So I guess the question I'm asking is, what is the equivalent of this for Linux and Windows? It would not make sense to embe

[2020-09-24 13:56] Riz-waan commented on #189
Thank you so much! Found it! Sorry for the trouble.

I was trying to do a playlist and I didn't know how to do it, because I followed the readme, and I looked at the documentation for AudioSource, but once I looked at the setAsset method, I realized that itself was implementing URI and that is what I need to do.

[2020-09-24 13:56] #189 closed

[2020-09-24 13:57] ryanheise commented on #103
I suppose if `just_audio_windows` has a dependency on some other package `just_audio_windows_decoder` which in turn is a federated plugin, there might be a way for an app to specify the deeply nested dependency alternative for `just_audio_windows_decoder` with dependency overrides, although I'm not 100% sure. This is probably a good question for the Flutter team.

[2020-09-24 14:00] hacker1024 commented on #103
Right, but ExoPlayer and its own dependencies all come from the same place. It's unlikely that ExoPlayer's dependencies will go down. If you could upload the single file to `pub.dev` that would be fine, but it would need to be uploaded elsewhere, meaning the plugin (and all older versions) could break if that file goes down. I don't think they allow that kind of possibility in their policy.

[2020-09-24 14:06] alexmercerind commented on #103
Well the conversation went too far about this... miniaudio.h is just about 1 MB... And is in MIT license... So there is no problem (I feel) in including that in the source control.

[2020-09-24 14:26] ryanheise commented on #103
It could be worth posting an issue on flutter/flutter to request some documentation on this. Although in the meantime, I'm fine with checking the file into the repo.

[2020-09-24 15:47] Riz-waan commented on #131
@ryanheise is there a state I can subscribe to, to know when the audio track changes in a ConcatenatingAudioSource? If not what is a workaround you suggest? I just want to be able to change the text displayed on the screen to the name of the file.

[2020-09-24 16:01] ryanheise commented on #131
Hi @Riz-waan have you taken a look at the example?

![just_audio](https://user-images.githubusercontent.com/19899190/89558581-bf369080-d857-11ea-9376-3a5055284bab.png)

[2020-09-24 16:03] Riz-waan commented on #131
No Sorry, I'm pretty new to flutter and the example looked complex, but I'll do it right now!

[2020-09-24 16:11] ryanheise commented on #131
I'll close this issue, and a big thanks to everyone who has helped to test as well as pointed out things that were missing from the API. As a result, the stability has greatly improved. I think there are still some bugs, and missing features (e.g. gapless looping, and querying the duration of nested media sources) although we can handle these as new issue.

[2020-09-24 16:11] #131 closed

[2020-09-25 04:45] alexmercerind commented on #103
Okay, today I'll try to add AAC/M4A & WMA support.

[2020-09-27 10:03] ryanheise commented on #103
I have just finished converting just_audio into a federated plugin. The way this works is that the Linux and Windows implementations would each be defined as a separate package each with its own license.

An implementation can also be "endorsed" which means that the app developer merely adds the dependency for `just_audio` and it will automatically find the endorsed platform implementation and add

[2020-09-27 13:52] ryanheise commented on #187
I assume you are aware of the file system restrictions in web apps.

If it is not working, would you be interested in helping by creating a pull request? Some relevant information is below:

https://w3c.github.io/FileAPI/

I would have expected a file selected via a picker should work in just_audio, although I haven't tested it.

[2020-09-30 22:47] franklink opened #192 "Calling ConcatenatingAudioSource.add causes crash"
First of all, thanks for all the hard work you've put into this library as well as audio_service.

I know this is labeled with an "Untested" comment in code but I need to implement this in my project and my testing discovered this bug.

This happens both in iOS and Android.

**Which API doesn't behave as documented, and how does it misbehave?**

Calling add(AudioSource) on a ConcatenatingAudioSour

[2020-09-30 23:14] hacker1024 commented on #103
Great!

Is there a way at the moment to stop out of date implementations working if there are breaking interface changes?
I imagine version constraints in the plugin's `pubspec.yaml` would be enough.

[2020-10-01 02:11] ryanheise commented on #192
Hi @franklink , I recently changed that code in the 0.5.0 release while converting to the federated plugin model so there is a chance I introduced a bug at that point. Can you test the previous version 0.4.5 and let me know if it still fails? I will need a minimal reproduction project at some point in order to investigate the bug.

[2020-10-01 02:18] ryanheise commented on #103
I'm not sure how pub's magic works, I don't think it's fully documented anywhere, but I was thinking about how it would be able to resolve the dependency version of an endorsed implementation without that version number being mentioned anywhere in my pubspec. I think it "probably" looks at the version dependencies of the endorsed implementation to see what version of the platform interface it depe

[2020-10-01 06:52] kw2019ltd opened #193 "after upgrading to 0.5.0 getting ava.io.FileNotFoundException: assets/mp3/beep.mp3"
W/arcodeisraelap(26640): Accessing hidden method Landroid/media/AudioTrack;->getLatency()I (greylist, reflection, allowed)
I/ExoPlayerImpl(26640): Init eb76d8e [ExoPlayerLib/2.11.7] [OnePlus7T, HD1903, OnePlus, 29]
E/ExoPlayerImplInternal(26640): Source error
E/ExoPlayerImplInternal(26640):   com.google.android.exoplayer2.upstream.AssetDataSource$AssetDataSourceException: java.io.FileNotFoundExcep

[2020-10-01 06:52] #193 closed

[2020-10-03 01:58] kuntadynithesh opened #195 "Custom filename and artist info"
Is there any way that we can show a filename other that actual filename  and artist info on player screen ?

[2020-10-03 01:58] #195 closed

[2020-10-03 20:14] RaphaelRevivor commented on #193
Exactly the same problem here. Using another player works fine.

[2020-10-03 21:28] RaphaelRevivor opened #196 "failed to load local assets using setAsset()"
**Which API doesn't behave as documented, and how does it misbehave?**
setAsset() cannot load local assets. Generated an error: java.io.FileNotFoundException: assets/ding.wav

**Minimal reproduction project**
https://github.com/RaphaelRevivor/just_audio

**To Reproduce (i.e. user steps, not code)**
Steps to reproduce the behavior:
1. Run the Minimal reproduction project
2. Click on the Play button

[2020-10-04 02:23] ryanheise commented on #193
Hi @RaphaelRevivor , sorry if my Bot's message wasn't clear enough. I will try to improve the messaging. When an issue is closed, that means that no further action will be taken on that issue, and you should open a new issue that provides all requested information in the issue template. To elaborate, I have a long list of issues in the backlog, and it takes a lot of my time and effort to get throu

[2020-10-04 03:34] ryanheise commented on #196
Hi @RaphaelRevivor , thanks for the bug report! Can you please try the latest release 0.5.1? It includes a fix for loading from assets.

[2020-10-04 03:51] ryanheise commented on #192
HI @franklink I think I found the issue and have published a 0.5.2 bug fix release. Normally I would wait for you to test it but the fix looked straightforward, and of course I can publish another bug fix release if you report any further issues.

Please let me know whether it works for you and I'll close this issue.

[2020-10-04 08:58] RaphaelRevivor commented on #196
Hi @ryanheise , thanks for the reply! I tested with 0.5.1 and the problem was solved. Issue closed.

[2020-10-04 08:58] #196 closed

[2020-10-04 19:19] GlitchCode-ops opened #197 "ConcatenatingAudioSource - Does not play sounds from file"
Thanks for the awesome plugin you have developed, it is a huge help for our community.

# **Issue**
I am currently using just_audio 0.5.2 and I am trying to use ConcatenatingAudioSource to load audio files that are both located in assets folder as well as audio files from storage. When I use the following code just to load the audio files from assets it works like a charm:

[code]

However, once I

[2020-10-04 19:19] #197 closed

[2020-10-04 19:33] GlitchCode-ops opened #198 "ConcatenatingAudioSource - Does not play sounds from storage"
Thanks for the awesome plugin you have developed, it is a huge help for our community.

**Which API doesn't behave as documented, and how does it misbehave?**

I am currently using just_audio 0.5.2 and I am trying to use ConcatenatingAudioSource to load audio files that are both located in assets folder as well as audio files from storage. It seems I cannot load audio files from storage. I have tr

[2020-10-05 01:25] ryanheise commented on #198
Hi @GlitchCode-ops , thanks for your bug report. Can you please provide a link to the minimal reproduction project?

And under the section "To Reproduce (i.e. user steps, not code)", make sure that it is user steps, not code.

[2020-10-05 01:40] oseiasmribeiro commented on #97
@sachaarbonel thanks!

[2020-10-05 08:12] tommccaff opened #199 "Dependency error using just_audio"
**Which API doesn't behave as documented, and how does it misbehave?**
just_audio

**Minimal reproduction project**
Using the example installation to pubspec.yaml.

**To Reproduce (i.e. user steps, not code)**
Insert the following code under the dependencies section of pubspec.yaml, and attempt to do a pub get:
  just_audio: ^0.5.0

**Error messages**
"""Because every version of flutter_test from

[2020-10-05 09:39] ryanheise commented on #199
I can downgrade this package to use an older version of async.

Another way to get around it is for you to upgrade your SDK, since you have quite an old version that depends on an old version of `async`. Another way is you could use a dependency override to force your preferred old version of async so that you can continue using your old SDK.

[2020-10-05 10:03] ryanheise commented on #199
I've just downgraded the async dependency to 2.4.0 in git master. Let me know if it works for you.

[2020-10-05 10:25] ReaganRealones commented on #160
Hello, I also ran into this issue. I am working on a music streaming app where a user can tap to play a song in an album. So i load the album songs but run into exactly the same thing, it first plays the first song first then jumps to the one. Would be really helpful, setting an index to play would be really helpful :)

[2020-10-05 10:40] ReaganRealones commented on #160
Problem with this is, what if the user taps on the very first song? This would cause the app not to update state for the first song

[2020-10-05 12:15] ryanheise commented on #160
How about this:

[code]

[2020-10-05 12:25] ReaganRealones commented on #160
Yeah, I think this is okay. Just hope playing the first song at index 0 before reverting to the set index always isnt at all expensive , is it?

Also i saw the `useLazyPreparation` property on `ConcatenatingAudioSource` , unable to figure out what it possibly does?

[2020-10-05 12:52] ryanheise commented on #160
Yes, I would expect it to be slower since you have to first await `load()` and then you have to await `seek()`. So it would definitely be better if I were to add this feature natively in the plugin.

`useLazyPreparation` currently has an effect only on Android. It is passed through to the similarly-named feature in ExoPlayer which is documented as follows:

[2020-10-05 13:39] franklink commented on #192
Thanks @ryanheise. Sorry I haven't had a chance to look at this recently. I just tested with 0.5.2 and while it does not crash it does not seem to add to the queue. I will investigate further and provide a project to replicate as soon as possible.

[2020-10-05 18:33] LacErnest opened #200 "Loading audio files from a protected Url"
I'm trying to load audio files from my API but i have nothing loaded.The urls to my audio files are protected by an Authorization Token.
Here is my code :
List<AudioSource> audiosStreams = []; //Initializing my audiosource list
loadRecords() async{
    final records = await databaseHelper.getRecords() as List;
    for (Record record in records) {
        allRecords.add(record);
      }
    for(Rec

[2020-10-05 18:34] #200 closed

[2020-10-05 19:24] GlitchCode-ops commented on #198
I apologize for the inconvenience caused. I have now added the required information.

[2020-10-05 19:29] LacErnest opened #201 "How can i load audio files from protected urls"
**Which API doesn't behave as documented, and how does it misbehave?**
I am currently using just_audio 0.5.2 and I am trying to use ConcatenatingAudioSource to load audio files that are both located in assets folder as well as audio files from storage. It seems I cannot load audio files from storage. I have tried this on Android only.

**Minimal reproduction project**
_playlist = ConcatenatingAudi

[2020-10-06 02:11] ryanheise commented on #198
Not code, please. If necessary, use the file_picker package to pick a file.

[2020-10-06 02:12] ryanheise commented on #201
The instructions asked for a link to your minimal reproduction project, and then under steps to reproduce, this should be user steps, not code.

[2020-10-06 03:51] hacker1024 commented on #103
My app uses some weird codecs, so I'm going to have a go at writing an LGPL-licensed implementation that uses [libVLC](https://www.videolan.org/vlc/libvlc.html).

(It should be able to work on all platforms, in theory.)

[2020-10-06 04:29] ryanheise commented on #103
Cool. It'll be interesting to see how your experience goes with the platform interface!

[2020-10-07 07:15] hacker1024 commented on #103
I've gotta walk before I can run - I'm playing around with libVLC, and I also need to decide whether to use `dart:ffi` or platform channels.

Reasons to use platform channels would be:
- The library can be statically linked, which means apps won't need to ship yet another .dll/.so/.dylib, and the unused parts of the library will be stripped out.
- It's faster to just use C for everything instead o

[2020-10-07 10:27] ryanheise commented on #103
That's an interesting point about platform channels and static linking. Platform channels definitely don't sound like "static linking" in the traditional sense, so I'd be more inclined to just look at whether it is possible for the user to link a different version of the library into the app which seems technically possible even with platform channels. Though, IANAL.

[2020-10-07 22:31] franklink commented on #192
I got a chance to look into this further and look at your commit. In my initial test I had a missing line in my code to update the queue in AudioService. After fixing - add to queue now works as intended with 0.5.2 in both Android and iOS in my testing.

Thanks again for the quick fix as well as these two great libraries. Cheers!

[2020-10-08 01:46] ryanheise commented on #192
Thanks for reporting and testing!

[2020-10-08 01:46] #192 closed

[2020-10-08 08:22] dfdgsdfg opened #202 "Cancel bufferling"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-08 08:24] #202 closed

[2020-10-08 09:58] LacErnest opened #203 "Can't load files from internal storage and play them"
**Which API doesn't behave as documented, and how does it misbehave?**
Jus_audio

**Minimal reproduction project**
https://github.com/LacErnest/just_audio/blob/master/just_audio/example/lib/main.dart

**To Reproduce (i.e. user steps, not code)**
Steps to reproduce the behavior:
1.Launch the app
2.Got to Records tab
3.Playlist is empty
4.so can't play sound

**Error messages**
No error messages

**

[2020-10-08 10:33] ryanheise commented on #203
This project doesn't run as the `pubspec.yaml` is incomplete.

[2020-10-08 10:39] ryanheise commented on #203
Out of curiosity, why did you not fill in this section? I'd like to know if I need to improve the wording of the instructions. The point is to highlight "how" the actual behaviour of some specific API is different from the documentation of that API.

[2020-10-08 10:47] LacErnest commented on #203
[code]

[2020-10-08 10:49] LacErnest commented on #203
Oh my bad i was more focused on the "which" part.

[2020-10-08 12:46] ryanheise commented on #203
With all of said focus, maybe you could have narrowed down the "which" part to something more specific than merely the name of this plugin (and maybe you could have at least spelled the plugin name correctly).

You were asked specifically to "Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.", not just state the name of the plugin

[2020-10-08 12:46] #203 closed

[2020-10-08 13:48] ryanheise commented on #198
Will close this, as it's almost certainly not a bug in this plugin and is probably a bug in your app. If you have evidence to the contrary, you will need to submit a complete bug report as per the instructions.

[2020-10-08 13:48] #198 closed

[2020-10-10 07:28] ryanheise commented on #103
Just as a heads up, I'm about to make a very small breaking change to the platform interface, but I'm going to sneak it in without a bumping the major version since major version bumps are disruptive and all currently published implementations are in this repo anyway so I'll be able to update them all consistently at the same time.

I'll post the details here after I commit/publish it.

[2020-10-11 10:46] RaphaelRevivor commented on #137
Hi,
Any update on this?
I am using _audioPlayer.setLoopMode(LoopMode.one) to play a single soundtrack in a loop. It would be nice to have this feature on iOS.

[2020-10-11 12:02] ryanheise commented on #137
This old message of mine doesn't make much sense :-) Perhaps I was accidentally replying to a different message on the wrong issue.

[2020-10-11 12:05] ryanheise commented on #137
@RaphaelRevivor There is no update on this as there are some more urgent issues to fix first. However, there is a workaround for iOS. Using `LoopingAudioSource` is gapless, although it works by loading multiple copies of the same audio source, so you don't really want to use it for a large loop count. However, If you create a `LoopingAudioSource` with a loop count of 10, and then you also set the

[2020-10-11 14:17] samry commented on #137
Thought I would post this in response to this thread, since it doesn't seem worthy of its own ticket (would be happy to fill it out if you think it is), but do you happen to know if there is a workaround to the small gap that occurs when using a LoopingAudioSource on many iOS Bluetooth devices?  I have had multiple users complain that there is a small gap, or a short lag when using LoopingAudioSou

[2020-10-11 15:00] ryanheise commented on #137
@samry I'm not aware of the Bluetooth issue, but you could try experimenting with the `AVAudioSessionCategoryOptions` in [audio_session](https://pub.dev/packages/audio_session). Let me know if you have success with it.

[2020-10-11 15:05] RaphaelRevivor commented on #137
@ryanheise Thanks for the timely reply! But what you suggested here is probably not very suitable for our app. I will keep looking for other solutions

[2020-10-11 16:32] samry commented on #137
Couldn't get it to work, unfortunately, although some options (Allow Airplay/Bluetooth )seem to produce slightly less of a gap/lag than others.  I'll look into it more if I have the time, but for now, will probably just loop the source files.

I figured there was a chance it just had to do with the resource-intensiveness of Flutter's debug mode, but users ran into it in production too.  Thanks any

[2020-10-12 01:13] ryanheise commented on #137
I'd be interested to know if `allowBluetoothA2dp` does anything for you. I had intended to switch this on by default but it currently isn't.

[2020-10-12 14:42] samry commented on #137
Still no cigar, unfortunately

[2020-10-12 14:45] ryanheise commented on #137
OK, thanks for checking that. If you do discover any information, let me know and I'll implement it into the plugin.

[2020-10-12 17:44] samry commented on #137
Just looked around a little bit this morning and I'm not sure if this is a viable solution, but [this plugin](https://github.com/erickzanardo/ocarina/blob/master/ios/Classes/SwiftOcarinaPlugin.swift) seems to be using an AVPlayerLooper with an AVQueuePlayer as it's player (which just_audio uses, I think?).

I have absolutely no idea how that impacts the plugin and such, but thought it could be hel

[2020-10-12 19:49] samry commented on #137
I can confirm that using the AVPlayerLooper works for getting no latency on Bluetooth looping playback.

[2020-10-12 21:50] dankydev opened #205 "setUrl not working when screen is locked"
**Which API doesn't behave as documented, and how does it misbehave?**
Just_Audio 0.5.2, Android API 30 and 31. When i turn off the screen of the emulator/physical device, i receive the error reported below after calling audioPlayer.setUrl (when the screen is on, everything goes as it should).
Since it seemed to be caused by the Android's sleep policy, i tried changing to the always-on one:

`adb

[2020-10-13 01:00] ryanheise commented on #137
Hi @samry , thanks for that information. It's interesting because AVPlayerLooper actually just uses AVQueuePlayer to do the work, so these should be the same, all else being equal. This makes me suspect that if AVPlayerLooper works, then not all else may be equal. When you say you can confirm AVPlayerLooper works, was it in the context of modifying just_audio or in a completely different codebase?

[2020-10-13 01:19] ryanheise commented on #205
Please read at least the first 3 sentences of the README.

Also in future, please read and follow the instructions in the first section of the bug report carefully.

[2020-10-13 01:19] #205 closed

[2020-10-13 01:58] samry commented on #137
@ryanheise so I've done a minimal reproduction with the just_audio plugin and the Ocarina (which uses AVQueuePlayer with AVPlayerLooper) plugin and the just_audio LoopingAudioSource has a small lag on iOS bluetooth (airpods, headphones, specifically - some speakers are okay) while the Ocarina plugin does not.

I'm going to have an iOS engineer take a look at it tomorrow - I don't have the objectiv

[2020-10-13 02:24] #199 closed

[2020-10-13 02:27] ryanheise commented on #187
Closing due to no response, but comment below if you'd like me to re-open it.

[2020-10-13 02:28] ryanheise commented on #201
Closing due to lack of response.

[2020-10-13 02:28] #201 closed

[2020-10-13 09:18] dankydev commented on #205
1) I read the first 3 sentences, i'm not blind. I specified the method name and how it behaved: what's the point?
2) Since i don't precisely know how just_audio is internally made, i'm reporting an issue here knowing it could be a problem of a third-part library, i've even apologized for that. Next time i won't disturb, or i will directly use another plugin.
3) I managed to solve it by myself, and

[2020-10-13 10:25] ryanheise commented on #205
Please understand that there are many genuine bugs that I need to sort through and fix, and it keeps me extremely busy. If you think you have found a bug, you did the right thing by clicking through to the bug report template, but I have put certain instructions in the bug report template specifically to help me cope with the large number of issues I have in the backlog. They are intended to serve

[2020-10-13 10:39] dankydev commented on #205
Yes, the application implements the latest version of audio_service (0.15.1), and now it seems to work fine with the battery optimization fix i reported. I'll make several tests running the player work for long periods to be sure there are no problems with audio_service. If the error persists, i'll open an issue on that repository.
Thanks for your help, i'll make you know.

[2020-10-13 16:48] snaeji opened #206 "await _player.seek never completes on iOS"
**Which API doesn't behave as documented, and how does it misbehave?**

Calling `await _player.seek(Duration.zero, index:1)` never completes

**Minimal reproduction project**
https://github.com/snaeji/just_audio/tree/issue-branch
https://github.com/snaeji/just_audio/blob/issue-branch/just_audio/example/lib/main.dart

**To Reproduce (i.e. user steps, not code)**
Steps to reproduce the behavior:
1.

[2020-10-13 16:53] snaeji opened #207 "_player.seek() seeks to correct index but only starting position on iOS"
**Which API doesn't behave as documented, and how does it misbehave?**
Calling `await _player.seek(Duration(seconds: 400), index:1)` seeks to index 1, and starts playing from beginning, but displays position 400.

**Minimal reproduction project**
https://github.com/snaeji/just_audio/tree/issue-branch
https://github.com/snaeji/just_audio/blob/issue-branch/just_audio/example/lib/main.dart

**To Repr

[2020-10-13 16:58] gaseline opened #208 "Spaces in local file paths don't work on iOS"
**Which API doesn't behave as documented, and how does it misbehave?**
Calling `setFilePath`  with a path that contains spaces does not work, specified file cannot be found. Even though `File(path).exists()` on the same path returns true.

**Minimal reproduction project**
The example

**To Reproduce (i.e. user steps, not code)**
Steps to reproduce the behavior:
1. Run the app
2. Load a file path t

[2020-10-13 21:50] nuc134r commented on #47
Was thinking a lot about extending existing proxy to allow realtime caching (and even tried) and then stumbled upon #172. Considering that I want to provide data from disk on repeating requests, get notified of caching progress and have an index of cached data I figured that it would be better to set up my own proxy between API and just_audio.

Also I see it as a better approach in terms of plugin

[2020-10-14 01:27] ryanheise commented on #208
Hi @gaseline looking at the code I can see on iOS that file URLs aren't being decoded. Although as you can see, I have a lot of other issues open which I will be working through first. You can elevate the priority of this issue by supplying a minimal reproduction project that contains a file picker so that the "user steps, not code" section doesn't require me to add code, or if you're feeling adve

[2020-10-14 01:41] ryanheise commented on #47
@nuc134r that's an interesting thought to contemplate, although the plan is to eventually have caching support directly in the plugin as I think there are benefits in this case to having it tightly coupled. The proxy is required for other reasons, and it would not actually be difficult to tack caching onto the existing proxy, rather than have a situation where we have proxy upon proxy.

[2020-10-14 04:45] ryanheise commented on #207
Does this issue only occur with large playlists?

[2020-10-14 04:54] ryanheise commented on #206
Thanks for the example. When I tried running init 4, it took a few minutes to actually finish loading the audio source. Not sure if it's the same on a real device, but this in itself is not desirable behaviour so I'll look into that. I can confirm that seek never completes after loading eventually completes.

Init 3 actually gave me errors loading some items. I wonder if the server doesn't like us

[2020-10-14 10:29] snaeji commented on #206
I think the long loading time is just likely to be an emulator problem. Everything loads right away on a physical device.
And I havent noticed any errors when running any of the inits on a physical device.

Not awaiting seek was intentional, my thinking went a little like this...

Init2: Show that position never seeks when index is changed on a large playlist
Init3: Show that position never seeks

[2020-10-14 10:31] snaeji commented on #207
Unfortunately not. In `init3()` loads the `_smallPlaylist` containing 10 songs, and get the same results.

[2020-10-14 12:37] ryanheise commented on #207
That's good to know. I was having problems on the simulator even with `_smallPlaylist` when I first tried your example, so I'll aim to get it working on a playlist of 2 songs.

Since this is likely a concurrency issue, you may have success avoiding the issue meanwhile by awaiting the seek before playing. In terms of a proper solution, my goal is to implement all of these methods so that they can b

[2020-10-14 15:17] snaeji commented on #207
Yeah these simulators can be hard to work on in regards to audio stuff.

Unfortunately with https://github.com/ryanheise/just_audio/issues/206 seeking never completes so play is never called if we await the seek function.

I have also tried some other approaches and they have come down to this.

**Plays from position 0, but displays time 10:**
[code]

**Plays from position 0, but displays time 10:

[2020-10-14 15:52] snaeji commented on #207
I have pinpointed why we don't seek to the position when we are seeking position and index at the same time.

Hope this could guide us in the right direction.

[code]

[2020-10-14 15:59] ryanheise commented on #207
At the top of `AudioPlayer.m` I have this TODO note which I have only partially fulfilled:

This document will help to explain some of the reasoning behind that if condition, however rather than just throw away the seek request, what I planned to do was queue the request until it was ready to play.

[2020-10-14 16:06] ryanheise commented on #207
It will take some care, though, since seeks are used for different purposes throughout just_audio. Sometimes they are used in response to a request from the app, but other times they are used to prepare an item for playback from the correct position when jumping about the playlist. Seek requests that have a nil completion handler should definitely not be queued, for starters.

Also, we don't want

[2020-10-15 02:55] ryanheise commented on #207
I've just committed some code to queue seek requests until the item is ready to play. I haven't fully tested all of your scenarios, but it did work for me on a small playlist of 2 items.

[2020-10-15 11:58] snaeji commented on #207
Thank you responding so quickly to this @ryanheise

I really admire that you're putting in all the work to follow all the guidelines and not taking any shortcuts. In the long term it really makes the difference to the quality of the plugins.

After testing the new implementation for an hour and haven't been able able to find any problems. I'll let you know if I find any bugs.

[2020-10-16 13:22] ryanheise commented on #160
I've just implemented this feature in the latest commit on the master branch:

[code]

By default, the initial index and position will both be zero. Let me know if you notice any issues, and if not I'll put out a release.

Also included in this commit is the ability to call `play()` before `load()` which puts the player into the `playing` state (i.e. play when ready) while the audio source is load

[2020-10-16 13:58] xigxag-dev opened #210 "[iOS only] Can't play HLS faster than 1.0x"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.
`setSpeed(double speed)`
On iOS only, when playing an HLS stream the playback is capped to 1.0x forward (but < 1.0x works).
I suspect it's related to this post: `https://developer.apple.com/library/archive/qa/qa1

[2020-10-16 14:38] ryanheise commented on #210
Yes, it is my understanding from the Apple documentation that you can't exceed speeds of 1.0 for certain types of streams, so your expected behaviour is not actually possible. I have just updated the documentation for this method as follows:

[code]

[2020-10-16 16:04] xigxag-dev commented on #210
Hi - in my application the stream is not a live stream (I can understand that you can't fast forward a live stream).  If I remove the `_player.currentItem.canPlayFastForward` check then my test stream plays fine on iOS at up to 2.0x.  I want parity of features between iOS and Android so I think I will have to fork this and remove that check for now.

[2020-10-16 16:45] ryanheise commented on #210
I see, I'll take another look in the morning.

[2020-10-16 16:48] ryanheise commented on #210
It will help if you can provide a reproduction project (with a specific HLS URL that I should try, since not all HLS media is the same.)

[2020-10-16 17:32] xigxag-dev commented on #210
Hi - It's tough to find audio only, non-live HLS streams on the web and my application server needs authentication so I made a local stream to test with the sample app.
Here's how I tested: If you pull the HLS stream components from here [https://github.com/xigxag-dev/hlstest.git](https://github.com/xigxag-dev/hlstest.git). Then fire up a local http server in that folder - I used `python -m http.s

[2020-10-17 01:18] ryanheise commented on #210
Can you tell me any streams on https://bitmovin.com/mpeg-dash-hls-examples-sample-streams/ match your use case?

[2020-10-17 07:19] xigxag-dev commented on #210
Hi - unfortunately only 2 of those test streams are live and both are video streams.
I have created a bucket on AWS with my test stream data, it works fine as a "server" (and is https so you don't need the `NSAllowsArbitraryLoads` entry) - the URI is here [https://xigxag-hls-test-bucket.s3-eu-west-1.amazonaws.com/prog_index.m3u8](https://xigxag-hls-test-bucket.s3-eu-west-1.amazonaws.com/prog_index

[2020-10-17 10:47] dankydev commented on #205
So, i did many tests and the fix seems to work well.
Anyway, i've posted a question on Stackoverflow regarding audio_service, since it's not certain to be a bug. You can find it here:
https://stackoverflow.com/questions/64401540/audio-service-need-to-ignore-battery-optimizations-to-keep-the-background-servi

[2020-10-17 10:50] ryanheise commented on #205
Hi @dankydev I would still consider this a likely bug in audio_service, and would recommend submitting a bug report on that project. If you submit a bug report with a minimal reproduction project, reproduction steps and device info, it will be possible for me to investigate.

[2020-10-17 16:23] ryanheise commented on #210
Thanks, I'll check it out in the morning. I'm not sure yet what would be the best way to handle this at the API level. If I remove the `canPlayFastForward` check from the code, I could expose this API as another method (an iOS-only method). On the other hand, Android's behaviour is that you just try to set the speed and then observe to see whether the speed actually changed (rather than query in a

[2020-10-18 08:36] xigxag-dev commented on #210
I find the Apple docs quite confusing and hard to follow but this link [https://developer.apple.com/library/archive/qa/qa1772/_index.html](https://developer.apple.com/library/archive/qa/qa1772/_index.html) seems to be official Apple documentation and suggests that `canPlayFastForward` is not always a test of can play at up to 2.0x.

[2020-10-18 08:43] Marekkon5 opened #211 "Casting support"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
Google/Chrome Cast support.
Function which can be called in Dart to retrieve all available devices to cast to, and 2 other functions to connect (and disconnect) on the remote devices.

**Describe alternatives you've considered**
None

**Additional context**
I am assumin

[2020-10-18 10:13] moritz-weber commented on #160
Thanks for your work. `play` before `load` works great and the additional parameters saved me a few lines.
Unfortunately the initial issue still persists: When listening to `sequenceStateStream` the first broadcast index is still 0.

[2020-10-18 10:56] ryanheise commented on #160
I agree it would be better not to have to do this. Looking at the code, I think `currentIndexStream` should emit the correct value for your use case, and if it doesn't, then maybe the platform side of the plugin is doing something unintended.

[2020-10-18 11:07] ryanheise commented on #210
Wow, that is a surprising fact to find hidden away in a Q&A rather than in the API docs.

In short, `canPlayFastForward` isn't talking about > 1.0x it's talking about > 2.0x. I wonder if there are any similar nuances for `canPlaySlowForward`?

I was aware that these queries don't work until the item is ready to play although checking the code I see some extra care also needs to be taken there. The

[2020-10-18 11:44] moritz-weber commented on #160
Yes, this does the trick. Thanks :+1:

[2020-10-18 15:21] xigxag-dev commented on #210
So you also think that's official Apple info? That's certainly how I read it. The developer page for `canPlayFastForward` references "greater than 1.0x" so there is a contradiction here.  Selfishly, for my use case I know all playlist items are derived from the same source so if I "qualify 2.0x playback" then I shouldn't need to test this again.
I also note there is a `isPlaybackLikelyToKeepUp` bo

[2020-10-19 03:19] rmill777 opened #213 "Is it possible to disable library print statements?"

[2020-10-19 03:20] #213 closed

[2020-10-19 12:20] ryanheise commented on #208
Thanks to a pull request from @hsangtini file paths with spaces are now decoded on iOS. It will be included in the next release, but in the meantime you can try it on git master.

[2020-10-19 12:20] #208 closed

[2020-10-19 21:26] creativecreatorormaybenot opened #215 "Duration is `null` on web"
When I call `audioPlayer.duration` on Flutter web after I have called `audioPlayer.setUrl(source)`, the reported duration is `null`.

**Minimal reproduction project**
Provide a link here using one of two options:
1. Link: https://github.com/creativecreatorormaybenot/microphone/tree/main/microphone/example
2. Note that this is the `microphone` plugin example - it directly creates an audio file from

[2020-10-19 21:27] #215 closed

[2020-10-20 06:55] ajsatam opened #217 "Is there any way to skip a song based on certain logic in the playlist"
Some songs in the playlist are premium so if it's not a premium user is it possible to skip certain songs from the queue or playlist.

In processingStateStream or currentIndexStream etc.

[2020-10-20 06:55] #217 closed

[2020-10-20 21:05] creativecreatorormaybenot opened #218 "[web] duration null for blobs"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.

**Minimal reproduction project**
See the `duration-null-on-web` **branch** in [this fork](https://github.com/simpleclub-extended/just_audio/tree/duration-null-on-web).

**To Reproduce (i.e. user steps, not code)

[2020-10-20 21:27] creativecreatorormaybenot commented on #218
I could theoretically also upload the file to external storage and play it from there, but I am interested in playing local audio files, e.g. to play it _before_ publishing :)

[2020-10-20 21:32] creativecreatorormaybenot commented on #218
This might actually be a more complicated issue caused by `MediaRecorder`: https://github.com/muaz-khan/RecordRTC/issues/274

[2020-10-20 21:35] creativecreatorormaybenot commented on #218
It is actually a Chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=642012

The WebM files by Chrome are broken and **not** this plugin.

I will investigate a little bit more before closing.

[2020-10-20 21:37] creativecreatorormaybenot commented on #218
Investigation update:

There appears to be a [workaround to get the duration](https://stackoverflow.com/a/39971175/6509751).
Now, there are two questions:

1. Do you think you can implement this in the plugin?
2. Do you think this should be fixed in the plugin?

[2020-10-20 21:40] creativecreatorormaybenot commented on #218
From my side, I will look into https://www.npmjs.com/package/ts-ebml and see if I can integrate it into the `microphone` plugin as a different workaround.

[2020-10-20 21:45] creativecreatorormaybenot commented on #218
→ the duration works already in Firefox but the replay button does not; maybe that is an issue of the example or another web issue. I might look into that at some point, but not tomorrow because tomorrow I will look at reencoding :)

[2020-10-21 01:04] ryanheise commented on #218
The workaround looks interesting, but there are a number of reasons why a duration may be unknown (e.g. live streams) and the workaround probably shouldn't be used universally in case it has unwanted effects on some types of media. Although maybe it could be an option.

One other option I was considering was to use an existing Javascript media library that tries to transparently handle platform-sp

[2020-10-23 17:02] fabiochen opened #219 "setClip "drift""
I've been experiencing a time "drift" while using Clip on an mp3 file.

This occurs only on Android, iOS seems fine.

Let's say Clip1 is 10s to 20s and Clip2 is 20s to 30s.  Clip2 does not pick up where Clip1 stopped.

So, in order to play 2 clips, sometimes I need to set:

[code]

And sometimes:

[code]

(BTW, great job on just_audio!  I know you've put many hours into this.)

[2020-10-23 17:03] #219 closed

[2020-10-23 17:14] fabiochen opened #220 "setClip time "drift""
**Which API doesn't behave as documented, and how does it misbehave?**
I've been experiencing a time "drift" while using Clip on an mp3 local asset.

This occurs only on Android, iOS seems fine.

Let's say Clip1 is 10s to 20s and Clip2 is 20s to 30s. Clip2 does not pick up where Clip1 stopped.

So, in order to play 2 clips, sometimes I need to set:

[code]

And sometimes:

[code]

(BTW, great job

[2020-10-24 03:32] ryanheise commented on #220
It's that time of week again where I try to devote some time to investigating bug reports and improving the plugin, but actually end up spending all of my time manually responding to people who have tricked the bot and don't want to put in any effort to provide a minimal reproduction project, and yet want me to somehow reproduce the bug and fix it for free, while also taking away my time from help

[2020-10-24 03:32] #220 closed

[2020-10-24 03:40] ryanheise commented on #211
It's a good idea.

Note for later: This may also be possible on iOS via AirPlay.

[2020-10-24 07:42] ryanheise commented on #210
Sincere apologies for the delay. I just tested out the URL you provided and found that it supported speeds of even greater than 2.0x, so `canPlayFastForward` seems completely unreliable. It would then probably not be worth exposing an API for `canPlayFastForward` and `canPlaySlowForward` because these properties are, well, seemingly useless.

While not ideal, it does make the fix relatively simple

[2020-10-24 07:47] xigxag-dev commented on #210
That's great and please don't apologise for a delay, thanks for helping out with this so quickly!

[2020-10-24 12:15] fabiochen commented on #220
Ryan,

I'm so sorry!!!!

This is my first time (ever) submitting a bug on github, and I botched the
whole thing up...

Sorry for all the duress I've caused... Please forgive me.

What you are doing is benefiting thousands of people.   Thanks again for
all the hard work!

On Sat, Oct 24, 2020 at 12:32 AM ryanheise <notifications@github.com> wrote:

--
--
*Fabio Chen*
Senegal: +221.77.438.7950
Brasi

[2020-10-24 12:55] ryanheise commented on #220
No worries, and thank you for understanding even though I may have had some cumulative frustration. It probably wasn't the ideal way for you to be greeted on your first bug report. Obviously from my perspective, it's a bit difficult given the large number of issues I have to work through, to keep on top of things even with the well-formed issues alone, so when someone submits an issue, I have to l

[2020-10-24 17:28] zengkid opened #221 "build error."
I created a new flutter project, I only add  dependencies just_audio: 0.5.4 into pubspec.yaml, and then run, I got below errors.
please help how to fixed the issue.

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:checkDebugDuplicateClasses'.

  java.lang.RuntimeException: Duplicate class com.google.common.util.concurrent.ListenableFuture found in modul

[2020-10-24 17:28] #221 closed

[2020-10-25 01:30] ryanheise commented on #221
Hi @zengkid, just to confirm (as a human) I would appreciate if you can open a new bug report while following the instructions carefully. It should be easy to create a minimal reproduction project by forking this project, and simply adding your own project's pubspec dependencies to it without changing any Dart code. Thanks.

[2020-10-25 06:43] zengkid commented on #221
Hi, @ryanheise thank your reply, I am a human but not a bot.
I just create a new flutter app and add the just_audio: **0.5.4** only, then throw the error when I run the app.

but I found when I use version **0.5.3,** It work fine.

[2020-10-25 08:22] ryanheise commented on #221
I didn't mean that you are bot, I programmed the bot that replied to you above. Too often people don't read the message in that reply so I'm just reaffirming it myself (as a human)  so that you're more likely to follow it. As mentioned by the bot and also by me personally can you please open a new issue following the instructions carefully and providing a minimal reproduction project? I have expla

[2020-10-25 16:34] ryanheise commented on #210
The fix has now been published in release 0.5.5.

[2020-10-25 16:36] ryanheise commented on #207
This fix is now included in release 0.5.5. Assuming things are now working for you, I'll close this issue.

[2020-10-25 16:36] #207 closed

[2020-10-25 18:05] rajeshjeshar opened #222 "How to Play Music Stored on Phone/SD Card?"
[code]

Tried a lot to play an audio file from storage,but it throws exception "headers required".
Why there is no proper example for this?Example code is fully focusing on the streaming auido files alone?Is this Good?
Please Let me know if any example snippet is given.

[2020-10-25 18:06] #222 closed

[2020-10-26 10:11] puntodamar opened #223 "Save to file?"
**Is your feature request related to a problem? Please describe.**
Basically it's like whatsapp/telegram where you stream & download the audio at the same time

**Describe the solution you'd like**
 The user wont have to stream again if it's already saved in device, just play it directly

**Describe alternatives you've considered**
-

**Additional context**
-

thank you for your response

[2020-10-26 10:14] ryanheise commented on #223
I believe this is a duplicate of another open issue #47 . I will reopen if you feel it's different.

[2020-10-26 10:14] #223 closed

[2020-10-26 10:59] aljibbs opened #224 "HTTP Headers For Player"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I have audios on a server that requires authentication headers to get the audios. Is there a way with this plugin to set headers for the player to play audios in such instances ?

**Describe alternatives you've considered**
Currently, I have taken down the auth to enable the player access th

[2020-10-26 11:15] aljibbs commented on #88
Any feedback on this yet ?

[2020-10-26 13:23] ryanheise commented on #224
To be specific, can you tell me which API method or constructor call you are currently trying to pass the URL into, and exactly what parameter you are proposing to add to it that's not already there? As evidence that it's not already there, it will help if you can point me to the documentation page for the specific method/constructor you're proposing to change.

[2020-10-26 13:30] ryanheise commented on #88
No update, sorry. Although it would be a useful feature to have, it's not the highest on my own priority list. Although pull requests would definitely be welcome if someone is willing to contribute in this area.

[2020-10-26 21:49] aljibbs commented on #224
What I am trying to ask is this, is it possible to set request headers to the player, if yes how is it done if not, it'll be a great feature to have considering a scenario where an audio is behind a url that needs an authentication header.

[2020-10-27 01:19] ryanheise commented on #224
I will close this feature request since it is a question rather than a feature request.

Note that this GitHub issues page is intended solely for contributing to the development of the plugin, and it is not for asking for help or general support. I have provided a link on the "New issue" page for people who are asking for help and you should probably follow that link instead.

There are two links.

[2020-10-27 01:19] #224 closed

[2020-10-27 09:53] silver-cap commented on #56
for iOS, not yet? If somebody helps, very very thanks.

[2020-10-27 11:07] ajsatam opened #225 "No podspec found for `just_audio_web` in `.symlinks/plugins/just_audio_web/ios`"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.
While compiling it gives the error
No podspec found for `just_audio_web` in `.symlinks/plugins/just_audio_web/ios`
and the execution stops
**Minimal reproduction project**
Provide a link here using one of two opt

[2020-10-27 12:22] ryanheise commented on #225
HI @ajsatam

Can you please insert the output of `flutter doctor` where indicated?

Also, since you're testing the iOS build, it would be helpful if you could run the build outside of Android Studio. Can you try just running it from the terminal with `flutter run`?

[2020-10-27 12:26] ryanheise commented on #225
Just tried building on iOS using `flutter run` and it worked for me. So the only way I can understand the difference between our environments is if you can share details such as the output of `flutter doctor`.

[2020-10-27 12:39] ajsatam commented on #225
sure, please find below.

[✓] Flutter (Channel stable, v1.17.1, on Mac OS X 10.15.3 19D76, locale en-IN)
    • Flutter version 1.17.1 at /Users/macmini/Developer/flutter_1_17_1
    • Framework revision f7a6a7906b (6 months ago), 2020-05-12 18:39:00 -0700
    • Engine revision 6bc433c6b6
    • Dart version 2.8.2

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
    •

[2020-10-27 12:46] ryanheise commented on #225
Thanks. Your versions of almost everything are old, so I would first suggest that you upgrade your software to the latest available.

[2020-10-27 12:54] ajsatam commented on #225
When I run it separately it works i.e. by including only the plugin with audio_service. But when I include it in my project it gives this error.

Due to a specific plugin I have to use the current dart version as it does not work on the latest.

[2020-10-27 12:56] ryanheise commented on #225
I'm not understanding you. You told me in your report that the problem was reproducible when running the example project, but now it seems you're telling me that it works when running it separately, which means that the example SHOULD work.

[2020-10-27 13:00] ajsatam commented on #225
Sorry my bad. I forgot to remove that line from the new github reply template.

[2020-10-27 13:17] ryanheise commented on #225
Closing since no minimal reproduction project was provided, and you're on outdated software.

If you are able to establish a reproducible bug in just_audio on the latest software, and provide a link to a minimal reproduction project as per the instructions, I will reopen.

[2020-10-27 13:17] #225 closed

[2020-10-27 14:20] ktoosiu opened #226 "Cache/Download streamed audio file"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When i'm playing audio from online source using i.e. HlsAudioSource or AudioSource.uri I'd like to be able to local cache/download this audio file

**Describe alternatives you've considered**
I can play audio and separately download it, but it's not good solution

**Additional context**
n/a

[2020-10-27 14:34] ryanheise commented on #226
The same feature request only yesterday so I'll close this as a duplicate of #223 which itself was a:

Duplicate of #47

[2020-10-27 14:34] #226 closed

[2020-10-28 17:19] esDotDev commented on #97
Any chance you might add this? It's not present in any music libraries for Flutter currently, and would be really nice to be able to build visualizers.

[2020-10-28 19:59] slimyTextBox opened #227 "Execution failed for task ':app:checkDebugDuplicateClasses'."
Build failed with exception when the package is included in the project: just_audio 0.5.5

I posted the bug on flutter page also
https://github.com/flutter/flutter/issues/69236

This exception is reported on the link below, I tried most solutions on that page to no av
https://github.com/flutter/flutter/issues/49938
Failed solutions:

1- deleting build folder

2-
flutter channel stable
flutter upgr

[2020-10-28 19:59] #227 closed

[2020-10-28 20:06] slimyTextBox opened #228 "Execution failed for task ':app:checkDebugDuplicateClasses'."
**Which API doesn't behave as documented, and how does it misbehave?**

Build failed with exception when the package is included in the project: just_audio 0.5.5

 posted the bug on flutter page also
flutter/flutter#69236

This exception is reported on the link below, I tried most solutions on that page to no av
flutter/flutter#49938
Failed solutions:

1- deleting build folder

2-
flutter channel

[2020-10-29 01:25] ryanheise commented on #228
Hi @slimyTextBox it seems you forgot to fill in the most important section of the bug report which is the "minimal reproduction project". I'm not sure if you actually "forgot" because you were reminded of it very recently. Here is the reply you got from the previous time you opened this issue:

Did you read that? The sooner you provide that the sooner I can help you.

It also mentions it at the to

[2020-10-29 11:37] klitzouille opened #229 "Allow ConcatenatingAudioSource assets to be loaded "on the fly" instead of all at once"
**Is your feature request related to a problem? Please describe.**
When loading a ConcatenatingAudioSource with a lot of assets (200+ audio of 2-10 seconds), it takes up to 5 seconds to finish, and therefore audio playing is delayed by this amount of time.

**Describe the solution you'd like**
It would be great if the load method could provide an additional parameter to specify if we want assets l

[2020-10-29 12:10] ryanheise commented on #229
Have you noticed this behaviour on iOS or Android or both? Are the individual items local or remote?

There is an in `ConcatenatingAudioSource` called `useLazyPreparation` which currently only has any effect on Android, but if I find a way to do it on iOS as well, I will add it.

[2020-10-29 12:26] klitzouille commented on #229
I noticed this behaviour on Android, for local items. I already use the useLazyPreparation parameter, but the "initial preparation steps (e.g., manifest loads)" mentionned in exoplayer doc doesn't seem to work.

Here is the code I use :

`ConcatenatingAudioSource source = ConcatenatingAudioSource(
     children: _assets.map((e) => AudioSource.uri(Uri.parse('asset:///assets/' + e))).toList(),

[2020-10-29 12:40] #160 closed

[2020-10-29 12:49] ryanheise commented on #229
It could be that this option also needs to be set on the player.

Can you try editing your copy of the plugin and changing the `ensurePlayerInitialized` method inside of `AudioPlayer.java` to this?

[code]

It would be interesting to know whether this option needs to be set in both places, or whether one option overrides the other.

[2020-10-29 14:44] klitzouille commented on #229
Still no luck, I setup a minimal reproducible project here if it can help : https://github.com/klitzouille/just_audio_test
It uses just_audio plugin updated as adviced in your previous response, located here : https://github.com/klitzouille/just_audio

[2020-10-29 15:11] ryanheise commented on #229
Probably in that case the bottleneck is in the extracting of the assets. When you use an `asset://` URI, the plugin extracts the asset into a temporary file before playing it. What you should probably do is extract the assets yourself outside of the plugin on the first time the app is installed and loaded, and then pass `file://` URIs into the plugin.

[2020-10-29 17:39] klitzouille commented on #229
That did it, thank you for your help.

[2020-10-29 17:39] #229 closed

[2020-10-30 01:05] ryanheise opened #230 "Stream assets directly from the asset bundle"
**Is your feature request related to a problem? Please describe.**
Currently assets are extracted from the asset bundle into a file, played from the file, then deleted on dispose. This can be inefficient if the amount of data involved is large, and there is a risk that the app doesn't call `dispose` leaving the temporary files undeleted.

**Describe the solution you'd like**
Use the existing proxy

[2020-10-31 03:25] slimyTextBox commented on #228
After some trial and error it seemed like there is a conflict between the package and some Firebase packages, but then when I upgraded JDK 14=>15 the issue was resolved.

[2020-10-31 05:19] ryanheise commented on #228
I'll close this issue then, although there is still something here that I would have liked to investigate had you provided a minimal reproduction project.

[2020-10-31 05:19] #228 closed

[2020-10-31 22:27] jlucas577 opened #231 "Error trying to compile for iOS"
Hello, I'm trying to compile an application that uses this library, but I'm getting the following error when trying to perform the procedure:

[!] No podspec found for `just_audio_web` in `.symlinks/plugins/just_audio_web/ios

[2020-10-31 22:27] #231 closed

[2020-11-02 02:30] garlicgit opened #232 "Streaming Audio/mpeg type"
Getting errors, below, when streaming a HTML type audio/mpeg. Specifically:

http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-eieuk

Can you comment on whether this type of streaming source is supported, and if so, how to set audiosource.

Thanks.

Leads to these messages:

advance to next on error: index = 1
advance to next on error: index = 2
LEAVE BUFFERING: enqueueFrom !playbackBufferEmpty
EN

[2020-11-02 02:31] #232 closed

[2020-11-02 02:36] garlicgit opened #233 "Stream audio/mpeg"
**Is your feature request related to a problem? Please describe.**
Errors when streaming: http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-eieuk

**Describe the solution you'd like**
I would like to know if this stream is supported, and if so, how to set audiosource etc so it can be played

**Describe alternatives you've considered**
N/A

**Additional context**
Errors when attempting to play:

ad

[2020-11-02 03:00] ryanheise commented on #233
Hi @garlicgit

If you can research specifically what type of media or stream you want supported (in detail) and for what platform, that will help me to implement it.

[2020-11-02 03:03] garlicgit commented on #233
In the HTML it says the type is “audio/mpeg”. But I will also see if I can get more information. Not sure how yet, but will try.

Mark

[2020-11-02 03:06] garlicgit commented on #233
This is on W3.org:

If the "audio/mpeg" MIME-type is used, an MPEG Audio Frame is a sequence of bytes that conform to the frame() syntax element specified in Section 2.4.1.2 of ISO/IEC 11172-3:1993 or the corresponding definition in ISO/IEC 13818-3:1998.

[2020-11-02 03:42] ryanheise commented on #233
The official example uses the same basic content type, but there's more to it than that: the headers are also important and so is the platform. If you're dealing with iOS, then you need to comply with Apple's requirements for headers which I believe has come up in a previous issue.

[2020-11-02 09:13] ayyshim commented on #227
If you are still struggling with the issue try adding
`implementation 'com.google.guava:listenablefuture:9999.0-empty-to-avoid-conflict-with-guava'`
inside dependencies in your `android>app>build.gradle`  file. It worked for me.

[2020-11-02 09:41] ryanheise commented on #227
@ayyshim thanks for contributing, and yes hopefully it helps others. I'd like to suggest this in the README, but first I want to reproduce the issue for myself so I'll wait for someone to post a complete bug report with a reproduction project.

@slimyTextBox if you're still reading, it would be a valuable contribution to the plugin if you could submit that. Simply "(adding) just_audio 0.5.5 packag

[2020-11-05 01:53] lain-ke opened #235 "Webm not playing on iOS"
**Which API doesn't behave as documented, and how does it misbehave?**
So my app gets links dynamically, some are _webm_ files from YouTube (I don't know if this matters but when you try to preview the url it forces the download of the file). The name of the file is always _videoplayback_, no extension or nothing.

An example of the url is: [https://r1---sn-8vq54voxn25po-cjoz.googlevideo.com/video

[2020-11-05 02:41] ryanheise commented on #235
The iOS APIs unfortunately don't support all codecs, particularly ones associated with Google ;-)

I'll leave this issue open, since theoretically this is possible to implement (e.g. [OGVKit](https://github.com/brion/OGVKit)).

However, in the meantime, you might try requesting the audio from YouTube in a different format (assuming you have a license to use YouTube in this way), or using a server-

[2020-11-06 15:40] fuzing opened #236 "For IOS - resources are not being released for network play"
**Which API doesn't behave as documented, and how does it misbehave?**
The dispose method for the audio player does not seem to be releasing resources on the native side.    Specifically, playing network based audio files results in buffers that do not seem to be being released/freed.

This results in a catastrophic memory leak that is causing IOS devices to crash, and for our apps to be rejected

[2020-11-06 16:48] ryanheise commented on #236
Thanks for reporting this and providing an easy way to reproduce it (this is also an unusually specific and helpful error message).

Note that you don't need to dispose the player, you should be able to just load a new audio source into the existing player (or at least that's the intention). If this works as intended, it should also alleviate your memory issue.

Looking at the dispose code, I see

[2020-11-06 18:45] fuzing commented on #236
No worries - and thanks Ryan

FYI - I did try using the strategy of holding a single player and then reusing without disposing because I figured that maybe a re .load may help   ....... alas - no joy!

I also tested over a range of VMs and a couple of devices - consistent.

Let me know when you see something so I can patch.

Be well, and thanks for your efforts.

[2020-11-06 19:12] fuzing commented on #236
Once this is sorted out, I don't whether it might be worth exposing a public .dispose() method on AudioSource objects.   It may be more trouble than it's worth (in terms of people inadvertently .disposing() while in use and those side-effects etc.), but perhaps something to think about.

Let me know if you'd like assistance with this (my Obj-C and/or Swift coding expertise is at the level of an in

[2020-11-07 07:40] ryanheise commented on #236
Hi @fuzing , can you try the latest version on git master? I haven't fully tested it, so I'll want to do some testing in conjunction with audio_service (modifying the memory management code always has the risk of introducing another bug).

This is an area of the code I certainly should review at some point. There is currently a difference between the iOS and Android implementations where Android w

[2020-11-07 11:07] fuzing commented on #236
@ryanheise - we've done some testing - so far, so good.   We've put it through the paces on some VM's and several physical devices.   A little later we'll flog harder - but memory is definitely being released.

I can't thank you enough for getting onto this so quickly - it really means a lot.  Thank you!

Peter B

[2020-11-07 13:51] fuzing commented on #236
@ryanheise - we've hit it pretty hard and for our use case things look great (again - thank you).   One last favor - because I'm going to remain pointed at 'master'...... would you mind letting me know here just before you commit a new version so I can switch to it instead of remaining on 'master'.    Also, is there anything in development that's on master right now that you'd consider unstable/ne

[2020-11-07 14:21] ryanheise commented on #236
No problem! I appreciate equally that you discovered and reported the issue, and tested the fix.

The only other change since the last release was to change the default parameter value for `useLazyPreparation` from false to true (this affects only Android, and only if you're using `ConcatenatingAudioSource`). So I wouldn't expect that to cause any issues, however, if you do point to `master` it wo

[2020-11-07 14:34] fuzing commented on #236
Perfect - thank you.  And I'll subscribe to the feed.   I don't use Concat's (I do use looping though).    Everything seems to work fine...... I'm dying for you to implement true seamless/gapless on IOS (<---- I know..... how terrible of me - what a nag!)

[2020-11-07 19:29] Mr-Pepe commented on #187
Thanks for the reply and sorry for the late response.

I have never done any web development before, so I had to play around a bit first. I use the [file_picker](https://pub.dev/packages/file_picker) package to select a file, but as you pointed out, the file is not available via the path. I can get the raw byte data of the file, but now I am stuck when it comes to actually using it. From what I un

[2020-11-07 19:41] Mr-Pepe commented on #187
Is it because just_audio looks for the URI in the actual file system and not the in-memory one? Can I somehow pass the file directly to the player?

[2020-11-07 20:31] tcerven opened #237 "Example doesn't build, fails with "[!] No podspec found for `just_audio_web` in `.symlinks/plugins/just_audio_web/ios`""
1. Create new flutter_app
2. Add just_audio: ^0.5.5 to pubspec.yaml
3. Replace main.dart with the example
4. Run on iPhone 12 Pro Max 14.1 simulator using xcode 12.1

Full output:

`Launching lib/main.dart on iPhone 12 Pro Max in debug mode...
Running pod install...                                              1.0s
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting ta

[2020-11-07 20:31] #237 closed

[2020-11-07 20:41] tcerven opened #238 "Example won't build, fails with "[!] No podspec found for `just_audio_web` in `.symlinks/plugins/just_audio_web/ios`""
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.

**Minimal reproduction project**
Provide a link here using one of two options:
1. Fork this repository and modify the example to reproduce the bug, then provide a link here.
2. If the unmodified official example

[2020-11-08 01:31] ryanheise commented on #238
I tried your reproduction steps but it worked fine fo rme. Can you please upgrade to the latest Flutter SDK and Xcode?

[2020-11-08 09:58] ryanheise commented on #238
Can you confirm these reproduction steps? Does it really happen if creating a new flutter project? i.e.:

In the off chance that that's not the case, can you try cleaning your build files from Xcode?

[2020-11-08 10:29] ryanheise commented on #236
FYI, version 0.5.6 has now been released including this fix.

(Regarding the gapless feature on iOS for repeat mode, this is a bit tricky to implement, although possible. So it's not something I can do quickly, unfortunately.)

[2020-11-08 10:29] #236 closed

[2020-11-08 14:09] fuzing opened #239 "Audios above a certain size/length fail to loop and cause weird behavior - IOS and Android"
**Which API doesn't behave as documented, and how does it misbehave?**
Looping fails when audio is above a certain size/length, resulting in (in the example):
   1. Audio plays from start to finish (ocean plays for around 52 seconds)
   2. Followed by a period of silence (in this case 03:23 of silence)
   3. Repeat at 1

Note that I have replicated the issue on master and 0.5.5, and 0.5.6 (which j

[2020-11-08 15:43] bacr opened #240 "iOS: load with initialIndex greater than previous playlist size fails"
**Which API doesn't behave as documented, and how does it misbehave?**
`load `with `initialIndex `greater than previous playlist size fails on iOS (Android works)

**Minimal reproduction project**
https://github.com/bacr/just_audio/blob/master/just_audio/example/lib/main.dart

**To Reproduce (i.e. user steps, not code)**
Run example

**Error messages**

[code]

**Expected behavior**
Example will p

[2020-11-08 16:32] tcerven commented on #238
I upgraded to the latest Flutter and xcode. I tried cleaning the build files. Same problem. I did have a similar problem with different plugin that used pods but now that one works after the flutter upgrade:

`flutter --version
Flutter 1.23.0-18.1.pre • channel beta • https://github.com/flutter/flutter.git
Framework • revision 198df796aa (3 weeks ago) • 2020-10-15 12:04:33 -0700
Engine • revision

[2020-11-09 01:16] ryanheise commented on #238
Did you clean through the Xcode menu or did you do `flutter clean`?

Can you update your bug report with a valid minimal reproduction project?

[2020-11-09 02:30] ryanheise commented on #239
The audio file contains 03:23 seconds of silence when I check in audacity, so it seems to be working as expected.

[2020-11-09 03:26] fuzing commented on #239
Hi Ryan,

If that's the case I apologize for wasting your time.  Let me check the
file.  Possibly my own stupidity.

Many thanks,

Peter B

On Sun, Nov 8, 2020, 7:31 PM ryanheise <notifications@github.com> wrote:

[2020-11-09 03:29] fuzing commented on #239
We can definitely close this out...... my fault.  Rookie mistake..... sorry.

On Sun, Nov 8, 2020, 8:26 PM Peter Beresford <peter@fuzing.com> wrote:

[2020-11-09 11:11] ryanheise commented on #239
No worries, happily it turned out to be something easier to deal with!

[2020-11-09 11:11] #239 closed

[2020-11-11 06:31] Basums opened #241 "I found that for Android system /storage/emulated/0/Android/data/com.example.recording/files/recorder_1605022820835.wav The audio file will have an error"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.

**Minimal reproduction project**
Provide a link here using one of two options:
1. Fork this repository and modify the example to reproduce the bug, then provide a link here.
2. If the unmodified official example

[2020-11-11 20:59] timilehinjegede commented on #238
I have this same issue!

[2020-11-11 21:17] timilehinjegede commented on #238
I fixed it after following the steps below:

1.  Deleted the **ios** directory
2. Run` flutter create .`
3. Change to the **ios** directory (`cd ios`).
4. Run `pod deintegrate `
5. Run `pod install`

[2020-11-12 20:58] kcrebound opened #242 "HLS support for Web"
**Is your feature request related to a problem? Please describe.**
Cant play HLS in the web

**Describe the solution you'd like**
Can't find info about the problem with HLS for web, any plans?

**Describe alternatives you've considered**
I can use it without HLS, but with huge audio files, it is a big problem.

[2020-11-13 01:42] ryanheise commented on #238
@tcerven can you confirm this?

First, in terms of cleaning the iOS build files from the Xcode menu (or running `pod deintegrate/install`), did that alone fix the error? Did it overcome the error but reveal a second error? If you still had an error, did `flutter create .` resolve it?

[2020-11-13 02:29] ryanheise opened #243 "Add unit and integration tests"
**Is your feature request related to a problem? Please describe.**
Testing is currently manual and laborious.

**Describe the solution you'd like**
Automated tests.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2020-11-14 03:57] timilehinjegede commented on #238
If after trying the above solution and the error still persists. This is because you don't have a valid `podspec` file in the `just_audio_web` directory.

1. Go to the `ios` directory of your Flutter project.
2. Find .symlinks > plugins > just_audio_web > ios
3. Rename the generated podspec file to `just_audio_web.podspec`

I have sent a PR to fix this.

[2020-11-14 07:20] #238 closed

[2020-11-14 08:27] ryanheise commented on #147
I just stumbled upon the API needed to implement this on iOS, and it seems that yes, it will probably be easier to do it inside of just_audio.

First, we create an `AVMutableAudioMix` and set it in `AVPlayerItem.audioMix`. To this audio mix's `inputParameters` array we add an instance of `AVMutableAudioMixInputParameters`. And on this instance we can access the `audioTapProcessor` through which it

[2020-11-14 08:32] ryanheise commented on #97
That would allow for a rudimentary visualiser, although probably what we want is something equivalent to Android's API, so we'd want to do a FFT on the audio signal.

After accidentally stumbling upon it, it seems there is a way to do this. First, we create an `AVMutableAudioMix` and set it in `AVPlayerItem.audioMix`. To this audio mix's `inputParameters` array we add an instance of `AVMutableAudi

[2020-11-14 08:50] ryanheise commented on #238
Thanks, @timilehinjegede I've merged your PR. Note that the existing file wasn't auto-generated, I had copied it from the `url_launcher` plugin which served as a template for creating a federated plugin, and did various substitutions to use the just_audio package name (but forgot the file name!). It's a weird quirk that a web plugin needs an `ios` directory with a podspec, although from memory tha

[2020-11-14 09:09] timilehinjegede commented on #238
Thanks for the clarification @ryanheise!

[2020-11-17 14:33] ryanheise commented on #243
Unit tests now implemented.

[2020-11-17 19:41] pstromberg98 commented on #97
@ryanheise I think the best solution for audio visualization is providing a clean way to subscribe or retrieve the samples/buffers of audio data. Providing a way to pull in the raw PCM data would allow for more than just FFT analysis but would open the door to nearly any other type of audio analysis.

I imagine the api would be a simple stream on the audio player called `rawDataStream` or somethin

[2020-11-18 01:46] ryanheise commented on #97
@pstromberg98 that's possibly a good idea. Looking at the Android Visualizer API, it actually provides both the FFT data and the waveform data, so we could do the same.

Although you could argue we only need the latter, both Android and iOS provide us accelerated implementations of FFT which we should take advantage of.

[2020-11-18 02:01] pstromberg98 commented on #97
@ryanheise Totally! It would be super nice for the library to provide the fft and I don’t see any harm in providing that. I was mainly saying in the case of having either on or the other it would probably be better to provide the raw waveform just in case users wanted to do other analysis and transforms on the data. But having both would be slick!

[2020-11-18 02:42] bacr commented on #240
Hey, @ryanheise! Did you have a chance to look at this?

[2020-11-18 13:13] ryanheise commented on #240
Hi @bacr , sorry for the delay. I believe I have now fixed this. Can you try out the latest code on the master branch?

[2020-11-19 01:46] ryanheise commented on #235
I am keeping this open for the reason stated above.

[2020-11-20 02:52] bacr commented on #240
@ryanheise thanks! Looks like it's working now.

[2020-11-20 02:53] ryanheise commented on #240
Excellent! Thanks for confirming that, and it will be included in the next release.

[2020-11-20 02:53] #240 closed

[2020-11-20 14:25] Okladnoj commented on #56
**This is a very egregious question !!**! And there are still no solutions (((

I spent **3 days** on the Internet looking for a solution, but I did not achieve my goal.

**Dear Developer please help us**. Metadata is a very important part of any music file.
In the modern world without the name of the composition - no one needs you!

**I will attach the results of my searches**. I really hope that

[2020-11-20 14:30] Okladnoj commented on #56
@Jei
Please help us. tell me at least what needs to be changed at:
**Projectios \ Runner \ AppDelegate.swift**

some kind of temporary solution.

I hope my searches, in the previous post, will help you

[2020-11-20 15:02] ryanheise commented on #56
I agree that this would be a very worthwhile feature to have on iOS, although please do keep in mind this is a collaborative effort. I will have my own priorities for which feature I will implement next (e.g. a visualiser and equaliser, or gapless looping), but other contributors may also have their own priorities, so if you can't wait for me alone to implement every single feature, it will just t

[2020-11-23 19:06] mohammadne opened #246 "shuffle and looping functionality"
**Which API doesn't behave as documented, and how does it misbehave?**
on shuffeled mode when it's true and:
1. when we call ```player.seekToNext```
2. when we request to seek to a new index

**Minimal reproduction project**
"The example"

**To Reproduce (i.e. user steps, not code)**
Steps to reproduce the behavior:
1.in example project, set shuffeled mode to true
2. play

**Error messages**
there

[2020-11-24 00:35] defsub opened #247 "ConcatenatingAudioSource insert needs _setup"
**Which API doesn't behave as documented, and how does it misbehave?**

insert() and related methods in ConcatenatingAudioSource do not work - code says these are untested. After tracing through the differences between load() and insert() I noticed that _setup() wasn't being called on newly inserted items. Adding _setup() makes the insert work and playback to work correctly.

Note that my project

[2020-11-25 06:58] mohammadne commented on #246
Hi @ryanheise

to be honestly, I preferred assigning handling shuffling and looping tasks to the developers.
but because you implemented those features in your library, I think we have flexibility for handling them or at least it should meet the above expectations.
Thanks.

[2020-11-25 16:37] ryanheise commented on #246
Hi @mohammadne , yes I agree with expected behaviour (1), and (2) might be a good idea.

but because you implemented those features in your library, I think we should have more flexibility to handle them or at least it should meets the above expectations.

Shuffling needs to be supported directly by the plugin in order to achieve gapless playback. However, I can consider adding options for custimi

[2020-11-26 13:12] ryanheise opened #249 "Allow player instance to be resurrected after dispose."
**Is your feature request related to a problem? Please describe.**

On Android, a player instance is resource heavy and should be disposed of whenever its not in use. But after releasing those resources, it is possible the app may want to start playing audio again. Currently a player instance cannot be used after it has been disposed.

**Describe the solution you'd like**

Rename the `dispose` met

[2020-11-28 01:13] ryanheise opened #250 "Support null safety"
**Is your feature request related to a problem? Please describe.**

This plugin can't be used with null safety enabled.

**Describe the solution you'd like**

Create a null safety preview release.

**Describe alternatives you've considered**

None

**Additional context**

The dependencies must be migrated to null safety first. All dependencies have been migrated already except for audio_session.

[2020-11-28 01:19] ryanheise commented on #250
Waiting on https://github.com/ryanheise/audio_session/issues/11

[2020-11-30 15:25] BartusZak commented on #99
@Jeremiah104 Have you guys figured out how to generate and pass headers dynamically?
I'm working on HLS Audio player and need to create header (SigV4) per file from S3.

[2020-11-30 16:15] ryanheise commented on #99
@BartusZak

I've written API documentation for every method and constructor in this plugin and I'm sure that if you read the API documentation for whichever method you're using, you will either find the answer to your question, or you will at least be in a position to submit a documentation request so that I can clear up any confusing documentation.

[2020-11-30 16:52] defsub commented on #99
AudioSource.uri allows you to pass headers. I stream from s3 doing something similar. In my case I need to pass a cookie to the server and if the cookie is valid, the server will redirect to a presigned time-based s3 url to stream the media. From the UI side you can use MediaItem extras to pass along header information and within your player task extract headers from extras and use with AudioSourc

[2020-11-30 18:03] ryanheise commented on #99
Well that's certainly a much more helpful response than mine :-) But in my defence, I am more concerned with using GitHub for project development and using StackOverflow for community support. It's a bit overwhelming to manage otherwise.

To that end, let's keep these GitHub pages focused on the improvement and development of the plugin. In what ways can the documentation be improved (@BartusZak ?

[2020-12-03 16:41] ryanheise commented on #247
Thanks for spotting that! Your solution seems reasonable.

I am sorry for the delay as I am working on some higher priority features. If you are interested in seeing this happen earlier, you might like to consider creating a pull request with your proposed solution, and assuming it works correctly I would be happy to merge it.

(See #204 for a similar pull request in the same section of code.)

[2020-12-04 13:36] jacoplane opened #251 "Android build error"
I was getting this error on a newly built project: https://stackoverflow.com/questions/64502943/exception-thrown-in-build-by-image-picker/64741539#64741539

Had to upgrade gradle in the project then it worked fine.

[2020-12-04 13:37] #251 closed

[2020-12-06 22:33] lain-ke opened #252 "Unable to play DRM-protected music"
**Which API doesn't behave as documented, and how does it misbehave?**
I fetch a song from my server which is DRM-protected except for the first 10 seconds (to load it faster), so I get the bytes of the track and create a file (as _temp.mp3_), then I play the DRM-protected file while I decrypt the file, and once decrypted I replace the asset with the new decrypted file. But instead of playing (the

[2020-12-07 02:43] ryanheise commented on #252
I am closing this bug report because it does not follow the instructions. Please read them carefully as I will not investigate an issue that don't follow what the instructions ask you to do.

[2020-12-07 02:43] #252 closed

[2020-12-07 10:35] ryanheise commented on #247
I now have implemented the fix in the latest commit on master. Please let me know whether it works for you and I'll include it in the next release.

[2020-12-07 11:40] wangbo4020 opened #253 "Could upgrade rxdart to 0.25.0?"
Could upgrade rxdart to 0.25.0

[2020-12-07 11:41] #253 closed

[2020-12-07 12:49] lain-ke commented on #252
What do you mean by “it doesn’t follow the instructions”?

[2020-12-07 13:48] ryanheise commented on #252
When you submitted the bug report, there were instructions below each section explaining what information you needed to provide. You need to follow those instructions in order to submit a valid bug report as all of that information is necessary in order for me to be able to investigate the bug. The first section is required to confirm that what you are describing is really a bug in the plugin. The

[2020-12-07 16:35] mvolpato commented on #246
Hi, is this planned to be fixed?

I see [this part](https://github.com/ryanheise/just_audio/blob/a864c2f87d19c8546046d7b7016525d5ba986712/just_audio/darwin/Classes/AudioPlayer.m#L1074) (in the iOS Pod) is commented, but it might be the solution. What is the reason why it is commented?

[AVQueuePlayer](https://developer.apple.com/documentation/avfoundation/avqueueplayer) does not implement a `goToP

[2020-12-07 16:47] ryanheise commented on #246
I was just working on this today. No, that commented out code isn't the solution, all of the code necessary to make this work exists in the platform implementation, but it's just that the Dart side of the plugin currently just translates a `seekToNext` call into a `seek` call with the current index plus 1. There are two solutions:

1. Define `seekToNext` as a special method that needs to pass dire

[2020-12-08 03:03] defsub commented on #247
Thank you @ryanheise. Will try to check it out tomorrow.

[2020-12-08 07:57] ryanheise commented on #246
@mohammadne , out of curiosity, what sort of control would you like to have over the shuffle order?

[2020-12-09 01:23] defsub commented on #247
The fix works for local files however I'm seeing the original exception with an https AudioSource that needs headers. Seems as if headers are being lost along the way. I'll debug it further and get back to you.

[2020-12-09 02:44] defsub commented on #247
Tested again with the correct fix. It's working now, thanks @ryanheise .

[2020-12-09 02:44] #247 closed

[2020-12-09 03:10] ryanheise commented on #247
Great to hear, thanks for pointing out the issue and testing!

[2020-12-09 20:07] smkhalsa commented on #41
Shouldn't we implement buffers as an array of position ranges rather than a single Duration since it's possible to have multiple disconnected buffers? (e.g. after seeking)

[2020-12-09 20:36] odrevet opened #254 "[Android] cleartextTrafficPermitted on localhost must be enabled when call setUrl with headers on API >= 29"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.

**Minimal reproduction project**
Provide a link here using one of two options:
1. Fork this repository and modify the example to reproduce the bug, then provide a link here.
2. If the unmodified official example

[2020-12-09 21:12] merfire commented on #222
I am having the same problem and I can't figure it out, idk what am I missing. Is it possible to play audio from storage in a playlist, if so maybe this should be added to documentation or the example.

[2020-12-09 22:01] merfire commented on #222
For anyone that is still having a problem with this, I finally got it to work.
[code]

I was missing a prefix asset:///.
Use **Uri.parse(asset:///{path-to-file})** to load a file.
_Note:_ AudioMetadata is a custom class with a title and artwork variables as string, it is not a class from just_audio package.

[2020-12-09 22:02] merfire commented on #189
For anyone that is still having a problem with this, I hope this helps:
[code]

I was missing a prefix asset:///.
Use **Uri.parse(asset:///{path-to-file})** to load a file.
_Note:_ AudioMetadata is a custom class with a title and artwork variables as string, it is not a class from just_audio package.

[2020-12-09 22:26] defsub commented on #254
I used the android:usesCleartextTraffic="true" manifest approach to solve this issue on Android 11. This isn't really a just_audio bug but related to how it cleverly creates an internal proxy to send headers and the proxy itself is using http not https.

[2020-12-10 01:14] ryanheise commented on #41
@smkhalsa I would encourage you to open a new feature request for buffer ranges.

[2020-12-10 01:43] ryanheise commented on #254
Oh, that's interesting. My assumption was that using HTTP within the same device would be safe from snooping, and I guess that's true on an unrooted phone.

After checking the SDK, there is an API to create an HTTPS server ([SecureServerSocket](https://api.dart.dev/stable/2.10.4/dart-io/SecureServerSocket-class.html)) which I should probably use.

[2020-12-10 08:04] suragch opened #255 "AudioPlayer.currentIndex does not match AudioPlayer.playbackEvent.currentIndex"
In my example [here](https://stackoverflow.com/a/65180411/3681880) I discovered that `_player.currentIndex` was not incrementing when the song updated. It just stayed at the initial index. However, when I updated it to `_player.playbackEvent.currentIndex` it did work, that is, it returned the true index of the current song in the `ConcatenatingAudioSource`. I would have expected both to return the

[2020-12-10 08:04] #255 closed

[2020-12-11 10:24] ryanheise commented on #246
The most recent commit to git master should address these issues.

I have created a class called `ShuffleOrder` which you can subclass to define your own shuffle order logic and pass into `ConcatenatingAudioSource` (or use `DefaultShuffleOrder`).

`seekToNext` should now seek to the next item in the shuffle order if shuffle mode is enabled.

This is a rather major code change and there's a risk of

[2020-12-11 10:34] mvolpato commented on #246
Thanks for the fix. I am trying to use the master branch from my pubspec with:

[code]
but it does not seem to work. Do you have some instructions on how to do that?

The error:
[code]

[2020-12-11 10:35] nsilina opened #256 "Playing and seeking local *.wav file produce "Playback error" ."
Hello!
In our project we use `just_audio (0.5.7)` and  `audio_service(0.15.1)` libraries.
Playing by url and  local *.mp3 file works as expected. We can play *.wav , but  when we try to seek we this error. This error is occurred on every our android device.
How can we solve this problem?
[code]

[2020-12-11 10:36] #256 closed

[2020-12-11 11:07] mohammadne commented on #246
thanks @ryanheise , I will test it today and inform you if there is any bug.

[2020-12-11 12:23] ryanheise commented on #246
Thanks both for testing!

The main thing to test would be that there are no index-out-of-bounds errors, because the playlist indexing logic has changed in Dart, as well as in the iOS code and the Android code (and web). So if it's bug free on Android, it might still have a bug on iOS. I would suggest just using the shuffling and looping code the way you intend to in your app, but then you might wa

[2020-12-11 15:58] na-si opened #257 "seeking after play local wav file crashed with ExoPlaybackException: Unexpected runtime error"
**Which API doesn't behave as documented, and how does it misbehave?**
When seek big (more than 80mb) wav files from local storage we always get crash `ExoPlaybackException: Unexpected runtime error `
Play and seek the same file from network works as expected.
just_audio (0.5.7)
audio_service(0.15.1)

**Minimal reproduction project**
[code]

**To Reproduce (i.e. user steps, not code)**
Download [s

[2020-12-11 19:49] defsub commented on #246
@mvolpato I have the following to use git directly:

  just_audio:
    git:
      url: https://github.com/ryanheise/just_audio.git
      path: just_audio

[2020-12-12 01:07] ryanheise commented on #257
Hi @nsilina , there are issues open on ExoPlayer regarding this error. See for example:

https://github.com/google/ExoPlayer/issues/8170

I didn't reproduce your issue because you didn't provide a link to your minimal reproduction project. However if you still want to investigate yourself, you can try modifying just_audio's Java code with the techniques described in that issue. Let me know if any

[2020-12-12 16:16] peter-pr opened #258 "Issue with just_audio_web - index out of range"
The following error happens when calling

_playlist.add(
          HlsAudioSource

or

_playlist.add(ProgressiveAudioSource

Error: RangeError (index): Index out of range: index should be less than 1: 1
    at Object.throw_ [as throw] (http://localhost:55202/dart_sdk.js:4348:11)
    at Array.[dartx._get] (http://localhost:55202/dart_sdk.js:15314:21)
    at just_audio_web.ConcatenatingAudioSourcePl

[2020-12-12 16:16] #258 closed

[2020-12-13 04:21] ryanheise commented on #249
Use case (from https://github.com/ryanheise/audio_service/issues/415)

[2020-12-14 12:30] sarbazx commented on #48
Hi @ryanheise I am also getting exception when url is in opus format

[code]

[2020-12-14 12:34] ryanheise commented on #48
@sarbazx do you have a URL I can test?

[2020-12-14 13:33] sarbazx commented on #48
@ryanheise is there any private channel so I can share with you? I do not want publicly share the link.