[2020-12-14 13:58] ryanheise commented on #48
You can send it via [email](https://pub.dev/publishers/ryanheise.com/packages).

[2020-12-14 21:17] mvolpato commented on #246
Thanks. That did not work for me 🤷‍♂️
I had to clone the repo and refer to my local copy

[2020-12-16 08:07] ryanheise commented on #249
Implemented in the latest commit.

The current `load` method has been renamed to `setAudioSource` which now has a `preload` parameter which defaults to `true. When set to `true`, this has the same behaviour as the old `load` method. But if set to `false`, you can choose to delay loading to a later point by manually calling `load` with no parameters. This loads the previously set audio source.

The

[2020-12-16 08:12] ryanheise commented on #246
FYI, I have made another change which will also be part of the next release (#249 ). I mention it here because it is another (minor) API change which might affect you.

If you currently use the `load` method, you will need to rename this to `setAudioSource`. If you don't use the `load` method, your code should be unaffected. However, if you notice any problems, please report them on #249 .

As for

[2020-12-16 08:28] mvolpato commented on #246
I have been playing with it and I did not notice any problem (Android mainly, iOS quickly tested).
The only inconsistency I found is this one:

1. Load a list of audio files
2. Play without shuffle
3. skip to next a couple of time
4. Enable shuffle
5. If you go skip to previous, a random audio will play and not the one that was playing before enabling shuffle.

This is not a big deal, and honestly

[2020-12-16 08:30] ryanheise commented on #246
That is the behaviour of `DefaultShuffleOrder` but if you like, you could plug in your own implementation of `ShuffleOrder` which preserves the order of items before the current index.

[2020-12-16 08:38] mvolpato commented on #246
I will also have a look at #249. I do use `load`, so I will need to test that also.

[2020-12-16 12:26] ryanheise commented on #48
I have just tested with the opus sample file at https://docs.espressif.com/projects/esp-adf/en/latest/design-guide/audio-samples.html and it worked, so it sounds like it's dependent on the particular opus file.

@sarbazx I did check out the opus file you emailed me and can confirm the error. I've upgraded just_audio to the latest ExoPlayer dependency and that also didn't fix it, so you will also n

[2020-12-16 20:21] RaphaelRevivor commented on #137
Any update on this?

[2020-12-16 20:42] samry commented on #137
Agreed, would be huge if this was implemented.  Still experiencing the small gap on iOS airplay/Bluetooth even after modifying audio_session and using LoopingAudioSource.  Doesn't occur with OcarinaPlayer (I think it has to do with AvQueuePlayer, haven't dug into it for a while but lots of StackOverflow posts about the small gap).  I'd be happy to file a bug report if helpful.

[2020-12-17 01:07] ryanheise commented on #137
I will hopefully work on this issue next (as soon as the next releases of just_audio and audio_services are out). Apologies for the delay, it does really take a lot of time to implement each feature since there is a queue of them, and so pull requests are certainly welcome if people are motivated to see a particular feature implemented sooner than I can do it.

@samry the issue you describe is pro

[2020-12-17 02:00] samry commented on #137
@ryanheise no worries at all - your plugin has been great so far.  That small gap prevents us from using it 100%, but only in super small use cases on iOS only.  I'll work on creating a replication project and documenting various forums where I've seen it come up.

I'm working on the development side of our app a lot less, but hopefully I can be of some assistance

[2020-12-17 02:49] ryanheise commented on #246
Just to update on my schedule, I'll keep this issue open for testing for approximately half a day longer and then roll out a release if there are no outstanding issues by that time. This will be the last new-feature release before the switch to the null-safe version, and all new features after that are planned to be developer on the null-safe version.

[2020-12-17 02:50] ryanheise commented on #249
Just to update on my schedule, I'll keep this issue open for testing for approximately half a day longer and then roll out a release if there are no outstanding issues by that time. This will be the last new-feature release before the switch to the null-safe version, and all new features after that are planned to be developer on the null-safe version.

[2020-12-17 03:01] ryanheise opened #259 "Support rxdart 0.25.0"
**Is your feature request related to a problem? Please describe.**

The current release doesn't support working with rxdart 0.25.0.

**Describe the solution you'd like**

Use `rxdart: ">= 0.24.1 < 0.26.0"`

**Describe alternatives you've considered**

Using `^0.26.0` would not allow apps to use the older version of rxdart.

**Additional context**

None

[2020-12-17 03:01] ryanheise commented on #259
Now implemented.

[2020-12-17 03:01] #259 closed

[2020-12-17 03:05] ryanheise opened #260 "Upgrade to ExoPlayer 2.12.2"
**Is your feature request related to a problem? Please describe.**
Currently not using latest ExoPlayer with latest features/stability improvements.

**Describe the solution you'd like**
Upgrade dependency in gradle.

**Describe alternatives you've considered**
N/A

**Additional context**
None

[2020-12-17 03:05] ryanheise commented on #260
Now upgraded.

[2020-12-17 03:05] #260 closed

[2020-12-17 06:45] sarbazx commented on #48
Hi @ryanheise thanks for checking out, I have looked into exoplayer issue and found this issue https://github.com/google/ExoPlayer/issues/7046
<img width="1076" alt="image" src="https://user-images.githubusercontent.com/5629946/102453028-7b953400-404c-11eb-834e-790740b0f090.png">

does this mean they have fixed in latest version or it is not yet published?

[2020-12-17 07:05] ryanheise commented on #48
The fix is published, and just_audio is now using it in the latest git commit.

It is possible their fix isn't a complete fix, or that your issue is a different error with similar symptoms, or that they did fix the bug but reintroduced the bug in a later commit.

[2020-12-17 08:03] ryanheise commented on #48
Just checking the jar files included with just_audio, it it seems (to my surprise) that the opus decoder is not included by default. For that matter, (unless I'm not checking correctly), the FLAC decoder is also not included by default, despite ojw28 saying that it would now be possible to use it without having to add any extensions.

I'll have to look into this further.

[2020-12-17 08:18] ryanheise commented on #48
OK, so looking at the code, it seems for both Opus and FLAC, there should be some basic built-in support.

However, full support seems to require the extensions.

Both extensions are BSD-licensed which I should be able to incorporate.

The only thing I need to find is the best way to include ExoPlayer extensions in a Flutter plugin.

In the meantime, you can look at the approach taken in #32 , or

[2020-12-17 14:41] #246 closed

[2020-12-17 14:41] #249 closed

[2020-12-17 16:01] ryanheise commented on #249
Published as 0.6.0.

[2020-12-17 16:01] ryanheise commented on #246
0.6.0 has now been released including this feature.

[2020-12-18 04:13] ryanheise opened #261 "Playback starts a little after zero on Android"
**Which API doesn't behave as documented, and how does it misbehave?**
The new `setAudioSource` code appears to cause playback to be prepared to start a little after position zero. The behaviour was introduced in 0.6.0.

**Minimal reproduction project**

The just_audio example and the audio_service (`one-isolate`) example.

**To Reproduce (i.e. user steps, not code)**

1. Launch the app.
2. Press

[2020-12-18 11:31] sebalaursen opened #262 "ConcatenatingAudioSource audio stuttering on source change with wireless headphones"
**Which API doesn't behave as documented, and how does it misbehave?**
When connected to wireless headphones on an iOS device ConcatenatingAudioSource on change of source will start for ~500-1000 milliseconds and then rewind back to 0 and start again. Sound kind of like stuttering.

**Minimal reproduction project**
The just_audio example project.

**To Reproduce (i.e. user steps, not code)**
Steps

[2020-12-18 12:25] chitgoks commented on #92
im guessing this is out now?

[2020-12-18 13:21] ryanheise commented on #92
@chitgoks there's a good chance this is fixed in 0.6.0. If you test it, please let me know how it goes.

[2020-12-18 15:32] chitgoks commented on #92
sorry my bad. im in the wrong page. i was looking for the error message specifically but its from a different lib.

[2020-12-19 02:29] ryanheise commented on #92
No worries @chitgoks .Something good came of it.

@taichanvn I just tested this issue with the latest version of just_audio, and the issue is now fixed! Hence, I'll close the issue ;-)

[2020-12-19 02:29] #92 closed

[2020-12-19 02:29] ryanheise commented on #261
This is now fixed in the latest commit.

[2020-12-19 02:50] #261 closed

[2020-12-19 02:55] ryanheise commented on #257
Since I haven't heard back from you, I'll close this issue. I have upgraded just_audio to the latest ExoPlayer, so if they have introduced a fix, that fix should also be inherited into just_audio.

[2020-12-19 02:55] #257 closed

[2020-12-19 04:57] ryanheise commented on #262
The log was really helpful, thanks! I do not have the hardware to be able to test this myself, so this detailed report will hopefully allow me to help you.

The code in question is a callback that occurs whenever the player switches to a different item in the queue:

[code]

This hack is something I can hopefully delete altogether but it's there because during the initial development I noticed tha

[2020-12-19 04:58] ryanheise commented on #137
@samry maybe #262 is related to your particular issue? If so, can you confirm you're seeing the same logs on that issue?

[2020-12-19 06:43] ryanheise commented on #262
I've commented out that block of code and it seems to be working correctly. Can you try the latest commit?

Note that I only tested on the iOS 14.2 Simulator and I no longer have access to older iOS simulators. So the risk is that this code may still be needed for older iOS versions.

[2020-12-19 07:37] sebalaursen commented on #262
Hi
Thanks for the response. Tested the lates commit and the stuttering is gone but I noticed a problem with the looping clipping audio source as you mentioned the bit of code had something to do with repositioning audio's. When rewinding the first loop (better a few times) it seems that the next loop will start from the starting point time minus the time rewinded in the previous loop and play to t

[2020-12-19 07:40] sebalaursen commented on #262
The issue I mentioned above maybe is unrelated, just tested the previous version and it also happens there.

[2020-12-19 08:12] ryanheise commented on #262
Thanks for spotting that, good find! Yes it does seem like it could be an unrelated issue that I just hadn't noticed before.

[2020-12-19 09:06] sebalaursen commented on #262
Thanks for the quick fix for my issue though. I can imagine it's hard to keep track of this many platforms, I appreciate your work! Thanks again.

[2020-12-19 10:04] ryanheise commented on #262
That commented-out workaround, though, may help to solve this new issue that you discovered. If I add this code back in, I would want to ensure that I set the delta threshold high enough.

Did you manage to print out and see what the delta was when playing through Bluetooth?

[2020-12-19 10:14] sebalaursen commented on #262
Yeah, forgot about that. Here are few logs with delta:
[code]

[code]

[code]

varies a bit but usually stays in the 120 area, couldn't get to 180 again.

[2020-12-19 15:43] samry commented on #137
@ryanheise yes, I can confirm I am seeing the same logs on LoopingAudioSource change with headphones:

`onComplete
advance to next: index = 1
On currentItem change, seeking back to zero
ENTER BUFFERING: currentItem changed, seeking
LEAVE BUFFERING: timeControlStatus
LEAVE BUFFERING: currentItem changed, finished seek`

I can also confirm that the latest commit works with regards to ConcatenatingAu

[2020-12-19 15:47] ryanheise commented on #137
Great! That will not be the final version I'll release, though. I'd like to set an appropriate threshold for the delta that works for Bluetooth. Since #262 perfectly matches your issue, you can follow that issue for further developments, or contribute your own deltas to the discussion, and I'll use this issue over here just for the loop mode issue.

[2020-12-19 17:56] jimdrie opened #263 "Calling AudioPlayer.setAudioSource for a second time throws PlatformException from version 0.6.0 onwards"
**Which API doesn't behave as documented, and how does it misbehave?**
AudioPlayer.setAudioSource throws a PlatformException when called for a second time on the same instance.

**Minimal reproduction project**
https://github.com/jimdrie/just_audio/tree/platformexception

**To Reproduce (i.e. user steps, not code)**
Just run the app.

**Error messages**
[code]

**Expected behavior**
Load the new a

[2020-12-20 02:05] ryanheise commented on #263
Thanks for reporting, @jimdrie . I'm investigating now.

[2020-12-20 02:13] ryanheise commented on #263
[code]

FYI, a quick workaround may be to remove this line:

[code]

Although that's not the proper solution I had originally planned. I'll work on a proper fix.

[2020-12-20 02:55] ryanheise commented on #263
I've just implemented a fix that is someone close to what I had originally intended, although some more work can be done to optimise it further. Let me know how it goes and I'll push out a bug fix release.

[2020-12-20 07:03] pschuegr commented on #263
Not OP, but looking good so far.  Thanks for the quick turnaround!

[2020-12-20 10:16] jimdrie commented on #263
Thank you, that seems to have resolved throwing the exception.

There are still some weird things going on with `setAudioSource` though. Unless you explicity run `await _player.stop();` before setting a new audio source when the player is playing, it won't work. It will look as if it has loaded the source in the user interface (event streams happen) and it is playing (seekbar progresses), but no a

[2020-12-20 10:26] ryanheise commented on #263
Thanks, @jimdrie . I would definitely want to preserve 0.5.7 behaviour in this new version, and I will take a look into this after dinner. It is also extremely helpful that you have shared these specific test scenarios where the behaviour was not as before.

[2020-12-20 13:20] ryanheise commented on #263
This behaviour should be fixed in the latest commit.

[2020-12-20 16:29] jimdrie commented on #263
Tested it for a bit, seems that it's all working fine again in the latest commit, thank you!

[2020-12-20 22:20] pschuegr commented on #263
Uncertain if this is related, but it seems like it might be a remaining instance of the problem @jimdrie mentions above: I've noticed that if I set preload to false when using `setAudioSource`, that I have a similar issue - calling `play()` causes the progress indicator to proceed and it seems like it is playing but there is no sound, but only the first time - seeking to other tracks and calling p

[2020-12-21 00:30] jimdrie commented on #263
@pschuegr according to the comments in the file, `play()` should load the track itself without needing to call `load()` explicitly, so it is a bug, yes.

[code]

[2020-12-21 01:37] ryanheise commented on #263
@pschuegr Can you clarify in which order you're calling the methods, and which platform you are testing?

This is certainly an interesting case, because I'm not sure if the ideal behaviour has been settled in my own head. I can change the above comment, or I can change the code, but it seems that setting `preload` to `false` while `playing==true` reveals a contradiction in the doc comments. What *

[2020-12-21 02:07] ryanheise commented on #263
The latest commit makes it so that when you pass `preload: false`, the audio will not be loaded except via an explicit call to `load`, and the doc comment is updates as follows:

[code]

I am not sure if this helps with the reported issue, it would be a pleasant surprise if that is resolved. But let me know if you notice further issues, and how to reproduce them. Once again, thanks for helping to

[2020-12-21 04:02] pschuegr commented on #263
I'm testing this on MacOS and I can verify that it seems to behave as expected (ie I don't need a call to `load`) on Android for me as well, so it's possible this is a platform-specific issue?

If I get time this week I'll see if I can reproduce this minimally, it'll take a while to extract it from my other code right now.

Thoughts on your comment above:
My read on this initially was that "preloa

[2020-12-21 04:38] ryanheise commented on #263
I'm not yet completely clear on a few things which I'll need to understand further:

* your test scenario (i.e. whether you're calling `play` before or after `setAudioSource` and whether you're using `preload: false`)
* which platform has a specific issue (if MacOS and Android in fact behave the same way, which platform specifically are you suggesting has the issue)
* what you would consider expec

[2020-12-21 05:44] pschuegr commented on #263
Sorry, re-reading I realize my comment wasn't that clear:

- I'm calling `setAudioSource` with `preload: false` and then `play`.
- This works as expected on Android, but on MacOS it has the previously described behaviour (seems to play but no sound).
- Ultimately I'm happy to use the API as you've presented it in the last comment, but the behaviour that would match my intuition would be that `prel

[2020-12-21 07:23] ryanheise commented on #263
Thanks for clarifying, I'll stash my other iOS code and do some testing on this.

I think I shared your initial intuition when first learning ExoPlayer's state model. ExoPlayer's model seemed counter-intuitive to me, and in an earlier version of this plugin, I fought against ExoPlayer's model and exposed a more traditional API over the top of it. However, I eventually ran into more and more use ca

[2020-12-21 10:54] deep1931 commented on #44
I am facing the same issue, I have tried to diagnose and found there are two plugins which are not compatible with just_audio. When I remove flutter_facebook_login and intent plugin from pubspec.yaml file then it is not showing Unhandled Exception: MissingPluginException(No implementation found for method init on channel com.ryanheise.just_audio.methods)  works as expected.

[2020-12-21 12:35] ryanheise commented on #44
@deep1931 FYI it is probably best to stick to plugins that have been updated recently. flutter_facebook_login hasn't been updated in more than a year and in particular still uses the old v1 plugin architecture on Android which is now deprecated (and can cause errors of this sort). If you search on the flutter_facebook_login issues page, you will see people have suggested alternatives including jus

[2020-12-21 14:21] ryanheise commented on #263
I've thought about how to make `play()` implicitly load the audio in a way that would work in all scenarios and have spec'd out a new `play` method with the following doc comment:

[code]

And for `setAudioSource`:

[code]

What I wanted to achieve was identical behaviour in both of my original scenarios, i.e. calling `play` alternatively before `setAudioSource` or after it. The new spec for both

[2020-12-21 14:48] ryanheise commented on #263
The latest commit implements the above spec.

I think at least in principle, this spec seems right, but of course please do let me know if the implementation of it doesn't live up to the spec.

[2020-12-21 16:49] ryanheise commented on #263
I am now able to reproduce the issue of the position indicator moving without any sound (on iOS). This means I'll also be able to investigate it and fix it. Unfortunately though it's time to sleep so it will have to wait until the morning (apologies for the delay, but I do expect to be able to resolve this issue tomorrow.)

[2020-12-21 16:55] pschuegr commented on #263
Thanks for the more detailed explanation of the ExoPlayer model - I can understand that it would be more powerful in some scenarios.

The spec as listed seems great to me 👍 I'll give it a try today.  Thanks for all your work on this!

[2020-12-21 18:54] mohammadne commented on #56
Hi, I don't have a deep knowledge about audio metadata or icy-metadata and difference between two but I am wonder to know that
is it possible to have audio **thumbnail** (cover art) in metadata ?

[2020-12-22 03:09] ryanheise commented on #263
The latest commit should fix the iOS/macOS issue. This commit also includes a change to the Dart `play` code to return the correct Future when transitioning between inactive/active platforms.

I just need to do some testing on web, but if this gets us close enough to solving the original problem, I would like to push out a release to at least to replace the current release.

[2020-12-22 05:36] ryanheise commented on #263
More clean up and fixed a bug in the web implementation. I'm not entirely happy with the code in its current state and will want to revisit it at some point, but my goal at the moment is just to get a fix rolled out since we still have a public release that contains the bug.

(The main issue here is to avoid a race condition between simultaneously calling `load` and `play`, the current solution be

[2020-12-22 07:24] deep1931 commented on #44
Hi, thanks for your response. I have figured out that this issue does not belong to just_audio, it is related to audio_service. I have changed the Facebook login plugin but still, have an issue, and that issue is because of intent plugin. I am using a recent update of intent but somehow it is not working with audio_service.

When I play music using just_audio it is working fine, but when I user Au

[2020-12-22 07:57] ryanheise commented on #44
I have updated your comment so that the hash+number references are wrapped in a code block

[code]

A bare hash+number is a reference to another GitHub issue, and if you create a reference, it creates a false link between this issue and 30 other issues.

(Hmm, it seems the issue references are permanent. Editing your post did not successfully remove your issue reference from the 30 other issue pag

[2020-12-22 13:37] ryanheise commented on #263
Unit tests are updated and all passing.

[2020-12-22 16:34] ryanheise commented on #263
After some more testing on each platform, things seem to be stable so I've decided to go ahead and release 0.6.2. Let me know how it goes. There may be some remaining undiscovered issues but I thought I should at least publish an incrementally better version sooner rather than later.

[2020-12-22 16:57] ryanheise commented on #137
To all those who want gapless looping on iOS, I have created an experimental branch called `ios-gapless`.

Please have a try and let me know if you notice any issues.

One known issue is that it probably will run into problems if you loop a single very short item because it won't have enough time to buffer the next loop item.

[2020-12-23 09:02] zxl777 commented on #235
youtube webm file using the opus format.
The voice performance of opus is much better than MP3, and the file is half smaller.
It is strongly recommended to support playing OPUS, thank you.

[2020-12-23 10:00] zxl777 commented on #47
Maybe using https://pub.dev/packages/flutter_cache_manager

[2020-12-23 10:27] ryanheise commented on #235
@zxl777 thank you for the useful link. While this isn't at the top of my priority list, it is helpful to collect useful resources here so that someone can eventually take up the challenge using one of these libraries.

[2020-12-23 10:35] nuc134r commented on #47
@zxl777 That would make you have to either wait for file to download fully before playing or download file twice. It is discussed above.

I want to report that I got it working and currently finishing features described above to cover my own needs. When it's ready I'm going publish a package and link it here. Not sure if Ryan would like to integrate it into just_audio but will be easy to set it up

[2020-12-23 10:42] ryanheise commented on #47
@nuc134r excellent work! As mentioned in my previous comment, I very much would like to support this feature directly in just_audio. The proxy exists within just_audio, and I can think of 3 features that this would enable directly within the plugin:

1. Caching audio while downloading/playing.
2. Serving audio directly from the asset bundle rather than writing the asset to file first (the current

[2020-12-23 10:51] RaphaelRevivor commented on #137
I can confirm that the code in branch `ios-gapless` works for me. I tested with several sound tracks with length ranging from 20s to 35s and they all work. And BTW I used local assets (setAsset() method).
Great job!
Just out of curiosity, how short the item needs to be to make it stop working?

[2020-12-23 12:29] ryanheise commented on #137
@RaphaelRevivor thanks for testing! I plan to keep this as a separate branch for a while. If enough people use it, test it and report it as being stable, I'll merge it into master.

This is purely based on theory and I don't have any hard numbers. But in principle, particularly if the audio is from a remote source, there will not be enough time between each loop for the next item to be prepared an

[2020-12-23 12:35] ryanheise commented on #137
Note: I've just merged in the latest code from `master` into `ios-gapless`.

[2020-12-23 12:50] ryanheise commented on #263
0.6.3 is released:

[2020-12-23 12:56] ryanheise commented on #141
FYI, the latest release adds a `duration` property of `IndexedAudioSource` which partially implements this feature request. The catch is that the durations of nested audio sources aren't set until the player reaches that item by advancing or seeking to it. This could be improved in some special cases.

Note that it is also possible for an application to manually set the duration property on each `

[2020-12-23 15:43] RaphaelRevivor commented on #137
@ryanheise I see, thanks!
Hope there will be more people testing this. (From my personal point of view, merging would be the earlier the better :) )

[2020-12-23 16:31] ryanheise commented on #131
FYI, gapless looping on iOS is now implemented in an experimental branch - see #137 for details.

[2020-12-23 16:40] samry commented on #137
Works flawlessly for me.

The smallest audio clips I'm loading are about 5 seconds in length, from assets only.

No gap on Bluetooth, airplay, or speakers.

[2020-12-23 18:05] fuzing commented on #137
IOS Gapless looping seems to be working well -

15-30 second audio clips from local storage (IOS 12/13) - no problems detected.

15-30 second audio clips from network (IOS 12/13) - working well.   In older versions of just_audio, looping a network source would hit the network for each iteration (i.e. there did not appear to be any caching).   With this branch, I've experimented with disconnecting

[2020-12-24 01:48] ryanheise commented on #137
Thanks everyone for testing! Let's see how it goes after some more use.

@fuzing The iOS implementation still has room for improvement, but frankly the AVQueuePlayer is a bit of a black box. I am not 100% sure of when it starts filling or emptying its buffers.

If AVQueuePlayer doesn't do this automatically (like it does in ExoPlayer), I will need to eventually add some more complicated programmin

[2020-12-24 02:16] fuzing commented on #137
Hi Ryan -

Thanks for your thoughtful response - that makes perfect sense.   No doubt the AVQueuePlayer has its own caching/eviction strategy - I'll see if I can find any docs on this - it's possible that the native player may have used a different strategy based on current memory consumption or some other variable - we've reduced our app memory footprint which may provide more headroom for cachin

[2020-12-24 03:29] ryanheise commented on #137
That would certainly be helpful. Thanks!

[2020-12-24 03:46] deep1931 commented on #44
Thanks, for the support, I had removed defected plugin for now, and it started working now. Thanks.

[2020-12-24 23:27] jimdrie commented on #263
Haven't found any issues anymore, feel free to close. Thank you!

[2020-12-25 01:38] ryanheise commented on #263
Glad to hear it! Thanks @jimdrie and @pschuegr for also contributing helpful test cases.

[2020-12-25 08:18] wangbo4020 commented on #263
[code]
then
[code]

Will throw this error on just_audio 0.6.3

[2020-12-25 08:48] ryanheise commented on #263
@wangbo4020 I will try to improve this, but I will try to explain what is happening so that in the meantime your app can deal with it.

The difference between `pause` and `stop` is that `pause` is intended if you expect to resume audio playback again soon, while `stop` is intended when you are done playing audio for a while. `stop` powers down everything, and releases the native platform decoders,

[2020-12-25 09:58] wangbo4020 commented on #263
Thanks very much

[2020-12-25 13:02] moritz-weber opened #265 "Repeatedly playing and pausing causes delayed PlaybackEvent in 0.6.3"
**Which API doesn't behave as documented, and how does it misbehave?**
Starting `play()` for the first time works fine. After `pause()` and `play()`, the `PlaybackEvent` is delayed.
In my case it's delayed by multiple seconds, causing the UI to freeze while playback starts.
The example app works as expected, as it uses `PlayerStateStream` instead which seems to be fine.

**Minimal reproduction pro

[2020-12-25 13:25] AliHoseinpoor commented on #265
i have same issue

[2020-12-25 13:32] ryanheise commented on #265
Thanks for reporting this, I will take a look.

[2020-12-25 14:28] AliHoseinpoor opened #266 "just_audio 0.6.3 freeze when call skipToNext()"
**Which API doesn't behave as documented, and how does it misbehave?**
I created a music player program with this package along with audio_service. When I updated the just_audio package to version 0.6.3, I had a problem with the skipToNext () method and everything froze.

**Error messages**

[code]

**Expected behavior**
I expected the next song to be played without any problems

**Screenshots**
I

[2020-12-25 14:29] #266 closed

[2020-12-25 14:33] ryanheise commented on #265
Ah, I think I understand the issue. `PlaybackEvent` is probably misnamed but this does not encapsulate all of the state. It represents only events reported asynchronously by the backend, such as processing state changes, position changes and metadata changes. State that is set by the app (`playing`, `speed`, `volume`, etc.) is not such an event and there are separate streams for those.

`playerSta

[2020-12-25 14:41] AliHoseinpoor opened #267 "just_audio 0.6.3 freeze when call skipToNext()"
**Which API doesn't behave as documented, and how does it misbehave?**
I created a music player program with this package along with audio_service. When I updated the just_audio package to version 0.6.3, I had a problem with the skipToNext () method and everything froze.

**Minimal reproduction project**
[code]

This code of mine works perfectly with the 0.5.7 package, but when I updated it, it go

[2020-12-25 14:42] ryanheise commented on #267
Can you please fill in the section for the minimal reproduction project by providing a link to the git repository that I can clone?

[2020-12-25 15:02] AliHoseinpoor commented on #267
my project is private can i add you in project ?

[2020-12-25 15:13] AliHoseinpoor commented on #267
I changed the package version to 0.5.7 and everything was fine, but when I update to 0.6.0, everything goes wrong again and I feel it is because of the setAudioSource() method, which has been replaced by load().

[2020-12-25 15:17] ryanheise commented on #267
I'm sorry I wasn't asking to see your project, I am requesting a minimal reproduction project. That is, fork this repository and make minimal changes to the example to reproduce the bug. Here were the original instructions:

What you did was neither of these two options, and I think in your case you will need to take option 1 because the example is actually working fine.

By the way, since the exa

[2020-12-26 02:01] ryanheise opened #268 "0.6.x Migration Guide"
This is a draft of a planned addition to the README. I will pin this issue to serve as documentation until the new README is published.

## Migrating to 0.6.x

* Use `setAudioSource(audioSource)` instead of `load(audioSource)`. The new method allows audio to be loaded either immediately or at a later time.
* As of 0.6.x, `stop()` will now unload the audio and free up system resources. Use this met

[2020-12-26 05:42] ryanheise commented on #268
![just_audio_states](https://user-images.githubusercontent.com/19899190/103145246-28795a80-478b-11eb-8417-dd247e01b815.png)

[2020-12-26 06:01] ryanheise commented on #265
I plan to add a section to the README clarifying the state model.

This state diagram will be used to depict the orthogonal `processingState` and `playing` states:

![just_audio_states](https://user-images.githubusercontent.com/19899190/103146315-7bf3a480-479b-11eb-828b-fe23255828bf.png)

The `playing` state is only ever changed synchronously when the app calls `play` or `pause` and also implicitl

[2020-12-26 09:36] ryanheise commented on #268
The README has been updated.

[2020-12-26 09:38] AliHoseinpoor commented on #267
Thank you very much, my problem was solved

[2020-12-26 09:38] #267 closed

[2020-12-26 09:42] ryanheise commented on #265
The README has now been updated with a detailed explanation of the state model.

[2020-12-26 09:50] ryanheise commented on #263
Hi @wangbo4020 , the latest commit to master should now gracefully handle rapid successive calls to `stop` and `play/setAudioSource`. Essentially, if you don't call `await` yourself, the plugin will internally do the `await` for you and queue the requests.

Note: This change affects the same area of code that I was fixing earlier, so I will need to retest everything above to ensure that this hasn'

[2020-12-26 13:31] moritz-weber commented on #265
Thanks for your response. My rationale behind using `playbackEventStream` was that it seems to be the only stream that emits an event when a song starts from the beginning with loopMode set to `LoopMode.one`.
I may just use both streams (`playerState` and `playbackEvent`) for different use cases: user changes state vs. state updated by backend.

[2020-12-26 14:09] ryanheise commented on #265
Your use case would probably benefit from #174 . Since the position discontinuity event information is in `PlaybackEvent`, it is perfectly reasonable for you to listen to `playbackEventStream`. Have you considered combining `playbackEventStream` with `playingStream` using rxdart?

As for which composite streams should be provided out of the box, I may need to listen to more use cases.

The only ca

[2020-12-27 07:21] austinpower1258 opened #269 "iOS Gapless setSpeed() change"
My team and I are working on a project that involves playback rate change (setSpeed). We discovered that on Android platforms, the setSpeed function allows the audio to change playback rates seamlessly without any gaps or delays, but on iOS platforms, the setSpeed function contains a short gap or delay of about 0.5 seconds when we change between different speeds (change the playback rate). We were

[2020-12-27 07:21] #269 closed

[2020-12-27 10:18] AliHoseinpoor commented on #265
Now the example in the audio_service is correctly implemented for the play and pause button?

[2020-12-27 10:24] ryanheise commented on #265
It hasn't been fixed yet, sorry. FYI, this is the code that is incorrect:

[code]

The above code will not listen to `playing` state changes. The simplest way to fix it would be to keep the above code, but to also add this directly below it:

[code]

[2020-12-27 10:45] moritz-weber commented on #265
Combining `playbackEventStream` and `playingStream` works fine for me. Thanks for the suggestion.

I also think that providing "simpler" streams that users can combine to their needs is the right solution for this. An overview of all the available streams with when to expect new events might be helpful.

[2020-12-27 10:51] AliHoseinpoor commented on #265
Thank you and your good package

[2020-12-28 14:00] ThanksILoveYouWithAllTheRespect opened #270 "Support .ogg file"
Support .ogg file , thanks

[2020-12-28 14:01] #270 closed

[2020-12-29 13:50] ryanheise commented on #265
After some consideration, I have decided to release 0.6.4 which emulates the old 0.5.7 `playbackEventStream` behaviour. I'd definitely like to revisit this in the future and maybe come up with a unified stream that at least covers `PlaybackEvent` and `playing`, but 0.6.4 will at least ease the transition to 0.6.x for a lot of developers.

[2020-12-29 13:55] ryanheise commented on #263
@wangbo4020 After some testing I have now published this code as 0.6.4. Likely you have already optimised your code in a way that doesn't call `stop` and thus doesn't run into the issue, but in case you run into the issue again, let me know and I'll re-open this issue.

[2020-12-29 13:55] #263 closed

[2020-12-29 13:57] ryanheise commented on #137
I have just merged in the latest 0.6.4 code into the `ios-gapless` branch. Please try out this version if you can, and if it remains stable until the weekend, I will aim to release this on the weekend.

[2020-12-30 01:07] ryanheise commented on #210
I have stumbled upon `AVPlayerItem.timebase` which gives the actual speed of playback which is distinguishable from the requested speed of playback.

https://developer.apple.com/documentation/avfoundation/avplayeritem/1387605-timebase?language=objc
https://developer.apple.com/documentation/coremedia/cmtimebase?language=objc

Something to revisit later.

[2020-12-30 01:09] ryanheise commented on #210
Notes: The difference between the requested and actual rate can be due to the capability of the media but it could also be temporary due to buffering/stalling, so care must be taken not to incorrectly report the capability.

[2020-12-30 01:39] ryanheise opened #271 "Smooth setSpeed adjustments on iOS"
**Is your feature request related to a problem? Please describe.**
On iOS, `setSpeed` during playback causes stuttering.

**Describe the solution you'd like**
The ideal solution would be smooth, continuous playback during speed changes, similar to the Android behaviour.

**Describe alternatives you've considered**
An app can intentionally pause playback during a speed change to hide the issue.

**

[2020-12-30 01:40] ryanheise commented on #269
FYI, I have submitted a properly formatted issue here: #271

[2020-12-30 01:43] ryanheise commented on #268
The migration section is now published in 0.6.4. The 3rd point has been removed from the migration notes in favour of making `playbackEventStream` emulate the 0.5.7 (mis)behaviour.

[2020-12-30 01:43] #268 closed

[2020-12-30 01:44] #265 closed

[2020-12-30 03:19] ryanheise opened #272 "Proxy-related features"
**Is your feature request related to a problem? Please describe.**
This is a meta issue collecting feature requests that can be solved using a proxy:

* Headers: #105 (implemented)
* Assets: #230
* Bytes source: #172
* Caching: #47
* Use HTTPS: #254

**Describe the solution you'd like**
Reuse the headers proxy to solve the 4 other problems in the list. It may also be an opportunity to improve HTTP

[2020-12-30 06:08] wangbo4020 commented on #263
**Thanks very much again.**

I apply 0.6.4, this error has been fixed.

Now, I use it like:

When user play and switch music
[code]

When user stop music
[code]

[2020-12-30 09:15] jjb182 commented on #131
Hi Ryan is this the documentation, or is there more somewhere else?
https://pub.dev/documentation/just_audio/latest/

- I was wondering if there is a max number of tracks that one can add to a
playlist?
- And is it possible to loop each track in the playlist a certain number of
times, but not to loop the entire playlist?
And would it look like this?

Thanks
jjb

PS I have looked at the Example cod

[2020-12-30 13:21] ryanheise commented on #131
Yes, although it is probably not obvious that you need to click on "just_audio" under LIBRARIES on the left to see the API documentation for each class in the library. It will hopefully confirm your approach to looping. You will need to do your own resource limit testing on a device to see what the limits are.

P.S. Since this issue is now closed, I would suggest making a documentation request ([h

[2020-12-30 18:41] RaphaelRevivor commented on #137
Hi Ryan,

I just tested with the most recent changes in branch ios-gapless. It works fine for me.
Again good job!

HNY and stay Safe,
Raphael

[2021-01-01 19:18] jjb182 commented on #137
Hi Ryan (et al) I was wondering if you ever thought of setting up a just_audio FB group for simple questions like what I'm about to ask.

I am currently using the main branch of 0.6.4, and on iOS _player.setLoopMode(LoopMode.one) does not work when I turn off the screen. Playlists work great when loopMode IS off, but not set to .one.

Is this an iOS limitation, or do I have something wrong with my

[2021-01-02 03:35] andrei-pavel commented on #137
Or a Discussions section on Github

[2021-01-02 04:07] jjb182 commented on #137
Hi Andrei, or Ryan, or anybody who is up right now.  Does
player.setLoopMode(LoopMode.one)
work on iOS when the screen is off?
In the example code that I copied for 0.4.4 the playlist plays fine in the
background, but when I loop a track (using LoopMode.one) and turn off the
screen (these are short files--5 sec) it plays that one file and then
quits. Same with 0.6.4.... I thought that maybe if I p

[2021-01-02 04:10] ryanheise commented on #137
(Note this is a bit off topic but just to quickly address it here, and then provide a recommendation on where this separate discussion could continue) GitHub discussions has been proposed before on audio_service, and I'll copy and paste my response here FYI since I would have the same exact thoughts for just_audio:

My current inclination is to continue using StackOverflow. It is where I currently

[2021-01-03 15:04] #137 closed

[2021-01-04 00:42] pschuegr opened #274 "No implementation found for method cancel on channel com.ryanheise.just_audio.events"
**Which API doesn't behave as documented, and how does it misbehave?**
I'm seeing a MissingPluginException occasionally.  I'm uncertain what is causing this yet or how to reproduce it, sorry!  Just thought I would post this in case it was helpful to you - I don't see the word "cancel" in very many places in the code.

`
════════ Exception caught by services library ════════════════════════════════

[2021-01-04 01:09] ryanheise commented on #274
Maybe related: https://github.com/flutter/flutter/issues/62006

However, your case might be different and it might be that the platform channels are working but then the error occurs when disposing the player. If that is the case, I look forward to your reproduction example.

You can also look in `darwin/Classes/AudioPlayer.m` and comment out these two lines at the bottom of the `dispose` method:

[2021-01-04 02:59] ryanheise commented on #274
A better solution may be in `_setPlatformActive` in `lib/just_audio.dart`:

[code]

Once I can reproduce the error, I will try reordering the steps in this sequence so that the subscription is cancelled before the platform is disposed.

[2021-01-04 07:47] ryanheise commented on #137
This has finally been released in 0.6.5. Thanks everyone for your patience, and most of all for helping to test this re-implementation of looping.

[2021-01-04 22:26] pschuegr commented on #274
Thanks for the context link, I've already seen a lot of this error but I assume lots of it is my fault.  You're bang-on that it's not very descriptive though!

I've updated my original comment with repro steps.  My commit is unfortunately difficult to parse, but the only thing I changed from the `audio_service` example was to add an `await player.stop();` before `await player.dispose();`.  Obvious

[2021-01-05 01:39] ryanheise commented on #274
Thanks @pschuegr , that will definitely be helpful. I will take a look.

[2021-01-05 03:03] ryanheise commented on #274
Can you try the latest commit? Hopefully it should fix the issue.

[2021-01-05 19:39] pschuegr commented on #274
Confirmed, thanks!

[2021-01-06 01:05] ryanheise commented on #274
Great! You might like to pin your app to that git commit for now, as the next release might happen a few days later. I will post here once the next release comes out.

[2021-01-06 23:35] pschuegr opened #275 "Remove range from ConcatenatingAudioSource errors out if you remove the last item"
**Which API doesn't behave as documented, and how does it misbehave?**
When attempting to remove the last item using `audioSource.removeRange` or `removeAt`, the method call fails with:

[code]

Understood that this is an untested API.

**Minimal reproduction project**
https://github.com/pschuegr/just_audio/commit/5d5397544d46df3d539e919246f30363db873a15

**To Reproduce (i.e. user steps, not code)

[2021-01-07 00:03] pschuegr commented on #274
Thanks!

[2021-01-07 01:24] ryanheise commented on #275
Thanks for reporting this. Fortunately I've been able to postpone handling empty lists so far as it hasn't turned out to be a major use case, but with a concrete use case now, that definitely raises its priority.

Since I'm currently finishing of another feature, it may take me a couple of days to look at it, but if you need a workaround until then, you will probably need to disable deleting the l

[2021-01-07 01:30] pschuegr commented on #275
No problem at all, I've got a workaround that's working for me for the moment.  Thanks for your work on this and thanks for the comment on the firebase ticket, much appreciated.

[2021-01-07 09:54] ryanheise commented on #172
I have just created a new branch called `proxy_improvements` which provides a new `StreamAudioSource` that allows streaming data dynamically and supports range requests. To use it, you simply create a subclass and override two methods:

[code]

This is part of a larger effort (see #272 ) to refactor the proxy to provide various other functions other than just headers. For example, the proxy is now

[2021-01-07 09:55] ryanheise commented on #230
This is now implemented on the `proxy_improvements` branch.

[2021-01-07 09:55] #230 closed

[2021-01-07 10:04] ryanheise commented on #47
I've just created a new branch called `proxy_improvements` which refactors the proxy code to make it more extensible. Using it, just_audio now streams assets directly from the bundle via the proxy, and there is now also a new `StreamAudioSource` for dynamically streaming data which also supports range requests (See #172 ).

Caching could potentially be plugged in by subclassing this class, however

[2021-01-07 14:55] nt4f04uNd opened #276 "Pitch"

[2021-01-07 14:55] #276 closed

[2021-01-07 16:58] nt4f04uNd commented on #276
@ryanheise reopen this

[2021-01-07 16:59] defsub commented on #47
I'll share my use case. As of now the user can download songs to precache them for later local playback. The downloaded songs are stored in a cache keyed off of S3 etags. The metadata for all songs includes the etag so it's easy to check if a song is already cached and can be streamed locally. Before playback I have code that that checks whether to use file or https URLs depending on the cache loo

[2021-01-07 18:47] ekuleshov opened #277 "Duplicated cache entries when same AudioSource is loaded from the app assets multiple times"
**Which API doesn't behave as documented, and how does it misbehave?**

I'm preloading a small audio file from assets (on Android) on the app startup using the following code:

[code]

Every time app is started the `just_autio` plugin adds a new copy of the same file into the `.../cache/just_audio_asset_cache` app data folder.

**Minimal reproduction project**

Here is a minimal code to reproduce

[2021-01-07 18:47] #277 closed

[2021-01-07 19:09] ekuleshov opened #278 "Duplicated local cache entries when the same AudioSource is loaded multiple times from the app assets"
**Which API doesn't behave as documented, and how does it misbehave?**
I'm loading a small audio file from the app assets (on Android) on the app startup using the following code:

[code]

Every time app is started the `just_autio` plugin adds a new copy of the same file into the `.../cache/just_audio_asset_cache` app data folder.

**Minimal reproduction project**
https://github.com/ekuleshov/just

[2021-01-07 23:32] Eufranio opened #279 "setAndroidAudioAttributes causing a FlutterJNI exception"
I have a project that uses just_audio, and after some updates, it stopped playing audio. After hours of debugging, I found that the Future returned by `player.setAudioSource()` never completed. Then I found that when the plugin calls `platform.setAndroidAudioAttributes` [here](https://github.com/ryanheise/just_audio/blob/master/just_audio/lib/just_audio.dart#L870), Flutter displays a FlutterJNI er

[2021-01-07 23:32] #279 closed

[2021-01-08 02:44] ryanheise commented on #276
@nt4f04uNd I have an issue template for a feature request. Please click on "New issue", and then click on the button next to "Feature request" and follow the instructions within the issue template.

I'm sorry the bot misidentified your issue as a bug. The bot is pretty limited, and fires if your issue doesn't follow the required template. If you follow my instructions above, it should go through O

[2021-01-08 03:11] ryanheise commented on #47
Thanks @defsub , that is very informative.

Out of curiosity, how would you prefer to handle the situation when the user seeks to somewhere near the end of the file while the file is still downloading? Typically the player will stop downloading data at the current point and then make an HTTP range request for data starting at the new seek point.

I think ideally the cache store should have a data

[2021-01-08 03:12] ryanheise commented on #277
Hi @ekuleshov although this issue was blocked by the bot, please take a look at the `proxy_improvements` branch which streams assets directly from the asset bundle without copying them to a storage cache first.

[2021-01-08 03:13] ryanheise commented on #278
Hi @ekuleshov , I would suggest trying out the `proxy_improvements` branch which eliminates the asset cache and instead streams assets directly from the asset bundle.

[2021-01-08 03:22] ekuleshov commented on #278
Thnx. I wonder if same issue apply for other resources, like external urls, etc.

[2021-01-08 03:51] ryanheise commented on #279
The relevant plugin code has certainly changed, I would appreciate if you can provide a minimal reproduction project so that I can investigate it.

[2021-01-08 05:48] agersant commented on #47
I can also chime in on this as another example use-case. I am currently writing a new version of the Android client for [Polaris](https://github.com/agersant/polaris) using `audio_service` and `just_audio`.

The set of features I am trying to support is:
- Songs played by the user are cached on disk,  in a specific directory structure and alongside some Polaris-specific metadata (similar to a `Med

[2021-01-08 06:10] ryanheise commented on #47
Thanks for sharing your use cases @agersant . I understand seeking would not be very frequent in a music streaming app, compared, say, with a podcast app. A podcast episode might take in some cases minutes to download, and the user may want to seek around to check whether this is the right episode. And ultimately the cache should be able to present one contiguous file from the combined regions.

A

[2021-01-08 08:48] ryanheise commented on #278
This would only affect assets. External URLs and files have always been streamed directly from the source to the player, while assets were first extracted from the asset bundle into a file where it could then be streamed to the player.

By the way, thank you for testing this branch. Let me know how it goes and whether you run into any issues with the new implementation.

[2021-01-08 11:27] nuc134r commented on #47
@ryanheise I appreciate the offer to make a PR and will try when I will have some coding time. I actually spent some time making asynchronous byte reading and writing so would like to share a solution. For now I didn't even check the code in the new branch.

In my current implementation data is served if it is written to disk and if user seeks beyond the cached range another request is made to the

[2021-01-08 12:30] ryanheise commented on #47
Looking at the Nginx documentation, it seems to offer two different approaches for byte-range caching:

https://www.nginx.com/blog/smart-efficient-byte-range-caching-nginx/

1. Cache lock: Downloads the entire file on the initial request. During the download, any subsequent byte-range requests are forwarded to the original server. After the download, byte-range requests are serviced from the cache

[2021-01-08 14:38] ryanheise commented on #187
Hi and sorry for the delay. I have just created a new branch called `proxy_improvements` which includes a new class `StreamAudioSource`. You can use it to feed bytes into the audio player, and this should make your use case possible.

Let me know how it goes for you, and I might consider adding more convenience methods such as:

[code]

[2021-01-08 17:55] ekuleshov commented on #278
Not sure how I can specify git branch in dependency for that plugin in the pubspec. I will have to wait for a released version.

[2021-01-08 23:57] ryanheise commented on #278
You can try this:

[code]

[2021-01-09 01:02] ryanheise commented on #230
It seems this should also support playing assets on the web platform.

[2021-01-09 01:27] ekuleshov commented on #278
I get the log below on the Android 11 app startup and no sound is played after.

I think I may know how I can fix that on Android, but I'd prefer not to make these changes and would rather have a single entry in the asset cache. Though if you're going to keep that, you may be able handle the required Android networking policy change trough manifest merge facility.

[code]

[2021-01-09 01:33] ryanheise commented on #278
You can fix that error by manually following these instructions:

https://pub.dev/packages/just_audio#platform-specific-configuration

I would not want to turn this on by default, it should be the app developer's choice for their security consideration. This issue happens because assets are now streamed via the aid of a proxy, and this proxy is running the HTTP protocol.

In the future, I hope to

[2021-01-09 02:31] ekuleshov commented on #278
@ryanheise like I said, I know how to get around that, but I considering enabling plain text traffic for everything in the app and a local http proxy a very very BAD choice. In may case allowing plain text is just not acceptable.

Basically you are not giving developer any choice. It has to be enabled or else it doesn't work. And really local https proxy is not that much better for this, e.g. how

[2021-01-09 03:30] ryanheise commented on #278
I was hoping you could at least use clear text for testing purposes. The plan is to secure it.

By using a secure token in the proxy URL that only just_audio knows.

You do still have a choice if you prefer to write to a file, and you could implement this more efficiently within your app. After the app install, you can extract the asset into a file like this:

[code]

Then, you can play it like th

[2021-01-09 03:45] ekuleshov commented on #278
Unfortunately that is security by obscurity. The token will have to be stored in the app, so it can be extracted. So, I do see that being a problem.

For the the option with a file path. Isn't it platform-dependent? Not all platforms may have files or creating them may not be ideal.

Maybe instead of all that there could be a memory-based AudioSource that one could load from `rootBundle.load(asset

[2021-01-09 05:48] ryanheise commented on #278
This has larger implications for other uses of the proxy (request headers, caching, ...), so there is still a need to get it right. I had intended to initialise the token at runtime randomly (it could be a hash of various random and internal values, or leverage the security features of the native platform including Secure Storage) with an override option allowing the app to set its own token. Keep

[2021-01-09 06:05] ekuleshov commented on #278
Thank you for looking into this. I think using hash of the asset path url for the cache keys and never evicting it will work ok. Like you said, assets are pretty much static resources.

The only issue is in case the asset content changes in the app. Just need to remember to change the asset name in this case. That should be fine for the audio files.

PS: with proxy I'm that concerned with the asse

[2021-01-09 06:15] ekuleshov opened #280 "memory-based AudioSource"
**Is your feature request related to a problem? Please describe.**

As discussed in #278 a memory-based AudioSource could be a good option to serve audio data packaged with the app.

**Describe the solution you'd like**

A memory-based AudioSource would allow to feed audio data loaded from assets, e.g. `player.setBytes(await rootBundle.load(assetPath)).buffer.asUint8List())` or even in-memory gene

[2021-01-09 06:26] ryanheise commented on #278
That's a good point about app updates. I may be able to use package_info to detect an app upgrade and re-extract the asset.

Concerning the proxy, the proxy generates unique URLs for each audio source that you register by calling `setAudioSource` or its variants and stores these in a "finite" map. The proxy server _only_ responds to requests if the URL key exists in that map, and when it does exis

[2021-01-09 06:41] ryanheise commented on #254
There is also `HttpServer.bindSecure`. I think the issue here will be that iOS doesn't work well with self-signed server certificates:

https://stackoverflow.com/questions/38217551/how-can-i-use-an-avplayer-with-https-and-self-signed-server-certificates

For apps where security is a relevant concern, I may look into another solution for headers described here:

https://exceptionshub.com/send-heade

[2021-01-09 11:39] ryanheise commented on #280
As mentioned in #278 a purely memory-based solution might be a long way off, but if I look at the use cases, maybe a file-based solution will suffice in the short term.

I will restore the old copy-asset-to-file approach with a better caching mechanism to address the asset use case, while the `player.setBytes` method could also be implemented by writing those bytes to file and passing that to the

[2021-01-09 17:09] defsub commented on #47
I agree with @agersant that partial files aren't that useful with music. If a user seeks toward the end of a file that hasn't been pre-cached yet, I'd be okay with having the player wait for the download to catch up at the benefit of having the entire song cached. This is not great for podcasts but is reasonable for music, I think.

[2021-01-09 17:15] afkcodes commented on #47
What if someone is playing a live radio? it will be a continuous stream of data. I wanted to implement this on my app where users can start or stop caching and the portions will be saved to the device for playing later. the second approach looks better for this scenario not sure though. Ryan can shed some light on this.

[2021-01-10 01:05] ryanheise commented on #278
The latest commit on the `proxy_improvements` branch reverts to a file-based asset cache avoiding duplicates. It will also delete the old cache directory along with any duplicates. Let me know how it goes.

Note that the old version (the currently released version) was highly sensitive on the app calling `dispose` to clean up the cache afterwards which suggests that probably your app wasn't succes

[2021-01-10 01:22] ryanheise commented on #272
The old file-based asset solution has the benefit that it ensures the asset stays internal to the app. So I've reverted the code back to the file-based solution for assets and improved the cache.

The bigger picture may be to reserve proxy use for access to external web resources.

[2021-01-10 01:22] ryanheise commented on #230
This code has been reverted back to a file-based solution with an improved cache, because this guarantees that internal app assets are kept internal. The proxy will be reserved for access to external web resources.

[2021-01-10 01:31] ryanheise commented on #172
In the latest versions of Android, apps using the proxy will get the "clear text" error since the proxy uses HTTP rather than HTTPS. The proxy can be made to use HTTPS by using `bindSecure` instead of `bind`, but it is complicated by the fact that Android does not work well with self-signed certificates:

https://stackoverflow.com/questions/38217551/how-can-i-use-an-avplayer-with-https-and-self-si

[2021-01-10 01:32] ryanheise commented on #172
Also see: https://stackpointer.io/mobile/android-sniff-http-https-traffic-without-root/490/

[2021-01-10 02:27] ryanheise commented on #47
I see no reason why both Nginx caching approaches can't be implemented, with an additional option in the cache slicing approach to automatically download all segments.

As for caching radio streams, I'm not sure how to make that work, particularly if there is no information on where a cached segment fits into the whole stream, position wise. Unless you can suggest something, I think this use case

[2021-01-10 04:45] hacker1024 commented on #172
Are you sure about that? [It looks like an additional certificate can be stored in the raw resource directory and added to the `AndroidManifest.xml`](https://developer.android.com/training/articles/security-config#TrustingAdditionalCas).

Regardless, it's fairly trivial to [enable cleartext traffic](https://developer.android.com/training/articles/security-config#CleartextTrafficPermitted) (hopeful

[2021-01-10 05:20] ryanheise commented on #172
Sorry, I meant iOS for the first point (I'm aware Android works).

For the second point, thanks for pointing me to that link. I should update the current instructions which show how to enable cleartext completely, and include a note on how you can selectively enable it only for the loopback address. That will at least help to address people's concerns about having to enable cleartext globally.

Wh

[2021-01-10 07:17] hacker1024 commented on #172
If the same token is used for every URL, someone with a RAM viewer could theoretically find it and use it for every URL. If a unique token is generated for every URL, it would be much harder to crack as not only the RAM must be analysed but also the generation code needs to be reverse-engineered to predict upcoming tokens.

So IMHO per-URL tokens seem significantly more secure.

If it adds too muc

[2021-01-10 09:38] ryanheise commented on #172
Yeah, someone willing to go to the extent of using a RAM viewer would have been able to find easier ways to discover the token, such as an HTTP sniffer. I guess you could have a rotating key, etc., but I'd rather implement something simple and then perhaps spend my time looking into other ways to stream the data from Dart to the platform besides an exposed port.

It would require some platform spe

[2021-01-10 13:12] afkcodes commented on #47
@ryanheise both can be implemented with an optional flag which one to choose from, and about the live radio stream data the streams will be a sequence for a particular radio stream as it can't bee seeked so only option is to get the latest chunk from the stream. I have seen some native android app giving an option to record a particular playing radio and save it on device as mp3 or aac file but th

[2021-01-10 21:55] Mr-Pepe commented on #187
Looks promising, but I don't fully understand it yet.

I write my on StreamAudioSource:
[code]

And then I try to set that audio source:
[code]

However, I get a `NoSuchMethodError: The getter 'uri' was called on null.` in `addStreamAudioSource`. It looks to me like the proxy is not running.

Is there some setup required?

[2021-01-10 22:56] erikatvojo opened #281 "Position is always reset to zero when resuming playback after pause on iOS."
**Which API doesn't behave as documented, and how does it misbehave?**
On iOS AudioPlayer always returns position = 0 after pausing and then playing an mp3 from a url.

**Minimal reproduction project**

Assuming an mp3 is set using setUrl and played, paused, played using the methods below then:

  @override
  Future<void> onPlay() {
    print(_player.position.toString()); // position is correct on

[2021-01-10 22:57] #281 closed

[2021-01-10 23:05] erikatvojo opened #282 "Position is always reset to zero when resuming playback after pause on iOS."
**Which API doesn't behave as documented, and how does it misbehave?**

On iOS AudioPlayer always returns position = 0 after pausing and then playing an mp3 from a url.

**Minimal reproduction project**

Assuming an mp3 is set using setUrl and played, paused, played using the methods below then:

@override
Future onPlay() {
print(_player.position.toString()); // position is correct on iOS and Andr

[2021-01-11 00:59] ryanheise commented on #187
Hmm, are you able to get a stack trace?

[2021-01-11 01:03] ryanheise commented on #282
Before I investigate, can you please provide a link to an actual minimal reproduction project that I can clone, and provide me with the steps on how to reproduce?

[2021-01-11 06:35] ryanheise commented on #47
I think the cache logic could be abstracted out into a separate class with a subclass for each caching strategy. These could be plugged into the same caching subclass of `StreamAudioSource`.

As for your use case @afkcodes I would suggest that you create your own subclass of `StreamAudioSource` and in it you could provide a switch to turn on recording. If you're not sure how to do that, you can wa

[2021-01-11 06:40] ryanheise commented on #280
Note to self: on iOS this can be done using [AVAssetResourceLoaderDelegate](https://stackoverflow.com/questions/13741950/assigning-avasset-from-nsdata).

On Android, this can be done with [ByteArrayDataSource](https://stackoverflow.com/questions/42747416/exoplayer-play-audio-from-byte-array-bytearraydatasource).

[2021-01-11 06:50] ryanheise commented on #146
Note to self: Maybe this can be implemented using [AVAssetResourceLoaderDelegate](https://stackoverflow.com/questions/13741950/assigning-avasset-from-nsdata). The silent audio data would need to be encoded, so I'd need to generate appropriate silence audio bytes for a given duration in some encoding.

[2021-01-11 10:09] Mr-Pepe commented on #187
The error is:
`JSNoSuchMethodError (NoSuchMethodError: invalid member on null: 'addStreamAudioSource')`

And this is the call stack. I used VS Code, activated breaking on exceptions and copied the call stack. Please let me know if you need more info and I'll try my best to help.

[code]

[2021-01-11 10:17] Mr-Pepe commented on #187
You can also run the whole thing yourself by checking out the "proxy" branch of this [repo](https://github.com/Mr-Pepe/tingting). You just need to change the path to your local just_audio version in the pubspec.yml and run the app in the example folder. Click the note symbol in the upper right corner of the app and choose "From file".

[2021-01-11 11:34] afkcodes commented on #47
yeah cool @ryanheise i will wait for the implementation.

[2021-01-12 01:37] ryanheise commented on #187
Thanks for the reproduction case! I will take a look.

[2021-01-12 01:39] ryanheise commented on #275
Apologies it has taken more than a couple of days to get around to this one. I will hopefully be able to look into it soon.

[2021-01-12 23:10] BringTheChill commented on #179
just add that on your Info.plist

[code]

[2021-01-13 00:38] ryanheise commented on #179
Note #180 which supersedes this one. It is the currently pinned issue.

[2021-01-13 02:52] ekuleshov commented on #278
@ryanheise tried out the branch. All seem look good. Thank you. Any idea when it goes to the release version?

[2021-01-13 14:53] erikatvojo commented on #282
I tried to reproduce the problem by modifying the just_audio example, but I didn't get position = 0 with the amazonaws mp3s there. So I checked the response headers for the mp3 I was using and it had:

Content-Type: audio/mpeg
Transfer-Encoding: chunked
Connection: keep-alive

while the amazon response has:

Accept-Ranges: bytes
Content-Type: audio/mp3
Content-Length: 91924300

With a response hea

[2021-01-14 00:21] ryanheise commented on #278
Hi @ekuleshov , thanks for testing. I will aim for a weekend release, although in the meantime I would suggest pinning your pubspec to that commit.

[2021-01-14 00:25] ekuleshov commented on #278
@ryanheise you mean?

`ref: a74834af378243310c982ed7a11cc10440b3462e`

[2021-01-14 00:26] ryanheise commented on #282
I agree it could be a good idea to add a note to the README. Here is Apple's advice for iOS:

https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/CreatingVideoforSafarioniPhone/CreatingVideoforSafarioniPhone.html#//apple_ref/doc/uid/TP40006514-SW6

[2021-01-14 00:27] ryanheise commented on #278
Right (where `ref` is a sub-property under `git`).

[2021-01-16 02:00] ryanheise commented on #275
FYI, I have fixed the error but I've stashed it temporarily until I fix the other issue I was working on. Hopefully I'll have it ready for testing some time today.

[2021-01-16 02:03] ryanheise commented on #47
I just tried making a simple implementation that subclasses `StreamAudioSource` and realised that the `lengthInBytes`cannot be a synchronous getter, so I'm going to rework the API. I'll post a sample subclass demonstrating how you might go about caching as soon as that is done.

[2021-01-16 14:35] ryanheise commented on #47
The latest commit fixes the `StreamAudioSource` API and also provides a `LockCachingAudioSource` subclass which implements a very simple approach to caching where the first request results in the file being downloaded and cached, and subsequent byte-range requests will block until enough audio has been downloaded. This should be improved in the future to follow the Nginx approach of making additio

[2021-01-16 14:36] ryanheise commented on #275
Hi @pschuegr this now should be fixed (hopefully) in the latest commit. Let me know if it works for you or if you notice any problems with it.

[2021-01-16 14:38] ryanheise commented on #187
Sorry to cause more trouble for you but I just changed the `StreamingAudioSource` API slightly after trying to implement a subclass myself and realised that in some cases, the length in bytes couldn't be returned synchronously. Please try first updating your code to use this API and if it still produces an error, I would like to see if I can fix it.

[2021-01-17 00:22] pschuegr commented on #275
My original repro case no longer causes problems, I'll ping if I notice anything.  Thanks!

[2021-01-17 17:25] amugofjava opened #283 "Setting initial duration throws a NullPointerException"
**Which API doesn't behave as documented, and how does it misbehave?**
Attempting to set an initial duration either via:
[code]
For example or:
[code]
Issue occurs for both local and streamed files.

**Minimal reproduction project**

Please find a version of your example application that reproduces this error [here](https://github.com/amugofjava/just_audio)

**To Reproduce (i.e. user steps, not co

[2021-01-17 18:32] Mr-Pepe commented on #187
I have implemented an audio source using the new API, but I still get the same null pointer exception inside the _setup function (line 1909). I have pushed the changes to the branch I mentioned for you to reproduce. Thanks for your effort and let me know if you need help or additional information!

[2021-01-18 15:24] ryanheise commented on #97
I've just implemented the Android side on the `visualizer` branch. Call:

[code]

Then listen to data on `visualizerWaveformStream` and `visualizerFftStream`. The returned sampling rate can be used to interpret the FFT data. Stop the capturing with `player.stopVisualizer()`.

The waveform data is in 8 bit unsigned PCM (i.e. subtract 128 from each byte to get it zero-centred). The FFT is in the And

[2021-01-18 16:21] ryanheise commented on #187
Ah yes, of course. The proxy is disabled for web because `dart:io` is not available for web. Unfortunately this means I would need to find another way to support streaming audio data from a buffer to the player on the web platform. (I'm sorry to have gotten your hopes up by the latest commits! It will certainly require more thought.)

[2021-01-19 02:29] ryanheise commented on #97
Information on how to interpret the Android FFT data:

https://developer.android.com/reference/android/media/audiofx/Visualizer#getFft(byte[])
https://stackoverflow.com/questions/4720512/android-2-3-visualizer-trouble-understanding-getfft

As for iOS, some ideas for implementation:

https://stackoverflow.com/questions/22751685/using-mtaudioprocessingtap-for-fft-on-ios
https://chritto.wordpress.com

[2021-01-19 02:32] ryanheise commented on #147
The implementation technique on iOS will be related to #97 (just putting an issue reference here for later when I come back to look at this.)

[2021-01-19 02:42] ryanheise commented on #47
Just FYI, how to try out the above caching implementation:

[code]

In addition to `uri`, there are parameters for `headers` and `cacheFile` so you can specify your own location for the cache file. By default, the filename is a hash of the URL stored in just_audio's internal cache directory. Note that the implementation will append `.part` to the cache file name while downloading and then rename i

[2021-01-19 03:18] ryanheise commented on #283
Thank you for the bug report, I will investigate this today.

[2021-01-19 03:24] ryanheise commented on #283
I have just fixed the bug on git master which you can try with this pubspec dependency:

[code]

Let me know how it goes for you and if it functions correctly, I'll include this in the next release.

[2021-01-19 06:42] amugofjava commented on #283
Yes, that works perfectly now. Thank you for fixing it so quickly.

[2021-01-19 08:23] ryanheise commented on #283
Great! Thanks for letting me know it's working now.

[2021-01-19 12:57] #120 closed

[2021-01-19 12:59] ryanheise commented on #121
I do recall fixing some rendering errors like this at some point in the past and haven't noticed issues with the latest version, so I'll close this. I can reopen if you find the error still exists.

[2021-01-19 12:59] #121 closed

[2021-01-19 13:01] ryanheise commented on #110
I'm closing this now that the new state model has been introduced and documented.

[2021-01-19 13:01] #110 closed

[2021-01-19 13:10] ryanheise opened #284 "API to access load errors for individual items in a playlist"
**Is your feature request related to a problem? Please describe.**

It is currently difficult to identify which item(s) in a playlist had a load error. Only the first item will raise an exception, while other items will send an error through the event stream, but the error doesn't identify the specific item, and the item doesn't identify the error.

**Describe the solution you'd like**

It may be

[2021-01-19 13:11] #75 closed

[2021-01-19 13:19] ryanheise commented on #262
The temporary solution that I implemented above is actually released and doesn't seem to be causing major problems so I'll consider the issue closed.

The original bug was caused by a workaround to force `ClippingAudioSource` to start at the correct position but I feel that there should be a better solution to that. If I do end up pursuing it, I will pursue it under a different issue.

[2021-01-19 13:19] #262 closed

[2021-01-19 13:55] ryanheise commented on #278
I was not able to find a reliable way to detect when an app's assets have been updated in order to update the asset cache. It would be possible for an app to do its own versioning in the same way that sqlite manages versions and detects the right time to do migrations. So the app could include an asset containing an asset bundle version string and then if the cache and asset bundle contain differe

[2021-01-19 14:12] ekuleshov commented on #278
I agree think it is okay to leave it to the app to handle the cache updates. E.g. the app can just change the asset name when content changed. Though method to clear the cache will help.

[2021-01-19 15:09] ryanheise commented on #177
This may be the same as #275 . Would you like to try the latest on git master to see if the problem still occurs for you?

[2021-01-20 02:11] ryanheise commented on #278
I've now implemented the `clearAssetCache()` method. All that's left is to do testing which I'll try to do sometime today.

[2021-01-20 09:02] ryanheise commented on #283
This fix is now available in release 0.6.6.

[2021-01-20 09:02] #283 closed

[2021-01-20 09:03] ryanheise commented on #278
This is now released in 0.6.6.

[2021-01-20 09:03] #278 closed

[2021-01-20 09:06] ryanheise commented on #275
This fix is now released in 0.6.6. Thanks again for helping to report and test.

[2021-01-20 09:06] #275 closed

[2021-01-21 09:55] suragch opened #285 "bufferedPositionStream doesn't produce a stream on iOS and macOS"
**Which API doesn't behave as documented, and how does it misbehave?**

[code]

It doesn't provide a stream of updates like Android does.

**Minimal reproduction project**

In "The example" you can observe this if you replace [this line](https://github.com/ryanheise/just_audio/blob/master/just_audio/example/lib/main.dart#L131) with the following:

[code]

**To Reproduce (i.e. user steps, not code)

[2021-01-21 10:01] ryanheise commented on #285
Oh, thanks for reporting that. I was sure I had implemented this, and I *had* but it looks like I accidentally reverted the code.

In this code:

[code]

The buffered position is broadcast as `_updatePosition` but it should be `_bufferedPosition`.

I will take a look at this after dinner.

[2021-01-21 10:16] suragch commented on #285
I'm glad it's an easy fix! Thank you.

[2021-01-21 12:05] ryanheise commented on #285
I've just committed a fix. Can you confirm if it works for you?

[2021-01-21 12:23] suragch commented on #285
I just checked on both iOS and macOS. Both are working. Thank you!

[2021-01-21 12:23] #285 closed

[2021-01-21 15:57] Mr-Pepe commented on #187
Thank you for your efforts! It looks like you at least have a solution to directly stream from a buffer on other platforms, which is nice. Unfortunately, that's a show stopper for me for the time being.

[2021-01-21 21:10] cyberpwnn opened #286 "Cannot play anything on IOS (but android works fine)"
I'm not sure what formats IOS supports, but I've tried mp3 and wav. Was pretty sure mp3 was supported. Is there a list of supported formats? Android is working fine (as most audio plugins do)

[code]

But my guess is IOS is having trouble opening files? I am using playFilePath, not URLs. I will test with urls instead.

Flutter version
[code]

Tested on IOS devices
* Iphone 12 Mini (latest IOS)
* I

[2021-01-21 21:10] #286 closed

[2021-01-21 21:36] cyberpwnn opened #287 "IOS Open errors (file path) wont play mp3,wav,m4a... Works on Android"
**Which API doesn't behave as documented, and how does it misbehave?**
Playing Audio

**Minimal reproduction project**
I do not have a min reproducible project to provide, however I will test that... though with the same platform issues on both projects I doubt anything will come of it.

**To Reproduce (i.e. user steps, not code)**
Steps to reproduce the behavior:
1. Play Audio
2. Observe it not w

[2021-01-21 23:07] blackraven96 commented on #56
Still no one for added this functionnalty on IOS ? :)

[2021-01-21 23:46] ryanheise commented on #187
If you can find a Javascript app that works, I may be able to implement it's solution. Does this work for you?

https://simontabor.com/labs/audio/

[2021-01-21 23:53] ryanheise commented on #287
But nothing will come of this bug report either if I can't reproduce it.

[2021-01-21 23:54] ryanheise commented on #250
This has now been unblocked.

[2021-01-22 00:03] ryanheise commented on #56
@blackraven96 I am currently working on the visualiser feature, followed by nnbd (maybe this will come first), then maybe web assets/files, alongside bugs that crop up.

I have posted a link above on how this could be implemented, but it will just take someone sufficiently motivated to submit a pull request and jump the queue (otherwise if I implement it, it will happen after completing other item

[2021-01-22 02:48] cyberpwnn commented on #287
I'll work on getting a min repro up, but if It ends up working, would you have any idea of why this is happening? Why the same file plays on android but not IOS? It's an mp3.

[2021-01-22 02:50] ryanheise commented on #287
I have no idea. I can start getting some idea of it once I can reproduce it, so let's focus on that first.

[2021-01-22 03:01] cyberpwnn commented on #287
I have a project, testing it on ios (android worked as assumed).

[2021-01-22 03:12] cyberpwnn commented on #287
Ok yeah, Still fails with
[code]

https://github.com/cyberpwnn/justaudiobrokenonios

This works on Android, Fails to play on ios. I'm using a URL (in source) which is simply an mp3 file. I will test files too, but I imagine the same exact thing will happen.

[2021-01-22 03:22] ryanheise commented on #287
Thanks for providing that, I will check after lunch. iOS has some requirements for server headers but the fact that it gives the same error for local files suggests that iOS doesn't like the file contents itself, whereas it does like the file contents in my example, which I assume works for you.

[2021-01-22 03:23] cyberpwnn commented on #287
I did not get a chance to test those. And I can add the local-file test into the example if you like.

[2021-01-22 03:35] ryanheise commented on #287
You did tell me that it was the same for files, right? If that information was incorrect, then it might actually be a server headers problem. The only weird thing about the headers that I can see is the content type is `octet-stream` which should be `audio/....`.

[2021-01-22 06:50] cyberpwnn commented on #287
That file is hosted, but the same file is local, and still fails to play. I.E. in my real project, I download it (cache) as a file and play from the local file, still has the same problem. Even if the url has bad headers, it should not be the problem. By downloading that file and simply renaming it to an mp3 file, it plays just fine. But again even with downloading the file, it wont play same exac

[2021-01-22 07:15] cyberpwnn commented on #287
Ok, I have updated the example app. You can now test both playing from the same url above, or test playing the file (simply downloads the file once, then plays the file locally). As all the previous tests, It works like a charm on android, but has the same error on IOS, no dice.

[2021-01-22 08:23] ryanheise commented on #287
In the case of the file, it works after giving the filename a `.mp3` extension. I assume that the URL will also work after you configure your server to produce the correct content-type header.

[2021-01-22 20:17] cyberpwnn commented on #287
Is there any way around that? I.e. such that it works like android does? And if for example it was another format, I assume it needs to be that format's extension also?

[2021-01-22 21:33] cyberpwnn commented on #287
I came up with a solution for now, using flutter_ffmpeg to determine the format (and i can convert wav files into mp3 for ios too)

[2021-01-23 01:47] ryanheise opened #288 "Support assets on web"
**Is your feature request related to a problem? Please describe.**

Audio currently can't be loaded from assets on the web.

**Describe the solution you'd like**

Use HTML5 data URLs.

**Describe alternatives you've considered**

The web audio API can support this but it unfortunately doesn't support speed changes.

**Additional context**

The same technique could possibly also be used to support

[2021-01-23 01:51] ryanheise commented on #187
I'm currently working on #288 which might lead to a solution for this issue as well.

[2021-01-23 10:45] Mr-Pepe commented on #187
I have tried the HTML player you linked in both Firefox and Chrome, but it doesn't show me anything after loading a file.

I subscribed to #288 and will give it a spin as soon as you think it should work.

[2021-01-23 13:39] ryanheise commented on #187
This should all be implemented in the latest commit. Your existing code should theoretically work but please do let me know if it does!

[2021-01-23 13:40] ryanheise commented on #288
Implemented in latest commit.

[2021-01-23 14:25] Mr-Pepe commented on #187
Hmm, the request function gets passed null as start and end.

[2021-01-23 14:27] Mr-Pepe commented on #187
This is my request function

[code]

which prints

[code]

[2021-01-23 14:35] ryanheise commented on #187
Yes that is possible. If those parameters are null, you should return the entire file.

[2021-01-23 14:54] Mr-Pepe commented on #187
Sorry, I overlooked that. I had to cast my buffer from uint8 to int, but now it works!
Thank you so much for your awesome work.

[2021-01-23 14:54] #187 closed

[2021-01-23 16:05] #288 closed

[2021-01-23 16:06] ryanheise commented on #187
Great to hear. This is now published in 0.6.9.

[2021-01-24 01:30] ryanheise opened #289 "Mention media requirements for macOS and iOS"
**To which pages does your suggestion apply?**

The README

**Quote the sentences(s) from the documentation to be improved (if any)**

**Describe your suggestion**

Mention specific requirements for AVPlayer to work. In particular:

* Servers should support byte range requests and produce the correct content type
* Files should have a recognisable extension.

[2021-01-24 01:49] ryanheise commented on #287
Good to know you worked out some solution. I'll close this issue, but have opened #289 to add this to the documentation.

[2021-01-24 01:49] #287 closed

[2021-01-24 01:51] ryanheise commented on #282
Hi @erikatvojo , I've opened a new issue #289 which combines a couple of different documentation requests related to Apple behaviour. If I have missed mentioning on that new issue, please feel free to comment so that it gets included in the updated documentation.

[2021-01-24 01:51] #282 closed

[2021-01-24 03:47] ryanheise commented on #289
The README has been updated.

[2021-01-24 03:47] #289 closed

[2021-01-24 18:39] AliHoseinpoor opened #290 "Add duration field in AudioServiceBackground.setState()"
**Is your feature request related to a problem? Please describe.**
I want to access the duration of the song. To do this I came to listen to the durationStream event and there I change the duration of the media item and then with AudioServiceBackground.setMediaItem (newMediaItem); I return the new media Item.

[code]

**Describe the solution you'd like**
As it is possible to return the position in

[2021-01-24 23:01] ryanheise commented on #290
Can you go into more detail about the problem you're trying to solve? You can access the duration of the song via `AudioService.currentMediaItemStream`.

[2021-01-25 00:10] lexyfeito commented on #241
Any news on this? I am facing the same error.

[2021-01-25 00:16] ryanheise commented on #241
This issue is missing all of the required sections, so I wasn't able to investigate it.

I'll close this, but please take a look at #158 which is similar and I was able to investigate that one.

If your issue is different, I would suggest opening a new issue (but don't forget to fill in the required sections.)

Thanks.

[2021-01-25 00:16] #241 closed

[2021-01-25 00:17] ryanheise commented on #241
This issue is missing all of the required sections, so I wasn't able to investigate it.

I'll close this, but please take a look at #158 which is similar and it was able to be investigated.

If your issue is different, I would suggest opening a new issue (but don't forget to fill in the required sections.)

Thanks.

[2021-01-25 10:59] Pianzhous opened #291 "在ios上，有耳机连接时，还是扬声器播放，必现"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.

**Minimal reproduction project**
Provide a link here using one of two options:
1. Fork this repository and modify the example to reproduce the bug, then provide a link here.
2. If the unmodified official example

[2021-01-25 12:11] AliHoseinpoor commented on #290
I am using your just_audio and auduo_service packages at the same time and I want to get the duration of the song from the player. I saw the example audio_service package and when you were creating the media item list, you gave it the duration manually, but I want to get this duration from the player. To do this, I came to use durationStream. Now, if it is possible to send a duration song in Audio

[2021-01-25 12:24] ryanheise commented on #290
But why is this required in light of the other stream I mentioned in my previous comment?

[2021-01-25 12:26] ryanheise commented on #291
I'm sorry but this issue doesn't follow the instructions. Please use Google translate to read them.

[2021-01-25 12:27] #291 closed

[2021-01-25 23:40] ryanheise commented on #97
I've changed the API slightly to include the sampling rate in the captured data, and included a very simple visualiser widget in the example. The iOS side will be more difficult and I have time higher priority things to switch to for the moment but help is welcome. In particular, if you would like to either give feedback on the API, contribute a better visualiser widget example or even help gettin

[2021-01-26 08:45] AliHoseinpoor commented on #290
Because when we do not enter the duration field manually in the media item, when we use AudioService.currentMediaItemStream to get the duration returns null

[2021-01-26 09:22] ryanheise commented on #290
If you call `AudioServiceBackground.setMediaItem(newMediaItem)` where `newMediaItem` is the item with the updated duration, that should notify the client via `AudioService.currentMediaItemStream`, and so that stream *should* solve your use case. If it does not correctly notify the stream, then that is a bug in audio_service. Is there a reason why you specifically want the duration update to be not

[2021-01-26 18:11] AliHoseinpoor commented on #290
I guess there is a bug in AudioService because I did what you said in the beginning but mediaItem was not updated. The code I wrote is as follows:
[code]

[2021-01-26 19:05] defsub commented on #290
@AliHoseinpoor can you try the PR below and see if this works for you? I use this approach and the SeekBar works as expected. This PR updates the example app to dynamically update duration.

[https://github.com/ryanheise/audio_service/pull/585](https://github.com/ryanheise/audio_service/pull/585)

[2021-01-26 19:44] AliHoseinpoor commented on #290
thanks a lot. I will definitely try your code

[2021-01-26 20:43] AliHoseinpoor commented on #290
I built a new project and I tested this code and it was okay. Thank you very much, brother.
@ryanheise And thank you so much for your help
I'll close this issue now.

[2021-01-26 20:43] #290 closed

[2021-01-27 11:01] Pianzhous opened #292 "On iOS, when the Bluetooth headset is connected, it still plays from the speaker"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.

**Minimal reproduction project**
Provide a link here using one of two options:
1. Fork this repository and modify the example to reproduce the bug, then provide a link here.
2. If the unmodified official example

[2021-01-28 14:12] gtu-myowin commented on #47
The main purpose of this thread is to reduce data consumption or server load. So, the best workaround solution is

1. do the play and download simultaneously
2. once the download is finished, get the position of streaming player and stop it
3. play from downloaded file and seek to the streamed position

If you would need the code, here it is

[code]

Hope it helps!

[2021-01-29 01:09] ryanheise commented on #97
To those interested in this feature, would you like a separate method to start the request permission flow to record audio for the visualizer? Currently `startVisualizer()` will start this flow when it detects that permission hasn't already been granted, but perhaps some apps would like more control over when permission is to be requested.

[2021-01-29 18:27] pstromberg98 commented on #97
@ryanheise Personally I like when libraries provide more fine grain control but I can see the argument for both. Perhaps it would be best to have `startVisualizer()` request permissions (if needed) by default but also have a way to request the permission separately.

[2021-01-29 19:02] defsub commented on #97
I second the comment from @pstromberg98

[2021-01-30 03:46] colehorvitz commented on #206
Any update on this? I wish for a track to play once seeking to Duration.zero on a new queue item is completed, but unfortunately, the future never resolves.

[2021-01-30 07:56] tsinis commented on #250
Great job @ryanheise! Thanks for your package, it's currently is one and only, that is on the good way to null-safety.

[2021-01-30 08:13] ryanheise commented on #206
Thank you for bringing this back to my attention! I had a lot of items on the backlog and unfortunately lost track of this one. I have changed its status to "fixing" which means that I will take a look after finishing what I'm currently working on, which includes null-safety.

From memory, when I first investigated this issue, I was also at a loss. But taking a look at it again with fresh eyes, I

[2021-01-30 16:09] ryanheise commented on #97
I've made an initial implementation of the visualizer for iOS. Note that this is definitely not production ready. Some problems to investigate:

1. Against Apple recommendations, I allocate an `NSData` buffer for each capture inside the TAP. You might want to keep an eye on memory usage in case this causes a leak.
2. I've only crudely converted the samples into 8 bit unsigned PCM. To make it look

[2021-01-30 19:44] colehorvitz commented on #206
No problem, and thanks for all you do to maintain this great plugin!

[2021-01-31 15:29] ryanheise commented on #250
It turns out `path_provider` is also blocking. It seems to be partially migrated, though, so maybe complete migration is around the corner, after which I'll release a nullsafe just_audio.

[2021-02-01 08:27] ryanheise commented on #250
I decided to temporarily remove the `path_provider` dependency and embed that functionality into just_audio. With that, I was able to release a null-safe release of just_audio. I'll switch back to `path_provider` once it gets a null-safe release (which should be soon).

[2021-02-01 15:38] smkhalsa opened #293 "Shuffle Play"
**To which pages does your suggestion apply?**

The `AudioPlayer .shuffle()` method

**Quote the sentences(s) from the documentation to be improved (if any)**

The docs currently state that the `shuffle()` method

However, I've noticed that the current index is not included in the shuffle.

**Describe your suggestion**

I'm not sure if this is a bug or a documentation issue. In my case, I'm trying

[2021-02-01 16:15] smkhalsa opened #294 "ConcatenatingAudioSource with lots of children takes a very long time to load"
**Which API doesn't behave as documented, and how does it misbehave?**

Creating a ConcatenatingAudioSource with lots (~1000) of children takes a very long time (>20 seconds).

In my application, users can have playlists with an arbitrary number of items.

**Minimal reproduction project**

**To Reproduce (i.e. user steps, not code)**

[code]

**Error messages**

**Expected behavior**

**Screenshot

[2021-02-02 00:36] ryanheise commented on #293
Thanks for the request! This is the intended default behaviour, but it is configurable. I have updated the documentation as follows:

[code]

For `ShuffleOrder.shuffle` I have updated the documentation as follows:

[code]

And for `DefaultShuffleOrder`, I have updated the documentation as follows:

[code]

Note that this documentation has been updated only on the `nnbd` branch which is for the nul

[2021-02-02 00:40] ryanheise commented on #294
Hi @smkhalsa unfortunately I will need you to fill in the sections as instructed. In the section called "User steps, not code", you actually copied and pasted code. This should be in the previous section "Minimal reproduction project" which you have left empty, but which should contain a link to a git repository that I can clone and test.

[2021-02-02 07:15] ryanheise commented on #250
A pub error which I ignored:

[code]

[2021-02-02 08:15] smkhalsa commented on #293
Thanks @ryanheise.

Your documentation changes clarify how the shuffle method works when an AudioSource has already been set.

However, it's still unclear to me how to "pre-shuffle" an audio source while preserving the default shuffle logic once an AudioSource has been set.

For example, in a spotify-like music player, a user might want to "shuffle play" an album, and expect that all indices are i

[2021-02-02 08:31] honzasvasek opened #295 "setting to disable AudioFocus request"
**Is your feature request related to a problem? Please describe.**

I am changing my app from using the **audioplayers** plugin to the **just_audio** plugin but just_audio is requesting Audio Focus and for my app I specifically do not want to request Audio Focus.

I want my app to be able to run in parallel  with music streaming apps like Spotify, without the stream ducking or stopping.

Right now

[2021-02-02 08:34] ryanheise commented on #295
I'm not sure about adding it to the audio_session plugin, but I do like the idea of adding another option to the `AudioPlayer` constructor, in addition to the current `handleInterruptions`.

Note that now that the plugin has been migrated to null-safety, it is likely that this feature will be added to the `nnbd` branch.

[2021-02-02 08:54] mvolpato commented on #250
You don't have to import an external library if you don't need it. If you are happy with your implementation of the functionality that you use, you can keep that.

[2021-02-02 09:02] ryanheise commented on #250
True, but I do still plan to restore the `path_provider` dependency as soon as it is migrated, though, simply because `path_provider` is a high quality dependency (1st party plugin developed by Google) with support for additional platforms which I may want to support in the future, and barring this speed bump with the null safety migration, will make the just_audio code simpler to maintain.

[2021-02-02 09:20] ryanheise commented on #250
I've just put out another null-safety release relaxing the sdk constraint slightly.

[2021-02-02 10:05] ryanheise commented on #295
This is now implemented in the latest commit on the `nnbd` branch. You can now pass `handleAudioSessionActivation: true` as a constructor parameter to prevent just_audio from handling activation itself.

Let me know if you find the API suitable or if you would like further changes.

Note that to try it out, you'll need to use a `git` dependency with a `ref` pointing to the `nnbd` branch and also a

[2021-02-02 12:03] ryanheise commented on #293
It's very helpful to learn about your use case for potential future API redesigns. But in the meantime, you can still implement the desired behaviour within the current design.

Shuffles should always be initiated via `AudioPlayer.shuffle()` but in your case you should provide your own custom subclass of `ShuffleOrder` to the constructor of your `ConcatenatingAudioSource`. On your `ShuffleOrder` s

[2021-02-02 13:17] honzasvasek commented on #295
thank you sir, works like a dream!

On Tue, Feb 2, 2021 at 11:06 AM ryanheise <notifications@github.com> wrote:

[2021-02-02 13:53] ryanheise commented on #295
Great to hear! I'll close this issue. Note that I may make further commits for other features before the next release, so it may be safer if you are directly depending on the git version to reference that specific commit in the `ref`. That way if I break anything in a subsequent commit, it won't affect your app.

[2021-02-02 13:53] #295 closed

[2021-02-03 02:37] ryanheise commented on #97
Has anyone been able to give this a whirl yet? I think this would be a really useful feature to include in the next release, so I'd like to make it a priority, although for that to happen, it would definitely help to get some feedback on the iOS side in terms of memory efficiency and stability. I will of course eventually add the option to start the permission flow on Android on demand, but I thin

[2021-02-03 10:38] asa767 opened #296 "Show Online Radio Stream's Now Playing Info at Notification"
**Is your feature request related to a problem? Please describe.**
Is there a way to show now playing info at notification area when palying an online radio stream by getting info from seperate online radio api.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A
**Additional context**
N/A

[2021-02-03 10:42] ryanheise commented on #296
Hi @asa767 , I have created another plugin especially for that called audio_service. I highly recommend it ;-) If you have any questions about how to use it after trying the example, there is a project FAQ and I also regularly answer questions on StackOverflow.

Note that audio_service and just_audio can be used together, and you'll find the audio_service example does just that.

[2021-02-03 10:42] #296 closed

[2021-02-03 18:48] pstromberg98 commented on #97
@ryanheise If I can find time I will talk a look at the iOS side and give my thoughts and feedback. I appreciate your efforts on it so far and am eager to jump in and help when I find time 👍.

I think marking the feature as experimental would make a lot of sense.

[2021-02-06 00:50] ryanheise commented on #206
I have just tested this, and it seems to be fixed along with #207 . Although perhaps if you have a long enough list, the loading will be so long that will seem to take forever? If it is an issue with the length of the playlist, I would be interested to know if you could find the threshold of how many items or minutes of audio it takes to cause a problem. This may be related to #294 .

Let me know

[2021-02-06 01:35] ryanheise commented on #294
This issue affects both iOS and macOS. I have a reproduction case on #206 which has helped me to reproduce this issue.

The solution is to rewrite the `enqueueFrom` method so that it enqueues only the next few items, and whenever the player advances to the next item, we should add another item onto the end. This behaviour should be the default, but it should also be tied to the `ConcatenatingAudio

[2021-02-06 02:55] colehorvitz commented on #206
Hi Ryan, I have just tested on the newest version and am unfortunately still experiencing the bug even on a very small dataset. I have reproduced the issue here:

https://github.com/colehorvitz/just_audio

I have modified the callbacks on the seek to next and seek to previous buttons to demonstrate the behavior. When the seek prev/next buttons are pressed, "seeking to next/prev..." is printed to t

[2021-02-06 03:10] ryanheise commented on #206
Thanks for the reproduction case. I have confirmed it and will take a look now.

[2021-02-06 03:18] ryanheise commented on #206
Can you try the latest commit on `master`?

[2021-02-06 03:28] colehorvitz commented on #206
That did the trick, it's working now. Thanks!

[2021-02-06 09:11] ryanheise commented on #206
Great! This is now released in 0.6.12. Thanks again for providing the reproduction case.

[2021-02-06 09:11] #206 closed

[2021-02-06 14:56] ryanheise commented on #102
My sincerest apologies for again taking far too long to get onto this.

I have just tried your example, and I had to make a few changes to make it work with the latest version of just_audio code, but when I ran it, none of the included streams included icy metadata.

When I substituted in some different streams that did have icy metadata, it seemed to be working correctly in that after switching a

[2021-02-06 15:04] ryanheise commented on #292
Hi @Pianzhous can you fill in the sections of the bug report? In particular, does this happen with the example? Are there any features you would like added to audio_session to help?

[2021-02-06 15:07] ryanheise commented on #147
Although I haven't implemented this yet, I've now got a working implementation of the visualizer (see the `visualizer` branch). This brings me one step closer to being able to write iOS code for an equalizer since it would be written using the same underlying iOS APIs.

[2021-02-07 03:06] ryanheise commented on #250
`path_provider` has now been migrated to null safety. I'll try to update just_audio when I get chance today.

[2021-02-07 14:36] ryanheise commented on #56
I feel I can increase my personal priority for this issue now. I would still at least like to get the visualizer feature published first and make the `one-isolate` branch of audio_service stable, but following that I'd like to get the iOS implementation of this feature implemented for completeness.

[2021-02-08 09:48] ryanheise commented on #293
Hi @smkhalsa , were you able to figure out how to achieve the desired behaviour via a custom `ShuffleOrder` implementation? You can probably try something like this:

[code]

Pass that into your `ConcatenatingAudioSource`, retain a reference to it, and then switch its behaviour as needed before calling `player.shuffle()` or any other `player` method that implicitly calls `shuffle()` such as `setAu

[2021-02-08 10:05] ozz-rjq commented on #65
@NemanjaLugi did you solve this issue?

[2021-02-08 10:05] smkhalsa commented on #293
@ryanheise I implemented something almost identical:

[code]
Unfortunately, the player still starts from the original initial index.

I was able to get around this by manually passing the first shuffled index
[code]
However, in doing so, any sources that precede the first shuffled index never get played, so I had to set `LoopMode` to `all` by default when shuffle playing to ensure that all sources

[2021-02-08 11:50] NemanjaLugi commented on #65
No, it is still a total mystery.

[2021-02-08 13:45] ryanheise commented on #65
As mentioned above, it is also a total mystery to me, but if you are able to find another Flutter plugin or even JS library or JS-based web app that works, I may be able to learn from that and fix it in just_audio.

[2021-02-08 13:50] ryanheise commented on #293
Ah, that seems reasonable, the initial index will be what is passed into `setAudioSource` and otherwise default to zero. I suppose that this behaviour could be changed so that if `setShuffleMode(true)` is called before setting the audio source, then the initial index parameter could default to the first index in the shuffle order.

The question is, is it more reasonable this way? This is a breakin

[2021-02-08 17:08] llucax opened #298 "Can't play short (sub-second) audio files if play() is called a while (1 or 2 seconds) after initialize()"
**Which API doesn't behave as documented, and how does it misbehave?**

I can't play a short audio file (0.2 seconds) if I call play 2 or more seconds after the initialization (loading) is done. If I use longer audio files, it works, if I play them right after initialization, it works.

**Minimal reproduction project**

Because this is the [same bug found in `video_player`](https://github.com/flut

[2021-02-08 23:53] tiloc opened #299 "seemingly valid MP3 file not being played back"
**Which API doesn't behave as documented, and how does it misbehave?**
I am trying to play an MP3 asset back using the following line of code:
`AudioPlayer()..setAsset('assets/audio/bloodpressure.mp3')..play()
`

**Minimal reproduction project**
`AudioPlayer()..setAsset('assets/audio/bloodpressure.mp3')..play()
`

**To Reproduce (i.e. user steps, not code)**
Add just_audio and an MP3 asset to pubs

[2021-02-09 00:29] ryanheise commented on #299
I am closing this issue for two reasons

1. You didn't provide the actual reproduction case in Section 2. The asset name `bloodpressure.mp3` is unresolvable. I cannot inspect the file to see if the file is incorrectly encoded.
2. Errors like this in any case need to be fixed upstream by submitting a bug to Google's ExoPlayer project. But keep in mind that they will also be able to do nothing for y

[2021-02-09 00:29] #299 closed

[2021-02-09 09:44] ryanheise commented on #298
I agree this is probably an ExoPlayer bug.

[2021-02-09 11:36] llucax commented on #298
I'm trying to play around with ExoPlayer to see if I can reproduce it in "pure" android, but I never developed anything for Android natively, so it might take me a long while to do that (if ever). If I can get any help, it would be greatly appreciated.

[2021-02-09 12:05] ryanheise commented on #298
You could try modifying the demo project:

https://exoplayer.dev/demo-application.html

[2021-02-09 12:51] llucax commented on #298
OK, I I did it.

https://github.com/google/ExoPlayer/issues/8569

Not sure if I should keep this open to remember to bump the ExoPlayer version when it is fixed.

[2021-02-09 12:53] llucax commented on #298
I also find a correlation between the `renderedOutputBufferCount` reaching 12 (the maximum in this case) as the point where the audio can't be heard anymore. Not sure if that rings any bells...

[2021-02-09 13:19] ryanheise commented on #298
Thanks for that. I'm happy to leave this open until there is either a new version of ExoPlayer or some other information or workaround is available.

[2021-02-09 15:09] nt4f04uNd commented on #298
@ryanheise what about supporting MediaPlayer as backend? (it should work i guess)

[2021-02-09 15:18] llucax commented on #298
Yes, it does. I tried Audioplayers, which uses android media player as backend and it works. Not sure if it's a reason enough to add it as a backend though.

On 9 February 2021 16:09:25 GMT+01:00, nt4f04uNd <notifications@github.com> wrote:

--
Leandro Lucarella (luca)
Sent from my phone. Please excuse my brevity and any typos.

[2021-02-09 15:18] ryanheise commented on #298
just_audio is a federated plugin so it would be possible for someone to create a MediaPlayer-based implementation of just_audio_platform_interface. But note that MediaPlayer doesn't support gapless playback or clipping, so at best a MediaPlayer-based implementation would have gaps and inaccurate clips. That's not a tradeoff I would personally be satisfied so I wouldn't be the one to spearhead that

[2021-02-09 15:24] ddfreiling opened #300 "Buffering strategies"
**Is your feature request related to a problem? Please describe.**
Buffering can take a while before playback begins. I therefore suggest the setting of a buffering strategy.

**Describe the solution you'd like**
It should be possible to use different buffering strategies for just_audio. Examples:
**Default**: As normal AVAudioPlayer, which buffers quite a bit before it starts playback
**OnPreferr

[2021-02-09 15:41] ryanheise commented on #300
Related to #127

Note that just_audio already provides the `setAutomaticallyWaitsToMinimizeStalling` method, but would be happy to consider more options like `preferredForwardBufferDuration`.

Not everything has a direct counterpart in Android's ExoPlayer (or the reverse), so it probably makes sense to have separate platform-specific APIs to control buffering behaviour on both platforms.

I could

[2021-02-09 21:45] tiloc commented on #299
Ok, thanks for the response. I didn't know what ExoPlayer is or that it is being used by your native code until I saw your response. Maybe the README section on platform specifics could point out a short list of formats that are known to be well-supported across the platforms that your plugin is supporting? I assume I will have to pick a format that is supported by all 3 of them if I want to run o

[2021-02-10 01:58] ryanheise commented on #299
MP3s are supported on all platforms so this issue isn't about the supported formats. The problem is that your specific MP3 file could not be played by ExoPlayer for some unknown reason that can't be investigated without the actual reproduction case. Sometimes this is because it is an invalid MP3 file. The ExoPlayer team will be able to expertly look at your particular MP3 file and figure out wheth

[2021-02-10 10:10] ddfreiling commented on #300
Agree that we should allow access to the platform-specific buffering options and `setAutomaticallyWaitsToMinimizeStalling` already covers the **Immediately** strategy on iOS.

There is some common ground for a `preferredForwardBufferDuration` that works on both platforms.
For Android we could use the ExoPlayer [DefaultLoadControl](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/D

[2021-02-11 01:00] ryanheise commented on #300
Here is a first draft of the configuration object:

[code]

[2021-02-11 02:19] jamescridland opened #301 "Request users to change the http useragent"
Hi there,

Bit concerned that there is no documentation at https://pub.dev/packages/just_audio about setting the HTTP user-agent. It's vital for podcasters to be able to monitor which app is using the free content that podcasters produce - and ideally there should be:

a) a clear note to never use the default useragent for a production project

b) a guidance on how to write a useragent

`just_audi

[2021-02-11 02:19] #301 closed

[2021-02-11 02:21] jamescridland opened #302 "Clear guidance on setting a distinct HTTP useragent"
**Is your feature request related to a problem? Please describe.**

Podcasters need to know what platform and app is consuming the free content they provide

**Describe the solution you'd like**

a) a clear note to never use the default useragent for a production project

b) a guidance on how to write a useragent

**Describe alternatives you've considered**

There are no alternatives. Bad bot.

**

[2021-02-11 02:54] ryanheise commented on #302
_**James Cridland?**_ Nice to have you here!

Thanks for proposing this.

My original rationale for not including such documentation was that it is not traditional for low level audio APIs to give programmers guidance on this, but rather to just leave it up to the programmer to user the API as they see fit.

But in hindsight, there is no harm in providing guidance, and I am aware of the problem th

[2021-02-11 03:56] jamescridland commented on #302
It *is* traditional for HTTP libraries such as this one to have a really clear section on "how to change the user-agent". It's the first thing I typically do, to then contact the podcast app to ask them nicely and give them the exact instructions on how to set it.

https://podnews.net/about/podcast-stats is what comes out of knowing where your audience is: for a product being demonstrated as a pod

[2021-02-11 09:56] ryanheise commented on #302
I was talking about traditional "low level audio APIs" which just_audio was originally designed to mirror (Android/iOS/macOS native APIs). These [did](https://developer.android.com/reference/android/media/MediaExtractor#setDataSource(android.content.Context,%20android.net.Uri,%20java.util.Map%3Cjava.lang.String,%20java.lang.String%3E)) [not](https://developer.android.com/reference/android/media/Me

[2021-02-12 15:53] ryanheise commented on #300
Would you be happy with the above design?

[2021-02-13 01:24] ryanheise opened #303 "Document how to listen to errors on streams"
**To which pages does your suggestion apply?**

- https://github.com/ryanheise/just_audio/blob/master/just_audio/README.md

Perhaps this could also be mentioned in the documentation for each stream (but there are a *lot* of streams...)

**Quote the sentences(s) from the documentation to be improved (if any)**

N/A

**Describe your suggestion**

One idea is to modify the section "Listening to state

[2021-02-13 01:33] ryanheise opened #304 "Request headers for web"
**Is your feature request related to a problem? Please describe.**

Some audio sources require request headers (e.g. to authenticate) but these are not currently supported for web.

**Describe the solution you'd like**

This could in theory be supported using service workers, although Flutter's support for service workers isn't there yet.

**Describe alternatives you've considered**

1. Apps could

[2021-02-13 02:19] ryanheise opened #305 "Make userAgent a distinct parameter separate from other HTTP headers"
**Is your feature request related to a problem? Please describe.**

Many audio apps use the default user-agent string when making HTTP requests making it difficult for servers to know their audience.

Additionally, audio apps that do provide a unique user-agent string still have to configure that string on each HTTP request which is inconvenient.

**Describe the solution you'd like**

Include a `u

[2021-02-13 02:58] zxl777 commented on #47
@ryanheise

I tested the LockCachingAudioSource,
When there is a Wi-Fi network, it works normally, and there is a slight delay in seeking.
When I turn off Wi-Fi, the sound cannot be played.

Please consider the availability of cached file when the network is closed, thank you.

[code]

[2021-02-13 03:04] ryanheise commented on #47
@zxl777 what behaviour would you like when Wi-Fi is turned off while the resource is being downloaded? I think if it's turned off after the download is complete, there should be no problem, but if it's turned off before the download is complete, obviously the parts that aren't downloaded yet can't be played. As for playing the parts that *are* downloaded, depending on how your audio file is encode

[2021-02-13 06:35] zxl777 commented on #47
@ryanheise  @gtu-myowin
The problem I hope to solve is that I can start playing after a few seconds instead of waiting for the download to complete.
LockCachingAudioSource seems to have solved this problem.

However, I also hope to play the downloaded local files directly during the second repeat play. Especially when the network is offline, the local files can also be played.

And LockCachingAudi

[2021-02-13 06:51] ryanheise commented on #47
The source code for LockCachingAudioSource is not too mysterious, hopefully, so feel free to improve its behaviour as desired. One of the planned improvements for this caching strategy was to open a new HTTP request on a seek, while the complete download of the entire file continues to happen asynchronously. That way, a seek request can be serviced immediately even before the complete download has

[2021-02-13 08:31] zxl777 opened #306 "What does "compose audio" mean?"
Does it mean playing multiple audio at the same time?

Or playlist ?

[2021-02-13 08:31] #306 closed

[2021-02-13 08:35] ryanheise commented on #306
Composition refers to an audio source that has nested children. The composite audio sources are:

* ConcatenatingAudioSource
* LoopingAudioSource
* ClippingAudioSource

These are compositional and can be deeply nested. If you want to play audio files simultaneously, please search for this question on StackOverflow where it has already been answered (link on the "New issue" page)

[2021-02-13 08:44] zxl777 commented on #306
Thank you. the link is :
https://stackoverflow.com/questions/65390691/how-to-play-two-or-more-audio-files-simultaneously-with-just-audio-and-audio-s

I tried the flutter_sound: ^7.5.3+1, flutter_sound_lite: ^6.2.0, audioplayers: ^0.17.3
In the end just_audio was selected, I was even more surprised that I finally found just_audio, because I have been searching pub.dev with the keyword is "sound" ht

[2021-02-14 08:08] ryanheise commented on #47
One easy way to experiment with this is to copy the code for `LockCachingAudioSource` into your own project and modify it as desired. It is built using entirely public APIs which anyone can use, so it is perfectly feasible to create your own implementation based on this original code. Of course, if you create something generally useful, it would be great to contribute that back to the project.

In

[2021-02-14 13:11] ryanheise commented on #47
The latest commit on `master` now supports seeking during the download. If you seek to a region that has already been downloaded, it will be fulfilled from the cache. If you seek to a region that hasn't yet been downloaded, a separate HTTP request will be made while the whole-file caching continues to happen in parallel.

I would be interested to hear how it goes, and whether you run into any prob

[2021-02-14 15:21] afkcodes commented on #47
@ryanheise You are awesome man. are you on steroids ? Just kidding Kudos Brother. This package is certainly going to be flutter favorite and help lot of other trying to build audio based app.

[2021-02-14 16:35] ryanheise commented on #47
@afkcodes thanks! There's actually a page [here](https://flutter.dev/docs/development/packages-and-plugins/favorites) where you can nominate just_audio for flutter favorites, and I'm not going to object to people clicking that and saying something nice about just_audio ;-)

At the same time, there are many great audio plugins built by the community, and I wonder whether Flutter Favorites is actual

[2021-02-14 17:31] afkcodes commented on #47
I am surely going to do that, also i appreciate how you think about other plugins. I do understand that it should not be the case that only plugin being used more than the others, but the contradiction is also there that not all the plugins are well maintained as just_audio. In my personal opinion why to have 10 plugins with less features rather than having 2 plugins will more features. Also i thi

[2021-02-15 02:14] ryanheise commented on #47
Open source is wonderfully counterintuitive :-)

It's definitely something I am planning to do! If you're interested, you can track #211 for progress.

Anyway, apologies for derailing the discussion. Let's keep further comments in this thread on the caching feature, and in particular I would greatly appreciate if people can try it out and let me know how it goes. Thanks everyone!

[2021-02-15 05:10] jamescridland opened #307 "Audio processing and silence skips"
**Is your feature request related to a problem? Please describe.**

* I'm always frustrated when I can't hear some of the words because I'm in a noisy space.

* Sometimes the podcasts I listen to have lots of spaces in them and I'd like to not waste that time please

**Describe the solution you'd like**

* A 'skip silences' feature which would examine the audio that is about to play. If it is long

[2021-02-15 05:30] ryanheise commented on #307
This has been on my radar, and there is a relatively simple way of implementing this on Android. What has delayed things is:

1. It is substantially more difficult to implement this on iOS/macOS, and feature parity is important in Flutter plugins.
2. On the API design front, further consideration is needed on whether these audio effects can be generalised (similarly to how they are in the native A

[2021-02-15 06:10] ryanheise commented on #302
The latest commit adds some instructions in the README on how to set the user agent. It falls short of offering specific guidance on how to write a user-agent string, although I could consider linking to an external, reputable source that does provide such guidance, if you can recommend one.

I've opened a separate issue #305 for the API change that treats `userAgent` as a special parameter.

[2021-02-15 06:14] jamescridland commented on #302
Super - thanks. I think that's enough for now.

You could link to https://github.com/opawg/user-agents for examples of useragents if you wanted.

[2021-02-15 06:14] ryanheise commented on #305
The latest commit adds an optional `userAgent` parameter to the `AudioPlayer` constructor.

Note that the user-agent header, and in fact all headers, on iOS are set through the aid of a clear-text HTTP proxy that intercepts all HTTP requests and adds on the headers. This is because the API for setting headers on iOS is an undocumented API and using that documented API could potentially result in a

[2021-02-15 10:39] ddfreiling commented on #300
Yes I think so. It seems like a good idea to give the client all the options available. Any options not provided will just use the platform defaults right?

[2021-02-15 15:06] DenisShakinov opened #308 "Fatal Exception: com.google.android.exoplayer2.IllegalSeekPositionException"
We've noticed a few random crashes in prod version of our app (Android). Here is stacktrace from firebase console:

[code]

However we are unable to reproduce such an issue on our available test devices so steps to reproduce are unclear. I quess it may be some android api version or vendor specific issues (Operating systems: 96% Android 7, Devices: 69% OPPO, 25% LENOVO).
We don't do anything speci

[2021-02-15 15:06] #308 closed

[2021-02-15 15:24] DenisShakinov opened #309 "Fatal Exception: com.google.android.exoplayer2.IllegalSeekPositionException"
**Which API doesn't behave as documented, and how does it misbehave?**
We've noticed a few random crashes in prod version of our app (Android). Here is stacktrace from firebase console:
[code]

**Minimal reproduction project**
We are unable to reproduce such an issue on our available test devices so steps to reproduce are unclear

**To Reproduce (i.e. user steps, not code)**
(n/a)

**Error message

[2021-02-15 17:09] Okladnoj commented on #56
We are waiting for your decision ...

[2021-02-16 20:05] neutronstein commented on #56
Also waiting for this feature. Hope it gets implemented in the next few days :)
Thanks for your amaizing work

[2021-02-17 01:11] ryanheise opened #312 "Background support via federated plugin architecture"
**Is your feature request related to a problem? Please describe.**

Some people are looking for an easy way to make just_audio work in the background.

**Describe the solution you'd like**

Using the federated plugin architecture, a solution may be possible where the user can simply add an extra dependency:

[code]

The just_audio_background package would then plug itself into the federated system

[2021-02-17 01:14] ryanheise commented on #312
Experimental implementation in #311 .

Caveats:

* Headers, caching, byte streams, and anything proxy related is not supported.
* Automatic handling of the audio session is not fully supported.
* Hot reloading is not supported.

All of these caveats should be addressed with the next major release of audio_service which will run under a single isolate. (See https://github.com/ryanheise/audio_servic

[2021-02-17 01:58] ryanheise commented on #300
That would be reasonable.

Hey, it worked for Duran Duran, but fair enough ;-)

[2021-02-17 02:05] ryanheise commented on #56
I'll hopefully make time for it this week. In the meantime, please post below some URLs of audio you would like me to use as this cases.

[2021-02-17 03:14] ryanheise commented on #302
Thanks, I would probably prefer linking to something more general than podcasting.

Incidentally, I don't understand the opawg list's approach to the "AppleCoreMedia" user agent string. Can you explain it?

This particular user agent string does not identify the Apple Podcasts app, it identifies the core media component that is embedded into many different audio apps. Consequently, this is also th

[2021-02-17 03:49] jamescridland commented on #302
https://towardsdatascience.com/the-user-agent-that-crazy-string-underpinning-a-bunch-of-analytics-86507ef632f0 has detail of the RFCs behind user-agents. Most important, though, is just to say "please set a user-agent for your own app".

Agreed. It's why OPAWG specifically does not identify it as Apple Podcasts. Here's a snippet:

[code]

We know it's on an iPhone (in this case), and we know it's

[2021-02-17 05:41] ryanheise commented on #302
I see, that's an interesting technique.

By the way, I originally looked at the yaml file instead of the json file and it seems to be a bit out of date (it identifies AppleCoreMedia as Apple Podcasts).

[2021-02-17 06:48] jamescridland commented on #302
Aha. I think I'll see if anyone noticed if it's deleted...

--
https://podnews.net • https://james.cridland.net • https://james.crid.land

Tel/SMS/Signal: +61447692743

Sent from a mobile device

On Wed, 17 Feb 2021, 15:42 ryanheise, <notifications@github.com> wrote:

[2021-02-17 08:38] neutronstein commented on #56
Fingers crossed. Currently building a radio app for iOS and metadata are missing.
https://www.radioking.com/play/note-radio

[2021-02-17 11:42] BartusZak opened #313 "Dynamic headers for HLS player and Amazon S3"
**Is your feature request related to a problem? Please describe.**
I use `Amazon S3` (secured) to store my HLS files (`.m3u8`/ `.aac`). `just_audio` allows only to provide one, the same header for all files underneath.

**Describe the solution you'd like**
Implement dynamic headers per `.aac` file with `sigV4` headers (different header per `.aac` file)

**Describe alternatives you've considered**

[2021-02-17 12:59] ryanheise commented on #313
Hi @BartusZak

That link didn't specifically talk about HLS, so would you be able to point me to something HLS specific? Is it a feature of another HLS player that you can point me to?

If not, can you propose an API design that would satisfy your use case?

[2021-02-17 13:06] BartusZak commented on #313
Hey @ryanheise,

Thanks for very fast response.

I will prepare a design and get back to you.

[2021-02-17 13:14] ryanheise commented on #313
One concern I have is if no existing audio player library supports this, then it may not be feasible. just_audio is built upon lower level audio player APIs and those themselves need to be able to support this if just_audio is to. The underlying player engine on the platform side takes over complete control of HLS loading with no way to control it. One exception being certain DRM standards.

[2021-02-18 01:37] ryanheise commented on #47
This update is now published in release 0.6.13 (still marked as "experimental" but at least now it is more usable.)

And in other news, just_audio was just yesterday accepted as a Flutter Favorite! It's been a long process from start to end going through the various stages, but thanks @afkcodes and anyone else who expressed your support for the project as I'm certain it helped to make a difference

[2021-02-18 01:46] ryanheise commented on #306
That's really interesting, I had completely failed to mention the word "sound" anywhere in the plugin so it wasn't searchable by that word. This should be corrected in the latest update. Thanks for sharing that!

[2021-02-18 03:06] suragch commented on #47
Congratulations on the Flutter Favorite!

I'm still planning on testing out the caching but haven't gotten around to it.

[2021-02-18 03:14] afkcodes commented on #47
Awesome @ryanheise, this was eventually going to happen, i knew that. Also if we can update the example app also for a caching example if not done.

[2021-02-18 03:23] ryanheise commented on #47
That's a good idea, although I'd like to have this working for the web first so that the demo works on all platforms (which is waiting on a way to implement service workers in Flutter.)

But I think a good compromise could be to add a caching example to the README.

[2021-02-18 03:44] afkcodes commented on #47
yeah, that will be cool adding to README will also make aware how to use this feature and hence more people will use it and also can report any issues.

[2021-02-18 06:03] MichealReed commented on #300
Please include targetLiveOffsetUs and LivePlaybackSpeedControl for streaming uses if possible.

from here: https://github.com/google/ExoPlayer/commit/ab4c92e9dae42cdf73f41a8aba69a8e3b029ad98

[2021-02-18 08:04] ryanheise commented on #300
@MichealReed those options look like great candidate options to add as well, although it might be better to wait until those features make it into a stable release.

[2021-02-18 08:26] ryanheise commented on #250
Note to self: also create a preview release at some point:

https://medium.com/dartlang/preparing-the-dart-and-flutter-ecosystem-for-null-safety-e550ce72c010

[2021-02-18 10:54] ryanheise commented on #56
I will have a go at it tonight.

Note to self:

https://developer.apple.com/documentation/avfoundation/avplayeritemmetadataoutput?language=objc

[2021-02-18 14:40] ryanheise commented on #56
I'm testing https://www.radioking.com/play/note-radio and am picking up the title.

Does anyone have more URLs to test, with more metadata?

[2021-02-18 14:45] blackraven96 commented on #56
Thx for your work :)

You can test with this streams :
http://str0.creacast.com/classique1
http://icecast.skyrock.net/s/natio_aac_64k?tvr_name=tunein16&tvr_section1=32aac
http://kissfm.ice.infomaniak.ch/kissfm-128.mp3

[2021-02-18 15:39] ryanheise commented on #56
I've implemented iOS/macOS support in the latest commit. Note that all of the streams I tested only provided "title" metadata, and because I reverse engineered the keys from the metadata in those test URLs above, the title is the only metadata it is coded for. I will try to support other metadata keys if anyone provides a URL that exhibits them.

Let me know how it goes. One thing I wanted to be c

[2021-02-18 23:56] MichealReed commented on #300
I have a fork going here to scout ahead (and use this early), will submit a PR when it's all said and done if you'd like and report back on any stability issues I encounter. Breaking changes were minimal.

[2021-02-19 02:12] ryanheise commented on #300
Ah, so 2.13.1 *is* released (as of about a week ago).

In that case, I'd be happy to include those options, and yes would welcome a pull request!

[2021-02-19 22:14] MichealReed commented on #300
Might be worth including this as well -- https://github.com/google/ExoPlayer/issues/7685 not positive it works with dash, so it may be best to calculate from the request as mentioned.

[2021-02-21 01:40] ryanheise commented on #300
Just merged your ExoPlayer version bump PR, @MichealReed . Would you be interested in contributing a PR for the proposed config parameters sans one Duration suffix, or shall I proceed with it?

[2021-02-21 02:13] ryanheise commented on #56
Any feedback/reports so far?

[2021-02-21 04:34] MichealReed commented on #300
How about you kick one off and I can merge in the dash stuff? Have not learned the package enough to understand the buffer fully, much less know where to put this.

[2021-02-21 05:27] MichealReed commented on #97
I pulled it over and merged the changes to check out the android version, but cant seem to get it working.

Mic permission is granted (although it crashes app after prompt acceptance), but it prevents my player from playing anything. I even tried wrapping it in a future to ensure the player has data before calling. Any ideas?

[code]

[2021-02-21 10:36] ryanheise commented on #97
Thanks for testing that. It turns out there is another change to the behaviour of ExoPlayer in that `onAudioSessionIdChanged` is not called initially for the first value. I've done the merge and fixed this issue in the latest commit.

[2021-02-21 11:36] ryanheise commented on #97
Perhaps. With the null safety release of Flutter soon to reach stable, I'm not sure if I'd like to do this before or after that. Currently I'm maintaining two branches which is a bit inconvenient to keep in sync.

We'll see how things pan out but first I may need to focus on getting the null safety releases ready.

[2021-02-21 21:36] jhonatanluiz opened #315 "com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors"
**Which API doesn't behave as documented, and how does it misbehave?**
Error when playing simple mp3 file in assets.

**Minimal reproduction project**

    AudioPlayer player = new AudioPlayer();
    player.setAsset('sound/singlebeep.mp3');
    player.play();

**To Reproduce (i.e. user steps, not code)**
(n\a)

**Error messages**

[code]

**Expected behavior**
Play sound mp3 file in assets.

**Scr

[2021-02-22 00:30] ryanheise commented on #315
Hi @jhonatanluiz  I am not able to reproduce the problem with what you have given me. Can you provide me a reproduction case?

[2021-02-22 09:44] neutronstein commented on #56
I was able to get current playing title on iOS. It worked well in simulator.

[2021-02-22 15:58] MichealReed commented on #97
Thanks for jumping to this. Things are working great so far, but the fft buffer visual is a bit different than I expected from using my custom visualizer on other fft sources. Will try to take a deeper look and report back the bug if I find it.

[2021-02-23 11:00] ryanheise commented on #97
That's basically just the raw output from the Android API which is documented here:

https://developer.android.com/reference/android/media/audiofx/Visualizer#getFft(byte[])

So it's possible you might get weird output unless you interpret that byte array as per the above documentation.

[2021-02-23 16:08] smkhalsa opened #316 "ProcessingState.Completed not triggered until end of ConcatenatingAudioSource"
**Which API doesn't behave as documented, and how does it misbehave?**

The `ProcessingState.Completed` state is only triggered when the final source in a `ConcatenatingAudioSource` has completed.

I assume this is not the intended behavior, but if it is, what is the recommended way to be notified when each individual track completes?

**Minimal reproduction project**

The example

**To Reproduce

[2021-02-23 16:11] smkhalsa commented on #316
Also, I need to be able to pause the player when the current track completes *before* the player seeks to the next track.

[2021-02-23 16:17] ryanheise commented on #316
This is intended behaviour, but there will in future be additional streams for listening to track changes.

Can you check if #174 is what you want? If so, I'll close this as a duplicate of that issue.

Note that a workaround is also posted in that issue.

[2021-02-23 16:38] smkhalsa commented on #316
Hmm, ok. What's the reasoning for not firing ProcessingState.Completed when each child of the concatenating source completes?

That seems like the most intuitive to me, but I'm probably missing something.

Simply comparing indices won't work for my use case.

I'm trying to log each unique "listen" for each child source, and if "repeat one" is on, the index wouldn't change.

[2021-02-23 17:07] smkhalsa commented on #316
To expand on my use case a little more, I define a unique "listen" as having listened to at least 30 seconds of a particular song (or the entire duration if it's shorter). I keep a Set of seconds that have been listened to, then log the listen when the length of that Set exceeds 30. I need to then clear the set when the song reaches its end so that if a user has the song on repeat, it will be trea

[2021-02-24 00:29] ryanheise commented on #316
It is based on the exoplayer model. Your use case would need to be handled by a new feature, but it sounds like #174 .

True, that means my suggested workaround on #174 isn't perfect although the feature itself described in #174 sounds like what you need.

I am holding off any changes that involve the platform interface until after null safety reaches stable but in the meantime I would suggest des

[2021-02-24 07:37] smkhalsa commented on #174
As mentioned in #316, I have a similar requirement that could be resolved with something similar to ExoPlayer's [onPositionDiscontinuity](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.EventListener.html#onPositionDiscontinuity(int)) listener.

I have a music player that uses `ConcatenatingAudioSource` for gapless playback. I'd like to log a "listen" every time a user lis

[2021-02-24 07:46] smkhalsa commented on #316
Thanks @ryanheise.

Got it. I've taken a look at the exoplayer API and understand now that this would be implemented as a separate `onPositionDiscontinuity` listener with a `reason` of `Player.DISCONTINUITY_REASON_PERIOD_TRANSITION`

Understood.

I've added a comment to #174. I'd definitely appreciate any workarounds you may be able to suggest.

[2021-02-24 07:46] #316 closed

[2021-02-24 10:28] ryanheise commented on #174
That's probably the easiest way to go about it. Another way is to observe `playbackEventStream` and look specifically at the `updateTime` and `updatePosition` fields. A new playback event is emitted whenever there is a time discontinuity. There are other reasons that cause an event to be emitted so this can't be relied on alone, but the idea of the two fields mentioned above is that they are used

[2021-02-24 12:18] leidig54 commented on #147
Equalizer functionality would be amazingly helpful for my app. I can't help with the code but perhaps I can contribute a bounty get this feature bumped up the priority list?

[2021-02-24 12:52] ryanheise commented on #147
Thanks for offering to support development @leidig54 !

Things are a bit up in the air at the moment while the transition to null safety is happening, and stable null safety is supposed to be coming soon. Probably this feature will end up being based on the visualizer branch after the nnbd commits are merged into it.

If this feature is indeed tied to the visualizer feature on the iOS side, then a

[2021-02-24 12:57] leidig54 commented on #147
Sure. Unfortunately I don't have the know-how to check for retain cycles. I'll keep an eye on this thread anyway and pipe back up when it looks like the focus can be on the visualizer etc. Thanks for a great package.

[2021-02-24 14:56] ryanheise commented on #102
Closing due to inactivity.

[2021-02-24 14:56] #102 closed

[2021-02-24 19:22] sigjak opened #319 "Tutorial, written/video"
**To which pages does your suggestion apply?**

- Direct URL 1
- Direct URL 2
- ...

**Quote the sentences(s) from the documentation to be improved (if any)**

**Describe your suggestion**
I apologize if this is the wrong venue for my question but is there a tutorial, written or video, on how to get started with this audio player?
...

[2021-02-24 19:44] mvolpato commented on #319
I am not the maintainer, but I use this package in a production app.

I started a series of articles. There is [only one](https://ishouldgotosleep.com/tutorials/music-app/simple-flutter-music-player-app/) for now, with a very basic implementation of this package.

I plan to add also audio_source and audio_session.

I am a bit busy this week and weekend, I will continue next week, probably.

[2021-02-24 20:29] tiloc commented on #315
This is looking similar/identical to issue #299 which I posted a while ago. While the message was mentioning Exoplayer and formats, it ultimately turned out to be a missing `await` in front of the `player.setAsset('sound/singlebeep.mp3');`. This seems to result in broken data being fed to player.play(). I changed my code like the following to make it work:

[code]

[2021-02-24 21:04] sigjak commented on #319
Thank you very much. I am rather new to this and the provided Example looked a little overwhelming but the project looks quite promising.
Thanks again for your swift reply.

[2021-02-25 11:42] APSchuurman commented on #56
Just ran into this issue and updating to latest version solved it.
Tested it on a real iOS device.

Thanks a lot for your great work.

[2021-02-25 11:43] sigjak commented on #319
I have been through your excellent tutorial and it is just what I  needed.
I suggest a link to it should be put on the Homepage. It is indeed a very concise and useful introduction to the just_player.
Thank you for this tutorial and I will be looking forward to forthcoming tutorials.
All the best

Sig

[2021-02-25 12:16] ryanheise commented on #319
Nice tutorial, @mvolpato !

I don't have the computer power for screen recording, but if anyone can recommend some simple video editing software for Linux that would let me put together some slides with a voice over, I'd actually be interested to give it a try.

[2021-02-25 14:53] ryanheise commented on #315
@tiloc that's an interesting find. Internally, just_audio copies the asset to a file and then ExoPlayer attempts to read from that file. So based on that theory, ExoPlayer is attempting to play from the file before the file has actually finished being written.

Looking at the code, I don't actually see how this situation could happen with the above sequence. Even without await, ExoPlayer is not gi

[2021-02-25 23:51] AliHoseinpoor opened #320 "Sleep timer"
**Is your feature request related to a problem? Please describe.**
None

**Describe the solution you'd like**
Is it possible to set a sleep time for the player?
For example, a playlist is running and we set the player to stop after 10 minutes.

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-02-26 00:10] ryanheise commented on #320
[code]

Due to its single responsibility design, the plugin is just responsible for paying audio, and where there is a more appropriate API to handle some other responsibility, like timers, it is preferable to use it. Note that dart also has a Timer class which could be used to provide this functionality, so there are several alternatives.

just_audio does provide higher precision timing for singl

[2021-02-26 08:18] AliHoseinpoor commented on #320
Because the timer must work in the background, you can not use the flutter timer itself because it does not work in the background.
I guess it might be the best place to use a timer in audio_service

[2021-02-26 08:31] ryanheise commented on #320
Even in audio_service, iOS will suspend the process if it's inactive for a while (i.e. not playing audio). But since you will be playing audio for the duration of the timer, I don't expect that to be an issue in your case.

[2021-02-26 10:07] AliHoseinpoor commented on #320
Thank you very much for your help.
Yes, I only need the timer when playing a song and I do not think there will be a problem if I use the timer in audio_service

[2021-02-26 10:07] #320 closed

[2021-02-26 22:28] smkhalsa opened #321 "ClippedAudioSource missing duration"
**Which API doesn't behave as documented, and how does it misbehave?**

When setting a clipped version of the previous audio source, the duration doesn't get set correctly.

**Minimal reproduction project**

https://github.com/smkhalsa/just_audio/commit/4457877f25dc3e70a43758d947c433b7b184ba8a

**To Reproduce (i.e. user steps, not code)**

1. Set a normal (i.e. non-clipped) audio source.
2. Set a

[2021-02-27 10:42] afkcodes commented on #319
@ryanheise  **_Simple screen recorder_** for linux might help, i have used it very minimal features but would do the trick. Also i still vote for having a discord channel, so that people don't pollute the github issues.

[2021-02-27 11:08] AniketBhadane opened #322 "Playing audio from remote stream of WebRTC connection"
**Is your feature request related to a problem? Please describe.**
Playing audio received from Remote stream in WebRTC connection.

**Describe the solution you'd like**

    MediaStream _localStream = await createStream();
    RTCPeerConnection pc = await createPeerConnection({});

    _localStream.getTracks().forEach((track) async => await pc.addTrack(track, _localStream));

    pc.onTrack = (eve

[2021-02-27 13:41] ryanheise commented on #319
Unfortunately my computer doesn't have the power for screen recording, but I would be interested to hear recommendations for video editing tools.

I'd like StackOverflow to be the first option for community support since it encourages well written and researched questions and answers, avoids duplicate questions, and ensures a definitive answer written once reaches the widest audience. It also fits

[2021-02-27 13:58] ryanheise commented on #322
Have you considered [flutter_webrtc](https://pub.dev/packages/flutter_webrtc) ?

[2021-02-27 14:00] afkcodes commented on #319
understood @ryanheise i would not vote for anything that would distracte you from the work, so i do not have any issues with stackoverflow. i just had this idea when i saw the channel of react native track player. anyway this idea is stale now.

[2021-02-27 14:22] AniketBhadane commented on #322
Yes, I have. The code snippet is from the flutter_webrtc plugin examples itself. But it does not provide any way to play Audio. Is there any way in Flutter to play Audio in a MediaStream?

[2021-02-27 14:46] ryanheise commented on #322
Taking a brief look at flutter_webrtc, it looks like `MediaStream` can only be played internally by that plugin. So the only way forward would be to add a feature request to that project (which I can see you have already done). I'll close this feature request since it is not appropriate for inclusion in just_audio.

[2021-02-27 14:46] #322 closed

[2021-02-27 16:13] AniketBhadane opened #323 "Playing audio from base64 data"
**Is your feature request related to a problem? Please describe.**
Playing audio from base64 data

**Describe the solution you'd like**
Playing audio from base64 data

**Describe alternatives you've considered**
I suppose [audioplayers ](https://pub.dev/packages/audioplayers)plugin has following:
[code]

**Additional context**
The base64 data may be received from the server as result of an api cal

[2021-02-27 16:33] ryanheise commented on #323
Hi @AniketBhadane

Playing audio from a byte stream is listed in the README as one of the supported features. You can use `StreamAudioSource`.

[2021-02-27 17:51] sigjak opened #324 "asset not loading"
When loading mp3 with empty space in asset name I get error **An error occurred: Unable to load asset: audio/book/John%20Grisham.mp3**
 Is white space not allowed in asset names or is this a bug?

[2021-02-27 17:51] #324 closed

[2021-02-27 20:55] BartusZak commented on #99
Hey @defsub and @ryanheise

So sorry for late reply. We had a pause on that requirement.

What I ends up doing (trying):

Public Access (works on WEB and Android - producess warnings? on Android)
[code]

Android console
[code]

Private S3 (sigV4 headers required)
[code]

WEB (not supported) - ok
[code]

Android (should work fine) :(
[code]

And some more:
[code]

[code]

[code]

[code]

[2021-02-28 01:00] AniketBhadane commented on #323
Hi @ryanheise, I could not see any examples for using StreamAudioSource. Please can you guide on the usage of StreamAudioSource?

[2021-02-28 01:02] ryanheise commented on #323
I am not at my computer right now but if you search for that class name on this GitHub issues page you will be able to find examples.

[2021-02-28 01:18] AniketBhadane commented on #323
From [#187 ](https://github.com/ryanheise/just_audio/issues/187), I saw to following code:

class MyAudioSource extends StreamAudioSource {
  Uint8List _buffer;

[code]

When you get time , please can you let me know whether this is how its supposed to be done?

[2021-02-28 01:52] AniketBhadane commented on #187
Hi @Mr-Pepe , please can you post the updated code which worked for you?

[2021-02-28 02:00] AniketBhadane commented on #323
Just to add to the question, my data looks like `data:audio/ogg;base64,xxxxxxxxx`. Does that mean `UriAudioSource` can be used as well?

[2021-02-28 02:01] ryanheise commented on #323
Yes that is correct although the API has changed slightly since then. Can you take a look at the new API documentation and give me feedback? If it is not good enough, I will improve it.

[2021-02-28 02:02] ryanheise commented on #323
You should first convert it into a byte array.

[2021-02-28 02:16] ryanheise commented on #99
Sounds like an Exoplayer issue. After searching for the error message I found this:

https://github.com/google/ExoPlayer/issues/6397

Note the comments about the encoding (if it is within your control, you could try a different encoding)

This is because headers are supported through the use of a clear text proxy running on the device. In recent versions of Android, it is now required to add the c

[2021-02-28 02:22] AniketBhadane commented on #323
OK, thank you, please can you let me know whether the code I pasted above having `MyAudioSource` is how its supposed to be done? When you get time.

[2021-02-28 04:01] ryanheise commented on #323
I already replied to you:

[2021-02-28 05:31] AniketBhadane commented on #323
It would be very helpful if the documentation is updated with how to play audio from such base64 data. I personally could not find concrete examples on how to play such data. Please let me know your thoughts.

[2021-02-28 08:21] ryanheise commented on #323
Are you unsure how to convert base64 data into an array of raw bytes?

[2021-02-28 09:08] AniketBhadane commented on #323
I think I can convert base64 to Uint8List using base64.decode function. But I'm not sure how to play audio from this Uint8List. As you mentioned that the API has been slightly modified since then, is the code mentioned in above comment the right way to do it?

[2021-02-28 09:29] sigjak opened #325 "Space in asset names causes error"
**Which API doesn't behave as documented, and how does it misbehave?**
Name here the specific methods or fields that are not behaving as documented, and explain clearly what is happening.
The documentation suggests that I can load an asset from any valid asset path, but it gives an error if the asset path contains a space. The documentation does not say say anything about spaces not being allowed.

[2021-02-28 09:30] Mr-Pepe commented on #187
Sure, here is my audio source code:

[code]

[2021-02-28 09:31] ryanheise commented on #323
Sorry if I was being unclear. What I meant is that that code has the right "idea" and should at least give you inspiration on how to go about it, but you will also need to consult the documentation.

[2021-02-28 09:35] ryanheise commented on #325
Hi @sigjak

The example works perfectly and does not exhibit the error. While I could create my own minimal reproduction project, that would take more time and I am quite busy at the moment managing the migration to null safety and other critical bugs. If you can provide a minimal reproduction project, I will be able to tend to this more quickly, otherwise it will have to wait until after I comple

[2021-02-28 11:13] ryanheise commented on #321
Interesting, thanks for finding this bug. It turns out there were a few bugs related to setting a `ClippingAudioSource` after another audio source had already been set. This is due to some optimisations the code tried to make to detect and reuse the buffer of decoded data for the same URL.

This should be fixed in the latest commit (to `master` for the moment - `nnbd` will come later). Can you let

[2021-02-28 11:44] sigjak commented on #325
Hi and thanks for the reply.

The Example works fine and  there should not have been a reference to in the bug report. I will correct that and edit the report to include more info.

I have created a github with two branches, one working and the other one not working.

https://github.com/sigjak/music_player

The only difference is that the none working branch has a blank space in the asset name.

A

[2021-02-28 12:57] ryanheise commented on #325
This should be fixed in the latest commit to `master` - please let me know how it goes.

[2021-02-28 13:16] smkhalsa commented on #321
@ryanheise thanks for the quick fix. I've tested it, and it is now working correctly.

[2021-02-28 13:16] #321 closed

[2021-02-28 13:40] ryanheise commented on #321
Great to know, thanks!

[2021-02-28 17:47] BartusZak commented on #99
Hey @ryanheise

Adding that to `AndroidManifest.xml` removed `Cleartext HTTP traffic to 127.0.0.1 not permitted` error.
[code]

What left

<details>
<summary>Android console</summary>

[code]
</details>

Player works! It loooks like those are info logs and `ExoPlayer` logs level is preatty high. I don't know If I should leave it for now.

What can I do for you to help with `WEB` support for `gener

[2021-03-01 04:14] ryanheise commented on #99
For web, what's required is service workers support in Flutter. There is the [service_worker](https://pub.dev/packages/service_worker) package but that doesn't appear to have Flutter support. That would require integration with Flutter's build process, so support would need to be built into Flutter itself.

[2021-03-01 04:25] ryanheise commented on #325
Will release once you confirm it working.

[2021-03-01 09:15] sigjak commented on #325
How can I test it?

From: ryanheise <notifications@github.com>
Sent: 01 March 2021 04:26
To: ryanheise/just_audio <just_audio@noreply.github.com>
Cc: sigjak <sigjak@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [ryanheise/just_audio] Space in asset names causes error (#325)

Will release once you confirm it working.

—
You are receiving this because you were mentioned.
Reply to thi

[2021-03-01 09:22] ryanheise commented on #325
You could either git clone this repository and temporarily point your just_audio dependency to this in your pubspec, or since pubspec supports git references, you could try this dependency:

[code]

The `path` is required since the `just_audio` plugin is a subdirectory within the repository. Once the next version is released, you can (should) change your dependency back to the hosted release.

[2021-03-01 09:27] denkoul opened #326 "Package upgrade crash"
Because just_audio >=0.3.0 <0.7.0-nullsafety.0 depends on uuid ^2.2.0 and [My Project] depends on uuid ^3.0.1, just_audio >=0.3.0 <0.7.0-nullsafety.0 is forbidden.
So, because consultation depends on just_audio ^0.6.14+1, version solving failed.
pub get failed (1; So, because [My Project] depends on just_audio ^0.6.14+1, version solving failed.)

[2021-03-01 09:28] denkoul commented on #326
Also the same with `path_provider: ^2.0.0`

[2021-03-01 09:33] ryanheise commented on #326
(hmm, I guess my bot is inactive?)

This does not look like a crash, it looks like you just need to upgrade your dependencies to nullsafe versions. You didn't include any of sections requested in the bug report template so I don't know what sdk version you're using, but you can try upgrading your just_audio dependency to the latest nullsafety release which is `0.7.0-nullsafety.2`.

[2021-03-01 09:43] sigjak commented on #325
Works fine!  Empty space no longer a problem.

Thank you!

From: ryanheise <notifications@github.com>
Sent: 01 March 2021 09:22
To: ryanheise/just_audio <just_audio@noreply.github.com>
Cc: sigjak <sigjak@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [ryanheise/just_audio] Space in asset names causes error (#325)

You could either git clone this repository and temporarily point your

[2021-03-02 00:49] eddie-at-work opened #327 "setFilePath returns null duration on Android"
**Which API doesn't behave as documented, and how does it misbehave?**
setFilePath() is supposed to return a Duration, but returns null most of the time

**Minimal reproduction project**
https://github.com/eddie-at-work/just_audio_test

**To Reproduce (i.e. user steps, not code)**
Steps to reproduce the behavior:
1. Click "set the player"
2. In the output text, you can see traces when:
 - the bund

[2021-03-02 02:33] ryanheise commented on #327
One thing that it could be is that `dart:io` doesn't guarantee that a flush happens synchronously with the platform's notion of flush. You may need to (unfortunately) insert a delay between writing the file and passing it to the player.

[2021-03-02 07:29] bilaloz opened #328 "How to use clipping with LockCachingAudioSource"
Hello

Thank you for primarily developed this library.

My question is ; how to use clipping with LockCachingAudioSource  ?

I will be happy if you help.

Thanks.

[2021-03-02 07:29] #328 closed

[2021-03-02 09:20] #325 closed

[2021-03-02 09:20] sigjak commented on #325
fixed

[2021-03-02 16:00] ryanheise commented on #326
Closing based on the previous comment.

[2021-03-02 16:00] #326 closed

[2021-03-02 16:04] ryanheise commented on #323
@AniketBhadane I'll close this feature request since `StreamAudioSource` exists (although possibly future versions of just_audio will provide an alternative to `StreamAudioSource` for a byte array rather than a stream.)

[2021-03-02 16:04] #323 closed

[2021-03-03 02:27] ryanheise commented on #327
I tested your m4a file by hosting it on a web server instead of a file, and got the same result. This indicates that it is either a problem with the encoding of the file, or it is a problem with ExoPlayer's decoders. It is more likely to be the former, given there is a history of similar problems with files generated by recorder plugins.

[2021-03-03 04:38] ryanheise commented on #250
I have just published a just_audio 0.7.0-nullsafety.3 . This is a a release candidate for the 0.7.0 stable release.

Please try it out and let me know if you encounter any issues, otherwise I'll proceed to publish a stable release within the next day or two.

[2021-03-03 10:14] ryanheise opened #329 "Pitch adjustment"
**Is your feature request related to a problem? Please describe.**

Pitch adjustment would be useful in some apps (e.g. changing pitch of voice or music).

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

There is no other way to achieve this other than plugin support.

**Additional context**

This is easily implemented on Android, iOS might be more proble

[2021-03-03 10:15] ryanheise commented on #276
@nt4f04uNd FYI I have opened a new issue for this feature #329 .

[2021-03-03 10:33] nt4f04uNd commented on #329
from https://github.com/ryanheise/just_audio/issues/276#issuecomment-756512451

yep, i'm aware of this. i think you should add it to android and then some time later implement it on iOS

[2021-03-03 11:10] ryanheise commented on #329
True.

I should probably mention that all new features from this point will only be developed on the null-safe branch (i.e. the 0.7.* releases). For now, this will require the beta channel of the Flutter SDK, although stable is coming soon.

[2021-03-03 11:41] ryanheise commented on #329
Note to self. This API might integrate well with AVQueuePlayer:

https://developer.apple.com/documentation/avfoundation/avaudiomixinputparameters/1387042-audiotimepitchalgorithm?language=objc

(Though I'm not particularly happy with the quality of iOS's pitch/time stretching algorithms, if the above works, I may as well use it.)

[2021-03-03 16:13] ryanheise commented on #250
just_audio 0.7.0 stable has been released!

It's been a hectic 3 months from the initial migration of audio_session back in November of last year, to now, particularly with maintaining two branches of each plugin. But from here on, all new development will happen on the null safety branch which will be a huge weight off my shoulders.

The plan is to merge `nnbd` into `master` as soon as Flutter re

[2021-03-03 16:13] #250 closed

[2021-03-03 17:48] eddie-at-work commented on #327
👍 thanks for looking into it, will test with different m4a's to check

ya, re: delay, FWIW I updated the repro project above to add a one second delay between the writing and the passing it to player, no luck
https://user-images.githubusercontent.com/932757/109848382-70927e80-7c0d-11eb-8bd3-ca46892eae53.mp4

[2021-03-04 03:54] ryanheise commented on #103
FFI is now stable with Flutter 2.0 (and it seems more flexible than before). Maybe conditions are good to take another look at this?

Let's think about package naming: I think we could name each implementation's package something like:

[code]

Maybe in theory it would be possible for a single package to provide multiple platform implementations based on the same native library, but the problem wi

[2021-03-04 04:23] hacker1024 commented on #103
I like this idea.

The VLC library, for example, runs on all 5 native platforms. Common code could be kept in one package (`just_audio_common_vlc`?) and the sole responsibility of platform specific VLC packages would be to provide the actual VLC library for use with FFI.

If licensing permits, one could then use VLC on every platform to maintain consistency with supported codecs.

[2021-03-04 10:57] leidig54 commented on #329
This would be another massive winner for me. Any eta? As with the equalizer functionality, happy to offer a bounty to bump the priority.

[2021-03-04 15:05] ryanheise commented on #103
That sounds like a good name to me. It looks like libVLC 4 (in preview) has gapless playback. I haven't checked the API to know how feasible it is to have clipped items in a gapless playlist.

[2021-03-04 21:56] sigjak opened #330 "pls support"
**Is your feature request related to a problem? Please describe.**
Currently playing .pls files seems not to be supported.

**Describe the solution you'd like**
Supporting buffering and playing .pls files, a common format for many BBC radio streams

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2021-03-05 02:15] keaganhilliard commented on #330
May not be what you are looking for but it looks like .pls files are just text files that contain a list of urls. It's probably best to write a simple parser and then pass the resulting list of URIs to `just_audio`

[2021-03-05 08:05] YeungKC opened #331 "Support Linux?"
At the moment it looks like support for window is in progress, if Linux can also be supported then great~~

[2021-03-05 08:06] #331 closed

[2021-03-05 08:10] YeungKC opened #332 "Support Linux?"
**Is your feature request related to a problem? Please describe.**
At the moment it looks like support for window is in progress, if Linux can also be supported then great~~

**Describe the solution you'd like**
n.a

**Describe alternatives you've considered**
n.a

**Additional context**
n.a

[2021-03-05 11:15] sigjak commented on #330
Your are absolutely right. Thank you for the help!

[2021-03-05 11:15] #330 closed

[2021-03-06 14:57] ryanheise commented on #329
Hi @leidig54

Thanks again for offering to support the project!

I will ordinarily prioritise features based on the number of thumbs up and their difficulty, although I also tend to prioritise requests from GitHub sponsors too (otherwise, you're welcome to discuss by email - the address can be found in the git log).

The next two big features I plan to work on are the visualizer and equalizer, but

[2021-03-08 01:19] ryanheise commented on #242
Note to self: this could be used: https://github.com/google/shaka-player/

[2021-03-08 06:01] kbanta11 opened #333 "Seek not working for AAC files on Android"
**Which API doesn't behave as documented, and how does it misbehave?**
`seek` while playing starts `aac` file types from the beginning when playing on Android (`mp4` and `mp3` files seem to seek correctly. On iOS, all 3 file types seem to work properly). It does seem to update the new position of the file (verified by checking the `player.position` after `seek`, but then seems to actually start pl

[2021-03-08 15:29] twogood commented on #65
On iOS Browser I get this exception when `play` is called:

Could it be the same thing? Because I wanted to play directly after navigation to a screen, not on a user interaction like a button press.

[2021-03-08 16:15] ryanheise commented on #333
Hi @kbanta11 this is not the fault of the player, it's just that the player needs a seek table to be able to seek. Try re-encoding the file in a container format that includes a seek table. See:

https://askanydifference.com/difference-between-aac-and-m4a/

[2021-03-08 16:23] kbanta11 commented on #333
Hmm.. interesting. So I am trying to switch from the `audioplayers` plugin (since this plugin is much more robust and actually is actively maintained (THANK YOU!)), which I think also uses ExoPlayer. With `audioplayers`, I could properly seek on these file types. The main problem is that I need the files to be playable and recordable on both Android and iOS (users generate these recordings) and so

[2021-03-08 19:31] kbanta11 commented on #333
So after looking through the `audioplayers` code, it looks like on Android it actually uses the android MediaPlayer, which can appears able to seek on `aac` files, so this might be a limitation of ExoPlayer on Android

[2021-03-09 02:15] ryanheise commented on #333
Here is the ExoPlayer response:

So the best we can do without using a proper container that contains a seek table is to do "approximate" seeking assuming a constant bitrate. I can consider adding support for that, since ExoPlayer has since added support for this.

However, note as per the ExoPlayer response that you are still better off encoding your audio file in an appropriate format for seekin

[2021-03-09 05:33] kbanta11 commented on #333
Ok. I think the bitrate solution would hopefully work since I'm recording at a constant bitrate (16000). What's interesting is that I'm recording the files on iOS as `kAudioFormatMPEG4AAC`, though the extension was `aac`, so it might have not been recognizing the file as an mp4 encoded aac due to the file extension. I'm trying to change the file extension to `mp4` for new recordings (and will mayb

[2021-03-09 05:45] ryanheise commented on #327
Have you tried re-encoding your file?

[2021-03-10 02:47] ryanheise commented on #329
It definitely has overlap with what's happening on the `visualizer` branch and I want to ensure I get the overall design right in how these features interact, so I'm looking into this now.

[2021-03-10 03:40] ryanheise commented on #329
As I originally suspected, this feature would best be handled by a move to AVAudioEngine on iOS.

Although there might be ways to get this to work with AVQueuePlayer, maybe it is finally time to make the switch to AVAudioEngine, given that a lot of the popular feature requests at the moment involve audio processing. This would also allow complete control over audio interruptions since AVQueuePlaye

[2021-03-10 03:47] nt4f04uNd commented on #329
i really love the direction you are taking in working on your audio plugins, and how you implement features. these are by far the most mature and will-maintained flutter plugins

[2021-03-10 09:12] ryanheise commented on #329
The Android implementation is now available for testing on the `pitch` branch.

[2021-03-10 10:25] ryanheise opened #334 "Rewrite iOS implementation based on AVAudioEngine"
**Is your feature request related to a problem? Please describe.**

Certain features such as a visualizer (#97 ), equalizer (#147 ), pitch shifting (#329 ) may be more easily implemented if based on AVAudioEngine rather than the current AVQueuePlayer.

**Describe the solution you'd like**

Either reimplement using AVAudioEngine directly, or use an AVAudioEngine-based library such as AudioKit.

**D

[2021-03-10 10:37] ryanheise commented on #147
It looks like this feature request is quite popular. Since a number of popular feature requests involve audio processing, I think that it may be time to switch to an AVAudioEngine-based iOS implementation. I have opened #334 to track progress on that front. The iOS equalizer implementation can then be completed after that.

This is not going to be an easy task, so I wouldn't expect results soon. T

[2021-03-10 12:18] mvolpato commented on #334
Is it an option to move to Swift?

[2021-03-10 12:27] ryanheise commented on #334
Yes, this probably will be written in Swift.

[2021-03-10 14:16] nt4f04uNd commented on #334
this will be breaking for folks, don't do this

[2021-03-10 14:19] ryanheise commented on #334
@nt4f04uNd Do you mean breaking in terms of stability, or breaking in terms of codec support?

[2021-03-10 14:26] nt4f04uNd commented on #334
in terms of that you can have these configs, except one

| app | library |
| obj-c | obj-c |
| swift | obj-c |
| swift | swift |

library written with swift can't be used with obj-c projects

[2021-03-10 15:45] ryanheise commented on #334
That's true, although just to play devil's advocate:

* New Flutter projects have been Swift by default now for more than a year.
* People are converting older Objective C projects to Swift.
* Consequently, this is a vanishing problem, and people who have it can solve it with [flutter create](https://github.com/flutter/flutter/issues/16049#issuecomment-493145902).

This will also virtually only af

[2021-03-10 19:42] maares opened #335 "VisibilityDetector Feature"
Hi I've been using the library a few hours, I'm amazed on the simplicity and keen implementation!

**Is your feature request related to a problem? Please describe.**
As a user I would like to have an option to listen to audio "widget" Visibility, the same way you listen to Stream.

Simplified Use case intended to stop audio on onVisibilityChange (custom logic by user)
-App contains two Tabs
-Tab A

[2021-03-11 01:11] ryanheise commented on #335
Thanks for your kind words, although this feature is not a good fit for just_audio.

By design, just_audio has no dependencies on widgets. The design philosophy of just_audio is that it "just" plays audio (i.e. it's a single responsibility plugin). Anything that can in theory be provided by an external plugin will not be incorporated into just_audio. In this case, I am certain that the app itself

[2021-03-11 01:11] #335 closed

[2021-03-11 04:48] kbanta11 commented on #333
Ok, so I've figured out a setup that is properly recording the files in a way that both android and iOS can seek. Seeking with assumed constant bitrate would still be a nice feature, but at least I can move forward and just start going through the process of converting old files to re-encode them, so this isn't as blocking for me right now. I am still unable to play the files while they're still j

[2021-03-11 05:20] ryanheise commented on #333
This sounds like the proxy is being activated erroneously. Are you using headers or a user agent or a caching audio source?

[2021-03-11 05:31] kbanta11 commented on #333
I'm setting a user agent when creating the AudioPlayer, but am not using headers or a caching audio source. Should I be using a different AudioPlayer initialization for local files?

[2021-03-11 06:01] ryanheise commented on #333
This is erroneous behaviour, so there's a bug that needs to be fixed. But until then you can work around it by using a separate player for local files that doesn't have a user agent.

[2021-03-11 06:57] kbanta11 commented on #333
Yes! After testing this a bit, it does seem removing the user agent fixes this issue. You are an absolute legend! Thank you!

[2021-03-11 07:23] maares commented on #335
Hi @ryanheise, I understand and respect 100% your line of thought. Already implemented VisibilityDetector on the UI as you mention. Thanks for the response and your awesome library!

[2021-03-11 08:15] kostasoft opened #336 "How do I play audio on my phone's speaker?"
Hello!
I need to play the sound of an outgoing connection when making a VoIP call.
The audio player plays audio through the speakerphone.
How do I forcibly redirect the sound to another speaker?

[2021-03-11 08:15] #336 closed

[2021-03-11 10:47] ankushmishra2903-official opened #337 "Issue in just_audio in flutter"
I'm making a project in which when user click on button a timer will start and after user set time a sound will play for that I'm using  **just_audio: ^0.6.15+1**  in my flutter project but it cause many issue below is error stuff.

[code]
**This is my code**

[code]
**This is my flutter doctor -v**
[code]

[2021-03-11 10:47] #337 closed

[2021-03-11 12:38] ryanheise commented on #300
I've implemented this on a local branch but I'm just thinking about distinguishing between buffering options that should be set on player instantiation vs options that can be switched any time.

On Android, they are all set during player instantiation. On iOS, they can in theory all be set at any time, so if this is something worth distinguishing, then they would not be bundled together into the s

[2021-03-11 12:53] xxjonesriderxx opened #338 "Play Music From AppleMusic songIds"
**Is your feature request related to a problem? Please describe.**
I can use some audio query tools which are retrieving whole information about all AppleMusic songs, as well of the ids of those songs. But I cannot play those songs.

**Describe the solution you'd like**
It would be nice if I could add music to my list with something like `AudioSource.uri(Uri.parse(song.iOSSongID)),`

**Describe al

[2021-03-11 13:24] ryanheise commented on #338
Relevant API: https://developer.apple.com/documentation/mediaplayer?language=objc
This API does not work in the background, but there's a hack/workaround: https://stackoverflow.com/questions/44687912/play-apple-music-in-the-background#44710734

Unfortunately the full set of just_audio features are not available using MPMusicPlayerController. I wonder whether this would be best implemented as a sep

[2021-03-11 16:26] ryanheise commented on #300
This API design decision is taking me a surprisingly long time to settle on. I want to at least decide on something that will be backwards compatible. Here is the configuration object I have in my current version:

[code]

A superficial improvement I could make is to make the Android `LoadControl` and `LivePlaybackSpeedControl` data structures as nested structures rather than the current flat stru

[2021-03-12 03:04] ryanheise commented on #329
For the first time with this project I'm starting to feel the need for a `dev` branch (we have a number of features that will need to be tested together before being stable) - I'll do some restructuring.

[2021-03-12 05:39] adamkoch commented on #274
Was this fixed/closed? Or maybe there was a regression? I just switched over to just_audio after upgrading to flutter 2.0 and I am seeing the same crash. I am using just_audio 0.7.0.

Thanks!

[2021-03-12 06:10] ryanheise commented on #274
Hi @adamkoch

Thanks for reporting. I had forgotten to close this issue even though it was fixed. If there is a regression, can you confirm that the above reproduction project causes the error with 0.7.0? If not, are you able to provide another reproduction example?

[2021-03-12 07:29] afkcodes commented on #329
@ryanheise  completely agreed with you here, just a suggestion we can also update the readme for the new features in branch.

[2021-03-12 08:06] AliHoseinpoor commented on #309
I have the same problem.
In crashes section in google play console i have this error
![Uploading IMG_20210312_113400.jpg…]()

[2021-03-12 08:57] ryanheise commented on #309
Hi @AliHoseinpoor Can you confirm #310 fixes the issue?

I had unfortunately lost track of this issue during the null safety migration, but now that that's out of the way I can try to get this merged.

[2021-03-12 10:11] adamkoch commented on #274
Thanks for the fast response. I found the issue actually, I converted over from the [assets_audio_player](https://pub.dev/packages/assets_audio_player) package and was using this to dispose of the player:
[code]

This shows error:
[code]

If I remove this or only call `dispose()` then the error doesn't show up. I guess as `stop()` the call may overlap with the `dispose()` call.

[2021-03-12 12:38] AliHoseinpoor commented on #309
Hello my dear friend.
Unfortunately, I did not encounter the problem myself so that I could test it now. I was looking at my app crash statistics on Google Play when I saw that this error caused the app to crash a lot.

[2021-03-12 12:50] ryanheise commented on #309
OK, I'll try to test and hopefully merge #310 on the latest just_audio version soon.

[2021-03-12 12:54] AliHoseinpoor commented on #309
Thank You very much

[2021-03-12 13:05] DenisShakinov commented on #309
I was also quit busy past few weeks migrating all our apps to null safety so not keeping eye in this issue/PR. if you need anything from my side please welcome. I will also check our crash free statistic on firebase console (we are releasing today with #310 onboard) after release and get back to you soon.

[2021-03-12 13:11] AliHoseinpoor commented on #309
Thank you very much for your kindness.
I myself have not encountered this problem in my tests, but it seems that the users of my application have encountered this problem.

[2021-03-12 19:57] ProgrammingLife opened #339 "Pan stereo channels control"
**Describe the solution you'd like**
I wanna mix my sounds playing simultaneously using pan stereo control to play first sound in the left ear (in a range of [0..1]) and some sound in the right ear. I wanna have dynamically controlled feature to change this on the fly (online).

[2021-03-12 19:58] #339 closed

[2021-03-12 19:59] ProgrammingLife commented on #339
@github-acitons, But that's all the information :)

[2021-03-12 20:01] ProgrammingLife opened #340 "Pan stereo channels control for playing audio"
**Is your feature request related to a problem? Please describe.**
I wanna mix my sounds playing simultaneously using pan stereo control to play first sound in the left ear (in a range of [0..1]) and some sound in the right ear. I wanna have dynamically controlled feature to change this on the fly (online).

**Describe the solution you'd like**
I don't know what flutter plugin can do so.

**Descri

[2021-03-13 04:12] ryanheise commented on #300
I've created a `dev` branch where new features will be developed and added my first implementation of this to it.

My approach: I've split the configuration object into some nested options:

[code]

This is passed into the `AudioPlayer` constructor as an optional parameter. The `DarwinLoadControl` class contains all 4 parameters discussed above:

[code]

But I have also added setters for the last

[2021-03-13 05:15] ryanheise commented on #329
`dev` is now created. It contains the new pitch feature (Android only so far) and also #300 (buffer configuration options). My immediate goal is to bunch together the features that will involve changes to the platform interface so that I can do a single release (because the release process for changes to the platform interface is usually time consuming.) I will probably also include in this bunch

[2021-03-13 05:20] ryanheise commented on #274
@adamkoch you have found the correct solution to your issue. The purpose of `stop()` in this plugin is to shut down the platform side of the plugin in a way that allows it to be resurrected later, but if you don't plan on resurrecting it, you would use `dispose()` instead. Although intuitively a `stop` followed by a `dispose` should also work without error. I suspect the reason you got an error wa

[2021-03-13 07:11] ryanheise commented on #309
I've just published the fix #310 in just_audio 0.7.1. Let me know if there are further issues, or if it turns out successful, I'll close the issue.

[2021-03-13 07:23] ryanheise commented on #333
I've just fixed the proxy+user_agent bug in the latest 0.7.1 release which means you will not need to create a separate `AudioPlayer` instance just for files.

[2021-03-13 09:46] ryanheise commented on #340
Looks like there was some discussion on this here for ExoPlayer: https://github.com/google/ExoPlayer/issues/2659 (it is described as a niche feature so the app must implement it manually, although we can't take that approach with Flutter since audio processing over method channels won't be very efficient).

For iOS, it's a built-in feature of `AVAudioPlayer` although that's not the API just_audio

[2021-03-13 10:00] ryanheise commented on #103
Besides libVLC, it would be great in my opinion to have @alexmercerind 's code above integrated into the federated plugin model since it is already written and supports Windows and Linux. With this settled naming convention, we would have:

[code]

Of course we already have a complete macOS desktop implementation so the above two would complete the set.

@alexmercerind are you still interested in

[2021-03-13 10:02] ryanheise commented on #340
This also appears to be a duplicate of #126 (would you agree to closing this issue in favour of that one?)

[2021-03-13 10:13] alexmercerind commented on #103
Hi there @ryanheise !

I've been silently working to get libVLC working on Windows. And I'm nearly done aswell. I'm able to fetch libVLC DLLs directly from their servers using CMake & manage linking & all the headers.

And since, it is under LGPL, developers shouldn't have problem about distributing their apps.

Now I'm really confident that I've pulled it off with libVLC. Now, I'm in college & ha

[2021-03-13 10:17] alexmercerind commented on #103
What do you think @ryanheise ? 👀

I decided to switch from `miniaudio` to `libVLC`, since it was't really powerful.

[2021-03-13 10:17] hacker1024 commented on #103
@alexmercerind
Amazing work! I attempted to start a LibVLC implementation a while ago, but struggled with CMake. Are you using FFI or platform channels? I think FFI may be worth a shot, as it opens up the possibility for use with Dart CLI apps as well.

Also, do you think LibVLC could be easily used on other platforms as well?

[2021-03-13 10:21] alexmercerind commented on #103
@hacker1024
I'm not using `dart:ffi`...
primarily for two reasons...
I'm not fan of just mapping methods on the both Dart & C++.

And, even if we used `dart:ffi`, plugin users still have to place DLLs or take care of linking etc. themselves (and I'm sure no Flutter developer wants to do it.)\

In my current branch, everything happens out of the box.

`dart:ffi` is still a pain. Even referring to `

[2021-03-13 10:31] adamkoch commented on #274
Makes sense, yes I didn't `await` the `stop()`. All is working for me now so you can close this issue. Although yes, ideally you would guard against things so this couldn't happen (block in `dispose()` if `stop()` is still running). Thanks for the fast and detailed responses!

[2021-03-13 13:07] ryanheise commented on #103
@alexmercerind really awesome! I am sure it was a lot of time and effort to get on top of all of these technologies.

For these federated plugin implementations, I would like to list them all prominently in the main README along with who is maintaining them, and links to their pub.dev page.

By the way, quick poll: Should we go for naming like `just_audio_linux_libvlc` or `just_audio_libvlc_linux`

[2021-03-13 13:19] ryanheise commented on #274
I may leave this issue open still, just because I think I can improve things internally, and this will remind me to come back to this in the future.

[2021-03-13 14:11] hacker1024 commented on #103
I prefer `just_audio_libvlc_linux`, as I think `livvlc_*` implementations have more in common with each other than `linux_` implementations, so `libvlc` is the more general component. The name then has components in order of decreasing specificity.

I like FFI because it allows code to be re-used in non-Flutter applications, but I understand if that's less important than maintainability for this p

[2021-03-13 14:56] ThorgeL commented on #333
@kbanta11 Would you mind sharing with me how you implemented that? Are you using flutter_sound to record the files?

I am facing the exact same issue with not being able to seek on Android in the AAC format.

[2021-03-13 16:27] alexmercerind commented on #103
@ryanheise ,
I'm agreed to what @hacker1024 said i.e. `just_audio_libvlc_X`.
And I'm thinking, that I should make my libVLC project public. Because, your library isn't the only audio library that, I want to bring Windows & Linux support to. (Don't get me wrong, your library is awesome, but there are other libraries I would love to see get support for Windows & Linux)..
By this way, all the audio l

[2021-03-13 16:46] kbanta11 commented on #333
So I still can't seek on `.aac` files, but I can seek on `mp4` files which can be recorded on both. I'm not using `flutter_sound`, but the `sounds` package, which is a fork of `flutter_sounds` and has diverged a little bit from `flutter_sounds`. Using the `sounds` package, I had to create a custom `MediaFormat` so that the files recorded on both android and iOS are saved as `.mp4`.  This is the cu

[2021-03-13 17:09] ProgrammingLife commented on #340
@ryanheise, sure I'll close this issue.

So is the best way for getting this functionality is to use a server power for quick mixing my sounds (to use desired L/R channel volumes) and playing a stream with just_audio? What do you think?

[2021-03-13 17:09] #340 closed

[2021-03-13 18:11] alexmercerind commented on #103
One other thing is, how do I call Dart methods from C/C++ using FFI?

In platform channels, we can communicate on both sides. Why is there no "platform channel" for plain Dart.

[2021-03-13 22:56] nt4f04uNd opened #341 "just_audio -> media_player"
**Is your feature request related to a problem? Please describe.**
this a request for adding video support and becoming an official plugin

**Describe the solution you'd like**
the plugin is quite powerful and its codebase could be adjusted to add support for video playback as well - this is how native implementations of players work. on that front, you could try and contact flutter team so perhap

[2021-03-14 01:30] ryanheise commented on #340
I will copy and paste these comments over to #126

[2021-03-14 01:35] ryanheise commented on #126
Copying over some comments from duplicated issue #340 :

And a question:

That's not a bad workaround given the feature is not currently implemented in just_audio. If you're dealing with assets, you could also prepare the desired mix ahead of time and bundle that in the assets. If the content is dynamic, you could prepare the mix just in time. It may be possible on device using ffmpeg, except that

[2021-03-14 01:40] ryanheise commented on #103
Definitely agree with that approach. :+1:

You will definitely get a lot more support from collaborators after opening it up to everyone.

[2021-03-14 02:01] ryanheise commented on #341
There are definitely pros and cons to this. audio_service already is fully capable of supporting video, while just_audio has an API that in theory could support video.

On the other side of the argument, there are certain things that can be done with audio that are not applicable to video, and some of this requires moving to AVAudioEngine on iOS which, as the name implies, is audio only. So we gai

[2021-03-14 02:13] jjb182 commented on #126
Hi Ryan, a friend of mine was able to implement this in just_audio_0.2.2 on
the iOS side.  A similar attempt was made for the ExoPlayer but we were
unsuccessful.  As fate would have it, one of my projects for the past
couple weeks has been to reach out to anyone who would listen on Upwork in
an attempt to make more progress with this.

I'm happy to share the iOS side and the attempts at the ExoPla

[2021-03-14 02:29] jjb182 commented on #126
I just talked to Grant and if he has time tomorrow he will illustrate his approach. The iOS version was also implemented for the latest version of just_audio, but I don't know that we tested it thoroughly. The ExoPlayer compiled but never produced audio output. Hopefully one of you other Exo-enthusiasts will see this and run with it. Until tomorrow.

[2021-03-14 04:45] ryanheise commented on #126
Nice! If the iOS side is sorted, I'd be willing to consider taking a look at the Android side.

[2021-03-14 04:50] ryanheise opened #342 "Create an FAQ"
**To which pages does your suggestion apply?**

The wiki

**Quote the sentences(s) from the documentation to be improved (if any)**

N/A

**Describe your suggestion**

Host an FAQ on the wiki that answers frequently asked questions, how to solve common problems, or explain common error messages and their solutions.

[2021-03-14 04:54] ryanheise commented on #327
Any update on this? As mentioned above, it is either a problem upstream with Google's ExoPlayer or its a problem with the file itself. This suggests two alternative courses of action:

1. File the bug with ExoPlayer and provide them with a link to your audio file so they can figure out whether it's actually a bug or whether your audio file is bad.
2. Re-encode your audio file in a way that ExoPlay

[2021-03-14 04:55] ryanheise commented on #313
Any update on this?

[2021-03-14 06:31] ryanheise commented on #307
On the iOS side, some information on volume boost: https://stackoverflow.com/questions/30238287/core-audio-audio-unit-to-boost-signal-level

This would depend on #334 .

[2021-03-14 06:59] alexmercerind commented on #103
@ryanheise @hacker1024

I just tested out the `dart:ffi` along with the event callbacks from the libVLC. (As we will definitely need async callbacks from C to Dart for notifying about playback events like position or volume change).

So, I directly get this exception... Discussed in more detail [here](https://github.com/dart-lang/sdk/issues/40529). Seems `dart:ffi` isn't that ready (or maybe it is

[2021-03-14 07:26] alexmercerind commented on #103
Update... Playback started working... I was invoking a `nullptr` by mistake.

This is FFI based binding to libVLC. But still, if I can't have callbacks, how will I notify Dart about events.

![ffi](https://user-images.githubusercontent.com/28951144/111060662-8a14af80-84c4-11eb-9d98-267d30856be8.PNG)

Dart code
[code]

[2021-03-14 08:43] ryanheise commented on #307
The Android side of "skip silence" is now implemented in `dev` via PR #234 .

The volume boost feature needs some further thought on the API design front. iOS can represent all sorts of audio effects via AVAudioUnit, while Android can represent these via AudioEffect. I would like to create some similar type of generalisation in the just_audio API after analysing the commonalities between these two

[2021-03-14 09:02] ryanheise commented on #103
I think this is the same problem with platform channels isn't it? Dart is single-threaded, so the platform code must switch to the main thread before sending a message to Dart over method/event channels.

To do async callbacks you would need to have a separate isolate to receive those messages. Now in terms of platform channels there is some news on that front: https://github.com/flutter/flutter/i

[2021-03-14 09:07] alexmercerind commented on #103
@ryanheise .

Wait what... My current platform channel implementation is literally invoking platform channel methods from other other threads.

I don't want to dive into your Java code. But how to you inform the Dart about playback events then, if you can't call callbacks from the other threads.

[2021-03-14 09:10] ryanheise commented on #103
See https://flutter.dev/docs/development/platform-integration/platform-channels#channels-and-platform-threading

[2021-03-14 09:22] Rabyn900 opened #343 "how to play background"
**To which pages does your suggestion apply?**

- Direct URL 1
- Direct URL 2
- ...

**Quote the sentences(s) from the documentation to be improved (if any)**

**Describe your suggestion**

...

[2021-03-14 09:23] #343 closed

[2021-03-14 10:10] ryanheise commented on #103
Some more ideas: https://github.com/audiooffler/JucyFluttering/

[2021-03-14 10:15] Rabyn900 opened #344 "does this plugin plays audio in background automatic ??"
**To which pages does your suggestion apply?**

- Direct URL 1
- Direct URL 2
- ...

**Quote the sentences(s) from the documentation to be improved (if any)**

**Describe your suggestion**

...

[2021-03-14 10:22] alexmercerind commented on #103
They are also doing async callbacks on the main thread using some "Native Ports".

I found this guy's minimal example to study https://github.com/mikeperri/flutter-native-callbacks-example.

Thanks for the repo you gave, let's see how they are calling Dart methods from C/C++ from other threads (in a way).

[2021-03-14 10:23] ryanheise commented on #344
As this is a question rather than a valid documentation request, please ask it via StackOverflow.

[2021-03-14 10:23] #344 closed

[2021-03-14 18:36] alexmercerind commented on #103
@ryanheise @hacker1024

Finally! 🎉🎉🎉 (I've never researched so much).

I'm able to receive data (not call-back, but it will work) from another thread. Using that "Native Ports" approach.

Even then, its a very heck of a ride. I had to extract things from already defined method in `'package:isolate/port.dart`.
The example repository I mentioned above (https://github.com/mikeperri/flutter-native-cal

[2021-03-15 00:04] franklink commented on #211
Any newer thoughts on cast support? AirPlay already works automatically in iOS when playing media with your plugin - its kind of built in. I would love cast support for Android (iOS is likely never going to have a bunch of folks asking for it). With casting to a Chromecast or Google Cast, there's a fair amount of development and I would be willing to test/support this effort if you decide to go th

[2021-03-15 01:00] ryanheise commented on #103
It looks like flutter-native-callbacks-example and JucyFluttering have stumbled onto variants of the same sort of idea which involves going through receive ports, although they differ a bit in the details. The former depends on `package:isolate` while JucyFluttering just instantiates a ReceivePort directly.

Then your own evolution of the former example seems to make it look more similar to the la

[2021-03-15 01:07] ryanheise commented on #211
There is a discussion and some code over on #248 . Doing it right will require some planning on the Android side, particularly since it may require collaboration with the audio_service plugin.

My priority at the moment however is getting the next release of audio_service out, then releasing  #311 , then working on #97 , #147 , #329 and somewhat related #307 , which in turn depend on #334 .

While

[2021-03-15 09:33] suragch commented on #294
@ryanheise The `enqueFrom` you are talking about is [here](https://github.com/ryanheise/just_audio/blob/77c6f9e03a9e4f25642e0077895c721f78991b38/just_audio/darwin/Classes/AudioPlayer.m)? So that's not something we could handle on plugin user side, right?

I was noticing similar behavior with 43 items in the playlist. My UI freezes while they are loading on macOS and iOS. On the iOS simulator the f

[2021-03-15 09:45] ryanheise commented on #294
That's correct. The solution involves improving the `enqueueFrom` so that it can enqueue just a few items ahead instead of the whole list, when the `useLazyPreparation` option is set to true. That involves modifying the Objective C code in the plugin.

As for a workaround, I can think of 2 things to try:

1. The easiest thing to try (although I don't know whether it will have any effect) is to pla

[2021-03-15 09:48] suragch commented on #294
I forgot about the possibility of adding items to an existing playlist. That's a good idea. Thank you!

[2021-03-15 12:26] Rabyn900 opened #345 "how to wrap up just audio player with audio service"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-15 12:28] ryanheise commented on #345
Hello, @Rabyn900 are you reading this?

[2021-03-15 12:40] Rabyn900 commented on #345
yes

[2021-03-15 12:40] ryanheise commented on #345
@Rabyn900 did you read my replies to your other issues? i.e. #344 and https://github.com/ryanheise/audio_service/issues/612

[2021-03-15 12:43] Rabyn900 commented on #345
i didnt see that