[2019-12-01 19:54] yringler opened #1 "Playback speed control"
A way to change the playback speed would be great.
This is a much requested feature in my app.

[2019-12-02 05:30] ryanheise commented on #1
Hi @yringler

This is definitely an important feature.

Preferably I'd want to forego the built-in time stretching APIs in iOS and Android and do something that will give high quality results that are optimised for speech. I assume you probably also want this for speech since that's the most common use case for time stretching, but if not, this approach should also be fine for music.

I'd probably

[2019-12-02 14:29] yringler commented on #1
Yup, my use case is classes - just speech.

[2019-12-02 17:35] yringler opened #2 "Confusing AudioPlayerState vs AudioPlaybackState"
_Developer ergonomics_
As I was switching to use this library, I found myself losing track of `PlayerState` (i.e `playerState`, `playerStateStream`) and `PlaybackState` (i.e `playbackStateStream`). I couldn't remember which was the enum and which was the class, and had to keep on checking.

I suggest that the core issue is that state is a generic word (as in the phrase, "maintaining app state"), a

[2019-12-03 01:51] ryanheise commented on #2
I appreciate the suggestion. I had the same naming challenge with audio_service, actually. In the native Android APIs, they call the data structure "PlaybackState" and the enum "State" which shows that I am not alone in this struggle.

I definitely want to keep the word 'state" since it is so prevalent in existing media APIs, and the enum itself should definitely be called state because it is a st

[2019-12-03 16:19] yringler commented on #2
Yes. Good points, good idea.
That also includes changing the name of the relevant properties (`playbackStateStream`, `playbackEvent`, and `playbackEventStream`), right?

[2019-12-04 03:55] rohansohonee opened #3 "Android suggestion for audio player"
Hi @ryanheise

Can you use exoplayer at android side instead of media player.
Exoplayer is very feature rich.

[2019-12-04 04:44] ryanheise commented on #3
@rohansohonee , I was planning to implement much the same using the low level MediaExtractor and AudioTrack APIs which would give me more flexibility in implementing the features I want.

E.g. this way, I can implement time stretching and also the `untilPosition` parameter of `play` which isn't built in to exoplayer. However, I would consider exoplayer if it were easy to extend it in this way. Do

[2019-12-04 04:55] rohansohonee commented on #3
I am not clear about the `untilPosition` parameter of `play` ?
Can you explain what `untilPosition` does?

You can [customize exoplayer](https://exoplayer.dev/customization.html)

[2019-12-04 05:11] ryanheise commented on #3
https://pub.dev/documentation/just_audio/latest/just_audio/AudioPlayer/play.html

[2019-12-04 08:23] ryanheise commented on #3
Hmm, I didn't actually document it well, there, either! Basically, it will play until the given position, then pause.

[2019-12-04 13:58] ryanheise commented on #3
By the way, are there specific features that you would like exposed in the flutter API?

[2019-12-04 14:31] rohansohonee commented on #3
If you can expose Exoplayer features in flutter API that would be awesome.

**IMPORTANT**
Please see this https://github.com/ryanheise/audio_service/issues/114

[2019-12-04 14:45] ryanheise commented on #3
@rohansohonee I am not going to add all of exoplayer's features in just_audio, as it comes with a lot of baggage that is not needed. Can you list specific features you would like to use?

[2019-12-04 15:07] rohansohonee commented on #3
Gapless playback and Normalize volume if possible.

Also have you seen the memory leak report?
https://github.com/ryanheise/audio_service/issues/114

[2019-12-04 15:17] ryanheise commented on #3
If it's just those two features (in addition to the two already mentioned up the top), I may just implement them myself without bringing in exoplayer, but I'll keep the exoplayer option in mind.

(Yes, I have seen your issue on audio_service.)

[2019-12-10 14:42] cnttechio opened #4 "This plugin doesn't have events complete & error"
I just implement this plugin but i don't see function to catch event complete & error when playing audio.
Can you add features to this plugin ?

[2019-12-10 16:04] ryanheise commented on #4
Hi @cnttechio

The `play` method returns a future which completes when playback completes which means you can simply await that future.

If a method fails, it should throw an exception, although this has so far been implemented only on the Android side. The iOS side does not yet handle the error cases.

Let me know if the above works for you on the Android side, and I will do more work on the iOS

[2019-12-10 17:14] cnttechio commented on #4
Hi @ryanheise .

So cool, i got it, it working fine on the Android side. I will wait for you do more work on the iOS side.

Many thanks

[2019-12-16 07:42] hacker1024 opened #5 "[iOS] playerState.state is always AudioPlaybackState.stopped"
If I start playback from a URL, and then check the `playerState.state` while it's playing, it's always `AudioPlaybackState.stopped`.

I haven't tested it on Android as I'm using my own audio plugin with queue support for the platform.

[2019-12-16 07:44] hacker1024 commented on #5
I have an iPhone SE with iOS 13. (It was a great find in my local e-waste bin)

[2019-12-16 15:22] ryanheise commented on #5
First bug report!

Does this issue occur with the example app? If so, are you noticing a different behaviour on the iPhone vs the simulator?

[2019-12-17 02:23] hacker1024 commented on #5
Hmm, it doesn't happen with the example project.
I also have no audio coming out at all on the example project...

I can't compare my code to the example's because I switched to another audio plugin, though.

[2019-12-17 06:59] Sun3 opened #6 "Example needs to be updated to use AndroidX"
The example android app needs to be updated to use AndroidX or it will not compile.

File: gradle.properties
Add the following:
[code]
Full gradle.properties file:
[code]

Thanks.

[2019-12-24 09:48] MahdiPishguy opened #7 "not working on some devices"
this library not working on some devices such as `Huawei p30 lite`, `samsung j7`, `Galexy j3pro`, `samsung j5`, `Samsung Galaxy J1`, `Samsong g7`

and not working on Android 9

[2019-12-25 14:43] ryanheise commented on #2
I've just renamed `AudioPlayerState` to `AudioPlaybackEvent` and the associated fields. I haven't published a release yet since there is some unrelated iOS code that I need to write/test before releasing.

[2019-12-25 14:45] ryanheise commented on #1
I've just implemented time stretching on the Android side if you'd like to test it. I'll publish it after implementing and testing the iOS side. I'd like to eventually use the same time stretching algorithm on iOS that I'm using on Android, but for now I plan to just use the native playback rate feature in the iOS APIs.

Are you using this on Android or iOS or both?

[2019-12-25 14:49] ryanheise commented on #3
I've just implemented time stretching and `untilPosition` on the iOS side. Gapless playback is possible by creating multiple instances and preparing the next instance for playback in advance.

I haven't looked at normalising the volume. How exactly should this behave?

[2019-12-25 14:52] ryanheise commented on #5
I've rewritten the Android implementation to support some low level features. As a result, you may want to retry this and see if your problem went away.

[2019-12-25 14:53] ryanheise commented on #6
Hi @Sun3 I have updated the plugin to AndroidX in Git although I need to complete some iOS coding before I can publish it.

[2019-12-25 14:57] rohansohonee commented on #3
Merry Christmas @ryanheise

- Normalizing volume should keep a consistent volume between tracks. If it is possible to implement this then do so.

- I do this using the ``audioplayers`` plugin. The issue is it glitches the sound when playing the prepared instance. The reason for the glitch is that it uses MediaPlayer on android. Are you using MediaPlayer or AudioTrack??

- Is this available for and

[2019-12-25 15:06] ryanheise commented on #3
I'm using `AudioTrack`. Let me know how it goes with gapless playback. If it still glitches, I'll look at building this feature into the plugin by using a single, continuous `AudioTrack` between files.

I should correct my earlier comment: I implemented `untilPosition` and time stretching on the "Android" side. I haven't yet done it on the iOS side.

Thanks for clarifying the normalised volume. I

[2019-12-25 15:08] rohansohonee commented on #3
I just know that exoplayer has the feature for normalising volume.

[2019-12-25 15:18] ryanheise commented on #3
Thanks, I'll look at what exoplayer does.

I don't like `position` as a parameter name for this method because it could easily be confused for a seek position, given that both the seek and until positions could conceivably be added to this method in the future.

An alternative could be to remove this parameter and have a separate method to set this position. Then the parameter itself could be name

[2019-12-25 16:01] rohansohonee commented on #3
- It seems we can never start playback of audio as you have added a condition as follows:

    [AudioPlaybackState.stopped]
    [AudioPlaybackState.paused]

- This means we can never start the initial playback. We never are in either stopped or paused.

[2019-12-25 16:15] yringler commented on #1
My app (still in beta) which uses this plugin is currently running on both android and iOS devices.

[2019-12-25 16:39] ryanheise commented on #3
After `setUrl` you should be in the `stopped` state.

[2019-12-25 16:42] ryanheise commented on #3
One more thing which is not yet documented is that the future returned by `play` will complete when playback completes.

[2019-12-25 19:00] rohansohonee commented on #3
I created two instances of AudioPlayer().
If i stop player A it also stops B??

[2019-12-25 20:33] rohansohonee commented on #3
Also the glitch occurs when calling play of player B while player A is running.

[2019-12-25 21:56] rohansohonee commented on #3
There is no ``AudioPlaybackState.completed`` state.
Also the onplayercompletion stream listener should be added.
Gapless playback not working since glitch is present when swapping previous song with next song.

[2019-12-25 22:03] rohansohonee commented on #3
Reason for gapless audio playback is because i want to cross fade between two tracks i.e fade out volume of current song while simultaneously fading in the next song, thus performing smooth transition.

[2019-12-26 08:02] rohansohonee commented on #3
Hi @ryanheise

I went through the android code and these are the changes you can make:
1. Don't use MediaExtractor for decoding audio, but instead use FFmpeg for decoding the audio file.
here is an article explaining the huge performance improvement.
https://medium.com/@donturner/using-ffmpeg-for-faster-audio-decoding-967894e94e71
2. Also you should really look into just using ExoPlayer as you wil

[2019-12-26 12:31] ryanheise commented on #3
Hi @rohansohonee

I did look into using ExoPlayer, but I did not see a way to implement `untilPosition` (which I need) without basically rewriting that whole part of the implementation anyway, and even then I would not be able to plug this into their interface because they designed their API without the forethought of having a feature like this. In the end, I am familiar enough with the low level

[2019-12-26 12:53] ryanheise commented on #7
@MahdiPishguy This seems to be a duplicate of an issue you posted on `audio_service` where you elaborated that you didn't have any further details to provide besides that the customer told you that it didn't work. I am not sure whether you know where the bug is, which is why you opened the same bug on both projects, however if you don't know which plugin or module is at fault, then it is even poss

[2019-12-26 12:53] #7 closed

[2019-12-26 13:06] ryanheise commented on #1
OK, I'd say this plugin is still pre-beta on the iOS side which gives me some urgency to try to finish its implementation. One thing I noticed so far with the iOS implementation is that the state gets confused when reaching the end of the track. I hope to fix this while I'm working on the other iOS things, in particular, the iOS implementation of time stretching. Once I'm done, I'll let you know s

[2019-12-26 13:26] rohansohonee commented on #3
How is exoplayer using ffmpeg extensions then???

How do i perform gapless playback and Crossfade using your package?? I have tried two instances, where i am starting player B and stopping & immediately starting player A and then stopping player B  to try gapless playback.
But there is always a glitch in audio. The transition is never smooth.

[2019-12-26 13:32] rohansohonee commented on #3
https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg

The source code of ffmpeg extensions used in exoplayer.
Every android music app on play store uses exoplayer. They don't seem to be running into license issue??

[2019-12-26 13:38] ryanheise commented on #3
It is mentioned on that page:

FFmpeg itself is licensed under the LGPL.

However, this is just an optional extension and not everyone using ExoPlayer will be using FFmpeg.

[2019-12-26 13:39] rohansohonee commented on #3
So how do apps that are using it achieve it??

[2019-12-26 13:53] ryanheise commented on #3
The general consensus online is that you should seek legal advice :-)

[2019-12-26 13:56] rohansohonee opened #9 "Add AudioPlaybackState.COMPLETED and onPlayerCompletion stream listener"
The audioplayers plugin had features such as onPlayerCompletion stream listener which would get data when the audio file fully completed playback i.e the entire audio file length was played.
I am migrating from this code setup, so having these streams is necessary.

Not only did audioplayers plugin have AudioPlaybackState.COMPLETED but also the audioplayer plugin had it which you are using in audi

[2019-12-26 13:57] rohansohonee commented on #3
can you help with this issue if possible:

How do i perform gapless playback and Crossfade using your package?? I have tried two instances, where i am starting player B and stopping & immediately starting player A and then stopping player B to try gapless playback.
But there is always a glitch in audio. The transition is never smooth.

[2019-12-26 16:04] ryanheise commented on #1
I've just implemented the iOS side and fixed the updating of state after stopping. If you have an iPhone or iPhone simulator, I would be interested to know if the time stretching works. The documentation says that time stretching will not work for streamed media such as that used in my demo example, however the API calls I'm making to detect whether time stretching is supported are telling me that

[2019-12-26 17:41] yringler commented on #1
Interesting. Currently, I'm playing from URL. Eventually, I'd like to switch to progressive download.

I'm out of town until January 2nd. The week of January 5th I hope to get back into things.

I haven't yet added play speed UI to my app. I have a [small list of things to do](https://github.com/yringler/inside-app/projects/1) until I release to the app/play store. If you have a preference, I can

[2019-12-27 05:41] ryanheise commented on #9
I've just added a completed state in the latest commit (untested).

[2019-12-27 05:47] ryanheise opened #10 "(Android) UI thread is blocked at end of playback while seeking to 0."
This is a note to self.

In the finally block of the play thread, there is code to seek back to 0. This is a blocking call, but despite being executed in a background thread, it has the effect of blocking the UI thread. This is a mystery because seeking in other circumstances does not block the UI thread. This occurs both when playback naturally reaches the end of the file and also when stop() is

[2019-12-27 05:58] rohansohonee commented on #9
Will test this and report back to you

[2019-12-28 14:09] BeMacized opened #12 "Player occasionally starts looping the same bit after seeking"
I am running issue where after seeking using the `seek` method, the player occasionally gets into a state where it continues looping the same part (of roughly half a second). This behavior remains even after pausing and resuming the stream.

I was not able to replicate this issue with the audio in the example application, but it does seem to occur when I replace the audio in the example with somet

[2019-12-28 15:09] ryanheise commented on #12
Just to clarify, does it happen with the example application when switching in your m4a file?

I have a theory on what is causing it. I added some code to "re-seek" when the initial seek missed the mark (which happens, since `MediaExtractor` actually has quite poor seek accuracy in some situations - a flaw which also exists in the higher level `MediaPlayer` API).

If this is what's happening, you'

[2019-12-28 15:17] BeMacized commented on #12
Yes.

Indeed, when looking in logcat i found those messages. Commenting out this section seems to have fixed my issue.

[2019-12-28 15:24] rohansohonee commented on #12
Why am i not getting the logs printed out in my console????
Even I am facing similar issues with seek but my application just crashes abruptly. Not able to pin point the cause.
Also nothing is getting printed on console???
Log.d() and System.out.println from native code not printing in console at all??
Only dart print() is showing in my console.
I think flutter 1.12 maybe the culprit. Can you tell

[2019-12-28 15:28] ryanheise commented on #12
I noticed that too. To see the full logs, I run `adb logcat` directly from the command line. Some IDEs may have a built in logcat viewer, or at least Android Studio would have it.

[2019-12-28 15:29] rohansohonee commented on #12
I am using VS Code.

[2019-12-28 15:34] ryanheise commented on #12
I don't use VSCode, but I searched and found this: https://marketplace.visualstudio.com/items?itemName=abhiagr.logcat

[2019-12-28 15:38] ryanheise commented on #12
I've just published the fix in 0.0.4.

@rohansohonee hopefully if you can see the logcat output for your issue, you can post it in a new issue.

[2019-12-28 15:38] #12 closed

[2019-12-28 15:40] BeMacized commented on #12
Thank you!

[2019-12-28 15:58] rohansohonee opened #13 "Bug: Logcat exception output"
[code]

Happens when stopping, seeking or playing audio sometimes. The PlayThread is the main cause of this issue.

[2019-12-28 16:01] ryanheise commented on #13
Can you provide the audio file and the steps to reproduce?

[2019-12-28 16:05] rohansohonee commented on #13
mp3 audio files are being used.
The steps to reproduce are:
1. Play mp3.
2. Stop and play next mp3 immediately.
3. Then seek and jump back to previous mp3, that is when the exception occurs.

Due to this reason I guess i am not able to perform crossfade between tracks cause app just crashes.
I have two instances of audioplayer object but only one play thread is running. The minute I start a new pl

[2019-12-28 16:07] rohansohonee commented on #13
I am referring to the PlayThread of just_audio in the native code.

I call play() method from dart which in turn starts the play thread on native side.

[2019-12-28 16:10] rohansohonee commented on #13
I think you should readSampleData first then getSampleTime.
What do you think??

[2019-12-28 18:03] rohansohonee commented on #9
This seems to be working. Closing this.

[2019-12-28 18:03] #9 closed

[2019-12-29 00:49] ryanheise commented on #13
In terms of the steps to reproduce, can you share the actual code? It is important to know the exact sequence of method calls, where await is being used, how many instances you're using, etc.

[2019-12-29 02:44] rohansohonee commented on #13
[code]

When performing the skip operations even in profile mode causes the exception. The reason is PlayThread that is running in native code is taking time to start and stop very quickly.

[2019-12-29 02:49] rohansohonee commented on #13
With ``tempplayer`` i am only calling setFilePath and not even doing play yet.
Stopping and starting ``audioplayer`` quickly is always crashing the app.
Adding breakpoints only revealed that the last play command is run and then the illegal state exception occurs as mentioned in the above logcat output.

[2019-12-29 04:30] ryanheise commented on #13
Sorry I edited my previous message without noticing your reply. I think calling `ensureStopped` at the top of `setUrl` should help. Reading your example though, I'm not clear on this bit:

[code]

Can you write out in code what you're doing between the two stops?

[2019-12-29 04:44] rohansohonee commented on #13
[code]
There is always a glitch in audio sound when calling ``play()`` and ofcourse the crash happens when doing stops and plays very quickly like this. (tested even in profile mode)

Let's see whether ``ensureStopped`` on top of ``setUrl`` works.

Can you also try ``ConcatenatingMediaSource`` like in exoplayer.
[code]

[2019-12-29 05:16] ryanheise commented on #6
Published.

[2019-12-29 05:16] #6 closed

[2019-12-29 05:17] ryanheise commented on #2
Published.

[2019-12-29 05:17] #2 closed

[2019-12-29 05:22] ryanheise commented on #13
Can you open a separate issue for the feature request of a composite media source? To help my workflow, it helps to have a separate issue for each feature request and a separate issue for each bug report. Perhaps you could close #3 also which duplicates a number of issues. Then, we can keep the present issue for resolving the `IllegalStateException` bug.

[2019-12-29 05:28] rohansohonee commented on #13
Ok will do so.

[2019-12-29 05:28] #3 closed

[2019-12-29 05:33] rohansohonee opened #14 "Feature: Composite Media Source"
Have functionality for ``ConcatenatingMediaSource`` as in exoplayer where multiple media sources can be added.

This means we can setUrl/setFilePath and form even a playlist. i.e loop through queue and add media sources using the ``ConcatenatingMediaSource`` option.

exoplayer sample has implemented the code this way:
[code]
``sample.uri`` is the url/filePath of the media/audio file.
``SAMPLES`` i

[2019-12-29 07:39] ryanheise opened #15 "Feature: Support web"
Note to self: would like this plugin to work on the web.

[2019-12-29 08:24] ryanheise commented on #13
With this bug, does it only occur when you involve the `tempplayer.setFilePath`? Also, what files are you setting in each case?

[2019-12-29 08:45] ryanheise commented on #13
I have tried your code sequence with two mp3 files. When skipping to track B, I pass in the B filepath to `setFilePath` on both audio players, and when skipping backwards to track A, I pass the A filepath into both audio player.

However, I was unable to reproduce the bug, so there may be some other condition required to reproduce this. Can you share a minimal reproduction project?

[2019-12-29 08:54] ryanheise commented on #13
Or, perhaps since you can reproduce it, have you tried inserting `ensureStopped();` right after the precondition check in `setUrl`? i.e.:

[code]

Anyway, if I look at what you're ultimately trying to do, I think if you fully implement the cross fade, then the same instance of `AudioPlayer` would not immediately try to initialise the next track because that's what the second instance is for, and t

[2019-12-29 08:59] ryanheise commented on #14
This feature would allow the player to reuse the same `AudioTrack` when achieving gapless playback, but at the same time, it would also prevent you from being able to implement cross fading yourself since the `setVolume` method could only control whatever is going into that one `AudioTrack`.

That means that either you'll need all of these features to be built into the plugin, or you'll just need

[2019-12-29 09:05] rohansohonee commented on #13
Will add ``ensureStopped`` and test.

[2019-12-29 09:18] ryanheise opened #16 "Bug: Audio glitches on play/stop on Android"
The glitch on play is a matter of the initial data coming out of `MediaExtractor` being a bit funky. I might need to grab the extractors from ExoPlayer.

[2019-12-29 09:29] rohansohonee commented on #13
Skipping songs back and forth slightly fast causes illegalstateexceptions such as:
"Illegal state: Can call stop only from playing, paused and buffering states"
This means even when i am in one of the legal states, doing fast skipping of songs will cause a delay and thus the illegal state gets formed.

[2019-12-29 09:29] rohansohonee commented on #13
I also added ensureStopped

[2019-12-29 09:34] rohansohonee commented on #13
Not getting this error anymore:
[code]
There was bug in my dart code. I was awaiting stop() which was in a function. That function I was not awaiting, that is why audio continued playing and thus caused this crash.

Now I am adding if conditions to all the await player code and testing.

[2019-12-29 09:52] rohansohonee commented on #13
Since you are not returning any result the dart code keeps awaiting. Eg:
[code]
The stopped and completed case do not return result thus at dart side it keeps awaiting for result.

[2019-12-29 09:55] rohansohonee commented on #13
You need to return ``result.success(null)`` or something.

[2019-12-29 10:04] rohansohonee commented on #13
I added the return statements and finally found the final issue.
We cannot add if condition for setFilePath at all since playbackstate is null.

Merging this pull request shall solve the issue:
https://github.com/ryanheise/just_audio/pull/11

Also I will test and report.

[2019-12-29 10:09] ryanheise commented on #13
Well spotted on the missed `result.success`. I'll fix it and commit.

[2019-12-29 10:09] rohansohonee commented on #13
Just caught a new error:
``
Error: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.media.AudioTrack.pause()' on a null object reference
``

[2019-12-29 10:11] rohansohonee commented on #13
After adding all the if statements and making sure i am not in illegal state and
also adding the return statements and
https://github.com/ryanheise/just_audio/pull/11 using this fix

The new error is audioTrack is null!!

[2019-12-29 10:14] ryanheise commented on #13
I've just committed those changes above. I'm about to have dinner, so I'll continue looking into this afterwards. Can you copy and paste the full stacktrace for the null pointer exception? Which line does it occur on?

[2019-12-29 10:16] rohansohonee commented on #13
It's in the stop method:
[code]

i just added a simple check for if(audioTrack!=null)

[2019-12-29 11:05] ryanheise commented on #13
After adding the null check, were there any further errors?

[2019-12-29 11:06] rohansohonee commented on #13
Yes the final error is this:
IllegalStateException("Can call stop only from playing, paused and buffering states");

[2019-12-29 11:09] rohansohonee commented on #13
I am handling all the cases for stop yet I keep getting this exception.
Step to reproduce this:
Skip songs quickly i.e calls to stop() are done very quickly.

This causes the synchronized block here
[code]
to cause this exception

[2019-12-29 11:09] rohansohonee commented on #13
Is there a better way to handle PlayThread ????

[2019-12-29 11:25] ryanheise commented on #13
I've just added the null check, and also modified the exception message to show the current state, because I'm curious what state you are calling "stop" from.

When you say you keep getting this exception, are you talking about `IllegalStateException("Can call stop only from playing, paused and buffering states")` or the `NullPointerException`?

As for whether a thread can be avoided, there is ano

[2019-12-29 11:26] rohansohonee commented on #13
I am talking about IllegalStateException("Can call stop only from playing, paused and buffering states")

[2019-12-29 11:28] rohansohonee commented on #13
And it has this IllegalStateException("Can call stop only from playing, paused and buffering states",null)

a null at the end. I guess the state is null thus the error!!

[2019-12-29 11:40] ryanheise commented on #13
That's not the state, the new code in the latest commit looks like this:

[code]

So the state should appear in parentheses, and if it isn't, you musn't have that code.

[2019-12-29 11:41] rohansohonee commented on #13
Exception has occurred.
PlatformException (PlatformException(Illegal state: Can call setUrl only from none/stopped/completed states ::(connecting), null, null))

[2019-12-29 11:41] rohansohonee commented on #13
I added "::" before the brackets just cause

[2019-12-29 11:50] ryanheise commented on #13
Interesting, so basically you are calling `stop` right after calling `setUrl` and without waiting for `setUrl` to complete. This error shouldn't happen if you await the `setUrl` call before doing anything else. The error message is slightly wrong about which are valid states, although it is at least true that you can't call `stop` while `setUrl` is in progress (i.e. the connecting state).

(I thin

[2019-12-29 11:57] rohansohonee commented on #13
I have put await before ``setFilePath``

[2019-12-29 12:06] rohansohonee commented on #13
state is in ``connecting`` whenever the exception happens

Ok

[2019-12-29 12:11] ryanheise commented on #13
I've checked the code, and it should be impossible for this illegal state error to occur unless you call `stop` before `setFilePath` completes. So this would give the error:

[code]

And the error would go away with an await on the first line.

[code]

The problem, though, is that your `stop` call is unlikely to be right there in line 2, because why would anyone want to stop the player before even

[2019-12-29 12:16] rohansohonee commented on #13
I am listening to ``player.playbackState`` and i also have ``await player.setFilePath(..)`` before ``await player.stop()``.

If I perform these operations very quickly only then do I get a state of ``connecting``.

[2019-12-29 12:38] ryanheise commented on #13
But why would you want to stop the player right after setting the file path? That was what I asked in my previous post.

[2019-12-29 12:47] rohansohonee commented on #13
When I am skipping I stop the player and then setpath

now what i did was press skip multiple times, this then causes the error.

[2019-12-29 13:02] ryanheise commented on #13
I see, I suspected something like that. I think this is a good reason why it would be convenient to be able to stop in the middle of connecting. But unfortunately there are a number of other things that need to be implemented first.

In the meantime, I would suggest that you queue up requests on the player and process the queue serially with await. Hopefully that makes sense.

[2019-12-29 16:04] yringler commented on #1
I have a free license from the nice folks at [browserstack](https://www.browserstack.com/). It can be used to test apps on real devices in the cloud.
If you want, I can add you as a user, or you could drop them a line and get an account. They [love open source](https://www.browserstack.com/open-source)

[2019-12-30 01:32] ryanheise commented on #1
@yringler That sounds really interesting! I'm definitely going to look into it. How would the workflow work given that this plugin example would not be published on the app store?

[2019-12-30 02:33] yringler commented on #1
You can also an APK. It gets saved in your account, and can later quickly be used to run the app.
I'm sure it's possible to set up some CI to do things automatically, but I never looked into it.

[2019-12-30 03:16] ryanheise commented on #1
Speaking mainly in terms of iOS, does browserstack build the app executable or do I build that on my own mac (i.e. MacInCloud or Codemagic) and then upload that to browserstack so that it can do some sort of side loading to get it onto the iPhone?

[2019-12-30 14:27] yringler commented on #1
You would build it on your own and then upload the ipa.
You can create a free account with like 30 minutes of cloud phone usage, and after your application for a free opensource account is approved, you can send them your account ID and they'll activate it.

In regards to audio_service - I don't know if the iOS functionality needed for it is enabled, but if it isn't you can try reaching out to the

[2019-12-30 17:48] cnttechio opened #17 "Just audio 0.0.4 not working with m3u8 !!!!!!!!!!"
Hi @ryanheise

The newest version, it's not working fine with type m3u8, but the old version 0.0.2 working well.
Can you help me fix it ?

[2019-12-30 22:21] maxsalo17 opened #18 "PlatformException on setUrl method call"
When i call setUrl method, i have "PlatformException (PlatformException(Error: java.lang.NullPointerException: Attempt to invoke virtual method 'long java.lang.Long.longValue()' on a null object reference"

My player class:
`import 'package:just_audio/just_audio.dart';

class RadioAudioPlayer {
  AudioPlayer player;
  static final RadioAudioPlayer _instance = RadioAudioPlayer._internal();

  facto

[2019-12-31 01:00] ryanheise commented on #17
@cnttechio I'm not clear on the exact nature of the issue, such as whether this is on Android or iOS, and what exact error was reported in the logs. Can you share details to help me to investigate?

[2019-12-31 01:03] ryanheise commented on #18
Can you share stack trace from the logcat logs? That will tell me what line number the exception occurred on.

[2019-12-31 01:31] ryanheise opened #19 "ExoPlayer revisited"
A number of recent issues (#10, #14, #16, and possibly #17) could be addressed by finally switching to ExoPlayer as per the suggestion of @rohansohonee . The reason for not considering it until now was the difficulty of implementing `untilPosition` in ExoPlayer, however studying the APIs further, I think this should actually be possible as well.

It will take some time to read through all the docu

[2019-12-31 09:40] ryanheise commented on #19
The latest commit now integrates ExoPlayer, for testing.

I have not yet changed anything substantial in behaviour, but this will make it easier resolve the other open issues listed above.

[2019-12-31 09:42] ryanheise commented on #18
I have just done a major re-implementation so whatever bug you encountered might be gone. Can you please try it and let me know (including stack traces) if you still get an error.

[2019-12-31 09:43] ryanheise commented on #17
I have modified the implementation to use ExoPlayer including whatever its default codec support is. Can you try the latest commit and let me know how it goes?

[2019-12-31 09:45] ryanheise commented on #16
This is now resolved by #19 .

[2019-12-31 09:45] #16 closed

[2019-12-31 09:51] rohansohonee commented on #19
Will test and report.

[2019-12-31 10:11] cnttechio commented on #19
I'm very happy when you integrate Exoplayer. I will try to use it in my app and report to you if I have issues.

[2019-12-31 10:46] ryanheise commented on #19
@rohansohonee Done.

[2019-12-31 11:18] rohansohonee commented on #19
@ryanheise
In java in the audioplayer constructor the player.addListener(this) is being used as the same listener when creating two instances of audioplayer in dart code.
The id are different but the listener is same.
This means on stopping player A, the player B also stops.

Am I correct???

[2019-12-31 11:20] rohansohonee commented on #14
@ryanheise
Now this feature can be implemented into just_audio.
Changing Progressive Media Source to Concatenating Media Source, thus enabling gapless playback.

[2019-12-31 11:25] ryanheise commented on #19
That shouldn't be the case, since each instance of the audio player results in a new instance of the Java `AudioPlayer` class.

[2019-12-31 14:01] cnttechio commented on #17
hi @ryanheise,

I have just clone source from git and run your example with my change file mp3 to m3u8 but it's not working.

My errors:

E/flutter ( 9537): #0      StandardMethodCodec.decodeEnvelope
package:flutter/…/services/message_codecs.dart:569
E/flutter ( 9537): #1      MethodChannel.invokeMethod
package:flutter/…/services/platform_channel.dart:321
E/flutter ( 9537): <asynchronous suspensio

[2019-12-31 14:34] maxsalo17 commented on #18
Stacktrace from logcat:

`2019-12-31 16:28:52.486 14407-14407/org.rfnd.transistor.radio.app E/AccessibilityBridge: VirtualView node must not be the root node.
2019-12-31 16:28:52.785 14407-14407/org.rfnd.transistor.radio.app E/AccessibilityBridge: VirtualView node must not be the root node.
2019-12-31 16:28:53.887 14407-16283/org.rfnd.transistor.radio.app I/NuMediaExtractor: [setDataSource]line:83

[2019-12-31 14:41] ryanheise commented on #18
Sorry I should have clarified that the new code is committed to git but not yet published to pub.dev until it's been tested, so to try it you would have to clone the repo.

[2019-12-31 14:46] maxsalo17 commented on #18
Ok, I`ll try

[2019-12-31 15:31] ryanheise commented on #17
I've just added some code to hopefully support m3u8 files if they have a `.m3u8` extension. Can you try?

[2019-12-31 15:57] maxsalo17 commented on #18
Now it works, thank you. Is there any tutorial how to use audio_service with just_audio?

[2019-12-31 17:10] ryanheise commented on #18
After a little more testing of `just_audio` and after this latest version is published, I will then update the `audio_service` example to use it. Hopefully within the next day or two.

[2019-12-31 17:35] cnttechio commented on #17
Amazing, It's working fine on android, so I will integrate into my app and report to you if I have some issues.
Thank @ryanheise  very much & happy new year.

[2020-01-01 05:38] rohansohonee opened #20 "Feature Request: Support more audio file formats"
Since the migration to exoplayer I think supporting all the various audio file formats should be done.
Currently in my testing I discovered that .flac files do not play.
I had been only testing using .mp3 this whole time.
Hope support for all audio formats can be added in future updates.

[2020-01-01 07:04] rohansohonee commented on #16
@ryanheise
There is still a glitch when running latest commit with exoplayer:

[code]

I am trying to start playing the audio file from a particular position, but the audio glitches and then continues playing from the specified position. There is a slight, but noticeable glitch. This glitch causes an unpleasant cross fading of audio. It is not transitioning smoothly.

[2020-01-01 09:05] cnttechio commented on #17
hi @ryanheise,
I have set the URL file with a token on query string and just audio not working.
Example:
`_player.setUrl('https://domain.com/abc.m3u8?token=tokenUser')`
Can you show me how to fix it?

[2020-01-01 09:10] ryanheise commented on #16
What if you seek before playing?

[2020-01-01 09:11] ryanheise commented on #17
The way I implemented it was to check if the URL ends with `.m3u8` but I see I should factor in the query string. Let me see what I can do.

[2020-01-01 09:14] cnttechio commented on #17
Thank you, I'm waiting for you.

[2020-01-01 09:17] ryanheise commented on #17
Just committed.

[2020-01-01 09:46] cnttechio commented on #17
Great !, it's working fine.
Thank you.

[2020-01-01 10:36] ryanheise commented on #17
Thanks for confirming :-)

[2020-01-01 10:36] #17 closed

[2020-01-01 10:38] ryanheise commented on #13
@rohansohonee The latest commit makes state transitions more permissive, so hopefully that should allow you to skip between tracks more easily.

[2020-01-01 12:04] rohansohonee commented on #13
Will test and report.

[2020-01-01 12:06] rohansohonee commented on #16
Same thing happens.
Calling play() always causes a very minor glitch but it's noticeable when cross fading audio.

[2020-01-01 13:24] ryanheise commented on #10
Fixed in latest code.

[2020-01-01 13:24] #10 closed

[2020-01-01 13:29] ryanheise commented on #13
I should have mentioned, you must now put a try/catch around `setUrl` since if you stop the player in the middle of this call, the call will fail. But if you catch that exception, it should work.

[2020-01-01 13:34] ryanheise commented on #13
Perhaps an alternative to this behaviour would be to make this method return a duration of `null` rather than throw an exception.

[2020-01-01 13:56] ryanheise commented on #13
I've just updated it to return null.

[2020-01-01 14:04] ryanheise commented on #16
I don't know if there's anything I can do about that since it now appears to be within ExoPlayer.

[2020-01-01 14:10] rohansohonee commented on #16
How do I cross fade between tracks then??
I will try to figure it out.

[2020-01-01 14:50] rohansohonee commented on #13
Version 0.0.5

Exception has occurred.
NoSuchMethodError (NoSuchMethodError: The method '_mulFromInteger' was called on null.
Receiver: null
Tried calling: _mulFromInteger(1000))

[2020-01-01 15:03] ryanheise commented on #13
Whether or not I make this method throw an exception or return null, you still need to handle that case in your own code.

[2020-01-01 15:08] rohansohonee commented on #13
Not my code but yours because duration future is null and you have assigned null to duration

[2020-01-01 15:14] ryanheise commented on #13
I see, can you try the latest commit?

[2020-01-01 16:12] rohansohonee commented on #13
This exception still arises as I call onPlay() method in onSkipToNext()
[code]
Even after handling for the none and connecting states it threw this error:
[code]

[2020-01-01 16:25] ryanheise commented on #13
There are several issues here. First, to achieve the behaviour you want, you should not call `onPlay` from `onSkipToNext` as mentioned above because calling it will not cause the platform side to do its thing which you need. You need to instead trigger the play from the client if that's the behaviour you want.

Second, can you tell me whether the "ms is null" issue is resolved? It sounds like it's

[2020-01-01 16:31] rohansohonee commented on #13
ms is null solved

[2020-01-01 16:41] ryanheise commented on #13
How did the skip to next?

[2020-01-01 16:41] rohansohonee commented on #13
from the notification

[2020-01-01 16:44] rohansohonee commented on #13
AudioService.java

[code]

``stopForeground(false)`` occurs in ``onPause()`` and then user hits skip to next which calls ``onSkipToNext()`` but ``stopForeground(false)`` still remains. That is why notification can be dismissed.

[2020-01-01 16:55] ryanheise commented on #13
I just noticed that you're asking about `audio_service` which is a discussion which should take place in the other issue. Over there, I said:

The reason I asked you which client you used to trigger the skip is because you can use the very same client to trigger the play.

It is difficult because this discussion belongs over there, but the answer was given over there on that issue. See the last co

[2020-01-01 16:58] rohansohonee commented on #13
But the user has closed the app and is running music in background. So there is no play button. The only buttons available are previous, pause and skip in the notification.

[2020-01-01 17:12] rohansohonee commented on #13
Anyhow I fixed it in java code of audio_service
[here](https://github.com/ryanheise/audio_service/pull/143)

[2020-01-01 17:14] ryanheise commented on #13
At this point, I can only copy and paste my previous answers:

Even though you have swiped (1) away, (2) is still a client. I asked you which client the user used to press the skip button, and you told me it is (2), and what I'm saying is that you should use the same client to trigger the play button. In other words, the user needs to click on the play button in (2) to trigger onPlay. So when you

[2020-01-01 17:14] rohansohonee commented on #13
I fixed the issue @ryanheise

[2020-01-01 17:24] ryanheise commented on #13
I am closing this issue, but please continue the discussion on the `audio_service` issue since it relates to that project, not this one. That issue also provides some important context about the way `audio_service` works.

[2020-01-01 17:24] #13 closed

[2020-01-01 17:26] rohansohonee commented on #13
@ryanheise I solved the #140 from audio_service and I have put a pullrequest.

The issue that persists is this:
``
Exception has occurred.
PlatformException (PlatformException(Illegal state: Cannot call play from connecting or none states (connecting), null, null))
``
This might be because of your comment you added in just_audio
// TODO: It will be more reliable to let the platform
// side wait fo

[2020-01-02 02:29] ryanheise opened #21 "Address event lag through platform channels"
Note to self: there is a slight lag between the time an event is broadcast from the platform side and the time it is received on the flutter side, which may create surprises for flutter-side state processing. For example, after `await setUrl(...)` completes on the flutter side, the state transition to `stopped` may lag slightly, and for a brief moment querying `player.playbackState` may still repo

[2020-01-04 21:24] maxsalo17 commented on #18
@ryanheise, what about example?

[2020-01-05 00:47] ryanheise commented on #18
Hi @maxsalo17

The example of `audio_service` has been updated now to use `just_audio`.

[2020-01-06 14:21] yringler commented on #2
Awesome! I just updated to  0.0.6, it makes a big difference. Thank you.

[2020-01-06 14:41] yringler commented on #21
Yes! I dealt with this exact issue. I ended up using playbackStateStream, and taking the first value which wasn't `connecting`

[2020-01-10 20:57] #18 closed

[2020-01-19 04:57] volgin opened #22 "Unhandled Exception: NoSuchMethodError: The getter 'state' was called on null."
In both iOs and Android, the following line throws an exception:

Unhandled Exception: NoSuchMethodError: The getter 'state' was called on null.
[code]
I took a quick look at the code, but I don't see an obvious reason why _audioPlaybackEvent is null at any point. In either case, the plugin should handle this situation, if it's a valid option, e.g.:

`AudioPlaybackState get playbackState => _audio

[2020-01-19 16:54] volgin opened #23 "Position can be greater than duration"
The end position fired by "getPositionStream()" exceeds the duration returned by the setUrl/setFile calls.

`I/flutter (22305): position: 229886, duration: 229877`

It's a very small discrepancy, but it's enough to break the UI code which does not expect a progress value to exceed the maximum value.

The problem is caused by firing position events every 200ms, which means that the last fire is alm

[2020-01-20 01:51] ryanheise commented on #23
Thanks, yes I believe that the lag will affect things, although as an additional safeguard, the reported position should be clipped to the duration.

On the naming issue, `playbackStateStream` is a getter hence it does not need the word `get` in its name, while `getPositionStream` is a normal method that takes a parameter. Effective Dart doesn't specifically advise on a naming convention for this,

[2020-01-20 01:55] ryanheise commented on #22
Possibly #11 would fix this, but until I work out the right way to integrate this, I think in the meantime the way to avoid the error would be to not access this stream until the first event arrives.

[2020-01-20 02:04] volgin commented on #22
There is no harm in using the code that I proposed. It returns null instead of throwing an exception inside the plugin code. Let the apps deal with the null logic.

[2020-01-20 05:27] volgin opened #25 "iOs stops playing as soon as app goes into background"
I have a fix for this issue, but I need my previous pull request approved before I can submit a new one.

[2020-01-20 07:53] ryanheise commented on #25
Hi @volgin

As mentioned in the README, "This plugin can be used with audio_service to play audio in the background". If you missed that, please take a look at that other plugin. But if you already read that but disagree with the vision I had for this project, I would be happy to explain the vision below.

I created `just_audio` because I needed a plugin that "just" plays audio and doesn't do anyt

[2020-01-20 07:53] #25 closed

[2020-01-20 08:01] ryanheise commented on #22
Ultimately I want to implement this so that it is never null (creating less burden on the user), but I think your suggestion is appropriate as something I could do in the short term. I'll have a look when I get home.

[2020-01-20 15:04] volgin commented on #25
Good points. I will try audio_service today.

[2020-01-20 15:39] ryanheise commented on #22
I've committed a temporary workaround, similar to #11 although addressing the issue at the event level which will propagate to the state level. Let me know if it works for you or whether there is still an issue.

[2020-01-20 15:41] #19 closed

[2020-01-20 18:48] volgin commented on #5
I think this can be closed. iOs works as expected.

[2020-01-20 19:49] MickaelHrndz opened #27 ""Source error" on older devices"
What is the minimum version of Android and iOS for this plugin ?
It is working just fine on an Android 7.1.1, but when I test on an Android 5.1.1, it outputs these errors :

[code]

It didn't work either on iOS 9.3.6.

Edit : My bad, I didn't have the WiFi turned on.

[2020-01-21 01:11] ryanheise commented on #5
Thanks for testing and reporting.

[2020-01-21 01:11] #5 closed

[2020-01-23 16:57] volgin opened #28 "Exceptions when transitioning between playback states"
The comments in the plugin say: "It is legal to invoke this method only from the following states:"

Is this a target platform limitation? All platforms or only one/some?

In either case, the plugin can handle some of these transitions more gracefully. For example, if .stop() is called when a state is AudioPlaybackState.buffering, a plugin can chain "pause" and "stop" calls (for both or one of the

[2020-01-24 00:09] #27 closed

[2020-01-24 00:15] MickaelHrndz commented on #7
Only **https** audio links are working on my client's Samsung Galaxy S8.

[2020-01-24 03:48] ryanheise commented on #28
I generally try to use the preconditions imposed by the platform. That's the goal, but I haven't quite gotten there when it comes to the connecting and buffering states where the logic is a little more difficult. I'm with you in that the goal should be for these preconditions to be as few as possible. I'm not there yet, but that is the direction.

[2020-01-24 03:56] ryanheise commented on #7
See: https://medium.com/@imstudio/android-8-cleartext-http-traffic-not-permitted-73c1c9e3b803

[2020-01-25 15:56] MickaelHrndz commented on #7
@ryanheise Thank you, that did the trick.

[2020-01-26 02:33] volgin opened #29 "Exception from ExoPlayer"
I ran into one mp3 file which causes the following exception, when playing on Android:

[code]

The file actually starts playing and sounds normal. Unfortunately, the audio player becomes unresponsive - all further calls (setting a new file/URL) fail. The audio player appears to be permanently stuck in the .connecting state.

The same file plays with no problems on iPhone. I also ran a check to se

[2020-01-26 15:36] ryanheise commented on #29
The only thing I can think of is that it might not really be an mp3 file. Maybe you can try opening the file on your desktop or laptop using software that can show you the codec info. Once I know what format it is, I can try to enable that in ExoPlayer.

[2020-01-26 16:05] volgin commented on #29
Good catch. It was a wrong codec.

I still need to be able to catch such exceptions and, ideally, prevent the player from crashing. Currently we cannot pre-validate every file that we play. Skipping files that ExoPlayer cannot play would be a good enough solution.

[2020-01-26 17:04] volgin commented on #29
After looking through the plugin code, it appears that there is no way out of AudioPlaybackState.connecting. No other method can be called from this state, making it a dead-end if a player is stuck in this state.

[2020-01-28 22:58] bordieris opened #30 "Stream Playback stops after few minutes in standby mode"
Android 9. I'm trying to use it to play a web radio endless stream. It seems working until screen goes black for standby.
How can I make the app playing stream also when in standby?

[2020-01-29 04:10] rohansohonee commented on #30
Hi @bordieris

You can use ``audio_service`` plugin which will enable background audio playback.
Both plugins i.e ``just_audio`` & ``audio_service`` are developed by @ryanheise.
It is recommended you use @ryanheise plugin.
Hope this is helpful.

[2020-01-29 14:50] bordieris commented on #30
I already saw audio_service, and its example, that doesn't work for me (buttons don't play any sound). I just can't figure out what's the essential part of code I need to use in my player just to have the sound working in background (no controller in lock screen needed, etc.)

[2020-01-29 14:57] ryanheise commented on #30
If the `audio_service` example doesn't work for you, I would encourage you to file a bug with that project using the bug issue template.

[2020-02-01 09:20] terryBaz opened #31 "[Feature] pass expo exceptions back to flutter"
_First, thank you for the plugin,_
I would like to have a possibility to know the exception that happened in expo player, so that I could catch a wrong url or 404 url ... (also related to https://github.com/ryanheise/just_audio/issues/29) .
Let me know if PR are welcome (I could help with this), for now I do have two solutions in mind :
1. pass exceptions through a stream of errors
2. pass back th

[2020-02-01 10:38] ryanheise commented on #31
Hi @terryBaz , yes I welcome pull requests. This is definitely an important feature.

I think it would make sense for `setUrl` to throw an exception and so a stream of errors on this occasion wouldn't be needed. This can be achieved on the platform side by sending an error through the platform channel. For example, on Android:

[code]

And on iOS with this code:

[code]

[2020-02-01 11:18] terryBaz commented on #31
cool, that is what I started doing, but I am running into an issue with ExoPlayer State when I try to call `prepareResult.error(...)`, plz let me know if u have some hints

- the added code
[code]
- the log from LogCat
[code]

[2020-02-01 11:39] terryBaz commented on #31
All fine, I figured out the issue, I will be preparing a PR soon.

[2020-02-04 14:44] ReaganRealones opened #33 "Cancel Loading or connecting audio"
How possible is it to cancel a loading audio i.e an audio in "AudioPlaybackState.connecting" state as neither dispose or stop work on it as shown on the usage tips in the IDE. So if the audio is still connecting and the user cancels, how can I Stop the loading of this file as right now, it continues loading and plays thereafter.

[2020-02-04 15:40] ryanheise commented on #33
I'm currently working on addressing issue #28 which should allow you to call `stop` during the `connecting` state. Hopefully will commit within the day.

[2020-02-04 15:56] ReaganRealones commented on #33
Okay, thank you so much... Will be waiting or checking on you tomorrow :)

[2020-02-04 16:47] yringler opened #34 "Crash in ios"
I'm seeing a crash in crashalytics. (I'm also using audio_service)

I notice that the free RAM looks limited. Do you think this is just because my app is currently RAM heavy?

Model: iPhone 6s
Version: 13.3.0 (17C54)
RAM free: 58.27 MB

[code]

[2020-02-04 17:08] ryanheise commented on #34
It could be that `_eventSink` hasn't been initialised yet, so that method may need to have a guard like this:

[code]

I also have a lot to learn about iOS memory management still, so maybe it's something even more crazy like the self instance being free'd. But I'd start with the above guard first. In any case, I am going off to sleep now. You are of course welcome to try the above code suggestion

[2020-02-04 20:35] yringler commented on #34
Thank you! When the plugin is updated I'll use it and redeploy, and see if that stops this crash.

[2020-02-05 01:31] ryanheise commented on #33
You can try the latest git commit to see if it helps. Note: this primarily addresses an issue on Android. If your issue is on iOS, then I might need more information on what the error is.

[2020-02-05 01:41] ryanheise commented on #28
The latest git commit should address this for Android.

I've also updated the state model on both Android and iOS so that the `buffering` state is treated independently of the other states. So now you can be buffering while playing, and you can be buffering while pausing, and these states are distinguishable. However, on iOS, the way I've implemented it, I can't really detect buffering while pausi

[2020-02-05 02:32] ryanheise commented on #34
I've added the above line of code to the latest git commit if you'd like to test it.

[2020-02-05 02:48] volgin commented on #28
This sounds promising. I will try it ASAP. My immediate reaction is that from a UX perspective, the most important state is “I cannot play because I am buffering”. I hope the new update makes this primary use case possible.

[2020-02-05 02:51] ryanheise opened #35 "iOS Testing help wanted"
All features mentioned in the README as "untested" for iOS are virtually all implemented, although just not 100% confirmed through testing.

If an untested feature works for you, I would be grateful if you could report that below and I will reflect that in the README.

[2020-02-05 10:34] ReaganRealones commented on #33
@ryanheise, the `buffering` state seems to have been removed? So how can I know when the audio is buffering?

[2020-02-05 10:45] ryanheise commented on #33
Hi @ReaganRealones , there is more information about the change in #28 linked above where I gave an explanation of the new state model.

[2020-02-05 11:05] ReaganRealones commented on #33
@ryanheise, okay sure have checked it out. Understood, that but the issue is still, while the player is connecting and the user cancels, it still continues to connect and thereafter plays. i.e calling `stop` while the player is in `connecting` state does not cancel playing music,

[2020-02-05 11:16] ryanheise commented on #28
Answering @ReaganRealones from #33

Hi @ReaganRealones , are you experiencing this issue on iOS or Android or both?

[2020-02-05 11:17] ryanheise commented on #33
I am using #28 to track this issue so I have copied your question over to there. Please take a look as I've left you a reply/question.

[2020-02-05 11:17] #33 closed

[2020-02-05 11:18] ReaganRealones commented on #28
Yeah I am experiencing this on Android

[2020-02-05 11:19] ReaganRealones commented on #33
@ryanheise, sure thing.... Going to head over there

[2020-02-05 11:21] ReaganRealones commented on #28
@ryanheise found a new issue with the commit.. Should I open a new issue or just mention it here too?

[2020-02-05 11:31] ryanheise commented on #28
This issue is about making the state transitions more permissive so that, for example, you can call `stop()` while connecting or buffering (which you couldn't do before). Comment here if it's related to that, or start a new issue if not.

[2020-02-05 11:47] ryanheise commented on #28
@ReaganRealones I've just tested the example on Android and was unable to reproduce the issue. If I press the stop button while the player is connecting, it just stops and you don't hear it play.

If what you really mean is that you can still then invoke `play` after stopping, then probably what you want to do is to invoke `dispose` instead of `stop` which puts the player into the `none` state. Fr

[2020-02-05 12:25] ReaganRealones commented on #28
Its another issue, going to open it too

[2020-02-05 13:01] ryanheise commented on #28
OK. regarding the present issue, have you tried `dispose` to interrupt  the connection?

[2020-02-05 13:05] #14 closed

[2020-02-05 13:06] ReaganRealones commented on #28
I am working on a music application, so to ensure that the player can be stopped or played from whichever page, I am using the provider package so I have reference to it anywhere. Now When a user taps on a song to play it, I pop up a bottom bar showing the song details and a preloader in the play pause button  if the player is still loading, and a cancel button.

But some times a user may tap on a

[2020-02-05 13:10] ryanheise commented on #14
@rohansohonee Is this not needed anymore? I think it would be a good future direction to change the API to have a `setMediaSource` instead of individual methods like `setUrl`, `setAsset` and so on, and this would make it easier to consider things like a composite media source.

[2020-02-05 13:11] ReaganRealones commented on #28
---------------------------------
UPDATE

Fixed. The problem was with my custom play method as it `setUrl` was always immediately followed  by `play` without checking if the int(duration) returned by `setUrl` was null (Maybe as a result of calling `stop` while it's connecting). So `play `was always called immediately after and since the player by this time is in `stopped` state at this time, it is

[2020-02-05 13:12] ReaganRealones commented on #28
But still @ryanheise thanks for the work as I dont think calling stop on connecting would work before the new commit.

[2020-02-05 13:13] ryanheise commented on #28
Great to hear. Note that I already closed #33 after folding it into this existing issue.

[2020-02-05 13:15] rohansohonee opened #36 "Queue management in just_audio"
Hi @ryanheise

We must rely on using [Playlists](https://exoplayer.dev/playlists.html) (``ExoPlayer Android``) and [AVQueuePlayer](https://developer.apple.com/documentation/avfoundation/avqueueplayer) (``AVPlayer iOS``).

Migrating to this approach will enable easy and straightforward approach for users to handle queue. It will also enable audio looping/repeat mode to get implemented with ease.

A

[2020-02-05 13:18] rohansohonee commented on #14
I have just opened a new issue #36  and it mentions queue management aka composite media source. Hence I closed this one.

[2020-02-05 13:34] ryanheise commented on #36
Sounds good, and I'd like to eventually support this under a broader `setMediaSource` API similar to ExoPlayer. It is not right now the highest priority for me though as I need to fix #21 and then for another project I will be working on #15 .

[2020-02-05 13:36] ReaganRealones opened #37 "Position updates during buffering with no sound"
While buffering, the song's current position updates while listening to `getPositionStream` stream but with no sound. This causes the UI progress bar to keep updating like the song is playing and the song current time updating without actually any sound. However the preloader shows its buffering. After buffering, it is updated with the current(true) time

[2020-02-05 14:01] ReaganRealones commented on #37
Currrently as a temporary fix, before I update my UI with the current time, I first make sure the audioplayer is in `playing` state (and not `buffering`)

[2020-02-05 14:11] ryanheise commented on #37
Ah, yes. I assume you're using `getPositionStream()` which in turn uses  the `position` getter In `AudioPlaybackEvent`:

[code]

That `state == AudioPlaybackState.playing` condition should be followed by ` && !buffering`.

Just fixed. Do you want to try the latest commit?

[2020-02-05 14:14] ReaganRealones commented on #37
Sure, lemme check it out now ☺️

[2020-02-05 14:18] ReaganRealones commented on #37
Perfect, fixed. All good.

[2020-02-05 14:20] ReaganRealones opened #38 "Loop Audio"
Possibilty of repeating a song after it's complete? Is it supported or should I use my custom logic for repeating it?

[2020-02-05 14:22] ryanheise commented on #38
Look at the previously opened issue just before your one ;-)

[2020-02-05 18:49] jonatadashi commented on #34
Thanks! App works like a charm now. Would recommend releasing as fast as possible as this is quite the critical error on iOS

[2020-02-06 01:36] ryanheise commented on #34
Great! I was waiting on confirmation on some other iOS code that will also be included in the release, but it seems that things are working well enough that you haven't noticed any issues so I've just published a new release. If you have some spare time, I would also appreciate your feedback on #35 .

[2020-02-06 01:36] #34 closed

[2020-02-06 01:41] ryanheise commented on #38
Will be included in #36 .

[2020-02-06 01:41] #38 closed

[2020-02-06 14:59] yringler commented on #34
It's been 24 hours, and I'm not seeing any crashes now that I'm using the latest commit.

One interesting bit of context: One beta tester showed me that the crash happened when
1. audio was playing,
2. he sent voice note in whatsapp

[2020-02-07 03:58] codeeuser commented on #35
I am using iOS. I found sound from assets is not working.

[2020-02-07 04:03] ryanheise commented on #35
Thanks @codeeuser , if you encounter a bug, I would suggest opening a new issue / bug report, supplying information such as the error logs and example code used to reproduce the bug.

Can you confirm whether anything did work?

[2020-02-08 04:41] codeeuser opened #40 "AVPlayerItemStatusFailed on iOS"
I am using the existing example but update the audio source to Flutter asset file. I have included the asset in pubspec.yaml
Device: iPhone 11 Pro Max Simulator
Flutter: v1.12.13+hotfix.7-stable

# To add assets to your application, add an assets section, like this:
  assets:
    - assets/audio/sound.mp3

@override
  void initState() {
    super.initState();
    _player = AudioPlayer();
    _playe

[2020-02-09 14:57] ReaganRealones opened #41 "Buffered audio size"
Is it possible to retrieve the amount buffered so far of the song to display on the song progress bar, like u see in the image I have put, is it possible?
![Screenshot_20200209-175627](https://user-images.githubusercontent.com/36300919/74104423-8433f880-4b65-11ea-8b61-f92f49872f69.png)

[2020-02-12 17:52] MickaelHrndz commented on #35
Hello,

Audio streaming from URL is not working on an **iPhone 4s** with **iOS 9.3.6**. Just_audio doesn't output any message. Audio_service is wrapped around it but also tried with an AudioPlayer by itself. I have the wifi turned on.

On an **iPhone 5 (iOS 10.3.1) simulator**, XCode raises these errors :
[code]
There is also a number of warnings. Here is a screenshot  : https://imgur.com/a/PteK1Z

[2020-02-13 20:50] Aksi0 commented on #41
You can modify java code and add to broadcastPlaybackEvent `player.getBufferedPosition();`

[2020-02-15 09:25] rohansohonee opened #42 "Disable these logs"
[code]

These logs keep getting printed out to console when playing audio. Please do disable these logs.

[2020-02-15 20:54] YaarPatandarAA opened #43 "Load remote audio faster iOS using automaticallyWaitsToMinimizeStalling"
[automaticallyWaitsToMinimizeStalling](https://developer.apple.com/documentation/avfoundation/avplayer/1643482-automaticallywaitstominimizestal?language=objc)

A Boolean value that indicates whether the player should automatically delay playback in order to minimize stalling.

[2020-02-15 20:58] YaarPatandarAA commented on #43
Swift Example:
[code]

Obj-C Example:
[code]

Should be where the player item is init

[2020-02-16 02:37] ryanheise commented on #43
I would consider this as an iOS-specific option, with the current behaviour being the default.

[2020-02-16 07:18] YaarPatandarAA commented on #43
Yeah even if it is added as a option that would be great. It helps a lot with loading remote audio files quicker on iOS.

I have used this to reduce some urls which take 10+ seconds to start playing down to 3 seconds to start playing the audio file.

[2020-02-17 01:32] SeanningTatum opened #44 "MissingPluginException (MissingPluginException(No implementation found for method init on channel com.ryanheise.just_audio.methods))"
During initialization the app crashes and throws this error

<img width="705" alt="Screen Shot 2020-02-17 at 9 31 13 AM" src="https://user-images.githubusercontent.com/26712061/74617501-5273f080-5168-11ea-9a17-c456534478b4.png">

[2020-02-21 13:46] viniciuszani commented on #35
Tested `read from file` from iOS with `mp3` files and it works as expected.
One disclaimer: the AVPlayer apparently can't play files without an extension (`.mp3`). Be sure to add it when saving files locally to be played.

Models where tests were conducted:
- iPhone 6s (iOS 13.3.1)
- iPhone 11 (OS 13.3.1)
- iPhone X (OS 13.3.1)

[2020-02-25 11:16] Camerash commented on #40
I have found the solution to this problem.
Apparently, `AVPlayer` used in iOS requires the audio file to have file suffix to play properly (i.e.: ".mp3")
However, the current `setAsset` function creates a temporary file without the suffix, causing it not to work on the iOS side.

I can create a PR later to fix the issue, cheers 👍

[2020-02-25 12:04] ryanheise commented on #40
@Camerash Thank you!

[2020-02-25 13:46] Camerash commented on #40
For now `_cacheFile` return a file path that does not account for the format suffix, and I don't won't to just hard code `".mp3"` for the file name.
I propose to make the cache file path a variable instead of getter to account for the format suffix when setting it in `setAsset()`. Does that sound go to you? @ryanheise

[2020-02-26 17:28] jkubicko opened #46 "Enable cross-protocol redirects in ExoPlayer"
Some podcast providers (e.g. Soundcloud) provides url to online stream, that is cross-protocol redirected (original url returns 302 response) to audio file. ExoPlayer doesn't follow cross-protocol redirects by default. Since I do not have final url, I can't play this file.
Please add an option to enable cross-protocol redirecting
 - Related issue with example [here](https://github.com/google/ExoPl

[2020-02-27 08:55] ReaganRealones commented on #41
Any updates for this?

[2020-02-27 09:04] ReaganRealones opened #47 "Playing a remote file and cache the file at the same time"
Any suggestion on how I could play a remote files and store the files in cache for faster playing next time? One option is to use [Flutter cache manager](https://pub.dev/packages/flutter_cache_manager) to download it too  when I play it but this would mean downloading twice i.e one from the remote url (for the audioplayer) and one to store in cache for next time.

How possible is it to play the re

[2020-02-27 09:54] ryanheise commented on #41
I haven't been able to do Flutter development for a few weeks due to a Dart bug on my OS but that was fixed this morning. So no updates as yet. I have a lot of things to catch up on first, but @Aksi0 's comment will help things to go faster, at least on the Android side.

[2020-02-27 09:57] ryanheise commented on #47
I'm not sure of any easy way to do this. Some podcast players make it a binary choice: You either stream it, or you download it in advance.

[2020-02-27 10:05] ryanheise commented on #46
Thanks for providing the links, that will help a lot. I'm not sure how long it will take me since I have a bit to catch up on, but when I do get up to it, this should be straightforward to add.

[2020-02-27 22:29] YaarPatandarAA commented on #44
Same

[2020-02-29 20:25] BeMacized opened #48 "Catching CodecExceptions from ExoPlayer"
Currently, when I feed the plugin a url to an online audio file in opus format, ExoPlayer throws the following exception:

<details><summary>Exception</summary>
<p>

[code]
[Surrounding logs here](https://pastebin.com/DcF22xDu)
</p>
</details>

I guess this has more something to do with ExoPlayer than just_audio, but the problem I am having is that I seem to have no way of catching this exception.

[2020-03-01 06:07] yringler commented on #1
I just recently added speed control to my app.
I developed it on iOS (with an emulator), and it worked there, so it probably works.
It hasn't been used extensively yet, though.
(Yes, I released to end users without extensive testing :disappointed: )

[2020-03-01 18:55] yringler commented on #1
Closing this issue. As far as I can tell, speed control works great on android and iOS, and any other bugs which might arise could be a new issue.
Thank you!

[2020-03-01 18:55] #1 closed

[2020-03-02 01:45] yringler commented on #41
@Aksi0, I see you made a fork of just_audio with some really cool additions, available in pub as just_audio2.
Are you working / have you discussed with @ryanheise to work together / get those changes here?

[2020-03-02 15:32] nomyzs commented on #37
I believe this is still an issue on ios. Getting position update in playing state with no sound first. Then position is reseted when audio starts a playback. Some logs:
[code]

Let me know if I could help with that. And thank you for this library @ryanheise  !

[2020-03-04 06:56] Camerash commented on #43
I have made a PR that implements this feature. Can you try it out on my branch? @YaarPatandarAA

[2020-03-04 09:02] Camerash commented on #43
Notice that you need to call this method AFTER setting the url, or else the `AVPlayer` instance in iOS native will be null before you set this option, rendering it useless

[2020-03-04 11:01] ryanheise commented on #43
@Camerash Although I haven't used this method yet, I believe it should still be useful in the spirit of @YaarPatandarAA 's example code if you call it after calling `setUrl` but without awaiting the result of `setUrl`.

Another way to make the code more robust could be to allow this method to be called before `setUrl`. On the iOS side, define a new boolean field to store the set value of this flag

[2020-03-04 12:43] ryanheise commented on #44
This could be related to some changes to the plugin architecture since Flutter 1.12. Have you updated your project to the Flutter 1.12 structure, and have all plugins that you use been updated to the Flutter 1.12 plugin architecture?

[2020-03-04 12:49] ryanheise commented on #41
Yep, I'd be really to accept it as a PR.

For some good news, the Dart bug I mentioned was fixed recently, and hence my Flutter dev environment is now in working order again. If there are no pull requests on this issue before the weekend, I will spend some time implementing the feature on the weekend.

[2020-03-05 02:43] YaarPatandarAA commented on #44
Yeah it was something to do with updating. I just made sure all the plugins where updated. Also made sure the android side had all updated done.

[2020-03-05 04:45] Camerash commented on #43
@ryanheise I have implemented your suggestion to make the feature more robust 🙏

[2020-03-06 01:59] YaarPatandarAA commented on #43
@Camerash works like a charm. Grabbed it from you branch and tried it out.

@ryanheise can we please get this implemented. I would like to use this in my app.

[2020-03-07 03:02] ryanheise commented on #40
Looks good. Now merged and included in release 0.1.1. Thanks!

[2020-03-07 03:02] #40 closed

[2020-03-07 03:05] ryanheise commented on #43
Thanks @Camerash , I have now merged this PR and it is published in version 0.1.1. @YaarPatandarAA please feel welcome to reopen if the released version does not work.

[2020-03-07 03:05] #43 closed

[2020-03-07 09:18] ryanheise commented on #41
Just implemented the feature for Android and published a new release. Please let me know whether it works for you.

[2020-03-07 09:35] nioncode opened #50 "Release Tags"
Thanks for the project.
Could you please tag your releases on github so that it is possibly to watch the repository for new releases to keep up-to-date with development without having to watch all issues?

[2020-03-07 09:53] ryanheise commented on #15
Web support has now been implemented in release 0.1.3.

[2020-03-07 09:53] #15 closed

[2020-03-07 12:00] odrevet opened #51 "setUrl : send cookie info"
Some remote audio needs an identification to be played. Could be helpful to have setUrl take http params or create a function that takes an HttpRequest as parameter.

[2020-03-07 12:21] ryanheise commented on #50
Sure, I've just tagged the latest release. Hopefully I can get into the habit and not forget!

[2020-03-07 12:21] #50 closed

[2020-03-07 12:32] ryanheise commented on #51
I'm not sure what you mean by http params. Do you mean http headers?

[2020-03-07 12:35] odrevet commented on #51
Yes that was what I meant

Le sam. 7 mars 2020 à 13:32, ryanheise <notifications@github.com> a écrit :

[2020-03-07 12:37] nioncode commented on #50
Thanks for the fast response, I'm looking forward to follow the development and hopefully start to work with `just_audio` soon.

[2020-03-07 13:04] ryanheise commented on #51
I see, it could be useful to have an optional `headers` parameter. Although, unfortunately I don't see a good solution for iOS, only hacks that would not be guaranteed to work into the future. I'll leave this issue open in case someone can suggest a solution.

[2020-03-07 14:19] stonega opened #52 "[Feature Request] Auto get duration of mediaitem."
Auto get duration from audio file is really needed,  the seek bar would not show if mediaItem dont have duration data right now.  looks like exoplayer have method to get the duration, but I need to learn java first /sad.

Thanks for great work.

[2020-03-07 14:42] stonega commented on #52
I am wrong, this is not a just_audio issue,  it is about audio_service.

[2020-03-07 14:42] #52 closed

[2020-03-08 13:52] abumalick opened #53 "[Feature request] Support ogg encoding"
Would you consider adding support for reading `ogg` files?

Thanks a lot for your package, it is very easy to use.

[2020-03-13 02:13] BruceZhang1993 commented on #47
This feature seems great. The flutter_cache_manager plugin's getFile method will return a Stream of [FileInfo](https://pub.dev/documentation/flutter_cache_manager/latest/flutter_cache_manager/FileInfo-class.html). I wonder whether it's possible to achieve this feature.

[2020-03-17 06:19] Jei opened #56 "[Feature request] Icy metadata"
First of all, thank you for making this plugin and audio_service, they're both great!
I'm trying to add support for Icy metadata to the Android version of the plugin, for a personal project. I've got a somewhat working solution here: https://github.com/Jei/just_audio/tree/icy-metadata.
ExoPlayer reads Icy metadata from Icecast/Shoutcast streams by default, so it doesn't require much additional cod

[2020-03-17 08:02] Camerash opened #57 "[Android] EventSink is null when use in conjunction with audio_service"
- just_audio version: 0.1.3
- Crash log:
[code]

This is possibly related to #34, and I believe a fix would be similar

[2020-03-21 03:03] DylanXie123 opened #58 "Keep getting these logs on real device"
[code]
These logs keep getting printed out when testing on my real device (Redmi Note 3). Please do disable these logs.

[2020-03-21 12:23] suragch commented on #35
What is the status on this? The lack of confirmed iOS support is the one thing that is making me hesitate to switch to this library.

[2020-03-23 13:41] ryanheise commented on #58
Changing Exoplayer's default logging level sn't high on my priority list, but in the meantime, you could try adding this in your Application class:

[code]

Let me know if you need a bit more of an explanation.

[2020-03-23 13:51] ryanheise commented on #56
Thanks, Jei. I'd certainly be happy to accept a PR once you finish it as I think this could be useful to others. If you're only adding some more fields and a stream, I don't think that should break anything.

[2020-03-23 13:52] ryanheise commented on #57
Thanks for the report. Do you have steps to reproduce? I did not notice this with the sample.

[2020-03-23 14:07] Camerash commented on #57
This is my current code on audio_service's onStop method:
[code]

After the completer completes, the `onStart` method resumes and cancels any active subscriptions on just_audio streams
This crash only happens when I call `stop` on audio service.

[2020-03-23 14:29] ryanheise commented on #57
Would you mind testing what happens if you go to `AudioPlayer.java:229` and put a null check around that line? i.e. On line 229, change this:

[code]

to this:

[code]

This should make the error go away, but to know if it completely works, you would need to see whether the eventSink is eventually set and events eventually start arriving in the UI. You'll know if the UI updates itself in response

[2020-03-24 10:38] MohamedAbdallah-14 opened #59 "[iOS] Audio Stall for few seconds on start"
When I start the audio after buffering it plays for several seconds without audio then the timer and seeker reset and start playing with audio

This happen because in android
`Player.STATE_READY` is called when the player got the url data and buffered some audio and ready to play

but in iOS `AVPlayerItemStatusReadyToPlay` is called when the player got the file data like duration and ready to BUFF

[2020-03-24 14:59] RaistlinTAO opened #61 "Crash while dispose"
Player was using mp4 file from network in a stateful widget, the app crashed with log below after press the back button.

**Everything in flutter doctor is OK**

Detailed steps:
1. Open the view which contains the player with _mp4 file 1_.
2. Let the file downloaded, and click the play button
3. After 1-3 seconds, press the back button.
4. Open another view which contains the player with _mp4 file

[2020-03-25 13:16] #59 closed

[2020-03-26 19:10] scullabyte opened #62 "Doesn't work when launched from the background"
When using `flutter_background_fetch` `just_audio` doesn't play if the app isn't in the foreground. It's a pretty rare use case so just wanted to make you aware and others aware because it took me a while to figure that out. Using `audioplayers` for now.

[2020-03-27 10:32] snaeji commented on #35
I have been using this player and testing for two types on iOS:

- Mp3 files from url (Works great)
- HLS live streams with 2 hours seeking window (Small issues)

The issues regarding the HLS live stream are that the duration and position are negative values. I have some Swift code that i use to check for a sliding window, will try to convert it to objective-C or share it in an issue.

[2020-03-27 10:37] snaeji opened #63 "await setAutomaticallyWaitsToMinimizeStalling never returns a value on Android"
On Android if you await setAutomaticallyWaitsToMinimizeStalling() the function never completes. It should probably just return false on an Android device?

Simple example code would be:

[code]

[2020-03-27 11:51] stonega commented on #63
/// Sets automaticallyWaitsToMinimizeStalling for AVPlayer in iOS 10.0 or later, defaults to true.​
 /// Has no effect on Android clients​
 You can find it in code comment.

[2020-03-27 12:21] ryanheise commented on #63
Thanks for finding the bug. I think it should probably be a no-op on Android, in which case the Android side is probably missing a `success()` call. I'll take a look after the current task I'm working on, but in the meantime I suppose you can check if `Platform.isIOS` before calling.

[2020-03-27 12:44] ryanheise commented on #62
Hi @scullabyte , is this for iOS or Android or both?

[2020-03-28 14:08] ashishpatel1992 opened #64 "Live stream playback doesn't work"
I am unable to play Live Stream URL
Server is using Icecast to stream.
Sample Stream URL: http://canada1.reliastream.com:8052/live?type=.mp3

**Expected Solution**
It should be able to play live stream audio

[2020-03-28 19:48] scullabyte commented on #62
@ryanheise iOS, also `audioplayers` broke this after `0.13.5`

[2020-03-29 00:32] ryanheise commented on #62
Did you add the `audio` to `UIBackgroundModes` in your `Info.plist` file?

[2020-03-29 11:14] stonega commented on #64
I tested it on android side, works fine.
If you are using android, too, these may help you.
First you need to turn on usesCleartextTraffic in AndroidManifest.xml if you haven't.
`<?xml version="1.0" encoding="utf-8"?>
<manifest ...>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        ...
        android:usesCleartextTraffic="true"
        ...>
        ...

[2020-03-29 11:30] ashishpatel1992 commented on #64
Thanks a lot it is working now.
Can you add this into documentation? Easier for everyone

[2020-03-30 19:30] scullabyte commented on #62
@ryanheise yep

[2020-03-31 00:59] ryanheise commented on #62
Unfortunately that means it's not something that I would be able to fix in this plugin. The idea of `just_audio` is to "just" expose the audio playing APIs, and if there are any other sets of APIs that you would like to use in addition to this, they would be exposed by different plugins which you could mix and match depending on your use case. These plugins should use non-overlapping sets of APIs

[2020-04-01 10:25] NemanjaLugi opened #65 "Bug: iOS Browsers"
Hi,

I have a small bug when I want to auto-start the audio player when the widget is open. An audio player starts but without sound. The player works, stream position and duration are displayed, play/pause buttons work.

This works on browsers for both desktop and android devices, but on iOS Safari or Chrome don't.

Do you have an idea of why or some suggestions?

[2020-04-01 10:53] ryanheise commented on #65
I'm not sure why that would be. Have you tried firefox for iOS?

[2020-04-02 06:27] NemanjaLugi commented on #65
Yes, it's the same case like on others. Also, I have tried to play, then to seek and still, there is no sound.

[2020-04-02 12:32] ryanheise commented on #65
This plugin uses HTML5 audio which I assumed would have more universal support, but this is a total mystery. I may make a WebAudio option in the future (although in my experience this runs into more problems with CORS).

If you find another Flutter plugin that does solve the problem for you, let me know and I'll adopt their solution.

[2020-04-03 18:03] chadthecoder commented on #61
`I/ACodec  ( 9358): codec does not support config priority (err -2147483648)` seems to be coming from something in the setUrl() function.

from:
[code]

got:
[code]

[2020-04-03 18:04] chadthecoder commented on #61
`I/ACodec  ( 9358): codec does not support config priority (err -2147483648)` seems to be coming from something in the setUrl() function.

from:
[code]

got:
[code]

[2020-04-04 01:42] ryanheise commented on #61
@RaistlinTAO can you confirm that you are using the latest release of the plugin?

[2020-04-04 03:38] duncan-iaria commented on #61
I'm seeing the same behavior on the latest version of the plugin. Works fine on iOS, setUrl on android gives me the error and for me it results in a hard crash.

[2020-04-04 06:41] ryanheise commented on #61
I believe this is a Duplicate of #57 . Please try the suggestion in that issue and let me know if it corrects the issue for you. If so, I will include the fix in the next release.

[2020-04-04 06:41] #61 closed

[2020-04-04 08:49] suragch opened #66 "Merge buffering into AudioPlaybackState"
There may be a programmatic reason for putting `buffering` into `FullAudioPlaybackState` instead of `AudioPlaybackState`, but it doesn't seem to make sense from a UX perspective.

I recommend moving `buffering` to the `AudioPlaybackState` enum, even if it is a breaking change.

[2020-04-04 14:57] duncan-iaria commented on #61
This seems to have resolved the issue for me. Thank you! Btw that other issue mentions using audio_service as well - in my case I was only using just_audio, not sure if that is helpful information or not but I thought I'd throw it out there.

[2020-04-04 16:13] ryanheise commented on #57
Comment from @duncan-iaria on #61:

Thanks for confirming @duncan-iaria , I've just committed the fix and will hopefully include it in the next release within the next day.

[2020-04-05 05:27] #64 closed

[2020-04-05 05:34] eduardocm2002 opened #67 "SHOUTcast Stream"
Hello, there is no support for SHOUTcast Stream
for example http://192.99.0.170:5162/stream

[2020-04-05 08:28] ryanheise commented on #67
Looks like there is an extension for it:

https://github.com/slowtick/exoplayer-shoutcast

Will need to investigate the best way to go about adding on the various ExoPlayer extensions, since there are several of these that we want to support.

[2020-04-06 02:06] suragch opened #68 "Negative duration returned for streaming mp3 on iOS device"
I'm streaming an mp3 file from my server. Using just_audio works as expected on an Android device, but when I try to get the audio duration on an iOS device (simulator), a negative value is returned.

This does not happen when using the [example](https://pub.dev/packages/just_audio#-example-tab-) audio file `"https://s3.amazonaws.com/scifri-episodes/scifri20181123-episode.mp3"`, so I'm not sure if

[2020-04-06 02:46] ryanheise commented on #68
Could you provide a link to an example mp3 that illustrates the problem?

[2020-04-06 03:43] suragch commented on #68
Here is an example:

[code]

This gives the following duration:

[code]

The audio still plays but I can't manage the seek bar since I don't know the total duration.

[2020-04-06 04:37] rohansohonee commented on #68
@suragch

Please use a real iOS device for testing. Simulators/Emulators often don't work as expected.
I am just sharing my experience.

[2020-04-07 02:26] ryanheise commented on #66
Hi @suragch , you can search past issues to find a discussion of how this decision came about, but the buffering state truly is orthogonal to the play/pause state. The plugin can be buffering in a number of different states: while connecting to the URL, while playing, and while paused. It should be possible to show in the UI whenever the plugin is buffering, but it should also be possible to disti

[2020-04-07 02:26] #66 closed

[2020-04-07 02:33] ryanheise commented on #68
@suragch , another thing to confirm is, when you say you are "streaming" the mp3, how are you streaming it? Do you mean you're not just offering the mp3 at a URL, but you're using some sort of streaming protocol? If so, which one?

[2020-04-07 02:47] ryanheise commented on #57
Included in release 0.1.4.

[2020-04-07 02:47] #57 closed

[2020-04-07 03:55] suragch commented on #66
That explanation makes a lot of sense. Thank you. It would be great to add a similar explanation to the in-code documentation. Currently `FullAudioPlaybackState` has no documentation at all and `AudioPlaybackState` only has a single line that doesn't describe much more than the class name already says.

[2020-04-07 04:08] suragch commented on #68
@rohansohonee Good point. The simulator can behave differently than a real device, though it is interesting that the android emulator works while the iOS simulator doesn't. I tested it from Xcode on an iPhone 4s (the only iOS device I have) and got a cryptic error message from Xcode:

[code]

Not even the audio played this time.

[2020-04-07 04:12] suragch commented on #68
@ryanheise I'm a newcomer to streaming. I assumed that streaming just meant setting the URL and then calling `player.play()` rather than downloading first before calling play. I'm not using any sort of streaming protocol client side other than what just_audio provides.

[2020-04-07 04:26] ryanheise commented on #66
Thanks, I have just added documentation.

[2020-04-08 20:00] wemiprog commented on #44
Have this Issue too. Flutter is on V 1.12.13+hotfix.9, seems to be the latest on stable channel, I updated all plugins, still doesn't work. Version of this plugin is 0.1.4.

What can I do to fix this? Or is there a fix planned?

[2020-04-09 13:58] ryanheise commented on #44
Have you updated your project to the Flutter 1.12 structure, and have all plugins that you use been updated to the Flutter 1.12 plugin architecture?

[2020-04-10 04:14] pblinux commented on #56
Hello @Jei @ryanheise.

About the IcyInfo that's not retrieving, I think or it's a ExoPlayer issue or it's the DataSource, I'm not sure.

This are the things I tried so far:

- Creating a DefaultHttpDataSourceFactory and adding a property Icy-MetaData", "1". Nothing changes.

[code]

- Adding a audioAttribute to the player, nothing changes.
[code]

- Using an external library: I found this metadat

[2020-04-11 11:42] o4x opened #69 "I have a problem with handle deep linking"
I found no way to use deep linking with this.
I add this to `AndroidManifest.xml` :
[code]
It work but when I try open my app with open with, I get this error :
[code]

[2020-04-11 11:52] ryanheise commented on #69
Hi @o4x can I just understand what state the player is in when you call `play`? The documentation says that you must not call it from the connecting or none states. Currently, the best way to ensure that the player is ready to play is to "await" the result of `setUrl` (or one of the alternative methods like `setFilePath` or `setAsset` depending on which one you use). For example:

[code]
I would b

[2020-04-11 13:27] o4x commented on #69
I'm sorry bro. The problem was my code.Thank you for your time and good plugins❤

[2020-04-11 13:32] #69 closed

[2020-04-15 05:59] ifehrim opened #70 "Because just_audio requires the Flutter SDK, version solving failed."
Resolving dependencies...
Because just_audio requires the Flutter SDK, version solving failed.

Flutter users should run `flutter pub get` instead of `pub get`.
Process finished with exit code 1

[2020-04-15 07:22] ryanheise commented on #70
I assume you ran `flutter pub get`? If that didn't work, can you also try `flutter packages upgrade`?

[2020-04-15 14:39] paulobreim commented on #28
Hi,
I am using very simple function: My program have only 2 commands:

playsound () async {
await player.setAsset('asset/sound.mp3');
await player.play()
}

and some times I got the exception bellow.
Exception has occurred.
PlatformException (PlatformException(Illegal state: Cannot call play from connecting/none states (connecting), null, null))

 I think that it is occurs when I call this functio

[2020-04-15 17:05] ryanheise commented on #28
Currently the best way to avoid this error is to await the result of `audioPlayer.setUrl` and do not call `audioPlayer.play` until after that first await completes. This will guarantee that you do not call `play` until it is actually ready to play.

[2020-04-15 17:28] paulobreim commented on #28
but I don use url, I call the local file with await player.setAsset('asset/sound.mp3');

[2020-04-15 20:39] pureimpro opened #71 "Is there any roadmap for implementing clip audio for iOS ?"
Self explanatory.
Thanks @ryanheise & contributors for your wonderful work in just_audio and audio_service packages !
Head on dudes, we believe in you 👍

[2020-04-16 02:12] ryanheise commented on #28
Awaiting `setAsset` would be the same as awaiting `setUrl`, but if you're still getting that error I may need you to create a minimal reproduction project to allow me to see what's happening in your program.

[2020-04-16 02:21] ryanheise commented on #71
Thanks for your interest and support. I have some ideas on how it can be done, but it is a matter of finding the time. It would be a bit hard to make a roadmap right now, especially with the unpredictable times we are currently undergoing.

[2020-04-16 02:46] paulobreim commented on #28
Here is. The point with comment // is where I got error.
==============
import 'package:flutter/material.dart';
import 'package:batalha_naval/dados.dart';
import 'package:batalha_naval/telamontaesquadra.dart';
import 'package:just_audio/just_audio.dart';
import 'dart:math';
import 'dart:async';

AudioPlayer player;

class TelaJogo extends StatefulWidget {
  @override
  TelaJogoState createState()

[2020-04-16 05:44] ryanheise commented on #28
This is strange. Given the strangeness of it, I'd like you to try a strange test: can you insert the following code after awaiting `setAsset` and before calling `play`?

[code]

[2020-04-16 05:53] akhilprogrammer opened #72 "audio streaming become off after 10 minute of screeon lock"

[2020-04-16 05:54] akhilprogrammer commented on #72
on new android devices audio streaming off after 10 minute of screen lock.in lollipop or marshmallow no problem

[2020-04-16 06:51] ryanheise commented on #72
You can wrap your code in `audio_service` to achieve this (the link is at the top of the `just_audio` README).

[2020-04-16 06:53] akhilprogrammer commented on #72
can you give a simple example. example of audio_service is diificult to understand. if you like send a example to akhilprogrammer@gmail.com

[2020-04-16 06:54] akhilprogrammer commented on #72
with minimal code not using

[2020-04-16 06:54] #72 closed

[2020-04-16 07:01] ryanheise commented on #72
At least please read the README file of that project before asking for an example. That README references both an example and a tutorial.

[2020-04-16 14:11] paulobreim commented on #28
Here is:
![image](https://user-images.githubusercontent.com/381594/79466224-ab2e0100-7fd2-11ea-96b6-ae5c8e04be50.png)

Are there away to check if the state is connecting?

[2020-04-16 15:24] paulobreim commented on #28
I made o small program to you test.
Just do it:
in the pubspec.yaml put
dependencies:
  just_audio: ^0.1.4
  assets:
  - assets/sound/
into folder assets/sound put any mp3 file with 2 seconds sound
and here is the full source:
-----------------------------
import 'package:just_audio/just_audio.dart';
import 'package:flutter/material.dart';
import 'dart:async';

AudioPlayer player;

void main() asy

[2020-04-16 16:32] ryanheise commented on #28
I wasn't aware that you were running this code periodically. You do not do anything to guarantee that the previous periodic execution completes before the next one starts, so the previous one still could be trying to play while the current one is in the middle of loading the asset.

it would be safer to do this kind of periodic execution in a loop.

[2020-04-16 16:38] bal3m opened #73 "Issue in some devices like Xiaomi A3, caused by Exoplayer"
I got this error message from my debug:
[code]
Notice: The codec is mpeg

[2020-04-16 16:47] paulobreim commented on #28
but await player.play();  does not guarantee the end of the execution?
Are there a function that I can check if the sound are executing?
So I could to like this:
if   (player.isstopped) {
    await player.setAsset('assets/sound/agua.mp3');
    await Future.delayed(Duration(seconds: 1));
}

[2020-04-16 17:07] stonega commented on #73
Can you put the audio link here? Looks like network error.

[2020-04-16 17:10] bal3m commented on #73
http://shaincast.caster.fm:37625/listen.mp3?authncb6dcc7e6acbb8813de17eab2806d4d8
This is the url.

[2020-04-16 17:20] stonega commented on #73
The link need to login, I don't think just audio can deal with it.

[2020-04-16 18:04] bal3m commented on #73
I edited it, now it's work with the same problem.

[2020-04-17 04:20] ryanheise commented on #28
`periodic` does not wait for that because it's programmed to repeat at a specific time - i.e. the problem is with `periodic`.

[2020-04-17 13:34] paulobreim commented on #28
OK, thank you. I will change it. Thank you.
I think that we can close this issue.

[2020-04-17 13:45] Jei commented on #56
Thank you for the pointers @pblinux.
I've tried to add the ExoPlayer's OkHttp extension to use OkHttpDataSourceFactory instead of DefaultHttpDataSourceFactory, but it doesn't make any difference. However by logging the HTTP calls I was able to confirm that the Icy headers are being received correctly:
[code]
Note that I didn't have to set the `Icy-MetaData` header manually, it's part of the reques

[2020-04-17 13:52] ryanheise commented on #28
I was awating @volgin 's confirmation on the original issue, although I'll assume by now that all is good.

[2020-04-17 13:52] #28 closed

[2020-04-18 04:32] ryanheise commented on #46
Fixed by #55 .

[2020-04-18 04:32] #46 closed

[2020-04-18 04:37] #30 closed

[2020-04-18 04:39] #22 closed

[2020-04-18 04:41] ryanheise commented on #21
Fixed in the latest commit on master.

[2020-04-18 06:56] ryanheise commented on #63
This should be fixed in the latest commit.

[2020-04-18 07:48] ryanheise commented on #42
I did not find a way to disable these logs. Disabling ExoPlayer's own logs has no effect, so it is probably being logged by the OS.

I'll close this but will accept a PR if someone else does find a way to suppress these logs.

[2020-04-18 07:48] #42 closed

[2020-04-18 07:49] ryanheise commented on #58
My suggestion seems to actually have no effect, which means there is probably nothing that can be done within this plugin to suppress those logs.  I'll close this, but would accept a PR if someone else finds a way to suppress the logs.

[2020-04-18 07:49] #58 closed

[2020-04-18 08:16] pankajadhyapak opened #74 "IOS: No Sound"
**Describe the bug**
I'm trying this in one of my application, works fine in IOS simulator but doesn't work on actual iPhone

[code]

 StreamBuilder<Duration> works perfectly, but just no sound, I'm missing something here?

![IMG_2348](https://user-images.githubusercontent.com/3089329/79632168-3649fb00-817b-11ea-9d70-4bf74055bcc3.jpg)

[2020-04-18 08:46] ryanheise commented on #29
I'll use #31 to track the exception reporting code.

[2020-04-18 08:46] #29 closed

[2020-04-18 08:51] ryanheise commented on #74
To help me investigate the bug, I need you to fill in all sections of the bug template unless otherwise stated.

[2020-04-18 08:54] ryanheise commented on #31
Hi @terryBaz I'm curious about the code in your comment which is marked as "Resolved". Is that the code you were including in your PR?

[2020-04-18 09:08] terryBaz commented on #31
I already find a solution for this and I am using it, but I still did not prepare a PR yet, sorry for that, did not have time for it, but I will try to prepare one Asap (hopefully in the next 2 days)

[2020-04-18 14:32] hivesey opened #75 "Audio not playing on iPad Air"
**Describe the bug**
I am playing MP3's from assets. Works fine in iOS simulator but does not work when running on iPad device.
I am testing it on iPad Air  and ver is 12.4.5

**Minimal reproduction project**
If the example project exhibits the bug, please mention that here, otherwise fork this project and modify the example to reproduce the bug. Provide the link to your repository here.

**To Rep

[2020-04-18 16:08] ryanheise commented on #75
I have manually re-inserted the parts of the bug template that you deleted. If you can fill them in, it may make it easier for someone to investigate your bug.

I personally do not have access to an iPad so I cannot test this, so if someone is able to help you, providing the reproduction files and mp3 asset may help.

Does it also happen on an iPhone?

[2020-04-20 04:22] ryanheise commented on #31
PR is now merged, thank you!

[2020-04-20 04:22] #31 closed

[2020-04-20 06:32] Jei commented on #56
I've opened an issue in the ExoPlayer repository to ask for clarifications on how to retrieve IcyHeaders: https://github.com/google/ExoPlayer/issues/7266

[2020-04-20 16:36] Ali-Alizadeh opened #77 "setFilePath method fails if the file path contains '?' or '#'"
**Describe the bug**
If setFilePath method is called with a path which contains '?' or '#' it fails with the following error.

**Error messages**

[code]

**Expected behavior**
setFilePath should work with file paths containing either '?' or '#'

**Desktop (please complete the following information):**
 - OS:  Microsoft Windows [Version 10.0.18363.778]
 - chrome+ 80.0.3987.163 (Official Build) (64

[2020-04-20 16:44] ryanheise commented on #77
Interesting. Since I convert the file path to a file:// URL first, this might be fixable by encoding those special characters to make it a proper URL.

As a temporary workaround/experiment, you could try replacing # by %23 and replacing ? by %3F . If that works for you, I'll implement directly in the plugin (for the full range of special characters of course).

[2020-04-20 19:19] Ali-Alizadeh commented on #77
@ryanheise Thanks for your quick response! I can confirm encoding those characters the way you mentioned works.

[2020-04-21 04:12] pblinux commented on #56
Hey @Jei

I just tested what they said, it works.

onTracksChanged it's the way that exoplayer expose those headers.

[code]

[2020-04-21 07:29] Jei commented on #56
Hey @pblinux !
Yes, it's definitely the way to do it. I was working on a solution yesterday using onTracksChanged, however, I was only checking the first TrackGroup of the `trackGroups` array. It worked for my specific case, but your idea of iterating over the entire `trackGroups` array is probably safer. I'll commit the changes and work on the PR.

[2020-04-21 07:45] snaeji commented on #63
Great work! Sorry that i forgot to reply to the earlier comment. I had the same solution to use a platform check :)

[2020-04-21 08:44] Jei commented on #67
The Android version already reproduces Shoutcast streams, since ExoPlayer recently added support for them without having to add an extension. I'm developing [an application](https://github.com/Jei/tormentedplayer/tree/develop) that plays the stream provided by https://tormentedradio.com/, but I've just used it to listen to the stream mentioned by @eduardocm2002 and it seems to be working.

[2020-04-21 10:22] ryanheise commented on #77
I've tried a fix on git master. Can you give it a try and let me know if it works for you?

[2020-04-21 12:44] ryanheise commented on #67
@Jei do you mean this works for you with the current version of ExoPlayer included in `just_audio` or are you suggesting it can be fixed by upgrading the dependency?

[2020-04-21 12:46] ryanheise commented on #67
Looks like #78 includes updated dependencies, so hopefully that helps this issue also.

[2020-04-21 13:35] ryanheise commented on #67
I've merged #78 and added a stub iOS implementation.

With the upgraded ExoPlayer dependencies, let me know if that also fixes this issue.

[2020-04-21 13:39] ryanheise commented on #56
Thank, @Jei ! I've merged your PR and added a stub for iOS/macOS.

[2020-04-21 14:33] Jei commented on #67
I've been using this plugin to play my stream before starting working on #78, which was just to retrieve the stream's metadata. I've updated the version of ExoPlayer because the new version (2.11.4) included [support for non-UTF-8 metadata](https://github.com/google/ExoPlayer/issues/6753), which seems important when working with streams with international content.
To be honest, one of the reasons

[2020-04-21 15:03] simdev0 opened #79 "setUrl crashes on iOS but not Android"
**Describe the bug**
The code creates an AudioPlayer and calls .setUrl on a valid url. On Android, it executes and continues to navigate to the new screen (as the code is programmed to do). However, on iOS, it doesn't navigate to the new screen, leading me to believe that the line before (the setUrl call) is crashing.

The culprit code:
[code]

**Minimal reproduction project**
https://github.com/s

[2020-04-21 15:13] ryanheise commented on #67
Ah, I see. I'll assume this issue can be closed now, and thanks again for contributing the earlier PR.

[2020-04-21 15:13] #67 closed

[2020-04-21 15:20] ryanheise commented on #79
Hi @simdev0

Your URL in the example is invalid because URLs must not contain spaces.

Replace spaces by %20 in the path (and by + in the query string if you have one, which you don't).

I guess Android works because the underlying library that takes your URL is forgiving and fixes your URL for you, but on iOS try passing in a correct URL.

[2020-04-21 16:15] ryanheise commented on #53
This appears to be supported after upgrading to the latest ExoPlayer version. You can try it on git master (since I haven't published a release yet).

[2020-04-21 16:15] simdev0 commented on #79
That ended up being the issue... I can't believe it came down to the differing ways that both platforms handle the URL. Thanks heaps for your help troubleshooting this issue!

[2020-04-21 16:34] ryanheise commented on #53
This appears to be supported after upgrading to the latest ExoPlayer version. You can try it on git master (since I haven't published a release yet).

[2020-04-21 16:36] Ali-Alizadeh commented on #77
I tried my app with the master version and it's working.
Thank you!

[2020-04-22 01:07] ryanheise commented on #77
Great! I'll include it in the next release.

[2020-04-22 01:35] #63 closed

[2020-04-22 07:10] simdev0 commented on #68
I'm also having this issue. I use .setUrl(url).then((duration) { /* set duration here */ } and found that it comes up with a negative value.

[2020-04-22 10:48] ryanheise commented on #68
I tested on the iOS 10.1 / iPhone 7 plus simulator, but it worked:

[code]

@simdev0 do you also have a URL? Does it give the exact same negative number or a different one?

And just to confirm, you did add the following to your `Info.plist`?

[code]

[2020-04-22 11:02] suragch commented on #68
@ryanheise Sorry, the link I provided is no longer valid because I changed the server configuration a couple days ago. Before the mp3 didn't have Content-Length header but now it does.

To reproduce the issue, any response without a Content-Length header value should do the same thing.

I wrote more about the server side solution over here: https://stackoverflow.com/questions/61318517/files-served

[2020-04-22 11:14] ryanheise commented on #68
Probably the percentage of misconfigured servers is very very low because it would have to be a custom built server (nginx and apache would handle it correctly by default), such as for APIs, and there's a high chance that frontend apps that consume those APIs will be written by the same developer who has some control over both ends.

In the rare case where someone has written an API intended to be

[2020-04-22 11:32] suragch commented on #68
From the plugin side, it might be useful to return null for the Duration (rather than a negative number) if the content length is unknown (and describe that behavior in the documentation).

[2020-04-22 11:45] ryanheise commented on #68
I agree, I'll have a go at it next time I'm on MacInCloud.

Although it will still be useful to have an example URL to reproduce the issue.

[2020-04-22 12:03] suragch commented on #68
I tried finding another source but wasn't able to just now. I can't easily change my server back right now without messing up the client apps. Hopefully @simdev0 can provide a link.

[2020-04-22 22:14] abumalick commented on #53
Thank you very much. This is only for android right?

[2020-04-23 00:56] ryanheise commented on #53
This update affects iOS. I am not sure what the status on iOS is but please let me know if you observe the issue on iOS.

[2020-04-23 00:57] simdev0 commented on #68
@ryanheise Here's the link I was using: https://smasby-api20191025092629.azurewebsites.net/api/talkFile/Bible%20Study/Ancient%20Flaws,%20Modern%20Solutions/meriam's%20bible%20study%20(abraham).mp3
Something to note, I got the exact same negative value as when trying to get the duration of that URL.

@suragch just a question, you said you retrieved that negative value when you had a response withou

[2020-04-23 02:06] suragch commented on #68
@simdev0, I don't know. I wouldn't have expected a negative value for that. However, because of the problems I was having with streaming, I ended up just downloading the file and then playing it from local storage with the audioplayers plugin.
https://medium.com/flutter-community/how-to-show-download-progress-in-a-flutter-app-8810e294acbd

[2020-04-23 16:25] Tizoner commented on #44
I was having this Issue too. Flutter is on V 1.12.13+hotfix.9. I've tried everything - checked that all plugins at the latest version, used flutter clean command, and was even comparing java files and manifests between my app and example app of this package. Strange things started when I've tried to run flutter clean command - it failed and vscode started to send bunch of notifcation that Dart Ana

[2020-04-23 16:29] ryanheise commented on #44
Have you updated your project to the Flutter 1.12 structure, and have all plugins that you use been updated to the Flutter 1.12 plugin architecture?

[2020-04-23 16:38] Tizoner commented on #44
@ryanheise As I've said in my previous message, Flutter is on V 1.12.13+hotfix.9 and I've checked that all plugins are up to date.
I've just switched from audioplayers plugin to just_audio because it gives better performance and better control over streams.

[2020-04-23 16:41] ryanheise commented on #44
Even if your Flutter is on 1.12+ and your plugins are up to date, that does not answer my question regarding whether your project is updated to the 1.12 project structure and whether all of the plugins you use have been updated to the 1.12 plugin architecture.

[2020-04-23 16:58] Tizoner commented on #44
Project structure is updated to the 1.12 but I'm not sure how to check if these plugins are updated to the 1.12 plugin architecture:
[code]

[2020-04-23 17:30] YaarPatandarAA commented on #44
@Tizoner By project structure @ryanheise is referring to you having done the following: https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects

I was having this same error last night in an Old App in which I swapped out AudioPlayers for Just_Audio. By following the instructions set out by the flutter team and a little google research on `MissingPluginException flutter 1.12` I

[2020-04-24 10:08] lain-ke opened #81 "Cache tracks"
**Is your feature request related to a problem? Please describe.**
Every time the next track plays, the user has to wait for it to load, even with the ones that have already played.

**Describe the solution you'd like**
It would be nice if the next track on the queue would get cached while the previous track is playing.

**Describe alternatives you've considered**
None, I'll wait to see the respon

[2020-04-24 11:16] ryanheise commented on #81
There is no concept of a queue in `just_audio` but there is a feature request to add one in #36 including gapless playback, and your feature request would be included as part of #36 .

In the meantime, you would need to write your own queue preloading logic.

Duplicate of #36

[2020-04-24 11:16] #81 closed

[2020-04-24 22:15] erickcchoi opened #82 "Fail to play .m4a format"
**Describe the bug**
Fail to play .m4a media, In the Example code, only modify the media source to :
        .setUrl("http://aod.cos.tx.xmcdn.com/group75/M02/77/28/wKgO3V6iDFyjDEazAAE-CfKc_4A012.m4a")

**Minimal reproduction project**
In the Example code, only modify the media source to :

  @override
  void initState() {
    super.initState();
    _player = AudioPlayer();
    _player
        .set

[2020-04-25 02:05] ryanheise commented on #82
That does not seem like a valid URL since it has no scheme part.

[2020-04-25 07:23] erickcchoi commented on #82
Sorry, I did the wrong m4a url in the previous test, so I just change it to the correct m4a url, but it still fail to run. (I did updated the above url and the error message).

[2020-04-25 07:28] stonega commented on #82
Caused by: java.io.IOException: Cleartext HTTP traffic to aod.cos.tx.xmcdn.com not permitted
If you wish to connect to non-HTTPS URLS, add the following attribute to the application element of your AndroidManifest.xml file:

 `<application ... android:usesCleartextTraffic="true">`

[2020-04-25 07:35] erickcchoi commented on #82
It works, Thank you so much for your help.

[2020-04-25 07:35] #82 closed

[2020-04-25 15:42] wemiprog commented on #44
Thx for the help :) It worked for me now after following the link of @YaarPatandarAA .

[2020-04-26 02:02] gitmoto opened #83 "iOS Slow PlaybackRate Echo/Warble"
**Is your feature request related to a problem? Please describe.**
When slowing the playback rate on iOS with a remote spoken word mp3 (like a podcast), it sounds funny. It sounds *great* in the Android emulator and devices, at the same slower rate. But on iOS device (or in the emulator ), there is an echo/warble. Almost like there are two streams playing at once and one is just a few milliseconds

[2020-04-26 03:21] ryanheise commented on #83
Interesting. I originally planned to implement the same algorithm I was using on Android (which is very good) for iOS because I didn't know there were any good built-in options for iOS.

However, the built-in options you linked to sound better than I originally thought.

What default iOS algorithm would you suggest to most closely match the Android quality? I also don't think we need to add option

[2020-04-26 16:03] lkho opened #84 "Duration is not updated when playing a source which have dynamic duration (DASH/HLS)"
**Describe the bug**
When working with DASH/HLS streams, the duration can be unknown at the beginning, and being updated many times during playback. The duration returned from the setUrl() initially is not enough. Moreover, the player position is calculated with regards to the duration, thus when the duration is updated to a larger value after some time during playback, the position reporting is c

[2020-04-26 16:05] lkho commented on #84
I have a fork hot-fixing this issue, but is android only. See whether it can help.

https://github.com/lkho/just_audio/tree/pr/android-duration

[2020-04-27 02:47] ifehrim commented on #70
i don't know , now is ok , thank you, i thing it's my local environment  issue

[2020-04-27 11:11] ryanheise commented on #84
Hi @lkho , thanks for that. Certainly clipping the position to the duration should not be done when the final duration is unknown, and your solution conveniently seems to handle the iOS case as well (which was reported for plain mp3s with an unknown duration).

Was there a reason for returning a duration of -1 rather than null on the Dart side if  the duration is unknown? I noticed this was one of

[2020-04-27 11:14] #70 closed

[2020-04-27 11:45] lkho commented on #84
I only changed the code for handling exoplayer (specifically for live streams, I haven't test plain files, but maybe if the file is from network, AND is not broken, the duration might return a useful value after the initial unknown.)

This is just for backwards compatibility, since I saw the initial value is duration zero, but not null. Emitting a `null` may break things. It can be changed to `nul

[2020-04-27 12:32] lkho commented on #84
Regarding #41 , (for android exoplayer) my workaround is to remove the check and keep the loop until playback stops, since the duration is not reliable and buffer position can be larger than the duration at anytime, during playback, before the media really ends. I've tried to end the loop and wait for another buffer event to start it again, but _seems_ the buffer event is not reliable too. See if

[2020-04-27 12:51] ashishpatel1992 opened #85 "Continuous buffering consuming data even when stream is not set to play"
**Describe the bug**
I am taking the example given here https://pub.dev/packages/just_audio#-example-tab-
I am having a Live Stream audio, as soon as the UI is loaded, the app keeps buffering the stream in background all the time. Hence consuming data. How can we tell the player to only start buffer when play button is pressed.
Here is my code

[code]
**Expected behavior**
It should not buffer upo

[2020-04-27 13:17] ryanheise commented on #85
Please reserve bug reports for bugs with the plugin (i.e. where an API does not behave according to its documentation).

[2020-04-27 13:17] #85 closed

[2020-04-27 16:41] ashishpatel1992 commented on #85
I could not understand why you closed this. The issue is within the plugin right? I took your example you mentioned in documentation.

[2020-04-27 16:51] gitmoto commented on #83
Thanks for looking into this, Ryan! Really appreciate it.

I've played around a little with AVPlayerItem.audioTimePitchAlgorithm, but I'm not sure what the best implementation would be for just_audio. I don't have the best ear in the world, but I can't tell much of a difference between different pitch algorithms at standard speeds.

Best I can tell, I **think** the best mode to match Android quali

[2020-04-27 16:55] ryanheise commented on #85
You did not indicate the API that does not behave according to its documentation, and your bug report did not actually refer to any API in the plugin. The example uses the plugin, but isn't itself the plugin.

[2020-04-27 17:02] ryanheise commented on #83
The Android algorithm is also optimised for speech, which makes sense because it is a more common use case to slow down speech than it is to slow down music. So for iOS I think the algorithm suitable for speech would be a reasonable default.

Does changing the algorithm to timeDomain make it sound better for you at speeds less than 1.0? You can test this by editing the iOS code with the code you r

[2020-04-27 19:16] gitmoto commented on #83
I ran a quick test in your setUrl method and it works beautifully! I wonder if there are other use-cases for modifying the pitch algorithm, beyond just the type of audio (simple app sounds vs. music vs. spoken word) being played? Your idea of a setting for voice and a setting for music seems reasonable for a simple, initial implementation though.

Audio Url: https://raw.githubusercontent.com/gitmo

[2020-04-27 19:18] gitmoto commented on #83
Also, fyi, this setting appears to only be available in iOS 11.0+

https://developer.apple.com/documentation/avfoundation/avaudiotimepitchalgorithm

[2020-04-28 02:39] ryanheise commented on #83
So pre iOS11.0 we just leave it as is, and on post iOS 11.0 we set the default to timeDomain, at the very least.

Then additionally we can consider adding an option to change the algorithm. Either we provide a general option to switch between music vs voice optimised, or we add an iOS specific option to select specific iOS algorithms.

[2020-04-28 03:04] gitmoto commented on #83
I dig it. Really interesting the implementation quirks that have to be taken into consideration when developing an abstraction layer like this flutter package. Thanks for being so collaborative on improving this and for putting it out there for the community!

[2020-04-28 06:57] ryanheise commented on #83
No worries. I've just committed the fix, which basically just chooses timeDomain as the default if available. I may consider adding more options at a later stage.

Can you try it out and let me know if this works for you?

[2020-04-28 16:19] gitmoto commented on #83
did you commit the source files? or should it work with just the example subdirectory update?

[2020-04-28 16:43] ryanheise commented on #83
I've committed the fix to git master, so you should be able to try the example subdirectory, or alternatively with your own project if you temporarily update your pubspec to:

[code]

[2020-04-28 20:33] lain-ke opened #86 "Failed to play .m3u8 file on Android"
**Describe the bug**
I am trying to play a .m3u8 playlist file, in iOS works but on Android, it shows an exception.

**Minimal reproduction project**
Example project

**To Reproduce**
Steps to reproduce the behavior:
1. Make a playlist with one or multiple .m3u8 files.
2. Run the app.
3. Hit play.
4. See error.

**Error messages**

[code]

**Expected behavior**
The file should play like it does on

[2020-04-28 20:47] lain-ke commented on #86
Here's a more detailed error log:

[code]

[2020-04-29 02:24] ryanheise commented on #86
Hi @lain-ke , as you suspected, I currently use the extension to determine the file type which would cause the problem.

ExoPlayer currently doesn't have any built-in mechanism to detect the stream type, and there is an open issue discussing adding this feature: https://github.com/google/ExoPlayer/issues/3165

The ExoPlayer example app also uses the extension to detect the file type, but it at lea

[2020-04-29 04:08] gitmoto commented on #83
which pubspec file? I don't have an audio_service entry to temporarily replace with your git url. I only have just_audio

[2020-04-29 04:13] ryanheise commented on #83
Oops, I had copied that from a post I made in my other plugin. It should be:

[code]

[2020-04-29 04:18] gitmoto commented on #83
Thanks! Just wanted to make sure I wasn't missing something

[2020-04-29 04:23] gitmoto commented on #83
I must be doing something wrong. When I update the example/pubspec.yaml file (and then do a pub get), the audio doesn't seem to be using the timeDomain setting. Audio still warbles. Should I be pointing to a different branch or tag in the github url?

This is what I'm doing in the pubspec:
  #just_audio:
   # path: ../
  just_audio:
    git:
      url: https://github.com/ryanheise/just_audio.git

[2020-04-29 04:29] stonega commented on #83
try flutter pub upgrade

On Wed, Apr 29, 2020, 12:24 Matthew Douglass <notifications@github.com>
wrote:

[2020-04-29 04:31] gitmoto commented on #83
I meant to mention I tried that too. No luck.

[2020-04-29 04:57] ryanheise commented on #83
@gitmoto Just checked my commit, and it does seem I missed a file! Oops :-) Let me try that again...

[2020-04-29 04:59] ryanheise commented on #83
Fixed! Sorry about that. Would you like to test it again?

[2020-04-29 05:02] gitmoto commented on #83
No prob at all. I'm just ecstatic I'm not going crazy...

Just tested with the git link in my pubspec and it works great! Thank you for doing this.

[2020-04-29 09:28] lain-ke commented on #86
My URL basically contains the path (not ending in the extension) and the some params apply (?token=sñldhcioygosgduyasdv & more), so if as my last param y add &extension=.m3u8, the server wouldn't even read it but ExoPlayer would recognize it and play it, right?

[2020-04-29 10:30] lain-ke commented on #86
Okay, I've tried it and it doesn't work, I don't know if it's because it's a param or because my server redirects to the file.

Does ExoPlayer support redirects?

[2020-04-29 10:58] ryanheise commented on #86
Your idea of adding the extension in the query string is quite clever and it's only unfortunate that the code only considers the path part of the URL. It got me thinking that maybe a fragment could be used for this purpose as a sort of workaround, but even in this case, I would need to add some code to recognise the fragment.

ExoPlayer does support redirects, which is why my previous suggestion w

[2020-04-29 11:05] lain-ke commented on #86
What I've done is make the server send the url in JSON format, among with other data.
The server can output .m3u8 or .mp3 files depending on the case, is there any way to tell ExoPlayer what the extension is?

I mean, the JSON output returns (for example)

[code]
or
[code]

So we already know the extension before passing it to ExoPlayer.

If there isn't any way, I'll wait for you to implement your

[2020-04-29 11:58] ryanheise commented on #86
It's possible to do that with ExoPlayer (by choosing the media source class) but you don't have access to that at the Dart level, you only have access to the `just_audio` API, and the goal is to hide all of that so that you can just pass in a URL and the type is detected automatically.

I'll try to implement the temporary hack for you.

[2020-04-29 12:04] lain-ke commented on #86
Thanks!!

[2020-04-29 13:28] ryanheise commented on #86
I've committed the work around to git master. Would you be able to test it before I include it in the next release?

[2020-04-29 15:06] lain-ke commented on #86
Sure!
But I don't really know how to manage GitHub and Flutter plugins... I'll need you to teach me how 😅

[2020-04-29 16:04] ryanheise commented on #86
You can temporarily set your project to use the git master version of the plugin by changing your pubspec to:

[code]

[2020-04-30 10:16] lain-ke commented on #86
Hey thanks a lot for the fix!
It works totally fine!

[2020-04-30 10:16] #86 closed

[2020-04-30 13:32] ryanheise commented on #86
Awesome, thanks for testing.

[2020-04-30 13:45] ryanheise commented on #83
Awesome. Thanks for testing, and I've now published in the 0.1.8 release.

[2020-04-30 13:45] #83 closed

[2020-05-01 08:42] RinaldoNani opened #87 "Is the extension ".mp3" at end of url compulsory for iOS devices?"
Looks like there are some issues trying to play urls/streams that have urls ending with ids.

For example, using the code in the demo, setting:
[code]
works perfectly on my iPhone 6 device, while using the (active) url:
[code]
**gives no error, but no sound comes out (the spinning wheel goes on forever)**.
Any ideas?

[2020-05-01 10:21] ryanheise commented on #87
Hi @RinaldoNani , to help me investigate this issue, please fill in every section of the issue template. Thank you.

[2020-05-03 10:02] drpark opened #88 "id3 read"
Hi,
it would be great to add id3 reading support (useful for live stream for example)

thank you

[2020-05-06 07:44] Suhailakl commented on #37
@ryanheise Please fix this issue ASAP

[2020-05-06 10:24] ryanheise commented on #37
I've reopened this issue, as the iOS side will need to be investigated.

@nomyzs apologies for not seeing your comment sooner.

However, I'm in the process of moving apartments, so it may be a while before I can take a look.

[2020-05-06 14:20] Tizoner opened #89 "How to catch TYPE_SOURCE: Unable to connect error?"
**Describe the bug**
It's not a bug I just don't know how to catch TYPE_SOURCE: Unable to connect player error.
I just want to know how can I listen to stream of this errors.

**Minimal reproduction project**
This error happens when url is set but during playing internet connection is lost while not whole track was buffered.

**To Reproduce**
Steps to reproduce the behavior:
1. Start playing track

[2020-05-06 14:54] Tizoner commented on #89
After experimenting with bufferedPositionStream I found out that after this error, player position is greater than last buffered position so I can understand that the error has occured by comparing those values.

[2020-05-06 14:54] #89 closed

[2020-05-07 02:22] heibor opened #90 "Is it possbile to use dart code to solve the https transport security problem?"
My https sever is self-signed. I have modify the AndroidManifest.xml file by adding android:usesCleartextTraffic="true" to connect to the non-https port to avoid the transport security problem.

I am wondering whether it's possible to use some dart code as an optional solution to the https trusted connection problem.

For example, here is a [dio solution](https://stackoverflow.com/questions/542851

[2020-05-09 16:01] ryanheise commented on #90
Hi @heibor , I don't consider this to be a feature request. If you want to know how to use the Dart APIs with respect to https with self-signed certificates, you can either read the Dart API documentation, or ask on StackOverflow or Gitter for help.

[2020-05-09 16:01] #90 closed

[2020-05-10 04:59] bakatsuyuki opened #91 "`setFilePath` is not working."
**Describe the bug**
`setFilePath` is not working to file in temporary directory.
There is no sound and no error message even if run minimal reproduction project.

**Minimal reproduction project**
[code]

**Desktop (please complete the following information):**
 - OS: MacOS 10.15.3

**Smartphone (please complete the following information):**
 - Device: iPhone X
 - OS: iOS13.3.1

**Flutter SDK vers

[2020-05-10 07:37] ryanheise commented on #91
I'm not sure, but my guess is that your MacOS runs in a sandbox and may need certain permissions declared in your entitlements or plist files.

[2020-05-10 08:17] bakatsuyuki commented on #91
Sorry, I was not told that it occurs in real machine(iPhoneX iOS10.15.3).
And `setUrl` works fine.

By the way, already set to plist
[code]

If you do not mind, I want a sample that works fine `setFilePath` with file in temporary directory.

[2020-05-10 08:56] bakatsuyuki commented on #91
And I'm sorry many times.

Maybe my file is crashed because another library same don't work this file.
And another sample works fine.
Thank you.

[2020-05-10 08:56] #91 closed

[2020-05-11 02:30] gitmoto commented on #83
sweet. Really appreciate the quick turnaround on this!

[2020-05-12 10:40] taichanvn opened #92 "Source error: Loading finished before preparation is complete"
These errors occur when playing [this audio](https://ia802702.us.archive.org/33/items/prideandprejudice_1005_librivox/prideandprejudice_01_austen.ogg):

[code]

This error can be reproduced using the example project, just change the audio url to the link above.

[2020-05-16 23:08] pureimpro commented on #71
Hello @ryanheise,
did you manage to find the time to implement the IOS part of ClipAudio ?
This would be great since this is a real showstopper for me.
I hope you understand. Sorry to bother you !

[2020-05-19 13:23] pro100svitlo commented on #74
Some of my ios users faced with same issue:
audio playing (they see seek bar updates) but there are no sounds.

devices: iphone se, iphone 6plus.

[2020-05-20 09:26] chrisjue commented on #74
I am facing the same problem, I noticed that in my case the issue is the iOS silent mode. When the silent mode is active (activated through the hardware switch on iPhones), also the audio player is silent.

[2020-05-20 10:56] ryanheise commented on #74
@chrisjue Thanks for the information, that sounds like a likely theory.

@chrisjue , @pro100svitlo , @pankajadhyapak , can you each tell me your use cases? Is your app just playing audio, are you using this in conjunction with other plugins that may for example record audio, play text to speech, or play in the background? It will be tricky to come up with a solution that works within a larger ecos

[2020-05-20 10:58] pro100svitlo commented on #74
In my case, its pretty simple: play audio file (with only `just_audio`) during screen is opened.
No other plugins are used.
Interesting that problem faced only by some users, not by all of them...

[2020-05-20 12:09] pro100svitlo commented on #74
I just pinged a few of my users who face this issue.
This `bug` happens when device in silent mode as @chrisjue mentioned above.

@ryanheise any ideas how to fix that?

[2020-05-20 13:15] ryanheise commented on #74
@pro100svitlo yes, I'm working on a solution now.

[2020-05-20 13:16] pro100svitlo commented on #74
@ryanheise any ETA? 🙏

[2020-05-20 13:17] pro100svitlo commented on #74
just checked this [library](https://pub.dev/packages/audioplayers).
It works fine there, might be helpful to you 😉

[2020-05-20 13:19] pankajadhyapak commented on #74
i have switched to [audioplayers](https://pub.dev/packages/audioplayers) as of now, but really liked this library and covered all of my use cases.

[2020-05-20 13:22] ryanheise commented on #74
ETA probably 1 hour.

[2020-05-20 13:29] pro100svitlo commented on #74
@ryanheise waiting to check it 😉

[2020-05-20 14:42] ryanheise commented on #74
I've just added an extra method to configure the iOS audio session category. There are 6 categories to choose from:

[code]

If you have a media app, Apple recommends that you set it to `playback`. You can call this method during your app's initialisation:

[code]

If you use other audio plugins that internally override this category, I would recommend contacting the author of that plugin and aski

[2020-05-20 14:49] pro100svitlo commented on #74
@ryanheise how I can get that method?

[2020-05-20 14:52] ryanheise commented on #74
This is currently available for testing in git master. You can temporarily update your pubspec as follows:

[code]

[2020-05-20 15:08] pro100svitlo commented on #74
@ryanheise 🎉
problem solved ✅

thanks!

[2020-05-20 15:16] ryanheise commented on #74
Glad to hear :-)

I'll update the README and then publish.

[2020-05-20 15:45] pro100svitlo commented on #74
Not sure, it might be related or no.

Why player stopped on ios when the screen is turned off?
It also happen within new fix.

Do you have any ideas?

[2020-05-20 15:58] ryanheise commented on #74
I have written another plugin called `audio_service` which is designed to wrap around your existing audio code to allow it to run in the background as well as provide play/pause controls on the lock screen and control center. Normally, apps cannot play audio in the background, and so that plugin will help you to enable that feature.

[2020-05-20 16:18] ryanheise commented on #71
@pureimpro I unfortunately haven't found time yet. I do have some ideas for how to go about it, but I have a lot of bugs and feature requests to work through first.

By the way, in the meantime, you can do something fairly inaccurate like this:

[code]

Sorry this is not as good as what is currently supported on Android, and indeed may not be good enough for what you're trying to accomplish.

[2020-05-21 01:38] namiwang commented on #87
Hi @ryanheise , I've encountered issues playing ogg files on both Android and iOS.

# repro
[code]

# Android

[code]

# iOS

On iOS, the duration is null after `await setFilePath`, I tried to `catchError` yet caught nothing.

[2020-05-21 02:03] namiwang commented on #53
Hi @ryanheise  , I've encountered issues playing ogg files on both Android and iOS.

# repro
[code]

# Android

[code]

# iOS

On iOS, the duration is null after `await setFilePath`, I tried to `catchError` yet caught nothing.

[2020-05-21 04:13] pro100svitlo commented on #74
@ryanheise thanks, will take a look.

I came from `android` world and there is a bit different meaning of the background: it still possible to play audio when the screen is off 😄

[2020-05-21 05:56] ryanheise commented on #74
`audio_service` handles audio both when your app is in the background and also when the screen is off. But maybe if you're targeting only iOS and not Android, you might be able to implement a cheaper solution where you just implement the iOS configuration file changes mentioned in the `audio_service` README without actually using the `audio_service` plugin. But if you want to be able to control wh

[2020-05-24 09:34] zencubic opened #95 "Skip or replay 10 seconds"
I use this package with audio_service. There I want to skip or repeat 10 seconds of audio in the BackgroundAudioTask. Unfortunately I have not found an easy way here so far. I tried to use the seek function but I did not find a simple way to get the current position of the audio. Maybe it would be useful to have a function that can skip (or replay) a given amount of time in the audio.

[2020-05-24 09:47] ryanheise commented on #95
I don't think we need to add a specific feature for skipping when you can seek to the current position + 10 seconds.

However, providing a simple way to get the current position would be useful. Currently, you can do this:

[code]

I suppose I could make it simpler by adding a convenience getter like this:

[code]

[2020-05-25 02:03] ryanheise commented on #95
I've added the convenience getter in the latest commit.

[2020-05-25 02:16] ryanheise commented on #92
There is an open issue with ExoPlayer regarding this: https://github.com/google/ExoPlayer/issues/7230

[2020-05-25 02:43] diego-lipinski-de-castro opened #96 "Go back to live audio after pause or stop"
**Describe the solution you'd like**
When streaming, I would like a way to go back to the currently live audio after the user has paused or stopped the player.

Currently, If i stop or pause the player, and play again, it will play the audio as a playback, not what is live at the moment, and I cant find a way to stop that.

Im not sure If Im clear on the problem, Im not sure how I can explain a be

[2020-05-25 19:53] zencubic commented on #95
Many thanks for your effort :+1:

[2020-05-25 19:53] #95 closed

[2020-05-27 00:16] oseiasmribeiro opened #97 "Implement a simple Audio Vizualizer"
Provide a simple Audio Visualizer (showing low, medium and high frequencies) that offers the possibility of increasing or decreasing a number of bars. This is useful for the user to make sure that the audio is being played or recorded in the application. Sometimes the volume or mic can be at a minimum.

![audioVizualizer](https://user-images.githubusercontent.com/36827173/82962281-27ceda80-9f96-11

[2020-05-27 22:26] hinthorozu opened #98 "stop url streams playing in the background"
Hi,
This plugin very very good.

I'm doing online radio. So I can navigate through the pages.
But when I set a new url, it keeps playing the new url with the old one.
How can I end all those playing in the background?

[2020-05-27 22:27] #98 closed

[2020-05-28 22:00] Jeremiah104 opened #99 "Adding Headers to setUrl"
Hi I am new to flutter and I am trying to stream an audio file from amazon s3, this package seems to be able to do everything I need when I use a public link but I need to access a link that uses headers for authentication and I can't find where to add headers.

I'm not sure if there is a simple solution to this that I am unaware of, or if it is a functionality that would need to be added.

[2020-05-28 23:30] shipofsea commented on #99
Hello,
can you let me know the audio file url for test?
thanks

[2020-05-28 23:31] shipofsea commented on #99
I have read your post on upwork.
so I send this message to you here

[2020-05-29 05:45] Maadhav commented on #52
Did u find any solution for this?

[2020-05-29 13:40] faslurrajah opened #100 "Works on emulator(API 27) not working on real device (API 28)"
**Describe the bug**
I used this link for audio. http://sstamilradio.radioca.st/stream/;
It works in android emulator(API 27). Not working in my real device(API 28). Keep rotating

**Minimal reproduction project**

**To Reproduce**

**Error messages**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to he

[2020-05-29 13:41] faslurrajah commented on #100
I need an immediate explanation

[2020-05-29 14:51] oseiasmribeiro opened #101 "Get IcyMetadata from the audio stream on iOS"
I can currently get IcyMedata on Android as the audio title, but that doesn't work on iOS. In the documentation it should explain such an important thing better. Could you show me how to do that?
In android use like this and works perfectly:
`_audioPlayer.icyMetadataStream.listen(
         (icyEvent) {
              print(icyEvent.info.title);
         }
    );`

[2020-05-29 17:33] iansamz commented on #100
Same Problem Here. It works on emulator and android but real device has issues.

[2020-05-29 17:38] iansamz commented on #100
same question is [here](https://github.com/ryanheise/just_audio/issues/74)

[2020-05-29 17:39] iansamz commented on #74
I wish i saw this on the readme. Ive been trying to get this working

[2020-05-29 20:08] FatihAydin52 opened #102 "icyMetadata not change"
**Describe the bug**
When switching from one audio file to another, if there is an error in reading metadata, the metadata of the old audio file remains.

**Minimal reproduction project**
https://github.com/FatihAydin52/just-audio-metadata

**To Reproduce**
Steps to reproduce the behavior:
1. Click play button. Now current song is None
3. Change Radio 1 Button
4. Click again Play button. Now curre

[2020-05-29 21:21] Jeremiah104 commented on #99
Hi thanks for responding,
The url is https://moc-app-test.s3.amazonaws.com/audios/test.mp3.

The audio file URL is inaccessible because you need the authentication headers. This is the goal of my question here - I need to be able to add S3 authentication headers to this package so that I can access and stream a non public file.
(I am using https://github.com/diagnosia/flutter_aws_s3_client to gene

[2020-05-30 02:23] shipofsea commented on #99
Hi, can you provide AWS S3 key for me to test?
I tested stream play with a mp3 from anther server.

[2020-05-30 02:45] ryanheise commented on #100
@faslurrajah , The best way to get a faster explanation is to provide as much information as you can in your bug report, including the minimal reproduction project. You've skipped over most sections of the bug report, including the minimal reproduction project and the smartphone/mobile device.

I tested the URL you provided with cleartext but it worked for me on my Google pixel 3a (API 29), so it

[2020-05-30 02:49] ryanheise commented on #100
Many issues can have the symptom of working on the simulator and not working on the device, so it is better to look at the underlying issue which is different in this case.

[2020-05-30 03:07] ryanheise commented on #74
@pankajadhyapak can you confirm that calling `AudioPlayer.setIosCategory(IosCategory.playback);` works for your scenario? If so, I'll close this issue.

@iansamz This change was released to pub.dev 10 days ago so you shouldn't need to test git master (also note as per my comments on #100 that not all "works on emulator not working on device" issues are the same, and so #74 and #100 are not the sam

[2020-05-30 03:26] chrisjue commented on #74
` AudioPlayer.setIosCategory(IosCategory.playback); `solved the problem for me.
Thank you!

[2020-05-30 03:28] pankajadhyapak commented on #74
Works for me as well, thanks @ryanheise

[2020-05-30 03:46] ryanheise commented on #74
Awesome, thanks for confirming. I'll close this issue.

[2020-05-30 03:46] #74 closed

[2020-05-30 13:46] faslurrajah commented on #100
I found the solution.

I used different audio packages . Nothing worked. All we need to do is allow the INTERNET Permission in AndroidManifist.

[2020-05-30 13:46] #100 closed

[2020-05-31 13:38] pureimpro commented on #71
Thanks for this feedback & workaround , I'll give It a try.
I understand your workload, since I'm notified of all just_audio and audio_service thread messages. Can you even find enough time to sleep ? Lol.

If you don't mind I will ask you once again to prioritize this feature in the near future.

In the meantime, I will definitely give a try to your workaround and give you my feedback.
My main in

[2020-05-31 16:13] ryanheise commented on #71
Thanks for understanding. I would definitely like to implement this feature, but I also have to prioritise the work. If someone else is sufficiently motivated and doesn't want to wait indefinitely for me to get around to it, I would welcome a PR.

The workaround described above will have the effect of overshooting, or playing a bit more audio than desired, I'd guess up to 100-200ms beyond the prec

[2020-06-01 07:08] chuoichien opened #103 "Support Microsoft Windows ?"
Sorry, is this plugin support microsoft windows ?

[2020-06-01 15:26] Jeremiah104 commented on #99
Yeah I just don't want to post that publicly, what is your Upwork name/id? We can talk there and I can get you the keys.

[2020-06-01 20:38] shipofsea commented on #99
ok, then let's discuss via skype
my skype id is live:fc722aec9c3a7bb4
please let you send message here.

[2020-06-03 12:06] getmmg opened #105 "Set User-Agent customization"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently the user-agent is set to just_audio and version, I have a requirement that it needs a custom header.

**Describe the solution you'd like**
Set the UserAgent in AudioPlayer Constructor or an optional argument in setUrl

[2020-06-04 05:48] naguchennai commented on #105
This is only audio service code.. If you want change user agent or customization  you must ask [Just_audio ](https://pub.dev/packages/just_audio#-readme-tab-).. They only playing audio ... thank you

[2020-06-04 05:49] naguchennai commented on #105
Yes i also want it thank you

[2020-06-04 15:29] #99 closed

[2020-06-05 11:41] klitzouille opened #106 "MethodChannel.invokeMethod('stop') not working with previously instanciated player"
**Describe the bug**
I updated the plugin on my local repository so that dart AudioPlayer exposes the internal ID as public property.

Now I have the following use case for an alarm app :
- App schedule a task with Workmanager plugin
- When task is executed (regardless if app is in background or foreground) :
  - Display a notification
  - Store internal ID in shared prefs
  - Play some audio

Whe

[2020-06-06 11:14] ryanheise commented on #106
It is not intended that code outside the plugin use the private method channel of the plugin, and so I wouldn't consider it a bug that this doesn't work. Ideally, this sort of thing would be prevented by Flutter so that the integrity of the plugin is protected.

If you have a use case that isn't supported by the plugin, I would suggest opening a feature request and suggesting the API you would lik

[2020-06-06 12:46] ryanheise commented on #106
If I understand your use case correctly, I don't think you would need any special feature built into this plugin. Most likely the work manager plugin is running your code in a separate isolate. If you have an instance of `AudioPlayer` already playing audio, it will be in a particular isolate. You can use Flutter's existing APIs to communicate between the two isolates using send/receive ports and `

[2020-06-07 03:02] #21 closed

[2020-06-07 03:05] ryanheise commented on #84
Just to update this issue, I have merged @lkho 's pull request for Android, and can now look at web and iOS.

I will need to keep an eye on #23 to ensure that we don't get exceptions rendering the seek bar when the position is greater than the duration.

[2020-06-07 03:45] ryanheise commented on #99
Hi @Jeremiah104 and @shipofsea

Is there a reason why the issue is now closed?

This is a useful feature of benefit to the larger user base and I was going to work on it, but I wasn't sure if @shipofsea had started working on it and didn't want to interfere with that particularly if it was being done through upwork or some other arrangement.

Note that there is now a pull request that implements t

[2020-06-07 03:47] raveesh-me commented on #99
Hi @ryanheise
This was done by Cookytech team on Upwork. @Jeremiah104 is using a fork of our fork of your project, and we decided to send a pull request to share the results with you.

[2020-06-07 04:01] lkho commented on #47
The `FileInfo` stream only provides the progress of the download (while the file is still downloading), but not a data stream. You need to wait for the whole file to be downloaded to get a real file path.

BTW, if you really want to play a URL while it is still being downloaded, there is a [`CacheDataSourceFactory`](https://exoplayer.dev/downloading-media.html) in ExoPlayer, which might serve this

[2020-06-07 04:46] lkho commented on #96
Feature suggestion: add a way to seek to the end of live streams

Android:
`Player.seekToDefaultPosition()` or `Player.seekTo(C.TIME_UNSET)`
iOS:
https://stackoverflow.com/a/13892727
`[player seekToTime: CMTimeMakeWithSeconds(MAXFLOAT, NSEC_PER_SEC)];`

[2020-06-07 05:11] ryanheise commented on #47
I would eventually like to replace the current `setUrl`/`setXYZ` API by a `setDataSource` API which would make it a lot easier to integrate with custom and other ExoPlayer data sources. There are various other motivations for wanting to do this including gapless playback. So I would say this idea is certainly on the table, but not in the short term.

[2020-06-07 07:04] ryanheise commented on #47
I'll leave this link here for later as a guide for how this could be done on the iOS side:

https://vombat.tumblr.com/post/86294492874/caching-audio-streamed-using-avplayer

[2020-06-07 16:27] mohammadne opened #110 "diffrence between AudioPlaybackState and AudioPlayBackEvent"
Hi @ryanheise

What is diffrence between ```AudioPlaybackState``` and ```AudioPlayBackEvent``` ?
I mean that I can't understand your purpose of having both of them instead of only one state ?
because one of ```AudioPlayBackEvent``` property is ```AudioPlaybackState``` ?

also can I know that is it possible to make ```_playbackEventSubject``` not a private field ?
also it seems ```JustAudio``` beco

[2020-06-07 17:05] ryanheise commented on #110
I don't plan to add more documentation on this because I am planning to change the state model soon. After that happens, I will update the documentation.

Note that `AudioPlaybackEvent` encapsulates data sent over the Flutter event channel. The word "event" is used to describe something happening at a particular moment in time. Every time something happens regarding the player on the platform side

[2020-06-08 04:14] ryanheise commented on #105
I have implemented a proxy-based solution in the latest commit. There are still unresolved issues with the the `position<=duration` constraint being violated, although this is regarding a separate PR and I'm working on a fix for that.

Note that the proxy-based solution I implemented does not yet recursively apply headers to items in playlist formats like `m3u8` but it should work for simple URLs

[2020-06-08 08:53] klitzouille commented on #106
Thanks for the feedback. Actually, it is the background isolate that is playing the audio, and I want to stop it from the UI whe user has clicked the notification, but I think what described still apply in this use case, am I correct ?

[2020-06-08 11:16] klitzouille commented on #106
I got it working, thanks a lot for the help

[2020-06-08 11:16] #106 closed

[2020-06-08 14:23] ryanheise commented on #105
The unrelated issue with the duration is now resolved.

Let me know if the headers parameter works for you, or whether you need this to work for playlist formats like `m3u8`.

[2020-06-08 15:40] Jeremiah104 commented on #99
Hi @ryanheise,
Sorry about that lack of communication from me. @raveesh-me has solved the problem for me and I have been using their fork of the repository and it has been working great.

[2020-06-08 17:35] getmmg commented on #105
Hi I am setting Header like below

`Map<String,String> header = {'user-agent' : 'xxx'}`

In the request I am seeing the header as `user-agent: Dart/2.8 (dart:io), xxx`, Is it possible to remove the extra and keep only the xxx as user-agent.

[2020-06-08 17:41] ryanheise commented on #105
Ah, interesting. Yes I can take a look at that tomorrow.

[2020-06-09 02:15] ryanheise commented on #105
This should be fixed in the latest commit.

[2020-06-09 02:47] ryanheise commented on #105
This is now available in the 0.2.0 release.

[2020-06-09 02:49] ryanheise commented on #96
Hi @diego-lipinski-de-castro @lkho 's fix is now available in the latest 0.2.0 release. To use it, call `player.seek(null)` to seek to the end of the live stream. Let me know how it goes.

[2020-06-09 10:34] getmmg commented on #105
Hi @ryanheise

I have noticed couple of issues with 0.2.0

Getting below exception while trying to play some url's

[code]

Also noticed that **IcyMetaData** is not updating anymore.

[2020-06-09 10:45] getmmg commented on #105
I mean whenever I set the custom header in setUrl call IcyMetaData will stop updating.

[2020-06-09 11:16] ryanheise commented on #105
Hi @getmmg

Regarding the Icy Metadata, to help me test, can you try including the following header in your request?

[code]

[2020-06-09 11:33] getmmg commented on #105
Hi @ryanheise,

I did set it, I didn't see any change. What should I be looking?

[2020-06-09 13:31] azizk-araneux opened #111 "Because just_audio >=0.2.0 depends on path ^1.7.0 and every version of flutter_test from sdk depends on path 1.6.4, just_audio >=0.2.0 is incompatible with flutter_test from sdk."
[FLUTTER_APP] flutter pub get
Running "flutter pub get" in FLUTTER_APP...
Because just_audio >=0.2.0 depends on path ^1.7.0 and every version of flutter_test from sdk depends on path 1.6.4, just_audio >=0.2.0 is incompatible with flutter_test from sdk.

So, because FLUTTER_APP depends on both just_audio ^0.2.0 and flutter_test any from sdk, version solving failed.
pub get failed (1; So, because FL

[2020-06-09 14:45] ryanheise commented on #105
Hi @getmmg

I have hopefully fixed the missing icy headers issue in the latest commit. You should not need to pass the icy header manually now, that will be done by the plugin, so you can try just sending your user agent.

I am not sure about the other error though (the parse error) since I wasn't able to reproduce it.

Let me know how it goes.

[2020-06-09 15:02] ryanheise commented on #111
Hi @azizk-araneux please read and follow the instructions carefully when you post a new issue. I will reopen once you have edited your post to do so.

[2020-06-09 15:02] #111 closed

[2020-06-09 15:46] ryanheise commented on #68
This should be implemented correctly in the 0.2.0 release, where `null` is returned for an unknown duration. I'll close this, but please let me know if the issue persists and I'll reopen.

[2020-06-09 15:46] #68 closed

[2020-06-09 15:49] ryanheise commented on #84
This is now released in 0.2.0 and the rendering exception has also been fixed.

[2020-06-09 15:49] #84 closed

[2020-06-09 15:52] ryanheise commented on #23
In version 0.2.0, the behaviour has been changed so that if the duration is unknown, the raw position will be returned (e.g. in streaming), while if the duration is known, the position will be clipped at `min(position, duration)`. This accounts for the unreliability of the position with respect to the duration.

[2020-06-09 15:52] #23 closed

[2020-06-09 17:02] getmmg commented on #105
Hi @ryanheise,
Yes IcyHeaders are working now Thanks.

This is running fine

`audioPlayer.setUrl('http://109.169.23.22:28976/')`

and this is the user-agent added by android exoplayer   **User-Agent: just_audio/1.0.15 (Linux;Android 7.1.2) ExoPlayerLib/2.11.4**

When I run the same with the Proxy Server and set the same useragent its failing giving the error

`audioPlayer.setUrl('http://109.169.23

[2020-06-09 17:45] ryanheise commented on #105
Thanks for these test cases, it will be really useful. It is getting quite late here (3:45am!), so I will look into this tomorrow.

[2020-06-09 18:10] diego-lipinski-de-castro commented on #96
Worked on Android, on iOS (13.5) it does nothing tho

[2020-06-10 02:59] ryanheise commented on #96
Hi @diego-lipinski-de-castro

On line 77 of `ios/Classes/AudioPlayer.m` would you be able to try changing `kCMTimePositiveInfinity` to `CMTimeMakeWithSeconds(MAXFLOAT, NSEC_PER_SEC)` and let me know if it works in your case?

Another alternative to try is to replace lines 77-78 with:

[code]

[2020-06-10 05:12] naguchennai commented on #111
Because every version of flutter_test from sdk depends on path 1.6.4 and just_audio >=0.2.0 depends on path ^1.7.0, flutter_test from sdk is incompatible with just_audio >=0.2.0.
So, because tamilradiomusic depends on both just_audio ^0.2.0 and flutter_test any from sdk, version solving failed.
pub get failed (1; So, because tamilradiomusic depends on both just_audio ^0.2.0 and flutter_test any fr

[2020-06-10 05:13] naguchennai opened #112 "sdk depends on path 1.6.4 and just_audio >=0.2.0 depends on path ^1.7.0,"
Because every version of flutter_test from sdk depends on path 1.6.4 and just_audio >=0.2.0 depends on path ^1.7.0, flutter_test from sdk is incompatible with just_audio >=0.2.0. So, because  depends on both just_audio ^0.2.0 and flutter_test any from sdk, version solving failed. pub get failed (1; So, because  depends on both just_audio ^0.2.0 and flutter_test any from sdk, version solving failed

[2020-06-10 05:13] ryanheise commented on #105
The reason for the parse error is because `http://109.169.23.22:28976/` is giving a HTTP/0.9 response which is unfortunately not supported by The Dart HTTP libraries.

I can implement a solution that will work for Android only if that will address your immediate needs.

In terms of iOS, there are several options from easiest to hardest:

* Use an undocumented iOS API that may risk your app getting

[2020-06-10 05:17] getmmg commented on #105
Hi @ryanheise,

Android only solution is fine, since I am not building anything for ios at least for now.
Http 1.0 stream you mentioned is a different different stream which I am not interested.

[2020-06-10 05:34] #112 closed

[2020-06-10 05:43] naguchennai opened #113 "Upgrade to just_audio 0.2.0 error"
`Because just_audio >=0.2.0 depends on path ^1.7.0 and every version of flutter_test from sdk depends on path 1.6.4, just_audio >=0.2.0 is incompatible with flutter_test from sdk.

So, because FLUTTER_APP depends on both just_audio ^0.2.0 and flutter_test any from sdk, version solving failed.
pub get failed (1; So, because FLUTTER_APP depends on both just_audio ^0.2.0 and flutter_test any from sdk

[2020-06-10 06:17] #113 closed

[2020-06-10 10:42] ryanheise commented on #105
Being a little crazy, I decided on implementing what I thought was the hardest option :-) It turned out to be easier than expected because Dart's HTTP API allows me to detach the socket and implement and handle this exceptional case.

Anyway, I've committed this latest change. Let me know if it works for you.

[2020-06-11 18:37] odrevet commented on #51
Many thanks ! Addressed with release 0.2.0

[2020-06-11 18:37] #51 closed

[2020-06-12 16:48] ariefwijaya commented on #111
same issue, any solution for this one ?

[2020-06-12 16:53] ryanheise commented on #111
One solution to this is to please read and follow the instructions carefully when you post a new issue (as I mentioned above). Thanks.

[2020-06-12 23:45] ariefwijaya commented on #111
Found the solution, it's because just_audio plugin using path version that doesn't updated yet on flutter stable. Just override the path version in your pubspec.yml:
[code]

[2020-06-12 23:54] ariefwijaya commented on #4
@ryanheise  How if we want to do some action after `play` method  success ? where we gonna put the function since the `play ` method await until paused or stop.

[2020-06-13 02:42] ryanheise commented on #4
@ariefwijaya , almost all errors can be caught on the initial load (during `setUrl`) and the rest can be caught asynchronously during playback since the errors are also emitted on the stream. On iOS I've currently only implemented the first category of errors on `setUrl` but Android also reports asynchronous errors.

You should not expect `play` to fail immediately since the prior call to `setUrl`

[2020-06-13 04:10] ariefwijaya commented on #4
@ryanheise Okay, Thankyou for detail explanation. So, we can determine the play event will be failed or not in setUrl callback,

[2020-06-14 11:19] Sauceee commented on #4
@ryanheise I currently have also trouble to catch errors. Currently just testing on android. How do I catch asynchronous errors?

For example, if I play an url audio file and turn off the internet connection and do a seek after that, I only get the following in the console:

`E/ExoPlayerImplInternal(11872): Source error
E/ExoPlayerImplInternal(11872):   UnknownHostException (no network)
E/AudioPla

[2020-06-14 12:52] ryanheise commented on #4
Hi @Sauceee

The Dart tutorial on streams may be helpful with regards to error handling: https://dart.dev/tutorials/language/streams

Updating the playing state and also having `play` throw an exception both sound like good ideas. I'll consider them for the future.

[2020-06-15 04:49] Sauceee commented on #4
@ryanheise Thank you, that helped!

[2020-06-17 21:14] oseiasmribeiro commented on #56
_audioPlayer.icyMetadataStream.listen(
      (icyEvent) { ... }
); works well for android, but how to get the audio title on iOS?

[2020-06-18 03:04] ryanheise commented on #56
It is not implemented on iOS yet. I've reopened this issue, and I'll note below a useful reference example for how I might be able to implement it:

https://stackoverflow.com/questions/27955125/timed-metadata-with-avplayer

[2020-06-18 11:46] naguchennai commented on #113
i also have same problem then i switched to flutter Channel dev, mod and update flutter .. then only i will work. i dont know why

[2020-06-18 11:59] naguchennai opened #114 "With Header weird behavior"
**Describe the bug**
I have two shoutcast server: shout1 and shout2
i used with custum useragent

`   Map<String,String> header = {'user-agent' : 'test'};
   await _audioPlayer.setUrl(mediaItem.id, headers: header);`

When start play in shout1 server its showing 3 playing instance in my single ip..
then i go ti next song its from shout2.. now here also showing 3 playing instance in the same ip..
w

[2020-06-18 12:04] BethshanDeveloper opened #115 "Unsupported URL when trying to play downloaded audio on iPhone simulator"
**Describe the bug**
When trying to play an mp3 file using `setUrl` I encounter the PlatformException `unsupported URL`. The URL is `/Users/{username}/Library/Developer/CoreSimulator/Devices/A520E7A3-0301-4F56-97E5-D39412EB4E53/data/Containers/Data/Application/34504AF2-2077-4645-9FD8-8BE249FECEAA/Documents/Download/Worship_podcast_episode_6.mp3`. I'm not sure whether this is an issue of trying to

[2020-06-18 13:09] BethshanDeveloper commented on #115
Originally I was using the audio_players package, but I switched to just_audio when I started using audio_service. audio_players can open and play a url like this, so I don't think it's an issue with permissions accessing that folder in the simulator, I think it is actually the just_audio `setUrl` function.

[2020-06-18 13:25] BethshanDeveloper commented on #115
Ok I've just stumbled on the answer - apparently in order to open a local file like this one I need to add `"file://" to the front of my url. I worked this out by looking at your code in `https://github.com/ryanheise/just_audio/blob/master/darwin/Classes/AudioPlayer.m` line 190 where you make this check to distinguish local files.

I'm getting my path using `'package:path_provider/path_provider.da

[2020-06-18 14:05] ryanheise commented on #115
You might be confusing the concept of a URL with a file path.

[2020-06-18 15:15] oseiasmribeiro commented on #101
This problem was reopened in https://github.com/ryanheise/just_audio/issues/56

[2020-06-18 15:15] #101 closed

[2020-06-18 15:21] oseiasmribeiro commented on #56
@Jei Can you add this option also for iOS too? I'm not that expert yet. LOL I really need this in my project!

[2020-06-18 16:43] ryanheise commented on #113
Duplicate of #111

[2020-06-18 16:48] ryanheise commented on #114
Hi @naguchennai , I would like to investigate this bug, but please complete all sections of the bug report template as per the instructions (I understand that English is not your first language, although I would suggest using Google Translate to help you to follow the instructions).

[2020-06-18 17:54] gustavotroisi opened #116 "Autoplay"
**To which pages does your suggestion apply?**

https://pub.dev/packages/just_audio#-example-tab-

**Quote the sentences(s) from the documentation to be improved (if any)**

I would like to implement player.play() automatically once a remote file is loaded

**Describe your suggestion**

Hello, is it possible to autoplay a remote audio source? How would be the procedure? many thanks

[2020-06-18 20:10] alakhsingh opened #117 "Audio Processing state is ready when internet is off for a URL audio file"
**Describe the bug**
When streaming content of a CDN (Cloudfront), I see that when the internet is turned off the state changes to buffering for a brief second and then changes to ready at this point, I receive no audio.
audio_serivce: 0.9.0 and just_audio 0.2.1
**Minimal reproduction project**
I think you can reproduce it with the example project.

**To Reproduce**
Steps to reproduce the behaviou

[2020-06-19 01:53] ryanheise commented on #116
@gustavotroisi Can you please fill in the sections of the documentation request template?

[2020-06-19 01:59] ryanheise commented on #117
Hi @alakhsingh

All ExoPlayer errors are passed on to the Flutter side through the stream. I would expect you can listen to these and detect this sort of error, but I can't reproduce without a reproduction project.

[2020-06-19 02:14] gustavotroisi commented on #116
Sorry @ryanheise , I tried to explain what I would like to achieve. Many thanks

[2020-06-19 02:36] ryanheise commented on #116
The example tab isn't documentation. The documentation is via the link called "API reference". If you then click on the just_audio library, you can see the documentation per class. If you click on `AudioPlayer`, you can see the documentation for that class. Please read through it and tell me which method you would like more documentation on, and please quote the sentence which can be improved as w

[2020-06-19 02:56] alakhsingh commented on #117
Hi @ryanheise,
Thank you for replying. I used the example project, ran on One Plus 5T phone to reproduce the issue.
Steps followed:
1. Press AudioPlayer.
2. When the audio starts streaming, turn off wifi and mobile data.
3. Seek to a random position towards the end, check the logs. You should see `E/flutter (13848): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: PlatformExceptio

[2020-06-19 03:10] #116 closed

[2020-06-19 06:50] ryanheise commented on #117
The future plan is to make the state model more closely resemble ExoPlayer's state model, although it doesn't have an error state. Certainly also the position stream should stop emitting in this case, even if there isn't an error state.

[2020-06-19 18:20] naguchennai commented on #117
yes i also need 404 state.. if url error..nothing happend no state received.. but exoplayer throw error

[2020-06-19 18:22] naguchennai commented on #114
any update? i think proxy not stoped when changing next url list..

[2020-06-20 02:11] ryanheise commented on #117
@naguchennai as mentioned, all asynchronous ExoPlayer errors are emitted on the event stream, while all synchronous errors can be caught on `setUrl`. There are some improvements that could be made to the state but the errors should be available.

[2020-06-20 02:13] ryanheise commented on #114
You haven't completed the bug report as I instructed, so no update until you do that. When you filed your bug report, you deleted all of the sections I need even though the instructions said please do not delete those sections. Until you provide the needed information, unfortunately I can't process your bug report.

[2020-06-20 05:29] naguchennai commented on #114
i edited something ... i dont know how can i explain ... i thing u understand

[2020-06-20 06:35] ryanheise commented on #114
@naguchennai I'm sorry but you are still missing critical sections of the bug report.

Please go to the original issue template and copy everything back into your issue, or if you find that too difficult, you may instead close this issue and start a new issue where you will be able to see the instructions and all of the required sections still intact (but please don't delete them this time, and ma

[2020-06-20 13:47] naguchennai commented on #114
now its  updated.. pls try to pix it

[2020-06-20 14:37] ryanheise commented on #114
I can't reproduce the bug without a reproduction project and steps to reproduce.

This is the 5th time I've asked, and I do not intend going for a 6th, so please help me to help you.

[2020-06-21 07:33] naguchennai commented on #114
lol..... still u not understand? you know what u did? i dont want speak more here  contact me live4uin@gmail.com.  Just watch this video .. dont skip..  contact me i will write what already happening..  because of your code dont skip
https://www.youtube.com/watch?v=tp_4VY3LC5E&feature=youtu.be

**dont skip**

[2020-06-21 07:36] naguchennai commented on #114
delete above comments after you reed.. you don good job .... thank you.. i am also try to using your code...

[2020-06-21 08:01] ryanheise commented on #114
@naguchennai I'm sorry but I have given you my instructions from the start, and they were quite clear:

[code]

It was not a great start that you deleted all sections of the bug report and left out virtually all of the information I need to proceed. In total, you have been asked 5 times to please complete the bug report, but you seem to be uninterested in cooperating.

Please understand that this

[2020-06-21 08:01] #114 closed

[2020-06-21 08:10] naguchennai opened #118 "Hackers Using just_audio script for hacking my shoutcast server"
Hackers Using  just_audio script for hacking my shoutcast server
They sent thousand of connection we got 5 server already  crashed and of data hacked  i already rises this problem but they deleted my post no response ...

[2020-06-21 08:18] ryanheise commented on #118
Duplicate of #114

[2020-06-21 08:18] #118 closed

[2020-06-21 10:12] nanthakumarfm commented on #118
Yes bro My icecast server recieved 500+ listerner from same ip same time i found that app from play store they using flutter with  just_audio

[2020-06-21 10:28] ryanheise commented on #118
@nanthakumarfm what was the name of the app? Do you have a link?

[2020-06-21 17:05] ryanheise commented on #97
I also think this feature would be a good idea, although it is not necessarily the highest on my personal priority list. I will of course welcome pull requests.

The underlying API on the Android side to implement this is:

https://developer.android.com/reference/android/media/audiofx/Visualizer

This API is relatively straightforward to use.

However, on iOS, it does not appear to be as straightf

[2020-06-21 17:08] ryanheise commented on #102
Hi @FatihAydin52 my apologies for taking so long to reply, I have had a long backlog of issues.

But I have added this to the list of issues I will look into next.

[2020-06-22 07:39] Jei commented on #56
Hey @oseiasmribeiro! Unfortunately, I don't own any Apple device at the moment, so I don't think I'll be able to write and test the iOS version of these changes. It's also the reason why I released my current project only on the Play Store.

[2020-06-22 08:30] BethshanDeveloper commented on #115
Ok, as a user it took me a while to work out what was wrong here and I didn't find it intuitive. I'm happy to raise another ticket for this under feature request as it's not really a bug, but which of these solutions would you prefer?

1. Update documentation (FAQ or setURL documentation string) to explain how to reference a local file
2. Rename setURL to setURI if it includes local files with the

[2020-06-22 10:59] ryanheise commented on #115
What I meant by this comment is that there is a separate method for each of these, and there is also another one for assets:

`setUrl`
`setFilePath`
`setAsset`

Since the string you obtained from `path_provider` is a file path, not a URL, you should use `setFilePath` instead of `setUrl`. Your confusion is only from not recognising that a file path is not a URL, otherwise I suspect you might have f

[2020-06-22 19:34] oseiasmribeiro commented on #97
Thanks for your answer! I look forward to and await this resource.

[2020-06-24 08:18] ened opened #119 "0.2.1 is incompatible with current Flutter stable version (1.17.4)"
**Describe the bug**
Adding the 0.2.1 version in pubspec.yaml of a source project causes this error:

[code]
**Expected behavior**
The plugin should be compatible with stable, dev, beta & master branch of Flutter.

**Flutter SDK version**
[code]

[2020-06-24 13:16] ryanheise commented on #119
Thanks, @ened . I tend to live on the beta branch in order to maintain web support for the plugin which isn't yet available on stable, so I didn't notice this.

The next stable release is still a few weeks away, so I have reverted the path dependency back to 1.6.4.

[2020-06-24 13:26] ened commented on #119
Many thx!

[2020-06-24 13:30] #119 closed

[2020-06-26 13:23] oseiasmribeiro commented on #56
@Jei Ok. Thanks!

[2020-06-30 09:05] sachaarbonel commented on #47
I was reading the rxdart doc when I came across this [feature](https://pub.dev/documentation/rxdart/latest/rx/SwitchIfEmptyStreamTransformer-class.html) that could become handy for this feature request

[2020-06-30 12:58] coder-pour-changer-de-vie opened #120 "Example error"
Hello, first of thanks for this plugin !

i'm playing Example but dealing with error, i think it is well catched so can you tell me if it can occured from just_audio ?

Erro and flutter proposal are

"The offending widget is: StreamBuilder<FullAudioPlaybackState>
Build functions must never return null.

To return an empty space that causes the building widget to fill available room, return "Contai

[2020-06-30 17:33] ryanheise commented on #47
I am not sure since the downloading actually happens on the platform side of the plugin.

However, it just occurred to me that after recently implementing an HTTP proxy in the plugin, this may actually help, since now the Flutter (Dart) side of the plugin can intercept the bytes being downloaded from the server and I could potentially implement caching in the proxy.

[2020-06-30 17:35] ryanheise commented on #120
To help manage incoming issues, can you please use the issue templates by clicking on the "New issue" button? Thanks.

[2020-06-30 20:05] coder-pour-changer-de-vie opened #121 "Example error"
**Describe the bug**
i'm playing Example but dealing with error, i think it is well catched so can you tell me if it can occured from just_audio ?

Error is :
------------
"The offending widget is: StreamBuilder
Build functions must never return null.

Debug suggestion is :
-----------------------------
"To return an empty space that causes the building widget to fill available room, return "Conta

[2020-07-01 02:52] ZCHUANGJie opened #122 "当音频正在播放时被拨打电话打断，如何恢复播放"
当音频正在播放时被拨打电话打断，有什么方法可以监听被打断的原因，并且结束拨打电话时可以重新回复播放？

[2020-07-01 02:52] ZCHUANGJie opened #123 "当音频正在播放时被拨打电话打断，如何恢复播放 How to resume playing audio when it is interrupted by a call"
当音频正在播放时被拨打电话打断，有什么方法可以监听被打断的原因，并且结束拨打电话时可以重新回复播放？

When the audio is interrupted by a call while it is playing, is there any way to monitor the reason for the interruption and resume playing when the call is over?

[2020-07-01 02:53] #122 closed

[2020-07-01 03:23] ryanheise commented on #123
This is not a "bug". I will close this (but please read the FAQ to find your answer)

[2020-07-01 03:23] #123 closed

[2020-07-01 12:32] ryanheise commented on #121
Thanks, I will look into it. Do you happen to have the error output?

[2020-07-03 07:35] FatihAydin52 commented on #102
Okay. I am waiting. Thank you for your interest.

[2020-07-03 19:29] faress123 opened #124 "Error when build app"
I have an error when I build the flutter app,

the error is :

[code]

can you help me ????

[2020-07-04 03:09] ryanheise commented on #124
.6.4-all.zip

For now you can downgrade your gradle version to 5.6.2 (which just_audio uses) by editing your gradle-wrapper.properties file. This is the version of gradle that is generated by "flutter create" and is the most likely to avoid version conflicts. If that does not resolve the issue for you, I'm afraid I can't help until you fill in a complete bug report.

[2020-07-04 04:33] ryanheise commented on #115
This API will change once #36 is implemented and so this question may resurface in the choice of naming URI vs URL.

But for now, I think the documentation is accurate on `setUrl`, `setFilePath` and `setAsset`. Are you OK if I close this now?

Note that Flutter uses the `Uri` class even for method parameters where only a URL would be appropriate. So you have examples such as `HttpClient.getUrl` wh

[2020-07-06 08:04] BethshanDeveloper commented on #115
I think many people don't really appreciate the difference between a URI and a URL anyway to be honest, so I'm happy for you to close this, thanks!

[2020-07-06 10:15] #115 closed

[2020-07-06 20:25] fuzing opened #125 "Audio Looping"
I was just wondering if there is any plan to implement audio looping in the (near) future.   This is definitely a feature that I think many would find useful.

My particular use case requires this to be gapless - so if this was made available, that would be awesome.

Cheers, and thanks!

[2020-07-07 01:44] ryanheise commented on #125
Hi @fuzing what platforms do you need this for?

[2020-07-07 11:38] sachaarbonel commented on #103
Some of my research notes on the subject. We could make FFI bindings to:
 "[ASIO](https://www.steinberg.net/en/company/developers.html) is an audio driver protocol by Steinberg. While it is available on multiple operating systems, it is most commonly used on Windows to work around limitations of WASAPI including access to large numbers of channels and lower-latency audio processing.". This the des

[2020-07-07 11:47] sachaarbonel commented on #97
Someone made a plugin (only Android) [FlutterVisualizers](https://github.com/iamSahdeep/FlutterVisualizers)

[2020-07-07 11:59] fuzing commented on #125
I need it for Android and IOS.  Sorry, I'd forgotten to be more specific.

Thanks for your assistance with this.

[2020-07-07 12:13] sachaarbonel commented on #20
Some of my research notes for iOS:
- [FlacDecoder.m](https://github.com/ap4y/OrigamiEngine/blob/0bbdc3c5344b631e039a67a0aff481746e1aded3/OrigamiEngine/Plugins/FlacDecoder.m) requires [libFLAC](url)
- [OpusFileDecoder.m](https://github.com/ap4y/OrigamiEngine/blob/0bbdc3c5344b631e039a67a0aff481746e1aded3/OrigamiEngine/Plugins/OpusFileDecoder.m)

[2020-07-07 12:30] ryanheise commented on #125
Do you need to loop a single track or a whole playlist, or both?

[2020-07-07 13:14] fuzing commented on #125
For my application it's just a single track - I use looping to provide an endless ambient background track (jungle noises, sounds of a river, etc.), which is why gapless is important for my use case.

[2020-07-07 16:29] emaddoma commented on #44
I've been banging my head for 4 days trying to solve for this error.  Everything in my app works fantastic on iOS but I'm getting these errors on Android.

`E/flutter (18855): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method init on channel com.ryanheise.just_audio.methods)
E/flutter (18855): #0      MethodChannel._invokeMe

[2020-07-07 16:38] ryanheise commented on #44
This error (while difficult to read without link breaks) is most likely due to outside factors other than just_audio, particularly other plugins you use in your project that create `FlutterEngine`s or the way that you may be loading plugins. From your error message, it appears you're using audio_service which does create `FlutterEngine`s, so you could try posting a bug report on that project.

[2020-07-07 17:44] stonega commented on #44
@emaddoma  Looks like you want to run plugins in isolate, but origin isolate in dart don't support plugins. Just my thought.

[2020-07-07 17:52] emaddoma commented on #44
@stonega Interesting.  As I said, I don't have any issues on iOS so I'm skeptical that this is rooted in Flutter isolate

[2020-07-07 18:02] stonega commented on #44
@emaddoma You can try this isolate plugin if you want to run plugins in isolate https://github.com/rmawatson/flutter_isolate

[2020-07-07 18:18] ryanheise commented on #44
It's difficult to read without the line breaks, but it looks like the error is occurring from within a background audio task created by audio_service which uses the same techniques as flutter_isolate, so I don't think flutter_isolate would help here.

See my previous reply for next steps. You can verify that just_audio is not the cause of the bug by trying to use any other random plugin of your ch

[2020-07-07 19:41] emaddoma commented on #44
@ryanheise Thank you for the thoughtful response.  There are a few other plugins that may be involved here, but I'm still not entirely clear on why there would be a problem on Android and not iOS.  I'll see if I can come up with a stripped-down version of the app to demonstrate.

[2020-07-08 21:10] emaddoma commented on #44
@ryanheise Is there any chance I could invite you to our private repo to have a quick look?  I could provide notes on the structure and expected behavior.

[2020-07-09 03:06] ryanheise commented on #44
@emaddoma I used to offer to do that when I had a small number of users, but unfortunately I'm just too busy to offer that service anymore. In most cases when people ask me to take a look at their project, it turns out that it's not really a bug in my plugin and really had nothing whatsoever to do with me, and I ended up essentially spending all of my weekend helping to debug someone else's projec

[2020-07-09 17:39] jjb182 opened #126 "Stereo, Left, or Right channel audio playing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Not related to a problem. I would just like to be able to play a specific audio channel. I'd love to be able to set, Left, Right, or Stereo.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I

[2020-07-11 04:11] jjb182 commented on #126
Hi Ryan, I see 'assigned'... that seems like progress!
I've looked over other people's request, and now I wish that I'd cleaned mine up more. Sorry, just new to this.
At the moment, I only need this (urgently) for Android. iOS maybe later, and Web would be amazing.
If you need any more clarification, I am happy to supply as much as you need, and to test whatever you have.
Thanks again Ryan.
jjb

[2020-07-14 04:04] ryanheise commented on #126
Hi @jjb182 , thanks for the feature request. FYI, issues are automatically assigned to me and placed into my backlog. When I begin working on a feature, I change the "backlog" label to "fixing" (which I should probably rename since the word "fixing" is more applicable to bug reports than feature requests).

Currently I am working on #36 and #125 which is turning out to be 2-3 weeks of work. Some i

[2020-07-14 04:14] jjb182 commented on #126
Hi Ryan, I'm very new to Flutter and Git for that matter, and though I
think that it will be equally fast to wait for you as to try to implement
something myself... perhaps today is the day that I learn about pull
requests.  So please tell me what I need to do to get started on a PR.

Thanks
jjb

On Tue, Jul 14, 2020 at 12:04 AM ryanheise <notifications@github.com> wrote:

[2020-07-14 04:36] ryanheise commented on #126
Thanks for offering to have a go at it. I may not be able to teach you how to do it, but there are good tutorials online if you try the following Google searches:

- how to create a pull request on github
- git tutorial

[2020-07-14 10:59] nsilina commented on #4
Did you find any solution? Unfortunately, I have the same problem

[2020-07-14 11:02] ryanheise commented on #4
@nsilina If you you're just playing a simple audio file, not a stream, you can do this:

[code]

If you're playing a stream, errors can occur at any time after the initial loading, so you need to listen to errors on the stream (see the link I provided above if you need to learn more about streams).

[2020-07-14 15:05] Sauceee commented on #4
@nsilina Yes, with the link provided by @ryanheise I came up with the following implementation:

[code]

[2020-07-14 20:34] nsilina commented on #4
@Sauceee , thank you

[2020-07-16 12:44] ariefwijaya opened #127 "Reduce delay when setUrl and add setAutomaticallyWaitsToMinimizeStalling capability on android"
**Is your feature request related to a problem? Please describe.**
I've got delay time after calling setUrl(..) before start play the audio.

**Describe the solution you'd like**
Currently, just_audio has setAutomaticallyWaitsToMinimizeStalling function to reduce the delay but only on ios. It will be nice if
setAutomaticallyWaitsToMinimizeStalling also worked on android. So the delay time for setU

[2020-07-17 01:02] emaddoma commented on #44
@ryanheise I found the problem.  I can't explain why, but the plugin gallery_saver was not compatible

[2020-07-17 02:05] ryanheise commented on #44
I used to have a section in the README about how you can approach the developers of other plugins and ask them to adapt their plugin to function correctly in the background, although it seems I have deleted it. Still, my recommendation would be to submit a feature request on that project, supplying all information necessary to help the developer understand the issue.

[2020-07-17 12:13] ReaganRealones opened #128 "Playing Audio Cache support"
**Which API doesn't behave as documented, and how does it misbehave?**
While an online (remote) audio file is playing and maybe almost completed, calling `audioPlayer.seek()` to a past position seems to make another network request

**Expected behavior**
I expected that the playing file is cached into memory, so that while it's playing and may be reaching the end, seeking to a past position should

[2020-07-17 12:53] ryanheise commented on #128
Can you please complete all sections of the bug report template?

[2020-07-21 23:10] gmatiastor opened #129 "fullPlaybackStateStream duplicated"
Hello,

I'm sure you can guide me to the right solution in this issue. Thanks in advance.

**Which API doesn't behave as documented, and how does it misbehave?**
fullPlaybackStateStream.listen()

Possible error:
fullPlaybackStateStream streams duplicated events . In particular, two similar events with "completed" stated are streamed , triggering twice the code I need to execute only once when play

[2020-07-22 02:57] ryanheise commented on #129
That particular stream updates whenever the playback state changes, whenever the buffering state changes, and whenever the icy metadata changes. So if the icy metadata changes but the playback state stays the same, you will still get a new event emitted on that stream.

If you're only interested in the playback state, you can listen directly to `AudioPlayer.playbackStateStream`. If you're interest

[2020-07-22 21:33] gmatiastor commented on #129
Thank you very much!!

[2020-07-22 21:33] #129 closed

[2020-07-25 08:27] mohammadne opened #130 "play an audio url file with initial seek position"
in my case I have 2 url which periodically I should pause first audio and play second audio url from a certain position and vice versa.

so my question is that how to play an audio url file with **initial** seek in the best way.
the current way do it is:
[code]

Thanks @ryanheise

[2020-07-25 08:35] ryanheise commented on #130
Hi @mohammadne

If you do `await player.setClip(...)` you set select a time range of audio to start and end at. Then, if you do `await player.play()` it will wait for that period of audio to completely play before returning.

[2020-07-25 08:37] mohammadne commented on #130
yes.
that is what exactly I want.
Thanks.

[2020-07-25 08:37] #130 closed

[2020-07-27 18:32] ryanheise opened #131 "Gapless playlists, composable looping, clipping and shuffling (TESTERS NEEDED!)"
Hey everyone. This set of features has involved a huge amount of work. Actually, it would have been a day's work for Android, a week for Web, and 3 weeks for iOS (due to its weird APIs, and still it is not 100% perfect).

You can try it on the media-source branch (edit: this has now been merged to master).

I have modeled this set of features after ExoPlayer's composable media source API, and emul

[2020-07-27 18:44] ryanheise commented on #125
Hi @fuzing , looping is now supported in the media-source branch. Please see issue #131 for details and I will close this issue.

[2020-07-27 18:44] ryanheise commented on #125
Duplicate of #131

[2020-07-27 18:44] #125 closed

[2020-07-27 18:46] ryanheise commented on #71
Hi @pureimpro

This is now implemented on the media-source branch. See #131 for details.

I will close this issue as a duplicate of #131

[2020-07-27 18:46] #71 closed

[2020-07-27 18:46] ryanheise commented on #71
Duplicate of #131

[2020-07-27 18:47] ryanheise commented on #36
This is now implemented on the media-source branch. See #131 for details.

I will close this as a duplicate.

[2020-07-27 18:48] ryanheise commented on #36
Duplicate of #131

[2020-07-27 18:48] #36 closed

[2020-07-27 19:18] fuzing commented on #125
Amazing - thank you so very much for your assistance with this!

On Mon, Jul 27, 2020 at 12:44 PM ryanheise <notifications@github.com> wrote:

[2020-07-27 23:13] fuzing commented on #131
Ryan -

Kudos - and thank you so much for this!

Just so I have the API correct - is this the general idea?:

`
   final AudioPlayer audioPlayer = AudioPlayer();
   final uri = Uri(path: 'https://somesite.com/media.mp4');
   final audioSource = LoopingAudioSource(audioSource: AudioSource.uri(uri));
   await audioPlayer.setAudioSource(audioSource);
   audioPlayer.play();
`

The only reason I ask is

[2020-07-27 23:36] yringler commented on #131
Looks like it's called `load` (Seek [here](https://github.com/ryanheise/just_audio/blob/media-source/lib/just_audio.dart#L308))
Also, make sure to load [from git](https://flutter.dev/docs/development/packages-and-plugins/using-packages#dependencies-on-unpublished-packages).
Specify a ref for the branch (media-source) or the commit hash.
Personally I prefer using commit hash because it makes my cod

[2020-07-28 00:51] fuzing commented on #131
ahhhh - thank you - I'll try load().

I appreciate your quick feedback.

On Mon, Jul 27, 2020 at 5:37 PM Yehuda Ringler <notifications@github.com>
wrote:

[2020-07-28 01:21] fuzing commented on #131
I can confirm that I have looping running on android using code similar to the following:

`final AudioPlayer audioPlayer = AudioPlayer();`
`final uri = Uri.parse('https://somesite.com/media.mp4');`
`final audioSource = LoopingAudioSource(audioSource: AudioSource.uri(uri), count: 100);`
`await audioPlayer.load(audioSource);`
`audioPlayer.play();`

My audio fails to play if "count" is omitted.   Pe

[2020-07-28 02:16] ryanheise commented on #131
@fuzing Thanks for pointing that out. Originally I had intended to make it infinite by default, but only later did I realise this would be difficult to implement on other platforms. Perhaps until then it would be better for me to make it required so that I always have the option to add an infinite default in the future.

Instead, if you wish to loop an infinite number of times, you should use:

[c

[2020-07-28 03:23] jjb182 opened #132 "Audio stopping after 20 minutes on certain android phones"
**Which API doesn't behave as documented, and how does it misbehave?**
On some phones (Galaxy S3 running 4.4.2 and an S9 with newer software) ... audio stops after 20 minutes of run time with the screen off.  On most phones and emulators this does not happen and audio plays indefinitely.

Any ideas?

Steps to reproduce the behavior:
again, intermittent and dependent on phone presumably.

1. playin

[2020-07-28 03:30] ryanheise commented on #132
Hi @jjb182 can you please complete all sections of the bug report, and do not delete any sections? Thanks.

[2020-07-28 09:37] pureimpro commented on #71
Man, you're definitely a killer !
I've just battled a bunch of days this week, finding a workaround that did the trick, but in the meantime you managed to code this huge bundle of new features !
So yesterday, I reverted back to your code and currently testing the media-source branch.
Good news, for IOS, audio clipping is behaving as expected so far.
Great job dude :)

[2020-07-28 09:39] ryanheise commented on #71
Glad to hear it! If you find any issues, please report on the new issue which replaces this one.

[2020-07-28 14:12] fuzing commented on #131
Ryan -  thanks - all good info.

My use-case simply requires me to loop a short clip (white-noise, a
waterfall... whatever) indefinitely until the user wants it to stop.......
so I'll utilize .setLoopMode() as suggested.   I also greatly appreciate
your insights vis. events/timing/etc (stuff that I'm sure would bite me in
the absence of such knowledge).   I'll also be doing some IOS testing next
w

[2020-07-29 07:38] ryanheise commented on #131
I've just updated the documentation, and made a small API change for composable audio sources to make them more closely resemble Flutter's composable widget API. Now, the children of a `ConcatenatingAudioSource` are called `children` rather than `audioSources`, and the child of a `ClippingAudioSource` is child `child` rather than `audioSource`.

Now would also be a good time to make API naming dec

[2020-07-29 09:06] sunjianan9900 opened #133 "why await do not work?"
**Flutter web**

[code]
works well and print ->

[code]

BUT
[code]

not work and print

[code]

[2020-07-29 09:11] ryanheise commented on #133
This bug is fixed on the media-source branch (described here: #131 ).

[2020-07-29 09:26] sunjianan9900 commented on #133
thanks!

[2020-07-29 09:26] #133 closed

[2020-07-29 10:54] fuzing commented on #131
In terms of naming I think your static factory methods (AudioSource.loop(), etc.) combined with the more verbose "android style" class-names (i.e. prefer HlsAudioSource vs. simply Hls) is the way to go - the abridged names say nothing about context (and I'm old, so I tend to forget what goes where!!).
A caveat here - I'm pretty new to dart/flutter, so would defer to whatever the "norms" are.

[2020-07-29 18:31] rohansohonee commented on #131
Hi @ryanheise,

Hope you are doing well.

Congratulations! 🎉 Your efforts towards audio plugins for Flutter is amazing. It inspired me to develop a plugin for equalizer.

My thoughts are that should I integrate my Equalizer plugin inside just_audio.
I have only contributed android side of the code.
https://pub.dev/packages/equalizer

I also posted an audio sample app based on your plugins:
https:/

[2020-07-29 19:11] fuzing commented on #131
@ryanheise - I just managed to test a little on IOS and while looping is working using both methods:

player.setLoopMode();
and by instantiating via the LoopingAudioSource() method

I'm not getting gapless playback (single file looping, no playlist).    There is an approximately 100ms stutter/silence when transitioning from the end back to the start.   If this is a known issue being worked on then

[2020-07-29 23:12] lukepighetti opened #134 "Dispose native audio player on development hot restart"
I noticed that if you're playing a song and you do a ~cold~ hot restart (not hot reload) during development playbackState is lost. Would be nice if it worked like it does with hot reload.

[2020-07-30 01:24] lukepighetti opened #135 "Livestream duration is 1 minute on Android"
On iOS, when you add a livestream url, the duration is null. But on Android it's 1 minute. How do we detect if the current url is a livestream or not?

[2020-07-30 02:28] ryanheise commented on #131
@fuzing yes unfortunately that is correct for now. The "gapless" support on iOS runs out at the loop point due to the way I have implemented it. Currently I have this comment in the code:

[code]

That comment was in the "loop all" case but in the 'loop one" case I could do something similar. It's just that implementing this trick needs to be carefully so as not to break all the other code that ma

[2020-07-30 04:37] ryanheise commented on #131
@rohansohonee nice work! In terms of merging the two plugins, my main criteria is that I am a fan of single responsibility plugins. Ideally, I had envisaged a flutter audio plugin ecosystem where plugins could be mixed and matched together in the same app. When I created just_audio, unfortunately the state of affairs was (and still us) such that audio plugins started trying to take on multiple res

[2020-07-30 04:56] ryanheise commented on #134
Changing classification to a feature request.

[2020-07-30 04:57] ryanheise commented on #135
Reclassifying as a feature request.

[2020-07-30 04:59] ryanheise commented on #135
There is currently no feature to test whether the current item is a live stream.

[2020-07-30 13:01] lukepighetti commented on #135
We will include this as metadata along with the URL. Feel free to close if you feel this is reasonable.

[2020-07-30 13:03] lukepighetti commented on #134
An alternative is to make sure the player is disposed on cold refresh. I don't believe this is currently working when you call `AudioPlayer.dispose()`, but I could be mistaken.

[2020-07-30 13:04] lukepighetti commented on #134
Is there a way to call `AudioPlayer.dispose()` internally to the package on cold restart?

[2020-07-30 13:13] lukepighetti opened #136 "documentation – common livestream UX patterns"
**To which pages does your suggestion apply?**

- N/A

**Quote the sentences(s) from the documentation to be improved (if any)**

**Describe your suggestion**

We're trying to determine how to display a position bar during a livestream that accurately depicts how far you are behind the livestream allowing you to jump back and then return to live with a smooth experience on the position bar. Can yo

[2020-07-30 14:05] rohansohonee commented on #131
Merging just_audio with equalizer will help by providing audioSessionId which is required by Android Equalizer to add the effects to the media. Currently just_audio does not have the API to retrieve current media's audioSessionId. Don't know how this would work going forward for iOS, Web or even Desktop. (Will they also have audioSessionId's or not?)
I can only test and work on Android.

Thank you